/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.CloseTicketResponseSchema
import io.swagger.client.models.InlineResponse401
import io.swagger.client.models.ReplyTicketRequest
import io.swagger.client.models.ReplyTicketResponseSchema
import io.swagger.client.models.TicketNew
import io.swagger.client.models.TicketNewResponse
import io.swagger.client.models.Tickets
import io.swagger.client.models.UpdateTicket
import io.swagger.client.models.UpdateTicketResponseSchema
import io.swagger.client.models.ViewTicketResponse

import myadmin-client-kotlin-client.infrastructure.*

class TicketsApi(basePath: kotlin.String = "https://my.interserver.net/apiv2") : ApiClient(basePath) {

    /**
     * Open a new helpdesk ticket, optionally linked to a service and attachments
     * Use when the customer wants to contact support. Creates the Kayako ticket in the &#x27;New Unassigned&#x27; department (id 18). Body (form): subject (string, required), body (string, required), product (string, optional, format &#x27;{module}-{service_id}&#x27; from getNewTicket), service_id+service_module (alternative to product), attachments[] (optional, each {name, type, content base64}), and optional server-access custom fields ip, root_pass, sudo_user, sudo_pass, port_no, server_access (passwords are AES-encrypted with a generated auth_key). Returns: {success: true, text, ticket: ticketmaskid}. Errors: 400 missing subject or body; 401 unauthorized; 422 ticket creation failure. Sibling: getNewTicket for product list, getTicketInfo to view, ReplyTicket to add replies.
     * @param body  
     * @return TicketNewResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addNewTicket(body: TicketNew): TicketNewResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/new", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TicketNewResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TicketNewResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Open a new helpdesk ticket, optionally linked to a service and attachments
     * Use when the customer wants to contact support. Creates the Kayako ticket in the &#x27;New Unassigned&#x27; department (id 18). Body (form): subject (string, required), body (string, required), product (string, optional, format &#x27;{module}-{service_id}&#x27; from getNewTicket), service_id+service_module (alternative to product), attachments[] (optional, each {name, type, content base64}), and optional server-access custom fields ip, root_pass, sudo_user, sudo_pass, port_no, server_access (passwords are AES-encrypted with a generated auth_key). Returns: {success: true, text, ticket: ticketmaskid}. Errors: 400 missing subject or body; 401 unauthorized; 422 ticket creation failure. Sibling: getNewTicket for product list, getTicketInfo to view, ReplyTicket to add replies.
     * @param subject  
     * @param body  
     * @param serviceId  
     * @param serviceModule  
     * @return TicketNewResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addNewTicket(subject: kotlin.String, body: kotlin.String, serviceId: kotlin.Int, serviceModule: kotlin.String): TicketNewResponse {
        val localVariableBody: kotlin.Any? = mapOf("subject" to "$subject", "body" to "$body", "service_id" to "$serviceId", "service_module" to "$serviceModule")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/new", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TicketNewResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TicketNewResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Close an open support ticket via simple GET request (no body required)
     * Use to close a ticket from a link or one-click action — closure-only equivalent of deleteTicketInfo with friendlier semantics. Calls Ticket::closeTicket on the resolved ticket and leaves the record fully readable; closed tickets disappear from the active inbox but remain in getTicketsList when view&#x3D;Closed. Path: id (int ticket ID, e.g. 1511222). Body: none. Returns: {success: true, text: &#x27;Ticket is closed!&#x27;} or {success: false, text: &#x27;Unable to close ticket&#x27;}. Errors: 401 unauthorized; 404 implied via &#x27;Unable to close ticket&#x27; when id is unknown or cross-account. Idempotent on already-closed tickets. Siblings: deleteTicketInfo (DELETE /tickets/{id} — same effect), getTicketInfo to confirm new status.
     * @param id Ticket ID 
     * @return CloseTicketResponseSchema
     */
    @Suppress("UNCHECKED_CAST")
    fun closeTicket(id: kotlin.String): CloseTicketResponseSchema {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/tickets/{id}/close".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<CloseTicketResponseSchema>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as CloseTicketResponseSchema
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Close a customer ticket via DELETE verb (closes only, never destroys data)
     * Use when the customer marks a ticket resolved. IMPORTANT: despite the DELETE verb this only CLOSES the ticket via Ticket::closeTicket — no data is destroyed. Closed tickets remain readable through getTicketInfo and appear in getTicketsList when view&#x3D;Closed. Path: id (int ticket ID). Body: none. Returns: &#x27;Ticket is closed!&#x27; string on success. Errors: 401 unauthorized; 404/422 &#x27;Invalid ticket!&#x27; when id is unknown or owned by another account. Idempotent on already-closed tickets. Siblings: CloseTicket (GET /tickets/{id}/close — same effect, simpler URL), ReplyTicket to add a final reply before closing, getTicketInfo to verify state.
     * @param id Ticket ID number. 
     * @return ViewTicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun deleteTicketInfo(id: java.math.BigDecimal): ViewTicketResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/tickets/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ViewTicketResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ViewTicketResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Fetch services and product options to populate the new-ticket form
     * Use to populate dropdowns before calling addNewTicket. Returns the customer&#x27;s services grouped by product type so the user can attach a ticket to a specific resource. Iterates all enabled modules (vps, webhosting, domains, mail, etc.; mailbaby instances see only mail) and filters out services with status canceled, deleted, or fraud. Params: none. Body: none. Returns: object keyed by product TITLE (e.g. &#x27;Vps&#x27;, &#x27;Webhosting&#x27;), each value a map of &#x27;{module}-{service_id}&#x27; to a description string including title, type/plan, VPS hypervisor name where applicable, and uppercase status tag. Errors: 401 unauthorized. Use the returned product key as the &#x27;product&#x27; field on addNewTicket.  Sibling ops: &#x60;addNewTicket&#x60; (consumes the product key), &#x60;getTicketsList&#x60;.
     * @return void
     */
    fun getNewTicket(): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/tickets/new", query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get full ticket details including subject, status, and the reply thread
     * Use to render a ticket page or feed full context to an LLM. Path: id (int, ticket ID, e.g. 1511222). Returns ticket header (subject, status, department, dates), the ordered post/reply history, attachments, and any custom-field values. Resolved via Ticket::getTicket(id, account_lid) so cross-account access returns Invalid ticket. Body: none. Errors: 401 unauthorized; 404/422 &#x27;Invalid ticket!&#x27; when the id is unknown or owned by another account. Caveats: the same path with POST appends a reply (postTicketInfo) and DELETE closes the ticket (deleteTicketInfo) — it does not destroy data. Siblings: ReplyTicket, updateTicketInfo, CloseTicket, getTicketsList.
     * @param id Ticket ID number. 
     * @return ViewTicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getTicketInfo(id: java.math.BigDecimal): ViewTicketResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/tickets/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ViewTicketResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ViewTicketResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List the authenticated account&#x27;s support tickets with status and date filters
     * Use to browse the customer&#x27;s helpdesk tickets, paginated, with optional status and recency filters. Returns tickets where email matches the session account_lid. Query params: page (int, default 1, 50 per page), period (string: &#x27;30&#x27;, &#x27;90&#x27;, &#x27;365&#x27;, &#x27;1825&#x27;, or &#x27;all&#x27; days back; default &#x27;30&#x27;), view (string: &#x27;Open&#x27;, &#x27;Closed&#x27;, &#x27;On Hold&#x27;, &#x27;In Progress&#x27;; omit for all). Body: none. Returns: object with tickets[], total, pages, currentPage, st_count[] (counts grouped by status: Open/On Hold/Closed), selected_period, view. Errors: 401 unauthorized session. Note ticketstatusid mapping (Open&#x3D;4, On Hold&#x3D;5, Closed&#x3D;6, In Progress&#x3D;7). To search by subject/email/mask use postTicketsList. To open a ticket detail use getTicketInfo with the returned id. To create a new ticket see addNewTicket.  Sibling ops: &#x60;getTicketInfo&#x60; (detail), &#x60;postTicketsList&#x60; (search), &#x60;addNewTicket&#x60; (open new).
     * @param page Page number for paginated results. (optional, default to 1)
     * @param period How far back to show tickets from. Value is in days. (optional, default to 30)
     * @param view The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types. (optional)
     * @return Tickets
     */
    @Suppress("UNCHECKED_CAST")
    fun getTicketsList(page: kotlin.Int? = null, period: kotlin.String? = null, view: kotlin.String? = null): Tickets {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (page != null) {
                put("page", listOf(page.toString()))
            }
            if (period != null) {
                put("period", listOf(period.toString()))
            }
            if (view != null) {
                put("view", listOf(view.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/tickets", query = localVariableQuery
        )
        val response = request<Tickets>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as Tickets
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Append a reply (and optional attachment, server-access fields) to a ticket
     * Use to post a customer reply on an existing ticket. Path: id (int ticket ID). Body: body (string reply text; trimmed to first 500 words), file_attachment (multipart upload, optional), and the server-access custom fields ip/root_pass/sudo_user/sudo_pass/port_no/server_access (passwords AES-encrypted with auth_key&#x3D;7). Either body OR an attachment is required. Notifies any swticketwatchers staff via templated email after posting. Returns: {status: &#x27;success&#x27;, message: &#x27;Reply posted successfully&#x27;}. Errors: 400 &#x27;Please enter a message or attach a file&#x27;; 401 unauthorized; 404/422 &#x27;Invalid ticket!&#x27; when id missing or cross-account. Sibling: ReplyTicket (cleaner JSON-only reply at /tickets/{id}/reply), updateTicketInfo, getTicketInfo, deleteTicketInfo.
     * @param id Ticket ID number. 
     * @return ViewTicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun postTicketInfo(id: java.math.BigDecimal): ViewTicketResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ViewTicketResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ViewTicketResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Search the authenticated account&#x27;s tickets by subject, email, or mask ID
     * Use when the user supplies a search term (subject keyword, email substring, or full ticket mask ID like &#x27;ABC-123-456&#x27;). Scoped to tickets owned by the session account_lid. Body (form): search (string, required). If the term contains exactly two hyphens it is treated as an exact ticketmaskid match; otherwise a LIKE search runs across subject, email, and ticketmaskid. Returns: array of up to 25 matching ticket rows ordered by lastactivity DESC, each enriched with lastactivity_time (human-relative). Errors: 400 if search is empty or missing; 401 unauthorized. Caveat: this is a POST that reads, not a creator. To create see addNewTicket. To paginate full inbox use getTicketsList. To open one use getTicketInfo.  Sibling ops: &#x60;getTicketsList&#x60; (full inbox), &#x60;getTicketInfo&#x60; (detail), &#x60;addNewTicket&#x60; (open new).
     * @return Tickets
     */
    @Suppress("UNCHECKED_CAST")
    fun postTicketsList(): Tickets {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets", query = localVariableQuery
        )
        val response = request<Tickets>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as Tickets
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update a ticket&#x27;s properties such as subject or status (stub, not implemented)
     * Reserved for future use to update ticket subject/status. The PHP handler is currently an empty stub that returns no body, so callers should not rely on it in production. Path: id (int). Body: would carry subject/status fields when implemented. Returns: undefined behavior today. Errors: 401 unauthorized; expect 404/422 when implemented if id is invalid or not owned. Caveats: prefer updateTicketInfo (POST /tickets/{id}/update) for editing custom-field values today, postTicketInfo to add a reply, CloseTicket or deleteTicketInfo to close. Avoid scripting against this endpoint until the handler ships. Siblings: getTicketInfo, ReplyTicket.
     * @param id Ticket ID number. 
     * @return ViewTicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun putTicketInfo(id: java.math.BigDecimal): ViewTicketResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.PUT,
                "/tickets/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ViewTicketResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ViewTicketResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Post a simple text reply to an existing ticket thread (no attachments)
     * Use this lightweight endpoint to add a reply to an existing ticket without attachments or server-access fields. Cleaner alternative to postTicketInfo when only text is being submitted. Path: id (int ticket ID). Body (form): content (string, required reply body). Returns: {success: true, post_id: int} on success or {success: false, text: &#x27;Reply content cannot be empty!&#x27; | &#x27;Unable to reply ticket&#x27;}. Errors: 401 unauthorized; 404 implied via &#x27;Unable to reply ticket&#x27; when id is invalid or owned by another account. Siblings: postTicketInfo (POST /tickets/{id}, supports attachments + custom fields), updateTicketInfo (custom fields only), CloseTicket, getTicketInfo to verify the new post_id appears in the thread.
     * @param id The ticket ID number. 
     * @param body  (optional)
     * @return ReplyTicketResponseSchema
     */
    @Suppress("UNCHECKED_CAST")
    fun replyTicket(id: java.math.BigDecimal, body: ReplyTicketRequest? = null): ReplyTicketResponseSchema {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/{id}/reply".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<ReplyTicketResponseSchema>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ReplyTicketResponseSchema
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Post a simple text reply to an existing ticket thread (no attachments)
     * Use this lightweight endpoint to add a reply to an existing ticket without attachments or server-access fields. Cleaner alternative to postTicketInfo when only text is being submitted. Path: id (int ticket ID). Body (form): content (string, required reply body). Returns: {success: true, post_id: int} on success or {success: false, text: &#x27;Reply content cannot be empty!&#x27; | &#x27;Unable to reply ticket&#x27;}. Errors: 401 unauthorized; 404 implied via &#x27;Unable to reply ticket&#x27; when id is invalid or owned by another account. Siblings: postTicketInfo (POST /tickets/{id}, supports attachments + custom fields), updateTicketInfo (custom fields only), CloseTicket, getTicketInfo to verify the new post_id appears in the thread.
     * @param id The ticket ID number. 
     * @param content  (optional)
     * @return ReplyTicketResponseSchema
     */
    @Suppress("UNCHECKED_CAST")
    fun replyTicket(id: java.math.BigDecimal, content: kotlin.String? = null): ReplyTicketResponseSchema {
        val localVariableBody: kotlin.Any? = mapOf("content" to "$content")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/{id}/reply".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<ReplyTicketResponseSchema>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ReplyTicketResponseSchema
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update a ticket&#x27;s custom field values (server-access details, etc.)
     * Use to save or change the structured custom-field values attached to a ticket — typically server-access details supplied by the customer. Path: id (int ticket ID). Body (form): one field per custom-field title, lowercased with spaces replaced by underscores (e.g. ip, root_pass, sudo_user, sudo_pass, port_no, server_access). Field id 7 (auth_key) is skipped — never set it directly. Returns: {success: true, text: &#x27;Ticket is updated!&#x27;} or {success: false, text: &#x27;Unable to update ticket&#x27;}. Errors: 401 unauthorized; 404 invalid or non-owned ticket. Caveats: this updates metadata only — to add a reply use ReplyTicket, to close use CloseTicket, to read current state use getTicketInfo.  Sibling ops: &#x60;getTicketInfo&#x60; (read), &#x60;ReplyTicket&#x60; (reply), &#x60;CloseTicket&#x60; (close).
     * @param id The ticket ID number. 
     * @param body  (optional)
     * @return UpdateTicketResponseSchema
     */
    @Suppress("UNCHECKED_CAST")
    fun updateTicketInfo(id: java.math.BigDecimal, body: UpdateTicket? = null): UpdateTicketResponseSchema {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/{id}/update".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<UpdateTicketResponseSchema>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as UpdateTicketResponseSchema
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update a ticket&#x27;s custom field values (server-access details, etc.)
     * Use to save or change the structured custom-field values attached to a ticket — typically server-access details supplied by the customer. Path: id (int ticket ID). Body (form): one field per custom-field title, lowercased with spaces replaced by underscores (e.g. ip, root_pass, sudo_user, sudo_pass, port_no, server_access). Field id 7 (auth_key) is skipped — never set it directly. Returns: {success: true, text: &#x27;Ticket is updated!&#x27;} or {success: false, text: &#x27;Unable to update ticket&#x27;}. Errors: 401 unauthorized; 404 invalid or non-owned ticket. Caveats: this updates metadata only — to add a reply use ReplyTicket, to close use CloseTicket, to read current state use getTicketInfo.  Sibling ops: &#x60;getTicketInfo&#x60; (read), &#x60;ReplyTicket&#x60; (reply), &#x60;CloseTicket&#x60; (close).
     * @param id The ticket ID number. 
     * @param ip  (optional)
     * @param ipAddress  (optional)
     * @param customerServerAccess  (optional)
     * @param rootPassword  (optional)
     * @param sudoUsername  (optional)
     * @param sudoPassword  (optional)
     * @param port  (optional)
     * @return UpdateTicketResponseSchema
     */
    @Suppress("UNCHECKED_CAST")
    fun updateTicketInfo(id: java.math.BigDecimal, ip: kotlin.String? = null, ipAddress: kotlin.String? = null, customerServerAccess: kotlin.String? = null, rootPassword: kotlin.String? = null, sudoUsername: kotlin.String? = null, sudoPassword: kotlin.String? = null, port: kotlin.Int? = null): UpdateTicketResponseSchema {
        val localVariableBody: kotlin.Any? = mapOf("ip" to "$ip", "ip_address" to "$ipAddress", "customer_server_access" to "$customerServerAccess", "root_password" to "$rootPassword", "sudo_username" to "$sudoUsername", "sudo_password" to "$sudoPassword", "port" to "$port")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/tickets/{id}/update".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<UpdateTicketResponseSchema>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as UpdateTicketResponseSchema
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
