/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.interserver.myadmin.api;

import com.interserver.myadmin.ApiCallback;
import com.interserver.myadmin.ApiClient;
import com.interserver.myadmin.ApiException;
import com.interserver.myadmin.ApiResponse;
import com.interserver.myadmin.Configuration;
import com.interserver.myadmin.Pair;
import com.interserver.myadmin.ProgressRequestBody;
import com.interserver.myadmin.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.interserver.myadmin.model.ChargeInvoiceRows;
import com.interserver.myadmin.model.Domain;
import com.interserver.myadmin.model.DomainContactDetails;
import com.interserver.myadmin.model.DomainDnssecRecords;
import com.interserver.myadmin.model.DomainDnssecRequest;
import com.interserver.myadmin.model.DomainLookupResponse;
import com.interserver.myadmin.model.DomainNameserverGetResponse;
import com.interserver.myadmin.model.DomainNameserverPostRequest;
import com.interserver.myadmin.model.DomainNameserverPutRequest;
import com.interserver.myadmin.model.DomainOrder;
import com.interserver.myadmin.model.DomainRow;
import com.interserver.myadmin.model.DomainSearchResponse;
import com.interserver.myadmin.model.DomainWhoisPrivacyRequest;
import com.interserver.myadmin.model.InlineResponse2003;
import com.interserver.myadmin.model.InlineResponse401;
import com.interserver.myadmin.model.ServiceOrderPostResponse;
import com.interserver.myadmin.model.SuccessTextResponse;
import com.interserver.myadmin.model.TextResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DomainsApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public DomainsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DomainsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for addDomain
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addDomainCall(Map<String, Object> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/domains/order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addDomainValidateBeforeCall(Map<String, Object> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addDomain(Async)");
        }
        
        com.squareup.okhttp.Call call = addDomainCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Place a new domain registration or transfer order, generate billing invoice
     * Places a new domain registration or transfer order. Resolves the TLD to a &#x60;services_id&#x60;, runs &#x60;validate_buy_domain()&#x60; (hostname, TLD service, fields, coupon, whois-privacy add-on), then calls &#x60;place_buy_domain()&#x60; to create the &#x60;Repeat_Invoice&#x60; recurring billing row, generate the initial &#x60;invoices&#x60; row, and (when &#x60;whois_privacy&#x3D;enable&#x60;) an additional add-on &#x60;Repeat_Invoice&#x60; for privacy. **Real money** — call &#x60;putDomains&#x60; then &#x60;patchDomains&#x60; first to preview and validate. Sibling ops: &#x60;getDomainLookup&#x60;, &#x60;getNewDomain&#x60;, &#x60;putDomains&#x60;, &#x60;patchDomains&#x60;, &#x60;initiatePayment&#x60;.  **Body fields (JSON or form):** - &#x60;hostname&#x60; (string, required) — FQDN to register or transfer. - &#x60;type&#x60; (string, optional, default &#x60;register&#x60;) — &#x60;register&#x60; or &#x60;transfer&#x60;. - &#x60;whois_privacy&#x60; (string, optional) — &#x60;enable&#x60; to add the privacy add-on (separate recurring invoice). - &#x60;coupon&#x60; (string, optional) — coupon code. - All per-TLD contact/registration fields from &#x60;putDomains.domainFields&#x60; (registrant contact details, TLD-specific fields like nexus codes, EPP &#x60;auth_info&#x60; for transfers, etc.).  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): &#x60;{total_cost, iid, iids, real_iids, serviceid (new domain_id), invoice_description, cj_params, payUrl}&#x60; — pass &#x60;real_iids&#x60; to &#x60;initiatePayment&#x60; to fund the order.  **Side effects:** - Inserts &#x60;domains&#x60; service row in &#x60;pending&#x60; status. - Inserts &#x60;repeat_invoices&#x60; row for recurring renewal. - Inserts &#x60;invoices&#x60; row for the first-period charge. - When &#x60;whois_privacy&#x3D;enable&#x60;: inserts a separate add-on &#x60;repeat_invoices&#x60; row + its initial invoice. - For transfers: stores &#x60;auth_info&#x60; and marks &#x60;service_extra&#x60; as &#x60;transfer&#x60;.  **Auth:** Session/API key.  **Errors:** - &#x60;400 Missing hostname parameter&#x60;. - &#x60;400 Unable to determine service type for this domain TLD.&#x60;. - &#x60;401&#x60; — unauthenticated. - &#x60;422&#x60; — validation failure (e.g. coupon invalid, required TLD field missing, hostname not registerable). Response body is the combined &#x60;errors&#x60; array from &#x60;validate_buy_domain()&#x60;.  **Related calls:** - **Prerequisites:** &#x60;getDomainLookup&#x60; → &#x60;getNewDomain&#x60; → &#x60;putDomains&#x60; → &#x60;patchDomains&#x60;. - **Pay:** &#x60;initiatePayment&#x60; with &#x60;real_iids&#x60;. - **Verify activation:** &#x60;getDomainInfo&#x60; (poll for &#x60;domain_status&#x3D;&#x27;active&#x27;&#x60;). - **Track in-progress transfer:** &#x60;getDomainTransfer&#x60;. - **For pending transfers needing EPP/auth_info:** &#x60;updateDomainContact&#x60; (set &#x60;auth_info&#x60;).  **Example happy path (register):** &#x60;&#x60;&#x60;text GET /apiv2/domains/lookup/example.com           -&gt; available, pricing, fields PUT /apiv2/domains/order { hostname, type }     -&gt; domainFields PATCH /apiv2/domains/order { hostname, ...fields } -&gt; \&quot;success\&quot; POST /apiv2/domains/order { hostname, type, ...fields } -&gt; { serviceid, real_iids } GET /apiv2/billing/pay/cc/{real_iids[0]}        -&gt; pay GET /apiv2/domains/{serviceid}                  -&gt; poll until domain_status&#x3D;&#x3D;\&quot;active\&quot; &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @return ServiceOrderPostResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ServiceOrderPostResponse addDomain(Map<String, Object> body) throws ApiException {
        ApiResponse<ServiceOrderPostResponse> resp = addDomainWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Place a new domain registration or transfer order, generate billing invoice
     * Places a new domain registration or transfer order. Resolves the TLD to a &#x60;services_id&#x60;, runs &#x60;validate_buy_domain()&#x60; (hostname, TLD service, fields, coupon, whois-privacy add-on), then calls &#x60;place_buy_domain()&#x60; to create the &#x60;Repeat_Invoice&#x60; recurring billing row, generate the initial &#x60;invoices&#x60; row, and (when &#x60;whois_privacy&#x3D;enable&#x60;) an additional add-on &#x60;Repeat_Invoice&#x60; for privacy. **Real money** — call &#x60;putDomains&#x60; then &#x60;patchDomains&#x60; first to preview and validate. Sibling ops: &#x60;getDomainLookup&#x60;, &#x60;getNewDomain&#x60;, &#x60;putDomains&#x60;, &#x60;patchDomains&#x60;, &#x60;initiatePayment&#x60;.  **Body fields (JSON or form):** - &#x60;hostname&#x60; (string, required) — FQDN to register or transfer. - &#x60;type&#x60; (string, optional, default &#x60;register&#x60;) — &#x60;register&#x60; or &#x60;transfer&#x60;. - &#x60;whois_privacy&#x60; (string, optional) — &#x60;enable&#x60; to add the privacy add-on (separate recurring invoice). - &#x60;coupon&#x60; (string, optional) — coupon code. - All per-TLD contact/registration fields from &#x60;putDomains.domainFields&#x60; (registrant contact details, TLD-specific fields like nexus codes, EPP &#x60;auth_info&#x60; for transfers, etc.).  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): &#x60;{total_cost, iid, iids, real_iids, serviceid (new domain_id), invoice_description, cj_params, payUrl}&#x60; — pass &#x60;real_iids&#x60; to &#x60;initiatePayment&#x60; to fund the order.  **Side effects:** - Inserts &#x60;domains&#x60; service row in &#x60;pending&#x60; status. - Inserts &#x60;repeat_invoices&#x60; row for recurring renewal. - Inserts &#x60;invoices&#x60; row for the first-period charge. - When &#x60;whois_privacy&#x3D;enable&#x60;: inserts a separate add-on &#x60;repeat_invoices&#x60; row + its initial invoice. - For transfers: stores &#x60;auth_info&#x60; and marks &#x60;service_extra&#x60; as &#x60;transfer&#x60;.  **Auth:** Session/API key.  **Errors:** - &#x60;400 Missing hostname parameter&#x60;. - &#x60;400 Unable to determine service type for this domain TLD.&#x60;. - &#x60;401&#x60; — unauthenticated. - &#x60;422&#x60; — validation failure (e.g. coupon invalid, required TLD field missing, hostname not registerable). Response body is the combined &#x60;errors&#x60; array from &#x60;validate_buy_domain()&#x60;.  **Related calls:** - **Prerequisites:** &#x60;getDomainLookup&#x60; → &#x60;getNewDomain&#x60; → &#x60;putDomains&#x60; → &#x60;patchDomains&#x60;. - **Pay:** &#x60;initiatePayment&#x60; with &#x60;real_iids&#x60;. - **Verify activation:** &#x60;getDomainInfo&#x60; (poll for &#x60;domain_status&#x3D;&#x27;active&#x27;&#x60;). - **Track in-progress transfer:** &#x60;getDomainTransfer&#x60;. - **For pending transfers needing EPP/auth_info:** &#x60;updateDomainContact&#x60; (set &#x60;auth_info&#x60;).  **Example happy path (register):** &#x60;&#x60;&#x60;text GET /apiv2/domains/lookup/example.com           -&gt; available, pricing, fields PUT /apiv2/domains/order { hostname, type }     -&gt; domainFields PATCH /apiv2/domains/order { hostname, ...fields } -&gt; \&quot;success\&quot; POST /apiv2/domains/order { hostname, type, ...fields } -&gt; { serviceid, real_iids } GET /apiv2/billing/pay/cc/{real_iids[0]}        -&gt; pay GET /apiv2/domains/{serviceid}                  -&gt; poll until domain_status&#x3D;&#x3D;\&quot;active\&quot; &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @return ApiResponse&lt;ServiceOrderPostResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ServiceOrderPostResponse> addDomainWithHttpInfo(Map<String, Object> body) throws ApiException {
        com.squareup.okhttp.Call call = addDomainValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ServiceOrderPostResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Place a new domain registration or transfer order, generate billing invoice (asynchronously)
     * Places a new domain registration or transfer order. Resolves the TLD to a &#x60;services_id&#x60;, runs &#x60;validate_buy_domain()&#x60; (hostname, TLD service, fields, coupon, whois-privacy add-on), then calls &#x60;place_buy_domain()&#x60; to create the &#x60;Repeat_Invoice&#x60; recurring billing row, generate the initial &#x60;invoices&#x60; row, and (when &#x60;whois_privacy&#x3D;enable&#x60;) an additional add-on &#x60;Repeat_Invoice&#x60; for privacy. **Real money** — call &#x60;putDomains&#x60; then &#x60;patchDomains&#x60; first to preview and validate. Sibling ops: &#x60;getDomainLookup&#x60;, &#x60;getNewDomain&#x60;, &#x60;putDomains&#x60;, &#x60;patchDomains&#x60;, &#x60;initiatePayment&#x60;.  **Body fields (JSON or form):** - &#x60;hostname&#x60; (string, required) — FQDN to register or transfer. - &#x60;type&#x60; (string, optional, default &#x60;register&#x60;) — &#x60;register&#x60; or &#x60;transfer&#x60;. - &#x60;whois_privacy&#x60; (string, optional) — &#x60;enable&#x60; to add the privacy add-on (separate recurring invoice). - &#x60;coupon&#x60; (string, optional) — coupon code. - All per-TLD contact/registration fields from &#x60;putDomains.domainFields&#x60; (registrant contact details, TLD-specific fields like nexus codes, EPP &#x60;auth_info&#x60; for transfers, etc.).  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): &#x60;{total_cost, iid, iids, real_iids, serviceid (new domain_id), invoice_description, cj_params, payUrl}&#x60; — pass &#x60;real_iids&#x60; to &#x60;initiatePayment&#x60; to fund the order.  **Side effects:** - Inserts &#x60;domains&#x60; service row in &#x60;pending&#x60; status. - Inserts &#x60;repeat_invoices&#x60; row for recurring renewal. - Inserts &#x60;invoices&#x60; row for the first-period charge. - When &#x60;whois_privacy&#x3D;enable&#x60;: inserts a separate add-on &#x60;repeat_invoices&#x60; row + its initial invoice. - For transfers: stores &#x60;auth_info&#x60; and marks &#x60;service_extra&#x60; as &#x60;transfer&#x60;.  **Auth:** Session/API key.  **Errors:** - &#x60;400 Missing hostname parameter&#x60;. - &#x60;400 Unable to determine service type for this domain TLD.&#x60;. - &#x60;401&#x60; — unauthenticated. - &#x60;422&#x60; — validation failure (e.g. coupon invalid, required TLD field missing, hostname not registerable). Response body is the combined &#x60;errors&#x60; array from &#x60;validate_buy_domain()&#x60;.  **Related calls:** - **Prerequisites:** &#x60;getDomainLookup&#x60; → &#x60;getNewDomain&#x60; → &#x60;putDomains&#x60; → &#x60;patchDomains&#x60;. - **Pay:** &#x60;initiatePayment&#x60; with &#x60;real_iids&#x60;. - **Verify activation:** &#x60;getDomainInfo&#x60; (poll for &#x60;domain_status&#x3D;&#x27;active&#x27;&#x60;). - **Track in-progress transfer:** &#x60;getDomainTransfer&#x60;. - **For pending transfers needing EPP/auth_info:** &#x60;updateDomainContact&#x60; (set &#x60;auth_info&#x60;).  **Example happy path (register):** &#x60;&#x60;&#x60;text GET /apiv2/domains/lookup/example.com           -&gt; available, pricing, fields PUT /apiv2/domains/order { hostname, type }     -&gt; domainFields PATCH /apiv2/domains/order { hostname, ...fields } -&gt; \&quot;success\&quot; POST /apiv2/domains/order { hostname, type, ...fields } -&gt; { serviceid, real_iids } GET /apiv2/billing/pay/cc/{real_iids[0]}        -&gt; pay GET /apiv2/domains/{serviceid}                  -&gt; poll until domain_status&#x3D;&#x3D;\&quot;active\&quot; &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addDomainAsync(Map<String, Object> body, final ApiCallback<ServiceOrderPostResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addDomainValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ServiceOrderPostResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addDomainDnssec
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addDomainDnssecCall(DomainDnssecRequest body, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/dnssec"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addDomainDnssecValidateBeforeCall(DomainDnssecRequest body, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addDomainDnssec(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling addDomainDnssec(Async)");
        }
        
        com.squareup.okhttp.Call call = addDomainDnssecCall(body, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return SuccessTextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SuccessTextResponse addDomainDnssec(DomainDnssecRequest body, Integer id) throws ApiException {
        ApiResponse<SuccessTextResponse> resp = addDomainDnssecWithHttpInfo(body, id);
        return resp.getData();
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;SuccessTextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SuccessTextResponse> addDomainDnssecWithHttpInfo(DomainDnssecRequest body, Integer id) throws ApiException {
        com.squareup.okhttp.Call call = addDomainDnssecValidateBeforeCall(body, id, null, null);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS (asynchronously)
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addDomainDnssecAsync(DomainDnssecRequest body, Integer id, final ApiCallback<SuccessTextResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addDomainDnssecValidateBeforeCall(body, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addDomainDnssec
     * @param algorithm  (required)
     * @param digestType  (required)
     * @param digest  (required)
     * @param keyTag  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addDomainDnssecCall(List<Integer> algorithm, List<Integer> digestType, List<String> digest, List<Integer> keyTag, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/dnssec"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (algorithm != null)
        localVarFormParams.put("algorithm", algorithm);
        if (digestType != null)
        localVarFormParams.put("digest_type", digestType);
        if (digest != null)
        localVarFormParams.put("digest", digest);
        if (keyTag != null)
        localVarFormParams.put("key_tag", keyTag);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addDomainDnssecValidateBeforeCall(List<Integer> algorithm, List<Integer> digestType, List<String> digest, List<Integer> keyTag, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'algorithm' is set
        if (algorithm == null) {
            throw new ApiException("Missing the required parameter 'algorithm' when calling addDomainDnssec(Async)");
        }
        // verify the required parameter 'digestType' is set
        if (digestType == null) {
            throw new ApiException("Missing the required parameter 'digestType' when calling addDomainDnssec(Async)");
        }
        // verify the required parameter 'digest' is set
        if (digest == null) {
            throw new ApiException("Missing the required parameter 'digest' when calling addDomainDnssec(Async)");
        }
        // verify the required parameter 'keyTag' is set
        if (keyTag == null) {
            throw new ApiException("Missing the required parameter 'keyTag' when calling addDomainDnssec(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling addDomainDnssec(Async)");
        }
        
        com.squareup.okhttp.Call call = addDomainDnssecCall(algorithm, digestType, digest, keyTag, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param algorithm  (required)
     * @param digestType  (required)
     * @param digest  (required)
     * @param keyTag  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return SuccessTextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SuccessTextResponse addDomainDnssec(List<Integer> algorithm, List<Integer> digestType, List<String> digest, List<Integer> keyTag, Integer id) throws ApiException {
        ApiResponse<SuccessTextResponse> resp = addDomainDnssecWithHttpInfo(algorithm, digestType, digest, keyTag, id);
        return resp.getData();
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param algorithm  (required)
     * @param digestType  (required)
     * @param digest  (required)
     * @param keyTag  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;SuccessTextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SuccessTextResponse> addDomainDnssecWithHttpInfo(List<Integer> algorithm, List<Integer> digestType, List<String> digest, List<Integer> keyTag, Integer id) throws ApiException {
        com.squareup.okhttp.Call call = addDomainDnssecValidateBeforeCall(algorithm, digestType, digest, keyTag, id, null, null);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Register DNSSEC DS records on the domain at OpenSRS (asynchronously)
     * Registers one or more DNSSEC DS records at the registrar. Body uses parallel arrays indexed per record. **Propagation caveat:** DNSSEC publication is asynchronous at the registry — a 200 here does not guarantee the records have propagated; re-call &#x60;getDomainDnssec&#x60; to verify. **Sets, not adds:** this replaces the full DS record set in one transaction; to remove all DS records use &#x60;deleteDomainDnssec&#x60;. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;deleteDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (JSON or multipart, parallel arrays — &#x60;algorithm[0]&#x60; pairs with &#x60;key_tag[0]&#x60;, etc., schema &#x60;DomainDnssecRequest&#x60;):** - &#x60;algorithm[]&#x60; (integer) — DNSKEY algorithm (e.g. 8 &#x3D; RSASHA256, 13 &#x3D; ECDSAP256SHA256). - &#x60;key_tag[]&#x60; (integer) — must be &lt; 65536. - &#x60;digest_type[]&#x60; (integer) — &#x60;1&#x60; (SHA-1, 40 hex chars), &#x60;2&#x60; (SHA-256, 64), &#x60;3&#x60; (GOST, 64), &#x60;4&#x60; (SHA-384, 96). - &#x60;digest[]&#x60; (string) — hex digest; length must match &#x60;digest_type[i]&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on registrar confirmation.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60; or registrar refused. - &#x60;422&#x60; — &#x60;key_tag &gt;&#x3D; 65536&#x60; or digest length mismatch.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Clear all records:** &#x60;deleteDomainDnssec&#x60;. 
     * @param algorithm  (required)
     * @param digestType  (required)
     * @param digest  (required)
     * @param keyTag  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addDomainDnssecAsync(List<Integer> algorithm, List<Integer> digestType, List<String> digest, List<Integer> keyTag, Integer id, final ApiCallback<SuccessTextResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addDomainDnssecValidateBeforeCall(algorithm, digestType, digest, keyTag, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addDomainNameserver
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addDomainNameserverCall(DomainNameserverPostRequest body, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/nameservers"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addDomainNameserverValidateBeforeCall(DomainNameserverPostRequest body, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addDomainNameserver(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling addDomainNameserver(Async)");
        }
        
        com.squareup.okhttp.Call call = addDomainNameserverCall(body, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return TextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TextResponse addDomainNameserver(DomainNameserverPostRequest body, Integer id) throws ApiException {
        ApiResponse<TextResponse> resp = addDomainNameserverWithHttpInfo(body, id);
        return resp.getData();
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;TextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TextResponse> addDomainNameserverWithHttpInfo(DomainNameserverPostRequest body, Integer id) throws ApiException {
        com.squareup.okhttp.Call call = addDomainNameserverValidateBeforeCall(body, id, null, null);
        Type localVarReturnType = new TypeToken<TextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver) (asynchronously)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param body  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addDomainNameserverAsync(DomainNameserverPostRequest body, Integer id, final ApiCallback<TextResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addDomainNameserverValidateBeforeCall(body, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TextResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addDomainNameserver
     * @param name  (required)
     * @param ipAddress  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addDomainNameserverCall(String name, String ipAddress, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/nameservers"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (name != null)
        localVarFormParams.put("name", name);
        if (ipAddress != null)
        localVarFormParams.put("ipAddress", ipAddress);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addDomainNameserverValidateBeforeCall(String name, String ipAddress, Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling addDomainNameserver(Async)");
        }
        // verify the required parameter 'ipAddress' is set
        if (ipAddress == null) {
            throw new ApiException("Missing the required parameter 'ipAddress' when calling addDomainNameserver(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling addDomainNameserver(Async)");
        }
        
        com.squareup.okhttp.Call call = addDomainNameserverCall(name, ipAddress, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param name  (required)
     * @param ipAddress  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return TextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TextResponse addDomainNameserver(String name, String ipAddress, Integer id) throws ApiException {
        ApiResponse<TextResponse> resp = addDomainNameserverWithHttpInfo(name, ipAddress, id);
        return resp.getData();
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param name  (required)
     * @param ipAddress  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;TextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TextResponse> addDomainNameserverWithHttpInfo(String name, String ipAddress, Integer id) throws ApiException {
        com.squareup.okhttp.Call call = addDomainNameserverValidateBeforeCall(name, ipAddress, id, null, null);
        Type localVarReturnType = new TypeToken<TextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Register a new nameserver host with glue IP at the registry (registered nameserver) (asynchronously)
     * Adds a registered nameserver (host + glue IP) for the domain at the registrar via &#x60;opensrs_create_nameserver&#x60;. Use when running your own authoritative nameservers under the domain itself (e.g. &#x60;ns1.example.com&#x60;, &#x60;ns2.example.com&#x60;). **Glue records, not delegation:** this registers the host&#x27;s IP at the registry; the domain&#x27;s delegation must separately point at these names via &#x60;updateDomainNameservers&#x60;. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;updateDomainNameservers&#x60;, &#x60;deleteDomainNameserver&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body fields (schema &#x60;DomainNameserverPostRequest&#x60;):** - &#x60;name&#x60; (string, required) — FQDN of the nameserver (e.g. &#x60;ns1.example.com&#x60;). Validated by &#x60;valid_hostname()&#x60;. - &#x60;ipAddress&#x60; (string, required) — IPv4 address. Validated by &#x60;validIp()&#x60;.  **Returns:** &#x60;SuccessTextResponse&#x60; on success.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — invalid hostname or IP, or registrar refused.  **Related calls:** - **Verify glue record:** &#x60;getDomainNameservers&#x60;. - **Use this nameserver in delegation:** &#x60;updateDomainNameservers&#x60;. 
     * @param name  (required)
     * @param ipAddress  (required)
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addDomainNameserverAsync(String name, String ipAddress, Integer id, final ApiCallback<TextResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addDomainNameserverValidateBeforeCall(name, ipAddress, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TextResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cancelDomain
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelDomainCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelDomainValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling cancelDomain(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelDomainCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel a domain order in the billing system to stop auto-renewals
     * Stops billing and auto-renewal for a domain in the customer account by setting the service to &#x60;canceled&#x60; via the shared &#x60;Billing\\CancelService::go($id)&#x60; flow with &#x60;module&#x3D;&#x27;domains&#x27;&#x60;. **Important:** this only stops billing on InterServer&#x27;s side — the domain registration at the registrar (OpenSRS) typically remains active until its current expiration date. To release the domain back to the public pool, let it expire OR submit a release request via support ticket. Sibling ops: &#x60;getDomainInfo&#x60; (verify status), &#x60;getDomainsList&#x60;, &#x60;postDomainRenewal&#x60; (re-activate before expiry).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Returns:** &#x60;DomainsCancelResponse&#x60; — confirmation envelope.  **Side effects:** - Sets &#x60;domain_status&#x3D;&#x27;canceled&#x27;&#x60;. - Marks the &#x60;repeat_invoices&#x60; row non-renewing — no future renewal invoices generated. - Does **not** call the registrar — the registration remains active at OpenSRS until natural expiry.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — already canceled.  **Related calls:** - **Re-activate before expiry:** &#x60;postDomainRenewal&#x60;. - **Verify status:** &#x60;getDomainInfo&#x60;. - **Sibling cancels on other modules:** &#x60;VPSCancel&#x60;, &#x60;mailCancel&#x60;, &#x60;webhostingCancel&#x60;, etc. (same &#x60;CancelService&#x60; handler). 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return InlineResponse2003
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2003 cancelDomain(Integer id) throws ApiException {
        ApiResponse<InlineResponse2003> resp = cancelDomainWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Cancel a domain order in the billing system to stop auto-renewals
     * Stops billing and auto-renewal for a domain in the customer account by setting the service to &#x60;canceled&#x60; via the shared &#x60;Billing\\CancelService::go($id)&#x60; flow with &#x60;module&#x3D;&#x27;domains&#x27;&#x60;. **Important:** this only stops billing on InterServer&#x27;s side — the domain registration at the registrar (OpenSRS) typically remains active until its current expiration date. To release the domain back to the public pool, let it expire OR submit a release request via support ticket. Sibling ops: &#x60;getDomainInfo&#x60; (verify status), &#x60;getDomainsList&#x60;, &#x60;postDomainRenewal&#x60; (re-activate before expiry).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Returns:** &#x60;DomainsCancelResponse&#x60; — confirmation envelope.  **Side effects:** - Sets &#x60;domain_status&#x3D;&#x27;canceled&#x27;&#x60;. - Marks the &#x60;repeat_invoices&#x60; row non-renewing — no future renewal invoices generated. - Does **not** call the registrar — the registration remains active at OpenSRS until natural expiry.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — already canceled.  **Related calls:** - **Re-activate before expiry:** &#x60;postDomainRenewal&#x60;. - **Verify status:** &#x60;getDomainInfo&#x60;. - **Sibling cancels on other modules:** &#x60;VPSCancel&#x60;, &#x60;mailCancel&#x60;, &#x60;webhostingCancel&#x60;, etc. (same &#x60;CancelService&#x60; handler). 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;InlineResponse2003&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2003> cancelDomainWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = cancelDomainValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel a domain order in the billing system to stop auto-renewals (asynchronously)
     * Stops billing and auto-renewal for a domain in the customer account by setting the service to &#x60;canceled&#x60; via the shared &#x60;Billing\\CancelService::go($id)&#x60; flow with &#x60;module&#x3D;&#x27;domains&#x27;&#x60;. **Important:** this only stops billing on InterServer&#x27;s side — the domain registration at the registrar (OpenSRS) typically remains active until its current expiration date. To release the domain back to the public pool, let it expire OR submit a release request via support ticket. Sibling ops: &#x60;getDomainInfo&#x60; (verify status), &#x60;getDomainsList&#x60;, &#x60;postDomainRenewal&#x60; (re-activate before expiry).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Returns:** &#x60;DomainsCancelResponse&#x60; — confirmation envelope.  **Side effects:** - Sets &#x60;domain_status&#x3D;&#x27;canceled&#x27;&#x60;. - Marks the &#x60;repeat_invoices&#x60; row non-renewing — no future renewal invoices generated. - Does **not** call the registrar — the registration remains active at OpenSRS until natural expiry.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — already canceled.  **Related calls:** - **Re-activate before expiry:** &#x60;postDomainRenewal&#x60;. - **Verify status:** &#x60;getDomainInfo&#x60;. - **Sibling cancels on other modules:** &#x60;VPSCancel&#x60;, &#x60;mailCancel&#x60;, &#x60;webhostingCancel&#x60;, etc. (same &#x60;CancelService&#x60; handler). 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelDomainAsync(Integer id, final ApiCallback<InlineResponse2003> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelDomainValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDomainDnssec
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDomainDnssecCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/dnssec"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDomainDnssecValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteDomainDnssec(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDomainDnssecCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Clear all DNSSEC DS records on the domain (disable DNSSEC at the registrar)
     * Disables DNSSEC at the registrar by removing the entire DS record set in one call. **Propagation caveat:** DNSSEC removal can fail at the registry even after a 200 response — propagation is asynchronous; re-check with &#x60;getDomainDnssec&#x60; to confirm. To remove records selectively, replace the set via &#x60;addDomainDnssec&#x60; instead. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;addDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body:** None — removes the full DS record set.  **Returns:** &#x60;SuccessTextResponse&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - Registrar error surfaced as 4xx.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Replace records selectively:** &#x60;addDomainDnssec&#x60;. 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return SuccessTextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SuccessTextResponse deleteDomainDnssec(Integer id) throws ApiException {
        ApiResponse<SuccessTextResponse> resp = deleteDomainDnssecWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Clear all DNSSEC DS records on the domain (disable DNSSEC at the registrar)
     * Disables DNSSEC at the registrar by removing the entire DS record set in one call. **Propagation caveat:** DNSSEC removal can fail at the registry even after a 200 response — propagation is asynchronous; re-check with &#x60;getDomainDnssec&#x60; to confirm. To remove records selectively, replace the set via &#x60;addDomainDnssec&#x60; instead. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;addDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body:** None — removes the full DS record set.  **Returns:** &#x60;SuccessTextResponse&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - Registrar error surfaced as 4xx.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Replace records selectively:** &#x60;addDomainDnssec&#x60;. 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @return ApiResponse&lt;SuccessTextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SuccessTextResponse> deleteDomainDnssecWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = deleteDomainDnssecValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Clear all DNSSEC DS records on the domain (disable DNSSEC at the registrar) (asynchronously)
     * Disables DNSSEC at the registrar by removing the entire DS record set in one call. **Propagation caveat:** DNSSEC removal can fail at the registry even after a 200 response — propagation is asynchronous; re-check with &#x60;getDomainDnssec&#x60; to confirm. To remove records selectively, replace the set via &#x60;addDomainDnssec&#x60; instead. Sibling ops: &#x60;getDomainDnssec&#x60;, &#x60;addDomainDnssec&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Body:** None — removes the full DS record set.  **Returns:** &#x60;SuccessTextResponse&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - Registrar error surfaced as 4xx.  **Related calls:** - **Verify propagation:** &#x60;getDomainDnssec&#x60;. - **Replace records selectively:** &#x60;addDomainDnssec&#x60;. 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDomainDnssecAsync(Integer id, final ApiCallback<SuccessTextResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDomainDnssecValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SuccessTextResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDomainNameserver
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param index The index of the registered nameserver from the registered nameservers list to delete.   (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDomainNameserverCall(Integer id, Integer index, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{id}/nameservers"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (index != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("index", index));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDomainNameserverValidateBeforeCall(Integer id, Integer index, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteDomainNameserver(Async)");
        }
        // verify the required parameter 'index' is set
        if (index == null) {
            throw new ApiException("Missing the required parameter 'index' when calling deleteDomainNameserver(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDomainNameserverCall(id, index, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Remove one registered nameserver glue record from the domain
     * Removes a single registered nameserver entry from the domain at the registrar. Handler first calls OpenSRS &#x60;nsGet&#x60; to resolve the entry by index, then &#x60;nsDelete&#x60;. Per-entry — to replace the full delegation set use &#x60;updateDomainNameservers&#x60; instead. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;addDomainNameserver&#x60;, &#x60;updateDomainNameservers&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Query params:** - &#x60;index&#x60; (integer, required) — zero-based index from &#x60;getDomainNameservers&#x60; array — or alternatively pass &#x60;name&#x60; + &#x60;ip&#x60; to target by value.  **Returns:** &#x60;SuccessTextResponse&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — &#x60;index&#x60; out of range or &#x60;name&#x60;/&#x60;ip&#x60; not provided. - Registrar errors surfaced as 4xx.  **Related calls:** - **List candidates:** &#x60;getDomainNameservers&#x60;. - **Replace delegation entirely:** &#x60;updateDomainNameservers&#x60;. 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param index The index of the registered nameserver from the registered nameservers list to delete.   (required)
     * @return TextResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TextResponse deleteDomainNameserver(Integer id, Integer index) throws ApiException {
        ApiResponse<TextResponse> resp = deleteDomainNameserverWithHttpInfo(id, index);
        return resp.getData();
    }

    /**
     * Remove one registered nameserver glue record from the domain
     * Removes a single registered nameserver entry from the domain at the registrar. Handler first calls OpenSRS &#x60;nsGet&#x60; to resolve the entry by index, then &#x60;nsDelete&#x60;. Per-entry — to replace the full delegation set use &#x60;updateDomainNameservers&#x60; instead. Sibling ops: &#x60;getDomainNameservers&#x60;, &#x60;addDomainNameserver&#x60;, &#x60;updateDomainNameservers&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;domain_id&#x60; from &#x60;getDomainsList&#x60;.  **Query params:** - &#x60;index&#x60; (integer, required) — zero-based index from &#x60;getDomainNameservers&#x60; array — or alternatively pass &#x60;name&#x60; + &#x60;ip&#x60; to target by value.  **Returns:** &#x60;SuccessTextResponse&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409&#x60; — &#x60;domain_status !&#x3D; \&quot;active\&quot;&#x60;. - &#x60;422&#x60; — &#x60;index&#x60; out of range or &#x60;name&#x60;/&#x60;ip&#x60; not provided. - Registrar errors surfaced as 4xx.  **Related calls:** - **List candidates:** &#x60;getDomainNameservers&#x60;. - **Replace delegation entirely:** &#x60;updateDomainNameservers&#x60;. 
     * @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;. (required)
     * @param index The index of the registered nameserver from the registered nameservers list to delete.   (required)
     * @return ApiResponse&lt;TextResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TextResponse> deleteDomainNameserverWithHttpInfo(Integer id, Integer index) throws ApiException {
        com.squareup.okhttp.Call call = deleteDomainNameserverValidateBeforeCall(id, index, null, null);
        Type localVarReturnType = new TypeToken<TextResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Remove one registered nameserver glue record from the domain (asynchronously)
[...]
