/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.interserver.myadmin.api;

import com.interserver.myadmin.ApiCallback;
import com.interserver.myadmin.ApiClient;
import com.interserver.myadmin.ApiException;
import com.interserver.myadmin.ApiResponse;
import com.interserver.myadmin.Configuration;
import com.interserver.myadmin.Pair;
import com.interserver.myadmin.ProgressRequestBody;
import com.interserver.myadmin.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.interserver.myadmin.model.ChargeInvoiceRows;
import com.interserver.myadmin.model.IdBuyIpBody;
import com.interserver.myadmin.model.IdMigrationBody;
import com.interserver.myadmin.model.InlineResponse20025;
import com.interserver.myadmin.model.InlineResponse20026;
import com.interserver.myadmin.model.InlineResponse20027;
import com.interserver.myadmin.model.InlineResponse20028;
import com.interserver.myadmin.model.InlineResponse401;
import com.interserver.myadmin.model.ReverseDnsEntries;
import com.interserver.myadmin.model.ServiceOrderPostResponse;
import com.interserver.myadmin.model.SuccessTextResponse;
import com.interserver.myadmin.model.TextResponse;
import com.interserver.myadmin.model.Website;
import com.interserver.myadmin.model.WebsiteBackups;
import com.interserver.myadmin.model.WebsiteLoginResponse;
import com.interserver.myadmin.model.WebsiteOrderPostRequest;
import com.interserver.myadmin.model.WebsiteOrderPutRequest;
import com.interserver.myadmin.model.WebsiteRow;
import com.interserver.myadmin.model.WebsitesOrder;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WebhostingApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public WebhostingApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WebhostingApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for addWebsite
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addWebsiteCall(WebsiteOrderPostRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/websites/order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addWebsiteValidateBeforeCall(WebsiteOrderPostRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addWebsite(Async)");
        }
        
        com.squareup.okhttp.Call call = addWebsiteCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Place a new webhosting order, create the invoice, and queue provisioning
     * Step 3 of the webhosting order flow — actually places the order. Revalidates via &#x60;validate_buy_website()&#x60; (same checks as &#x60;putWebsites&#x60;), then calls &#x60;place_buy_website()&#x60; to allocate a backing webhosting server, create the &#x60;webhosting&#x60; service row in &#x60;pending&#x60; status, generate a &#x60;Repeat_Invoice&#x60; recurring billing row, produce an initial &#x60;invoices&#x60; row, and (when &#x60;registerDomain&#x3D;true&#x60;) also kick off a domain order with its own invoice. The activator runs once the invoice is paid; &#x60;getWebsitesWelcomeEmail&#x60; then fires automatically with control-panel credentials. **Real money** — call &#x60;putWebsites&#x60; first to preview cost. Sibling ops: &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;, &#x60;getWebsiteInfo&#x60;, &#x60;webhostingCancel&#x60;.  **Body fields:** Identical to &#x60;putWebsites&#x60;. Required: &#x60;hostname&#x60;, &#x60;packageId&#x60;. Optional: &#x60;rootpass&#x60; (auto-generated if blank), &#x60;period&#x60;, &#x60;coupon&#x60;, &#x60;serviceOfferId&#x60;, &#x60;script&#x60;, &#x60;comment&#x60;, &#x60;registerDomain&#x60;.  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): - &#x60;total_cost&#x60; (string/decimal) — total to pay across all generated invoices. - &#x60;iid&#x60; (string) — primary invoice id (numeric). - &#x60;iids&#x60; (array) — tagged invoice ids (e.g. &#x60;SERVICEwebhosting12345&#x60;). - &#x60;real_iids&#x60; (array) — numeric invoice ids to pass to &#x60;initiatePayment&#x60;. - &#x60;serviceId&#x60; (integer) — new &#x60;website_id&#x60;; use with &#x60;getWebsiteInfo&#x60; to poll status. - &#x60;invoice_description&#x60; (string) — human-readable summary. - &#x60;cj_params&#x60; (object) — Commission Junction tracking parameters.  **Side effects:** - Inserts &#x60;webhosting&#x60; service row (&#x60;website_status&#x3D;&#x27;pending&#x27;&#x60;). - Inserts &#x60;repeat_invoices&#x60; row for recurring charge. - Inserts &#x60;invoices&#x60; row for the first period. - When &#x60;registerDomain&#x3D;true&#x60;: also creates a domain service row and its own invoice (&#x60;domain_serviceid&#x60;, &#x60;diid&#x60; returned alongside). - Hashes/encrypts &#x60;rootpass&#x60; to &#x60;history_log&#x60;.  **Auth:** Session/API key.  **Errors:** - When validation fails: response is the same &#x60;errors&#x60; array from &#x60;putWebsites&#x60; (HTTP 200 with &#x60;continue&#x3D;false&#x60; shape). - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Prerequisite:** &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;. - **Next:** &#x60;getBillingInvoice&#x60; (confirm), &#x60;initiatePayment&#x60; (pay with &#x60;real_iids&#x60;), then poll &#x60;getWebsiteInfo&#x60; until &#x60;website_status&#x3D;&#x3D;&#x27;active&#x27;&#x60;. - **Resend credentials after activation:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel before paying:** &#x60;webhostingCancel&#x60; (or &#x60;deleteBillingInvoice&#x60; for the pending invoice).  **Full ordering happy path:** &#x60;&#x60;&#x60;text GET /websites/order                              -&gt; catalog (getNewWebsite) PUT /websites/order { ...config }                -&gt; price quote (putWebsites) POST /websites/order { ...config }               -&gt; { serviceId, real_iids } (addWebsite) GET /billing/invoices/{iid}                      -&gt; confirm invoice (getBillingInvoice) GET /billing/pay/cc/{real_iids[0]}               -&gt; pay (initiatePayment) GET /websites/{serviceId}                        -&gt; poll until website_status&#x3D;&#x3D;\&quot;active\&quot; GET /websites/{serviceId}/welcome_email          -&gt; resend credentials if needed &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @return ServiceOrderPostResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ServiceOrderPostResponse addWebsite(WebsiteOrderPostRequest body) throws ApiException {
        ApiResponse<ServiceOrderPostResponse> resp = addWebsiteWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Place a new webhosting order, create the invoice, and queue provisioning
     * Step 3 of the webhosting order flow — actually places the order. Revalidates via &#x60;validate_buy_website()&#x60; (same checks as &#x60;putWebsites&#x60;), then calls &#x60;place_buy_website()&#x60; to allocate a backing webhosting server, create the &#x60;webhosting&#x60; service row in &#x60;pending&#x60; status, generate a &#x60;Repeat_Invoice&#x60; recurring billing row, produce an initial &#x60;invoices&#x60; row, and (when &#x60;registerDomain&#x3D;true&#x60;) also kick off a domain order with its own invoice. The activator runs once the invoice is paid; &#x60;getWebsitesWelcomeEmail&#x60; then fires automatically with control-panel credentials. **Real money** — call &#x60;putWebsites&#x60; first to preview cost. Sibling ops: &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;, &#x60;getWebsiteInfo&#x60;, &#x60;webhostingCancel&#x60;.  **Body fields:** Identical to &#x60;putWebsites&#x60;. Required: &#x60;hostname&#x60;, &#x60;packageId&#x60;. Optional: &#x60;rootpass&#x60; (auto-generated if blank), &#x60;period&#x60;, &#x60;coupon&#x60;, &#x60;serviceOfferId&#x60;, &#x60;script&#x60;, &#x60;comment&#x60;, &#x60;registerDomain&#x60;.  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): - &#x60;total_cost&#x60; (string/decimal) — total to pay across all generated invoices. - &#x60;iid&#x60; (string) — primary invoice id (numeric). - &#x60;iids&#x60; (array) — tagged invoice ids (e.g. &#x60;SERVICEwebhosting12345&#x60;). - &#x60;real_iids&#x60; (array) — numeric invoice ids to pass to &#x60;initiatePayment&#x60;. - &#x60;serviceId&#x60; (integer) — new &#x60;website_id&#x60;; use with &#x60;getWebsiteInfo&#x60; to poll status. - &#x60;invoice_description&#x60; (string) — human-readable summary. - &#x60;cj_params&#x60; (object) — Commission Junction tracking parameters.  **Side effects:** - Inserts &#x60;webhosting&#x60; service row (&#x60;website_status&#x3D;&#x27;pending&#x27;&#x60;). - Inserts &#x60;repeat_invoices&#x60; row for recurring charge. - Inserts &#x60;invoices&#x60; row for the first period. - When &#x60;registerDomain&#x3D;true&#x60;: also creates a domain service row and its own invoice (&#x60;domain_serviceid&#x60;, &#x60;diid&#x60; returned alongside). - Hashes/encrypts &#x60;rootpass&#x60; to &#x60;history_log&#x60;.  **Auth:** Session/API key.  **Errors:** - When validation fails: response is the same &#x60;errors&#x60; array from &#x60;putWebsites&#x60; (HTTP 200 with &#x60;continue&#x3D;false&#x60; shape). - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Prerequisite:** &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;. - **Next:** &#x60;getBillingInvoice&#x60; (confirm), &#x60;initiatePayment&#x60; (pay with &#x60;real_iids&#x60;), then poll &#x60;getWebsiteInfo&#x60; until &#x60;website_status&#x3D;&#x3D;&#x27;active&#x27;&#x60;. - **Resend credentials after activation:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel before paying:** &#x60;webhostingCancel&#x60; (or &#x60;deleteBillingInvoice&#x60; for the pending invoice).  **Full ordering happy path:** &#x60;&#x60;&#x60;text GET /websites/order                              -&gt; catalog (getNewWebsite) PUT /websites/order { ...config }                -&gt; price quote (putWebsites) POST /websites/order { ...config }               -&gt; { serviceId, real_iids } (addWebsite) GET /billing/invoices/{iid}                      -&gt; confirm invoice (getBillingInvoice) GET /billing/pay/cc/{real_iids[0]}               -&gt; pay (initiatePayment) GET /websites/{serviceId}                        -&gt; poll until website_status&#x3D;&#x3D;\&quot;active\&quot; GET /websites/{serviceId}/welcome_email          -&gt; resend credentials if needed &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @return ApiResponse&lt;ServiceOrderPostResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ServiceOrderPostResponse> addWebsiteWithHttpInfo(WebsiteOrderPostRequest body) throws ApiException {
        com.squareup.okhttp.Call call = addWebsiteValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ServiceOrderPostResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Place a new webhosting order, create the invoice, and queue provisioning (asynchronously)
     * Step 3 of the webhosting order flow — actually places the order. Revalidates via &#x60;validate_buy_website()&#x60; (same checks as &#x60;putWebsites&#x60;), then calls &#x60;place_buy_website()&#x60; to allocate a backing webhosting server, create the &#x60;webhosting&#x60; service row in &#x60;pending&#x60; status, generate a &#x60;Repeat_Invoice&#x60; recurring billing row, produce an initial &#x60;invoices&#x60; row, and (when &#x60;registerDomain&#x3D;true&#x60;) also kick off a domain order with its own invoice. The activator runs once the invoice is paid; &#x60;getWebsitesWelcomeEmail&#x60; then fires automatically with control-panel credentials. **Real money** — call &#x60;putWebsites&#x60; first to preview cost. Sibling ops: &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;, &#x60;getWebsiteInfo&#x60;, &#x60;webhostingCancel&#x60;.  **Body fields:** Identical to &#x60;putWebsites&#x60;. Required: &#x60;hostname&#x60;, &#x60;packageId&#x60;. Optional: &#x60;rootpass&#x60; (auto-generated if blank), &#x60;period&#x60;, &#x60;coupon&#x60;, &#x60;serviceOfferId&#x60;, &#x60;script&#x60;, &#x60;comment&#x60;, &#x60;registerDomain&#x60;.  **Returns** (schema &#x60;ServiceOrderPostResponse&#x60;): - &#x60;total_cost&#x60; (string/decimal) — total to pay across all generated invoices. - &#x60;iid&#x60; (string) — primary invoice id (numeric). - &#x60;iids&#x60; (array) — tagged invoice ids (e.g. &#x60;SERVICEwebhosting12345&#x60;). - &#x60;real_iids&#x60; (array) — numeric invoice ids to pass to &#x60;initiatePayment&#x60;. - &#x60;serviceId&#x60; (integer) — new &#x60;website_id&#x60;; use with &#x60;getWebsiteInfo&#x60; to poll status. - &#x60;invoice_description&#x60; (string) — human-readable summary. - &#x60;cj_params&#x60; (object) — Commission Junction tracking parameters.  **Side effects:** - Inserts &#x60;webhosting&#x60; service row (&#x60;website_status&#x3D;&#x27;pending&#x27;&#x60;). - Inserts &#x60;repeat_invoices&#x60; row for recurring charge. - Inserts &#x60;invoices&#x60; row for the first period. - When &#x60;registerDomain&#x3D;true&#x60;: also creates a domain service row and its own invoice (&#x60;domain_serviceid&#x60;, &#x60;diid&#x60; returned alongside). - Hashes/encrypts &#x60;rootpass&#x60; to &#x60;history_log&#x60;.  **Auth:** Session/API key.  **Errors:** - When validation fails: response is the same &#x60;errors&#x60; array from &#x60;putWebsites&#x60; (HTTP 200 with &#x60;continue&#x3D;false&#x60; shape). - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Prerequisite:** &#x60;getNewWebsite&#x60;, &#x60;putWebsites&#x60;. - **Next:** &#x60;getBillingInvoice&#x60; (confirm), &#x60;initiatePayment&#x60; (pay with &#x60;real_iids&#x60;), then poll &#x60;getWebsiteInfo&#x60; until &#x60;website_status&#x3D;&#x3D;&#x27;active&#x27;&#x60;. - **Resend credentials after activation:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel before paying:** &#x60;webhostingCancel&#x60; (or &#x60;deleteBillingInvoice&#x60; for the pending invoice).  **Full ordering happy path:** &#x60;&#x60;&#x60;text GET /websites/order                              -&gt; catalog (getNewWebsite) PUT /websites/order { ...config }                -&gt; price quote (putWebsites) POST /websites/order { ...config }               -&gt; { serviceId, real_iids } (addWebsite) GET /billing/invoices/{iid}                      -&gt; confirm invoice (getBillingInvoice) GET /billing/pay/cc/{real_iids[0]}               -&gt; pay (initiatePayment) GET /websites/{serviceId}                        -&gt; poll until website_status&#x3D;&#x3D;\&quot;active\&quot; GET /websites/{serviceId}/welcome_email          -&gt; resend credentials if needed &#x60;&#x60;&#x60; 
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addWebsiteAsync(WebsiteOrderPostRequest body, final ApiCallback<ServiceOrderPostResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addWebsiteValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ServiceOrderPostResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNewWebsite
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNewWebsiteCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/order";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNewWebsiteValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getNewWebsiteCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read the webhosting order catalog — plans, packages, promo offers, pricing
     * Step 1 of the webhosting order flow. Returns the full ordering catalog needed to build a valid order: available &#x60;serviceTypes&#x60; (plans), &#x60;serviceOffers&#x60; (promotional bundles), &#x60;packages&#x60;, billing &#x60;period&#x60; options, the customer&#x27;s currency symbol, default &#x60;serviceOfferId&#x60;, and &#x60;enableDomainRegistering&#x60; (whether free/paid domain registration is bundled). Read-only — no service or invoice created. Sibling discovery endpoints in other modules: &#x60;getNewVps&#x60;, &#x60;getNewMail&#x60;, &#x60;getNewDomain&#x60;. Sibling order-flow ops: &#x60;putWebsites&#x60;, &#x60;addWebsite&#x60;.  **Path/Query/Body:** None.  **Returns** (schema &#x60;WebsitesOrder&#x60;): - &#x60;currencySymbol&#x60; (string) — locale currency symbol for display. - &#x60;step&#x60; (integer) — current step in the multi-step order wizard. - &#x60;website&#x60; (integer) — pre-selected default plan id. - &#x60;period&#x60; (integer) — pre-selected default billing frequency. - &#x60;serviceOfferId&#x60; (integer) — pre-selected promo offer. - &#x60;serviceTypes&#x60; (array) — every plan; &#x60;services_ourcost&#x60; stripped server-side. Keys per row: &#x60;services_id&#x60;, &#x60;services_name&#x60;, &#x60;services_cost&#x60;, &#x60;services_type&#x60; (&#x60;WEB_CPANEL&#x60; / &#x60;WEB_DIRECTADMIN&#x60; / &#x60;WEB_PLESK&#x60; / &#x60;WEB_VESTA&#x60; / &#x60;WEB_PPA&#x60; / &#x60;WEB_WORDPRESS&#x60; / &#x60;WEB_STORAGE&#x60;), etc. - &#x60;serviceOffers&#x60; (array) — current promotional bundles. - &#x60;packages&#x60;, &#x60;packges&#x60; (array — legacy field name preserved alongside &#x60;packages&#x60;). - &#x60;enableDomainRegistering&#x60; (bool) — when &#x60;true&#x60;, the order can also register/transfer a domain. - &#x60;jsonServices&#x60;, &#x60;jsonServiceOffers&#x60; (string) — JSON-encoded copies for inline use in HTML.  **Auth:** Session/API key.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Next:** &#x60;putWebsites&#x60; (validate + quote — no charge), &#x60;addWebsite&#x60; (place order).  **Example abridged response:** &#x60;&#x60;&#x60;json {   \&quot;currencySymbol\&quot;: \&quot;$\&quot;,   \&quot;step\&quot;: 1,   \&quot;website\&quot;: 23,   \&quot;period\&quot;: 1,   \&quot;enableDomainRegistering\&quot;: true,   \&quot;serviceTypes\&quot;: [     {\&quot;services_id\&quot;: 23, \&quot;services_name\&quot;: \&quot;Standard\&quot;, \&quot;services_cost\&quot;: 8.00, \&quot;services_type\&quot;: 1},     {\&quot;services_id\&quot;: 25, \&quot;services_name\&quot;: \&quot;Reseller\&quot;, \&quot;services_cost\&quot;: 24.95, \&quot;services_type\&quot;: 1}   ] } &#x60;&#x60;&#x60; 
     * @return WebsitesOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public WebsitesOrder getNewWebsite() throws ApiException {
        ApiResponse<WebsitesOrder> resp = getNewWebsiteWithHttpInfo();
        return resp.getData();
    }

    /**
     * Read the webhosting order catalog — plans, packages, promo offers, pricing
     * Step 1 of the webhosting order flow. Returns the full ordering catalog needed to build a valid order: available &#x60;serviceTypes&#x60; (plans), &#x60;serviceOffers&#x60; (promotional bundles), &#x60;packages&#x60;, billing &#x60;period&#x60; options, the customer&#x27;s currency symbol, default &#x60;serviceOfferId&#x60;, and &#x60;enableDomainRegistering&#x60; (whether free/paid domain registration is bundled). Read-only — no service or invoice created. Sibling discovery endpoints in other modules: &#x60;getNewVps&#x60;, &#x60;getNewMail&#x60;, &#x60;getNewDomain&#x60;. Sibling order-flow ops: &#x60;putWebsites&#x60;, &#x60;addWebsite&#x60;.  **Path/Query/Body:** None.  **Returns** (schema &#x60;WebsitesOrder&#x60;): - &#x60;currencySymbol&#x60; (string) — locale currency symbol for display. - &#x60;step&#x60; (integer) — current step in the multi-step order wizard. - &#x60;website&#x60; (integer) — pre-selected default plan id. - &#x60;period&#x60; (integer) — pre-selected default billing frequency. - &#x60;serviceOfferId&#x60; (integer) — pre-selected promo offer. - &#x60;serviceTypes&#x60; (array) — every plan; &#x60;services_ourcost&#x60; stripped server-side. Keys per row: &#x60;services_id&#x60;, &#x60;services_name&#x60;, &#x60;services_cost&#x60;, &#x60;services_type&#x60; (&#x60;WEB_CPANEL&#x60; / &#x60;WEB_DIRECTADMIN&#x60; / &#x60;WEB_PLESK&#x60; / &#x60;WEB_VESTA&#x60; / &#x60;WEB_PPA&#x60; / &#x60;WEB_WORDPRESS&#x60; / &#x60;WEB_STORAGE&#x60;), etc. - &#x60;serviceOffers&#x60; (array) — current promotional bundles. - &#x60;packages&#x60;, &#x60;packges&#x60; (array — legacy field name preserved alongside &#x60;packages&#x60;). - &#x60;enableDomainRegistering&#x60; (bool) — when &#x60;true&#x60;, the order can also register/transfer a domain. - &#x60;jsonServices&#x60;, &#x60;jsonServiceOffers&#x60; (string) — JSON-encoded copies for inline use in HTML.  **Auth:** Session/API key.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Next:** &#x60;putWebsites&#x60; (validate + quote — no charge), &#x60;addWebsite&#x60; (place order).  **Example abridged response:** &#x60;&#x60;&#x60;json {   \&quot;currencySymbol\&quot;: \&quot;$\&quot;,   \&quot;step\&quot;: 1,   \&quot;website\&quot;: 23,   \&quot;period\&quot;: 1,   \&quot;enableDomainRegistering\&quot;: true,   \&quot;serviceTypes\&quot;: [     {\&quot;services_id\&quot;: 23, \&quot;services_name\&quot;: \&quot;Standard\&quot;, \&quot;services_cost\&quot;: 8.00, \&quot;services_type\&quot;: 1},     {\&quot;services_id\&quot;: 25, \&quot;services_name\&quot;: \&quot;Reseller\&quot;, \&quot;services_cost\&quot;: 24.95, \&quot;services_type\&quot;: 1}   ] } &#x60;&#x60;&#x60; 
     * @return ApiResponse&lt;WebsitesOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<WebsitesOrder> getNewWebsiteWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getNewWebsiteValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<WebsitesOrder>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read the webhosting order catalog — plans, packages, promo offers, pricing (asynchronously)
     * Step 1 of the webhosting order flow. Returns the full ordering catalog needed to build a valid order: available &#x60;serviceTypes&#x60; (plans), &#x60;serviceOffers&#x60; (promotional bundles), &#x60;packages&#x60;, billing &#x60;period&#x60; options, the customer&#x27;s currency symbol, default &#x60;serviceOfferId&#x60;, and &#x60;enableDomainRegistering&#x60; (whether free/paid domain registration is bundled). Read-only — no service or invoice created. Sibling discovery endpoints in other modules: &#x60;getNewVps&#x60;, &#x60;getNewMail&#x60;, &#x60;getNewDomain&#x60;. Sibling order-flow ops: &#x60;putWebsites&#x60;, &#x60;addWebsite&#x60;.  **Path/Query/Body:** None.  **Returns** (schema &#x60;WebsitesOrder&#x60;): - &#x60;currencySymbol&#x60; (string) — locale currency symbol for display. - &#x60;step&#x60; (integer) — current step in the multi-step order wizard. - &#x60;website&#x60; (integer) — pre-selected default plan id. - &#x60;period&#x60; (integer) — pre-selected default billing frequency. - &#x60;serviceOfferId&#x60; (integer) — pre-selected promo offer. - &#x60;serviceTypes&#x60; (array) — every plan; &#x60;services_ourcost&#x60; stripped server-side. Keys per row: &#x60;services_id&#x60;, &#x60;services_name&#x60;, &#x60;services_cost&#x60;, &#x60;services_type&#x60; (&#x60;WEB_CPANEL&#x60; / &#x60;WEB_DIRECTADMIN&#x60; / &#x60;WEB_PLESK&#x60; / &#x60;WEB_VESTA&#x60; / &#x60;WEB_PPA&#x60; / &#x60;WEB_WORDPRESS&#x60; / &#x60;WEB_STORAGE&#x60;), etc. - &#x60;serviceOffers&#x60; (array) — current promotional bundles. - &#x60;packages&#x60;, &#x60;packges&#x60; (array — legacy field name preserved alongside &#x60;packages&#x60;). - &#x60;enableDomainRegistering&#x60; (bool) — when &#x60;true&#x60;, the order can also register/transfer a domain. - &#x60;jsonServices&#x60;, &#x60;jsonServiceOffers&#x60; (string) — JSON-encoded copies for inline use in HTML.  **Auth:** Session/API key.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Next:** &#x60;putWebsites&#x60; (validate + quote — no charge), &#x60;addWebsite&#x60; (place order).  **Example abridged response:** &#x60;&#x60;&#x60;json {   \&quot;currencySymbol\&quot;: \&quot;$\&quot;,   \&quot;step\&quot;: 1,   \&quot;website\&quot;: 23,   \&quot;period\&quot;: 1,   \&quot;enableDomainRegistering\&quot;: true,   \&quot;serviceTypes\&quot;: [     {\&quot;services_id\&quot;: 23, \&quot;services_name\&quot;: \&quot;Standard\&quot;, \&quot;services_cost\&quot;: 8.00, \&quot;services_type\&quot;: 1},     {\&quot;services_id\&quot;: 25, \&quot;services_name\&quot;: \&quot;Reseller\&quot;, \&quot;services_cost\&quot;: 24.95, \&quot;services_type\&quot;: 1}   ] } &#x60;&#x60;&#x60; 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNewWebsiteAsync(final ApiCallback<WebsitesOrder> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNewWebsiteValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<WebsitesOrder>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsiteBuyIp
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsiteBuyIpCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/{id}/buy_ip"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsiteBuyIpValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getWebsiteBuyIp(Async)");
        }
        
        com.squareup.okhttp.Call call = getWebsiteBuyIpCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read website IPs, current reverse DNS, and additional-IP pricing
     * Combined IP/billing view for a website: returns the primary &#x60;website_ip&#x60; plus any addon extras, each mapped to its current PTR hostname (via &#x60;get_hostname()&#x60;), the list of existing additional-IP repeat invoices (with &#x60;cancel_link&#x60; URLs), the count of paid extras, and the per-IP cost (in the website&#x27;s billing currency, falling back to USD/&#x60;WEBSITE_IP_COST&#x60;). Read-only. Use to populate a \&quot;buy another IP\&quot; form or to audit current IP allocations. Sibling ops: &#x60;postWebsiteBuyIp&#x60; (buy or update PTR), &#x60;gettWebsiteReverseDns&#x60; (PTR-only view), &#x60;postWebsitesReverseDns&#x60; (PTR-only update).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** - &#x60;ips&#x60; (object) — &#x60;{\&quot;&lt;ipv4&gt;\&quot;: \&quot;&lt;ptr-hostname&gt;\&quot;, ...}&#x60; for every IP attached. - &#x60;ipsDetails&#x60; (array) — existing addon invoices with each row&#x27;s &#x60;ip&#x60;, &#x60;cancel_link&#x60; (&#x60;cancel_addon?module&#x3D;webhosting&amp;r&#x3D;&lt;rid&gt;&#x60;), invoice metadata. - &#x60;ipCount&#x60; (integer) — count of paid addon IPs. - &#x60;ipCost&#x60; (float) — per-IP recurring cost in &#x60;currency&#x60;. - &#x60;currency&#x60; (string), &#x60;currencySymbol&#x60; (string).  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid Website Passed&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Buy another IP:** &#x60;postWebsiteBuyIp&#x60;. - **Update PTRs only:** &#x60;postWebsitesReverseDns&#x60; (or &#x60;postWebsiteBuyIp&#x60; with &#x60;action&#x3D;reverse_dns&#x60;). - **Cancel an addon IP:** follow the &#x60;cancel_link&#x60; URL. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return InlineResponse20026
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20026 getWebsiteBuyIp(Integer id) throws ApiException {
        ApiResponse<InlineResponse20026> resp = getWebsiteBuyIpWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Read website IPs, current reverse DNS, and additional-IP pricing
     * Combined IP/billing view for a website: returns the primary &#x60;website_ip&#x60; plus any addon extras, each mapped to its current PTR hostname (via &#x60;get_hostname()&#x60;), the list of existing additional-IP repeat invoices (with &#x60;cancel_link&#x60; URLs), the count of paid extras, and the per-IP cost (in the website&#x27;s billing currency, falling back to USD/&#x60;WEBSITE_IP_COST&#x60;). Read-only. Use to populate a \&quot;buy another IP\&quot; form or to audit current IP allocations. Sibling ops: &#x60;postWebsiteBuyIp&#x60; (buy or update PTR), &#x60;gettWebsiteReverseDns&#x60; (PTR-only view), &#x60;postWebsitesReverseDns&#x60; (PTR-only update).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** - &#x60;ips&#x60; (object) — &#x60;{\&quot;&lt;ipv4&gt;\&quot;: \&quot;&lt;ptr-hostname&gt;\&quot;, ...}&#x60; for every IP attached. - &#x60;ipsDetails&#x60; (array) — existing addon invoices with each row&#x27;s &#x60;ip&#x60;, &#x60;cancel_link&#x60; (&#x60;cancel_addon?module&#x3D;webhosting&amp;r&#x3D;&lt;rid&gt;&#x60;), invoice metadata. - &#x60;ipCount&#x60; (integer) — count of paid addon IPs. - &#x60;ipCost&#x60; (float) — per-IP recurring cost in &#x60;currency&#x60;. - &#x60;currency&#x60; (string), &#x60;currencySymbol&#x60; (string).  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid Website Passed&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Buy another IP:** &#x60;postWebsiteBuyIp&#x60;. - **Update PTRs only:** &#x60;postWebsitesReverseDns&#x60; (or &#x60;postWebsiteBuyIp&#x60; with &#x60;action&#x3D;reverse_dns&#x60;). - **Cancel an addon IP:** follow the &#x60;cancel_link&#x60; URL. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ApiResponse&lt;InlineResponse20026&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20026> getWebsiteBuyIpWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = getWebsiteBuyIpValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20026>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read website IPs, current reverse DNS, and additional-IP pricing (asynchronously)
     * Combined IP/billing view for a website: returns the primary &#x60;website_ip&#x60; plus any addon extras, each mapped to its current PTR hostname (via &#x60;get_hostname()&#x60;), the list of existing additional-IP repeat invoices (with &#x60;cancel_link&#x60; URLs), the count of paid extras, and the per-IP cost (in the website&#x27;s billing currency, falling back to USD/&#x60;WEBSITE_IP_COST&#x60;). Read-only. Use to populate a \&quot;buy another IP\&quot; form or to audit current IP allocations. Sibling ops: &#x60;postWebsiteBuyIp&#x60; (buy or update PTR), &#x60;gettWebsiteReverseDns&#x60; (PTR-only view), &#x60;postWebsitesReverseDns&#x60; (PTR-only update).  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** - &#x60;ips&#x60; (object) — &#x60;{\&quot;&lt;ipv4&gt;\&quot;: \&quot;&lt;ptr-hostname&gt;\&quot;, ...}&#x60; for every IP attached. - &#x60;ipsDetails&#x60; (array) — existing addon invoices with each row&#x27;s &#x60;ip&#x60;, &#x60;cancel_link&#x60; (&#x60;cancel_addon?module&#x3D;webhosting&amp;r&#x3D;&lt;rid&gt;&#x60;), invoice metadata. - &#x60;ipCount&#x60; (integer) — count of paid addon IPs. - &#x60;ipCost&#x60; (float) — per-IP recurring cost in &#x60;currency&#x60;. - &#x60;currency&#x60; (string), &#x60;currencySymbol&#x60; (string).  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid Website Passed&#x60; — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Buy another IP:** &#x60;postWebsiteBuyIp&#x60;. - **Update PTRs only:** &#x60;postWebsitesReverseDns&#x60; (or &#x60;postWebsiteBuyIp&#x60; with &#x60;action&#x3D;reverse_dns&#x60;). - **Cancel an addon IP:** follow the &#x60;cancel_link&#x60; URL. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebsiteBuyIpAsync(Integer id, final ApiCallback<InlineResponse20026> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebsiteBuyIpValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20026>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsiteInfo
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsiteInfoCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsiteInfoValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getWebsiteInfo(Async)");
        }
        
        com.squareup.okhttp.Call call = getWebsiteInfoCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read full configuration and status detail for one webhosting service
     * Returns everything the customer dashboard shows for one website — status, hostname, control-panel username, primary IP, host server, plan, billing summary, action &#x60;client_links&#x60;, and supported addons. Read-only. Backed by &#x60;ViewWebsite::getDetails()&#x60;. Internal &#x60;admin_links&#x60;, &#x60;settings&#x60;, &#x60;csrf&#x60;, and &#x60;serviceMaster.website_key&#x60; (the API key) are stripped before return. Use to render a website detail page, verify ownership before mutating, or poll &#x60;website_status&#x60; after &#x60;addWebsite&#x60;. Sibling ops: &#x60;getWebsiteList&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns** (schema &#x60;Website&#x60;): - &#x60;serviceInfo&#x60; — &#x60;website_id&#x60;, &#x60;website_hostname&#x60;, &#x60;website_username&#x60;, &#x60;website_ip&#x60;, &#x60;website_server&#x60;, &#x60;website_type&#x60; (plan id), &#x60;website_status&#x60;, &#x60;website_comment&#x60;. - &#x60;serviceMaster&#x60; — host-server row (cPanel/DA/Plesk hostname, panel URL). &#x60;website_key&#x60; is stripped. - &#x60;serviceType&#x60; — plan row (&#x60;services_ourcost&#x60; stripped). - &#x60;client_links&#x60; (array) — &#x60;{name, link, icon}&#x60; for restart, login, backup, etc. Internal &#x60;?link&#x3D;queue&amp;action&#x3D;...&#x60; URLs are pre-resolved to plain action names. - &#x60;serviceAddons&#x60; — extra IPs, additional resources.  **Auth:** Session/API key. Ownership enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text — webhosting reuses the helper) — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Login to panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Reverse DNS:** &#x60;gettWebsiteReverseDns&#x60;, &#x60;postWebsitesReverseDns&#x60;. - **Buy extra IP:** &#x60;getWebsiteBuyIp&#x60;, &#x60;postWebsiteBuyIp&#x60;. - **Migration:** &#x60;postWebsiteMigration&#x60;. - **Resend welcome email:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return Website
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Website getWebsiteInfo(Integer id) throws ApiException {
        ApiResponse<Website> resp = getWebsiteInfoWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Read full configuration and status detail for one webhosting service
     * Returns everything the customer dashboard shows for one website — status, hostname, control-panel username, primary IP, host server, plan, billing summary, action &#x60;client_links&#x60;, and supported addons. Read-only. Backed by &#x60;ViewWebsite::getDetails()&#x60;. Internal &#x60;admin_links&#x60;, &#x60;settings&#x60;, &#x60;csrf&#x60;, and &#x60;serviceMaster.website_key&#x60; (the API key) are stripped before return. Use to render a website detail page, verify ownership before mutating, or poll &#x60;website_status&#x60; after &#x60;addWebsite&#x60;. Sibling ops: &#x60;getWebsiteList&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns** (schema &#x60;Website&#x60;): - &#x60;serviceInfo&#x60; — &#x60;website_id&#x60;, &#x60;website_hostname&#x60;, &#x60;website_username&#x60;, &#x60;website_ip&#x60;, &#x60;website_server&#x60;, &#x60;website_type&#x60; (plan id), &#x60;website_status&#x60;, &#x60;website_comment&#x60;. - &#x60;serviceMaster&#x60; — host-server row (cPanel/DA/Plesk hostname, panel URL). &#x60;website_key&#x60; is stripped. - &#x60;serviceType&#x60; — plan row (&#x60;services_ourcost&#x60; stripped). - &#x60;client_links&#x60; (array) — &#x60;{name, link, icon}&#x60; for restart, login, backup, etc. Internal &#x60;?link&#x3D;queue&amp;action&#x3D;...&#x60; URLs are pre-resolved to plain action names. - &#x60;serviceAddons&#x60; — extra IPs, additional resources.  **Auth:** Session/API key. Ownership enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text — webhosting reuses the helper) — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Login to panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Reverse DNS:** &#x60;gettWebsiteReverseDns&#x60;, &#x60;postWebsitesReverseDns&#x60;. - **Buy extra IP:** &#x60;getWebsiteBuyIp&#x60;, &#x60;postWebsiteBuyIp&#x60;. - **Migration:** &#x60;postWebsiteMigration&#x60;. - **Resend welcome email:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ApiResponse&lt;Website&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Website> getWebsiteInfoWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = getWebsiteInfoValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<Website>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read full configuration and status detail for one webhosting service (asynchronously)
     * Returns everything the customer dashboard shows for one website — status, hostname, control-panel username, primary IP, host server, plan, billing summary, action &#x60;client_links&#x60;, and supported addons. Read-only. Backed by &#x60;ViewWebsite::getDetails()&#x60;. Internal &#x60;admin_links&#x60;, &#x60;settings&#x60;, &#x60;csrf&#x60;, and &#x60;serviceMaster.website_key&#x60; (the API key) are stripped before return. Use to render a website detail page, verify ownership before mutating, or poll &#x60;website_status&#x60; after &#x60;addWebsite&#x60;. Sibling ops: &#x60;getWebsiteList&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns** (schema &#x60;Website&#x60;): - &#x60;serviceInfo&#x60; — &#x60;website_id&#x60;, &#x60;website_hostname&#x60;, &#x60;website_username&#x60;, &#x60;website_ip&#x60;, &#x60;website_server&#x60;, &#x60;website_type&#x60; (plan id), &#x60;website_status&#x60;, &#x60;website_comment&#x60;. - &#x60;serviceMaster&#x60; — host-server row (cPanel/DA/Plesk hostname, panel URL). &#x60;website_key&#x60; is stripped. - &#x60;serviceType&#x60; — plan row (&#x60;services_ourcost&#x60; stripped). - &#x60;client_links&#x60; (array) — &#x60;{name, link, icon}&#x60; for restart, login, backup, etc. Internal &#x60;?link&#x3D;queue&amp;action&#x3D;...&#x60; URLs are pre-resolved to plain action names. - &#x60;serviceAddons&#x60; — extra IPs, additional resources.  **Auth:** Session/API key. Ownership enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text — webhosting reuses the helper) — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Login to panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Reverse DNS:** &#x60;gettWebsiteReverseDns&#x60;, &#x60;postWebsitesReverseDns&#x60;. - **Buy extra IP:** &#x60;getWebsiteBuyIp&#x60;, &#x60;postWebsiteBuyIp&#x60;. - **Migration:** &#x60;postWebsiteMigration&#x60;. - **Resend welcome email:** &#x60;getWebsitesWelcomeEmail&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebsiteInfoAsync(Integer id, final ApiCallback<Website> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebsiteInfoValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Website>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsiteInvoices
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsiteInvoicesCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/{id}/invoices"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsiteInvoicesValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getWebsiteInvoices(Async)");
        }
        
        com.squareup.okhttp.Call call = getWebsiteInvoicesCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * List all billing invoices and recurring charges scoped to one website
     * Returns the billing history for one webhosting service — initial purchase invoice, recurring monthly/period invoices, and any IP-addon invoices created via &#x60;postWebsiteBuyIp&#x60;. Backed by &#x60;Billing\\InvoicesList::go()&#x60; with &#x60;module&#x3D;&#x27;webhosting&#x27;&#x60; (same handler pattern as VPS/Mail/etc. per-service invoice endpoints). Use to render a per-website billing-history view or find an unpaid invoice id to pass to &#x60;initiatePayment&#x60;. Sibling ops: &#x60;getBillingInvoice&#x60;, &#x60;initiatePayment&#x60;, sibling cross-module: &#x60;getVpsInvoices&#x60;, &#x60;getDomainInvoices&#x60;, &#x60;getMailInvoices&#x60;. For account-wide history use top-level &#x60;getBillingInvoices&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** &#x60;ChargeInvoiceRows&#x60; — array of invoice rows: &#x60;id&#x60;, &#x60;amount&#x60;, &#x60;paid&#x60;, &#x60;description&#x60;, &#x60;date&#x60;, &#x60;due_date&#x60;, &#x60;currency&#x60;, &#x60;module&#x3D;webhosting&#x60;, &#x60;service&#x3D;{id}&#x60;.  **Auth:** Session/API key. Ownership enforced via parent website.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;400 Invalid Service&#x60; — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Single invoice detail:** &#x60;getBillingInvoice&#x60;. - **Pay an unpaid invoice:** &#x60;initiatePayment&#x60;. - **Account-wide history:** &#x60;getBillingInvoices&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ChargeInvoiceRows
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ChargeInvoiceRows getWebsiteInvoices(Integer id) throws ApiException {
        ApiResponse<ChargeInvoiceRows> resp = getWebsiteInvoicesWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * List all billing invoices and recurring charges scoped to one website
     * Returns the billing history for one webhosting service — initial purchase invoice, recurring monthly/period invoices, and any IP-addon invoices created via &#x60;postWebsiteBuyIp&#x60;. Backed by &#x60;Billing\\InvoicesList::go()&#x60; with &#x60;module&#x3D;&#x27;webhosting&#x27;&#x60; (same handler pattern as VPS/Mail/etc. per-service invoice endpoints). Use to render a per-website billing-history view or find an unpaid invoice id to pass to &#x60;initiatePayment&#x60;. Sibling ops: &#x60;getBillingInvoice&#x60;, &#x60;initiatePayment&#x60;, sibling cross-module: &#x60;getVpsInvoices&#x60;, &#x60;getDomainInvoices&#x60;, &#x60;getMailInvoices&#x60;. For account-wide history use top-level &#x60;getBillingInvoices&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** &#x60;ChargeInvoiceRows&#x60; — array of invoice rows: &#x60;id&#x60;, &#x60;amount&#x60;, &#x60;paid&#x60;, &#x60;description&#x60;, &#x60;date&#x60;, &#x60;due_date&#x60;, &#x60;currency&#x60;, &#x60;module&#x3D;webhosting&#x60;, &#x60;service&#x3D;{id}&#x60;.  **Auth:** Session/API key. Ownership enforced via parent website.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;400 Invalid Service&#x60; — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Single invoice detail:** &#x60;getBillingInvoice&#x60;. - **Pay an unpaid invoice:** &#x60;initiatePayment&#x60;. - **Account-wide history:** &#x60;getBillingInvoices&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ApiResponse&lt;ChargeInvoiceRows&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ChargeInvoiceRows> getWebsiteInvoicesWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = getWebsiteInvoicesValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<ChargeInvoiceRows>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List all billing invoices and recurring charges scoped to one website (asynchronously)
     * Returns the billing history for one webhosting service — initial purchase invoice, recurring monthly/period invoices, and any IP-addon invoices created via &#x60;postWebsiteBuyIp&#x60;. Backed by &#x60;Billing\\InvoicesList::go()&#x60; with &#x60;module&#x3D;&#x27;webhosting&#x27;&#x60; (same handler pattern as VPS/Mail/etc. per-service invoice endpoints). Use to render a per-website billing-history view or find an unpaid invoice id to pass to &#x60;initiatePayment&#x60;. Sibling ops: &#x60;getBillingInvoice&#x60;, &#x60;initiatePayment&#x60;, sibling cross-module: &#x60;getVpsInvoices&#x60;, &#x60;getDomainInvoices&#x60;, &#x60;getMailInvoices&#x60;. For account-wide history use top-level &#x60;getBillingInvoices&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Body:** None.  **Returns:** &#x60;ChargeInvoiceRows&#x60; — array of invoice rows: &#x60;id&#x60;, &#x60;amount&#x60;, &#x60;paid&#x60;, &#x60;description&#x60;, &#x60;date&#x60;, &#x60;due_date&#x60;, &#x60;currency&#x60;, &#x60;module&#x3D;webhosting&#x60;, &#x60;service&#x3D;{id}&#x60;.  **Auth:** Session/API key. Ownership enforced via parent website.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;400 Invalid Service&#x60; — &#x60;id&#x60; not owned by caller.  **Related calls:** - **Single invoice detail:** &#x60;getBillingInvoice&#x60;. - **Pay an unpaid invoice:** &#x60;initiatePayment&#x60;. - **Account-wide history:** &#x60;getBillingInvoices&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebsiteInvoicesAsync(Integer id, final ApiCallback<ChargeInvoiceRows> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebsiteInvoicesValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ChargeInvoiceRows>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsiteList
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsiteListCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "multipart/form-data"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsiteListValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getWebsiteListCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * List the caller&#x27;s webhosting (cPanel/DirectAdmin/Plesk/Webuzo) services
     * Enumerates every shared/reseller hosting account (\&quot;website\&quot;) owned by the authenticated customer. The canonical entry point for discovering a &#x60;website_id&#x60; to pass into other webhosting endpoints. Filtered server-side by &#x60;website_custid &#x3D; session account_id&#x60; — cross-customer leaks are not possible. Empty array means the account has no websites (not an error). Sibling ops: &#x60;getWebsiteInfo&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;, &#x60;getNewWebsite&#x60; (order a new one).  **Path/Query/Body:** None.  **Returns:** Array of &#x60;WebsiteRow&#x60; — per-website summary: - &#x60;website_id&#x60; (integer) — canonical id used in &#x60;/websites/{id}/_*&#x60; paths. - &#x60;website_hostname&#x60; (string) — primary FQDN. - &#x60;website_status&#x60; (string enum) — &#x60;pending&#x60; / &#x60;active&#x60; / &#x60;pending-cancel&#x60; / &#x60;canceled&#x60;. - &#x60;services_name&#x60; (string) — plan/package label (e.g. &#x60;Standard&#x60;, &#x60;Reseller&#x60;). - &#x60;repeat_invoices_cost&#x60; (decimal) — current recurring cost in the website&#x27;s billing currency. - &#x60;website_comment&#x60; (string|null) — customer-provided note.  **Auth:** Session/API key. Ownership filter enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Per-website detail:** &#x60;getWebsiteInfo&#x60; (full). - **Control panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore points:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Order a new site:** &#x60;getNewWebsite&#x60; → &#x60;putWebsites&#x60; → &#x60;addWebsite&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @return List&lt;WebsiteRow&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<WebsiteRow> getWebsiteList() throws ApiException {
        ApiResponse<List<WebsiteRow>> resp = getWebsiteListWithHttpInfo();
        return resp.getData();
    }

    /**
     * List the caller&#x27;s webhosting (cPanel/DirectAdmin/Plesk/Webuzo) services
     * Enumerates every shared/reseller hosting account (\&quot;website\&quot;) owned by the authenticated customer. The canonical entry point for discovering a &#x60;website_id&#x60; to pass into other webhosting endpoints. Filtered server-side by &#x60;website_custid &#x3D; session account_id&#x60; — cross-customer leaks are not possible. Empty array means the account has no websites (not an error). Sibling ops: &#x60;getWebsiteInfo&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;, &#x60;getNewWebsite&#x60; (order a new one).  **Path/Query/Body:** None.  **Returns:** Array of &#x60;WebsiteRow&#x60; — per-website summary: - &#x60;website_id&#x60; (integer) — canonical id used in &#x60;/websites/{id}/_*&#x60; paths. - &#x60;website_hostname&#x60; (string) — primary FQDN. - &#x60;website_status&#x60; (string enum) — &#x60;pending&#x60; / &#x60;active&#x60; / &#x60;pending-cancel&#x60; / &#x60;canceled&#x60;. - &#x60;services_name&#x60; (string) — plan/package label (e.g. &#x60;Standard&#x60;, &#x60;Reseller&#x60;). - &#x60;repeat_invoices_cost&#x60; (decimal) — current recurring cost in the website&#x27;s billing currency. - &#x60;website_comment&#x60; (string|null) — customer-provided note.  **Auth:** Session/API key. Ownership filter enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Per-website detail:** &#x60;getWebsiteInfo&#x60; (full). - **Control panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore points:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Order a new site:** &#x60;getNewWebsite&#x60; → &#x60;putWebsites&#x60; → &#x60;addWebsite&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @return ApiResponse&lt;List&lt;WebsiteRow&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<WebsiteRow>> getWebsiteListWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getWebsiteListValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<List<WebsiteRow>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List the caller&#x27;s webhosting (cPanel/DirectAdmin/Plesk/Webuzo) services (asynchronously)
     * Enumerates every shared/reseller hosting account (\&quot;website\&quot;) owned by the authenticated customer. The canonical entry point for discovering a &#x60;website_id&#x60; to pass into other webhosting endpoints. Filtered server-side by &#x60;website_custid &#x3D; session account_id&#x60; — cross-customer leaks are not possible. Empty array means the account has no websites (not an error). Sibling ops: &#x60;getWebsiteInfo&#x60;, &#x60;getWebsitesLogin&#x60;, &#x60;getWebsitesBackups&#x60;, &#x60;getWebsiteInvoices&#x60;, &#x60;webhostingCancel&#x60;, &#x60;getNewWebsite&#x60; (order a new one).  **Path/Query/Body:** None.  **Returns:** Array of &#x60;WebsiteRow&#x60; — per-website summary: - &#x60;website_id&#x60; (integer) — canonical id used in &#x60;/websites/{id}/_*&#x60; paths. - &#x60;website_hostname&#x60; (string) — primary FQDN. - &#x60;website_status&#x60; (string enum) — &#x60;pending&#x60; / &#x60;active&#x60; / &#x60;pending-cancel&#x60; / &#x60;canceled&#x60;. - &#x60;services_name&#x60; (string) — plan/package label (e.g. &#x60;Standard&#x60;, &#x60;Reseller&#x60;). - &#x60;repeat_invoices_cost&#x60; (decimal) — current recurring cost in the website&#x27;s billing currency. - &#x60;website_comment&#x60; (string|null) — customer-provided note.  **Auth:** Session/API key. Ownership filter enforced via &#x60;website_custid&#x60;.  **Errors:** - &#x60;401&#x60; — unauthenticated.  **Related calls:** - **Per-website detail:** &#x60;getWebsiteInfo&#x60; (full). - **Control panel:** &#x60;getWebsitesLogin&#x60; (auto-login URL). - **Backups + restore points:** &#x60;getWebsitesBackups&#x60;. - **Billing:** &#x60;getWebsiteInvoices&#x60;. - **Order a new site:** &#x60;getNewWebsite&#x60; → &#x60;putWebsites&#x60; → &#x60;addWebsite&#x60;. - **Cancel:** &#x60;webhostingCancel&#x60;. 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebsiteListAsync(final ApiCallback<List<WebsiteRow>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebsiteListValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<WebsiteRow>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsitesBackups
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsitesBackupsCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/{id}/backups"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsitesBackupsValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getWebsitesBackups(Async)");
        }
        
        com.squareup.okhttp.Call call = getWebsitesBackupsCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * List off-site cpmove backups stored in Swift — list or inline-download archive
     * Returns the list of off-site cpmove backups stored for the webhosting account, or — with the &#x60;download&#x3D;&lt;name&gt;&#x60; query param — inline-streams the chosen archive as base64. Backups are read from the OpenStack Swift container &#x60;serviceMaster.website_name&#x60; (authenticated with &#x60;SWIFT_WEBHOSTING_USER&#x60;/&#x60;SWIFT_WEBHOSTING_PASS&#x60;) and filtered to objects matching &#x60;cpmove-{website_username}-*&#x60;. Use to find restore points before a risky change or before &#x60;webhostingCancel&#x60;. Empty array means no off-site cpmoves have been pushed for this account. Sibling ops: &#x60;webhostingCancel&#x60; (snapshot before terminating), &#x60;getWebsiteInfo&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Query params:** - &#x60;download&#x60; (string, optional) — when set to a backup &#x60;name&#x60; from the list, switches to inline download mode (returns the file base64-encoded). **Large payload** — only fetch when actually restoring.  **Returns:** - **List mode** (no &#x60;download&#x60;): array of &#x60;{name: \&quot;&lt;cpmove-...&gt;\&quot;, size: \&quot;&lt;human-scaled&gt;\&quot;}&#x60; (size from &#x60;Content-Length&#x60; via &#x60;Scale($len, &#x27;bytes&#x27;, 1)&#x60;). - **Download mode** (&#x60;?download&#x3D;&lt;name&gt;&#x60;): single object &#x60;{name, size, file: \&quot;&lt;base64-encoded-archive&gt;\&quot;}&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text) — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Take a backup before cancelling:** &#x60;getWebsitesBackups&#x60; (with &#x60;download&#x3D;&#x60;) → &#x60;webhostingCancel&#x60;. - **Migrate to/from another host:** &#x60;postWebsiteMigration&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return WebsiteBackups
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public WebsiteBackups getWebsitesBackups(Integer id) throws ApiException {
        ApiResponse<WebsiteBackups> resp = getWebsitesBackupsWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * List off-site cpmove backups stored in Swift — list or inline-download archive
     * Returns the list of off-site cpmove backups stored for the webhosting account, or — with the &#x60;download&#x3D;&lt;name&gt;&#x60; query param — inline-streams the chosen archive as base64. Backups are read from the OpenStack Swift container &#x60;serviceMaster.website_name&#x60; (authenticated with &#x60;SWIFT_WEBHOSTING_USER&#x60;/&#x60;SWIFT_WEBHOSTING_PASS&#x60;) and filtered to objects matching &#x60;cpmove-{website_username}-*&#x60;. Use to find restore points before a risky change or before &#x60;webhostingCancel&#x60;. Empty array means no off-site cpmoves have been pushed for this account. Sibling ops: &#x60;webhostingCancel&#x60; (snapshot before terminating), &#x60;getWebsiteInfo&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Query params:** - &#x60;download&#x60; (string, optional) — when set to a backup &#x60;name&#x60; from the list, switches to inline download mode (returns the file base64-encoded). **Large payload** — only fetch when actually restoring.  **Returns:** - **List mode** (no &#x60;download&#x60;): array of &#x60;{name: \&quot;&lt;cpmove-...&gt;\&quot;, size: \&quot;&lt;human-scaled&gt;\&quot;}&#x60; (size from &#x60;Content-Length&#x60; via &#x60;Scale($len, &#x27;bytes&#x27;, 1)&#x60;). - **Download mode** (&#x60;?download&#x3D;&lt;name&gt;&#x60;): single object &#x60;{name, size, file: \&quot;&lt;base64-encoded-archive&gt;\&quot;}&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text) — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Take a backup before cancelling:** &#x60;getWebsitesBackups&#x60; (with &#x60;download&#x3D;&#x60;) → &#x60;webhostingCancel&#x60;. - **Migrate to/from another host:** &#x60;postWebsiteMigration&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ApiResponse&lt;WebsiteBackups&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<WebsiteBackups> getWebsitesBackupsWithHttpInfo(Integer id) throws ApiException {
        com.squareup.okhttp.Call call = getWebsitesBackupsValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<WebsiteBackups>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List off-site cpmove backups stored in Swift — list or inline-download archive (asynchronously)
     * Returns the list of off-site cpmove backups stored for the webhosting account, or — with the &#x60;download&#x3D;&lt;name&gt;&#x60; query param — inline-streams the chosen archive as base64. Backups are read from the OpenStack Swift container &#x60;serviceMaster.website_name&#x60; (authenticated with &#x60;SWIFT_WEBHOSTING_USER&#x60;/&#x60;SWIFT_WEBHOSTING_PASS&#x60;) and filtered to objects matching &#x60;cpmove-{website_username}-*&#x60;. Use to find restore points before a risky change or before &#x60;webhostingCancel&#x60;. Empty array means no off-site cpmoves have been pushed for this account. Sibling ops: &#x60;webhostingCancel&#x60; (snapshot before terminating), &#x60;getWebsiteInfo&#x60;.  **Path param:** - &#x60;id&#x60; (integer, required) — &#x60;website_id&#x60; from &#x60;getWebsiteList&#x60;.  **Query params:** - &#x60;download&#x60; (string, optional) — when set to a backup &#x60;name&#x60; from the list, switches to inline download mode (returns the file base64-encoded). **Large payload** — only fetch when actually restoring.  **Returns:** - **List mode** (no &#x60;download&#x60;): array of &#x60;{name: \&quot;&lt;cpmove-...&gt;\&quot;, size: \&quot;&lt;human-scaled&gt;\&quot;}&#x60; (size from &#x60;Content-Length&#x60; via &#x60;Scale($len, &#x27;bytes&#x27;, 1)&#x60;). - **Download mode** (&#x60;?download&#x3D;&lt;name&gt;&#x60;): single object &#x60;{name, size, file: \&quot;&lt;base64-encoded-archive&gt;\&quot;}&#x60;.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - &#x60;401&#x60; — unauthenticated. - &#x60;404 Invalid VPS Passed&#x60; (legacy text) — &#x60;id&#x60; not owned by caller. - &#x60;409 Website is not active&#x60; — &#x60;website_status !&#x3D; \&quot;active\&quot;&#x60;.  **Related calls:** - **Take a backup before cancelling:** &#x60;getWebsitesBackups&#x60; (with &#x60;download&#x3D;&#x60;) → &#x60;webhostingCancel&#x60;. - **Migrate to/from another host:** &#x60;postWebsiteMigration&#x60;. 
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebsitesBackupsAsync(Integer id, final ApiCallback<WebsiteBackups> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebsitesBackupsValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<WebsiteBackups>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebsitesLogin
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebsitesLoginCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/websites/{id}/login"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKeyAuth", "sessionIdCookieAuth", "sessionIdHeaderAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebsitesLoginValidateBeforeCall(Integer id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getWebsitesLogin(Async)");
        }
        
        com.squareup.okhttp.Call call = getWebsitesLoginCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get a one-time auto-login URL for the website&#x27;s control panel
[...]
