/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.IpObject
import org.openapitools.client.model.License
import org.openapitools.client.model.LicenseOrderRequest
import org.openapitools.client.model.LicenseRow
import org.openapitools.client.model.LicensesCancel200Response
import org.openapitools.client.model.LicensesOrder
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object LicensesApi {
  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new LicensesApi(baseUrl)
}

class LicensesApi(baseUrl: String) {

  /**
   * Places an order for a new software license (cPanel, Plesk, LiteSpeed, etc.). Re-runs validate_buy_license then place_buy_license, which creates the repeat_invoices row, the first invoice, and queues payment processing. Always call putLicenses first to surface validation errors cheaply; addLicense re-validates and returns error JSON if continue=false. Body (form or JSON): package (services_id from getNewLicense), ip (target server IP the license binds to), frequency (billing months), coupon, comment, tos (truthy). No path params. Returns ServiceOrderPostResponse with the new service id and invoice info. Errors: 401 unauthenticated; validation or payment failures return json_error with the underlying message. Caveat: provisioning is asynchronous — poll getLicenseInfo for status.  Sibling ops: `getNewLicense` (catalog), `putLicenses` (validate), `getLicenseInfo` (poll status), `getLicenseInvoices`, `getBillingInvoice` + `initiatePayment` (settle invoice), `licensesCancel`.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/billing/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param licenseOrderRequest 
   */
  def addLicense(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(licenseOrderRequest: LicenseOrderRequest
): Request[Either[ResponseException[String, Exception], ServiceOrderPostResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/licenses/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(licenseOrderRequest)
      .response(asJson[ServiceOrderPostResponse])

  /**
   * Returns rich detail for a single license service: serviceInfo row (license_id, hostname, license_ip, license_status, license_type), the underlying services row (name, cost, frequency), client_links for self-service actions (change IP, cancel, resend welcome email, view invoices), and provisioning state. Use after getLicenseList to drill into a specific license, or as the canonical lookup before postLicenseChangeIp / licensesCancel / getLicenseInvoices. Path: id (license_id from list). No body. Errors: 401 unauthenticated; 404 if id is invalid or owned by a different customer. Caveat: admin_links/settings/csrf are stripped — use admin endpoints for those. Sibling endpoints: updateLicenseInfo (mutate fields), postLicenseChangeIp.
   * 
   * Expected answers:
   *   code 200 : License (License information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicenseInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], License], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/licenses/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[License])

  /**
   * Returns the full invoice history for a single license service: the original setup invoice plus every recurring renewal invoice generated by the repeat_invoices entry. Use this for billing reconciliation, to display past charges in the customer UI, or to confirm a renewal posted before contacting support. Path: id (license_id from getLicenseList). No body. Returns ChargeInvoiceRows: an array of invoice rows with id, date, amount, paid status, and payment method. Errors: 401 unauthenticated; returns success=false with HTTP 400 if the service id is invalid or owned by a different customer. Caveat: only invoices linked via repeat_invoices_id are included — manual one-off charges from staff may not appear here. Sibling endpoints: getLicenseInfo, licensesCancel.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicenseInvoices(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], ChargeInvoiceRows], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/licenses/${id}/invoices")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[ChargeInvoiceRows])

  /**
   * Lists every software license service (cPanel, Plesk, LiteSpeed, CloudLinux, etc.) on the authenticated customer's account. Use this as the entry point for license management to discover the license_id needed by every other Licenses endpoint. Returns an array of rows including license_id, hostname, bound IP, services_name (license type), recurring cost, status (pending/active/canceled), and last invoice date/paid state. No path or query parameters; the customer scope is taken from the session. Errors: 401 when the session is missing or expired. Caveats: list is unpaginated, includes canceled rows so callers should filter by status. Sibling: getLicenseInfo for full details on one license.
   * 
   * Expected answers:
   *   code 200 : Seq[LicenseRow] (The listing of `Licenses` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getLicenseList(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], Seq[LicenseRow]], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/licenses")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Seq[LicenseRow]])

  /**
   * Resends the welcome email for an active license to the account email on file. The email contains the license key, the bound IP, and vendor-specific activation instructions (e.g. cPanel /usr/local/cpanel/cpkeyclt, LiteSpeed lswsctrl). Use this when the customer lost the original email or rotated mailboxes — the key itself is unchanged. Path: id (license_id). No body. Returns SuccessTextResponse with a translated confirmation. Errors: 401 unauthenticated; 404 if the id is invalid or not owned by the session customer; 409 if the license status is not active (cancelled licenses cannot resend). Caveat: delivery is best-effort — check the email log if it does not arrive. Sibling endpoints: getLicenseInfo, postLicenseChangeIp.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicensesWelcomeEmail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], SuccessTextResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/licenses/${id}/welcome_email")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

  /**
   * Returns the catalog needed to build the license-order form: service categories (category_id->name), buyable service types (services_id, name, cost, billing frequency), package costs map keyed by services_id, the customer's currency symbol, and per-package field metadata via get_license_fields. Use this before addLicense to render type/package pickers and to validate a chosen package_id exists and is buyable (services_hidden=0, services_buyable=1). No path params or body. Returns LicensesOrder schema. Errors: 401 if unauthenticated. Sibling endpoints: putLicenses (validate selection), addLicense (place order). Note: pricing is converted to the session currency; coupon/IP/frequency are evaluated in the validate step, not here.
   * 
   * Expected answers:
   *   code 200 : LicensesOrder (License ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewLicense(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], LicensesOrder], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/licenses/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[LicensesOrder])

  /**
   * Cancels a license service: invokes cancel_service which marks the service canceled, deactivates the license key with the upstream vendor, and stops the recurring invoice so no further charges occur. Use carefully — once vendor-side deactivation propagates the key stops working on the bound machine. Path: id (license_id from getLicenseList). No body. Returns LicensesCancelResponse with success and a translated text message. Errors: 401 unauthenticated; the underlying handler returns success=false JSON if the service id is invalid or cancellation fails (contact support path). Caveats: no prorated refund by default; pre-paid time is forfeited per TOS. Sibling endpoints: getLicenseInfo, getLicenseInvoices for billing history before cancelling.
   * 
   * Expected answers:
   *   code 200 : LicensesCancel200Response (License Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def licensesCancel(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], LicensesCancel200Response], Any] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/licenses/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[LicensesCancel200Response])

  /**
   * Changes the IP address that the license is bound to and triggers re-issuance with the upstream vendor (cPanel store, LiteSpeed key server, Plesk, etc.). The service must be active. Use getLicenseInfo first to read the current license_ip, then submit the new IP. Path: id (license_id). Body (JSON or multipart): IpObject with the new ip field. Returns SuccessTextResponse on success. Errors: 401 unauthenticated; 404 invalid id or not owned; 409 if status != active; 422-style failures from the vendor are returned via json_error with the upstream status_text. Caveats: many vendors charge a per-change fee and rate-limit changes (e.g. cPanel allows limited free changes per period); the new IP must be reachable for license verification. Sibling: updateLicenseInfo.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   * @param ipObject 
   */
  def postLicenseChangeIp(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, ipObject: IpObject
): Request[Either[ResponseException[String, Exception], SuccessTextResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/licenses/${id}/change_ip")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(ipObject)
      .response(asJson[SuccessTextResponse])

  /**
   * Dry-runs validate_buy_license against the same payload addLicense will accept, returning a structured result with continue=true/false plus errors[], normalized package, ip, service_cost, original_cost, coupon_code, custid, currency and service_extra. Always call this before addLicense to surface package/IP/coupon/TOS issues without creating an invoice. Body fields (form or JSON): package (services_id), ip, frequency (billing cycle months), coupon, comment, tos. No path params. Returns the validation object. Errors: 401 unauthenticated; 422-style errors are returned inside the body with continue=false rather than as HTTP errors. Caveat: a valid PUT does not reserve inventory; addLicense re-validates. Sibling: addLicense, getNewLicense.
   * 
   * Expected answers:
   *   code 200 :  (Validate Licenses order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param licenseOrderRequest 
   */
  def putLicenses(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(licenseOrderRequest: LicenseOrderRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.PUT, uri"$baseUrl/licenses/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(licenseOrderRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Updates settings on an existing license service. The primary mutable field is the bound IP, but the endpoint shares routing with View::go so other future fields flow through here. For IP changes prefer postLicenseChangeIp which has explicit semantics and triggers vendor rebinding. Path: id (license_id). Body: fields to update (form or JSON); shape varies by license type. Returns SuccessTextResponse. Errors: 401 unauthenticated; 404 if id is invalid or not owned; 409 if license is not active. Caveats: vendor-side propagation (cPanel store, LiteSpeed key server, etc.) is asynchronous; some IP/hostname changes incur a fee per vendor policy. Sibling: getLicenseInfo (read), postLicenseChangeIp (dedicated).
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def updateLicenseInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: String
): Request[Either[ResponseException[String, Exception], SuccessTextResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/licenses/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

}
