//
// MailAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class MailAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://my.interserver.net/apiv2")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AddMailError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "AddMailError: Unauthorized: \(object)"
            }
        }
    }

    /// Place a new Mail Baby order, generate invoice, and queue provisioning
    /// - POST /mail/order
    /// - Step 3 of the Mail Baby order flow. Revalidates via `validate_buy_mail()`, then calls `place_buy_mail()` to create a `Repeat_Invoice` recurring billing row, an initial `invoices` row, and a `mail` service record in pending status. SMTP credentials become active once the activation worker runs the welcome email (after the invoice is paid). **Real money** — call `putMail` first. Sibling ops: `getNewMail`, `putMail`, `getMailInfo`, `initiatePayment`.  **Body fields:** - `serviceType` (integer, required) — plan id from `getNewMail`. - `coupon` (string, optional). - `comment` (string, optional) — saved on the order row.  **Returns** (on success): `{continue: true, total_cost, iid, iids, real_iids, serviceId (new mail_id), invoice_description, cj_params}` — pass `real_iids` to `initiatePayment`. On validation failure: `{continue: false, errors: [...]}` with HTTP 200.  **Side effects:** - Inserts `mail` service row in `pending` status. - Inserts `repeat_invoices` + `invoices` rows.  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Pay:** `initiatePayment` with `real_iids`. - **Confirm activation:** `getMailInfo` (poll until `mail_status=='active'`). - **Resend credentials:** `getMailWelcomeEmail`.  **Full ordering happy path:** ```text GET /mail/order                                    -> catalog (getNewMail) PUT /mail/order { serviceType, coupon? }           -> quote (putMail) POST /mail/order { serviceType, coupon?, comment? } -> { serviceId, real_iids } GET /billing/pay/cc/{real_iids[0]}                 -> pay (initiatePayment) GET /mail/{serviceId}                              -> poll until mail_status=='active' ``` 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter mailOrderRequest: (body)  
    /// - returns: AnyPublisher<ServiceOrderPostResponse, Error> 
    open func addMail(mailOrderRequest: MailOrderRequest) -> AnyPublisher<ServiceOrderPostResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mail/order"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(mailOrderRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServiceOrderPostResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddMailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServiceOrderPostResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum AddRuleError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "AddRuleError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "AddRuleError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "AddRuleError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Create a new deny rule to auto-block matching submissions
    /// - POST /mail/{id}/rules
    /// - Inserts a new `mail_spam` row scoped to this service's `mail_username` so the relay drops matching submissions. Sibling ops: `getRules`, `updateRule`, `deleteRule`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `DenyRuleNew`):** - `type` (string, required) — `domain` / `email` / `startswith` / `destination`. - `data` (string, required) — literal value matched; validation: no quotes, valid domain for `type=domain`, valid email for `type=email`, `[A-Z0-9+_.-]+` for `startswith`.  **Returns:** `\"Spam Block Added\"`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** field-level errors on validation failure, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter denyRuleNew: (body) These are the fields needed to create a new email deny rule. 
    /// - returns: AnyPublisher<GenericResponse, Error> 
    open func addRule(id: Int, denyRuleNew: DenyRuleNew) -> AnyPublisher<GenericResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/rules"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(denyRuleNew)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GenericResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddRuleError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddRuleError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddRuleError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(GenericResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum CreateMailAlertError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "CreateMailAlertError: Unauthorized: \(object)"
            }
        }
    }

    /// Create a new Mail Baby alert for delivery, bounce, or quota events
    /// - POST /mail/{id}/alerts
    /// - Inserts a new alert row via the `Alert` ORM. The new `alert_id` is retrievable via `getMailAlerts`. Sibling ops: `getMailAlerts`, `updateMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailAlertRequest`):** - `type` (string, required). - `value` (string/numeric, required) — threshold. - `to` (string, required) — notification email; validated via `FILTER_VALIDATE_EMAIL`. - `enabled` (bool, optional).  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** field-level errors for missing/invalid body, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter mailAlertRequest: (body)  
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func createMailAlert(id: Int, mailAlertRequest: MailAlertRequest) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/alerts"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(mailAlertRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return CreateMailAlertError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeleteMailAlertError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "DeleteMailAlertError: Unauthorized: \(object)"
            }
        }
    }

    /// Delete a Mail Baby alert by alert_id (hard delete — no recovery)
    /// - DELETE /mail/{id}/alerts
    /// - Hard-deletes a single alert row. Handler verifies the alert belongs to this service+module before deleting. **Irreversible** — no history is preserved; recreate via `createMailAlert` if needed. Sibling ops: `getMailAlerts`, `createMailAlert`, `updateMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields:** - `alert_id` (integer, required) — from `getMailAlerts`.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid alert!` (alert not owned), `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter deleteMailAlertRequest: (body)  
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func deleteMailAlert(id: Int, deleteMailAlertRequest: DeleteMailAlertRequest) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/alerts"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                request.httpBody = try self.encoder.encode(deleteMailAlertRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteMailAlertError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeleteRuleError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "DeleteRuleError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "DeleteRuleError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "DeleteRuleError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Delete a Mail Baby deny rule by rule ID (hard delete — no recovery)
    /// - DELETE /mail/{id}/rules/{rule}
    /// - Hard-deletes a single `mail_spam` row scoped to this service's `mail_username`. **Irreversible** — no audit copy preserved. Query filter `id={rule} AND user='{mail_username}'` prevents cross-tenant deletes; passing a `rule` belonging to a different mail order is silently a no-op (still returns success). Sibling ops: `getRules`, `addRule`, `updateRule`.  **Path params:** - `id` (integer, required) — `mail_id` from `getMailList`. - `rule` (string, required) — rule id from `getRules`.  **Returns:** `\"Block deleted successfully.\"`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter rule: (path) The ID of the Rules entry. 
    /// - returns: AnyPublisher<GenericResponse, Error> 
    open func deleteRule(id: Int, rule: String) -> AnyPublisher<GenericResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/rules/{rule}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                localVarPath = localVarPath.replacingOccurrences(of: "{rule}", with: rule)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GenericResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteRuleError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteRuleError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteRuleError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(GenericResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DelistBlockError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "DelistBlockError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "DelistBlockError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "DelistBlockError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Delist a sender email from rspamd / mailchannels / mailbaby block lists
    /// - POST /mail/{id}/blocks/delete
    /// - Removes block rows for the supplied email across the three reputation stores: `rspamd` (by `fromemail`), `mailchannels` (by `email`), `mailbaby` (by `emailfrom`). Functionally equivalent to `postMailDelist` but uses `email` parameter naming and returns 400 (not error JSON) for an invalid address. Sibling ops: `getMailBlocks`, `getMailDelist`, `postMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `EmailAddress`):** - `email` (string, required) — sender address; validated via `FILTER_VALIDATE_EMAIL`.  **Returns:** `{status: \"ok\", text: \"Email '...' removed from block list\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `400` invalid email, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter email: (form) an email address (optional)
    /// - returns: AnyPublisher<GenericResponse, Error> 
    open func delistBlock(id: Int, email: String? = nil) -> AnyPublisher<GenericResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/blocks/delete"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				if let email = email {
					let emailHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"email\"\r\n")
					    .appending("\r\n")
					multipartData.append(emailHeader.data(using: .utf8) ?? Data())
					multipartData.append(email.data(using: .utf8) ?? Data())
				}

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GenericResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DelistBlockError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DelistBlockError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DelistBlockError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(GenericResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailAlertsError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailAlertsError: Unauthorized: \(object)"
            }
        }
    }

    /// List configured delivery/bounce/quota alerts for one Mail Baby service
    /// - GET /mail/{id}/alerts
    /// - Returns every alert row from `alerts` matching this service. Each row carries `alert_id` (use with PUT/DELETE), `alert_type`, `alert_value` (threshold), `alert_to` (notification email), `alert_enabled`, and timestamps. Sibling ops: `createMailAlert`, `updateMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailAlertsResponse`): array of alert rows.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailAlertsResponse, Error> 
    open func getMailAlerts(id: Int) -> AnyPublisher<MailAlertsResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/alerts"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailAlertsResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailAlertsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailAlertsResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailBlocksError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // Unauthorized
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailBlocksError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "GetMailBlocksError: Unauthorized: \(object)"
            }
        }
    }

    /// List recent local-blocklist hits and spam-trap captures for the mail user
    /// - GET /mail/{id}/blocks
    /// - Returns relay-side block events for the SMTP user behind `mail_id` — the last 24 hours of `LOCAL_BL_RCPT` and `MBTRAP` rspamd hits, plus a 3-day window of suspicious-subject hits (credential-leak heuristic firing on subjects containing `@` / `smtp` / `socks5` / `socks4` more than 4 times). Use the `from` value with `delistBlock` or `postMailDelist` to clear a block. Sibling ops: `delistBlock`, `getMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailBlocks`): - `local` (array) — rspamd `LOCAL_BL_RCPT` hits: `{date, from, messageId, subject, to}`. - `mbtrap` (array) — spam-trap captures (`MBTRAP` symbol): same shape. - `subject` (array) — senders flagged by subject-line heuristic: `{from, subject}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller. - `409` — `mail_status != \"active\"`.  **Related calls:** - **Clear a block:** `delistBlock` (POST `/mail/{id}/blocks/delete`). - **Broader delist UI:** `getMailDelist`, `postMailDelist`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailBlocks, Error> 
    open func getMailBlocks(id: Int) -> AnyPublisher<MailBlocks, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/blocks"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailBlocks, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailBlocksError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailBlocksError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailBlocks.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailDelistError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailDelistError: Unauthorized: \(object)"
            }
        }
    }

    /// Read blocklist diagnostics and find senders eligible for delisting
    /// - GET /mail/{id}/delist
    /// - Returns a richer diagnostic snapshot than `getMailBlocks` — intended for the delist UI. Use any `SMTPFrom`/`from` value as the `unblock` field for `postMailDelist`. Sibling ops: `postMailDelist`, `getMailBlocks`, `delistBlock`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailDelistResponse`): - `id` (integer) — `mail_id` echo. - `local`, `mbtrap` (array) — last 24h rspamd hits with capitalized keys (`Date`, `SMTPFrom`, `MessageId`, `Subject`, `MimeRecipients`). - `subject` (array) — credential-leak-heuristic firings (3-day window). - `manual` (array) — manually added blocks.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailDelistResponse, Error> 
    open func getMailDelist(id: Int) -> AnyPublisher<MailDelistResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/delist"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailDelistResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailDelistError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailDelistResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailDeliverabilityError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailDeliverabilityError: Unauthorized: \(object)"
            }
        }
    }

    /// Read delivered vs bounced totals broken down by sender (or by recipient domain)
    /// - GET /mail/{id}/deliverability
    /// - Returns deliverability analytics from `MailDeliveryStats` (Dragonfly cache) for the SMTP user behind `mail_id`. Default pivot is by sender; pass `?filter_domain=1` to pivot by recipient domain for the current year instead. Use to drive analytics dashboards. Sibling ops: `getStats`, `viewMailLog`, `getMailBlocks`, `getMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Query params:** - `filter_domain` (string `1`, optional) — pivot by recipient domain instead of sender.  **Returns** (schema `MailDeliverabilityResponse`): - `stat`: `{delivered, bounced, percent}` — totals and bounce ratio. - `header` (string), `col1` (string) — table headers. - `table_data` (array) — rows of `[<sender-or-domain>, bounced, delivered, bouncePercent]`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailDeliverabilityResponse, Error> 
    open func getMailDeliverability(id: Int) -> AnyPublisher<MailDeliverabilityResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/deliverability"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailDeliverabilityResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailDeliverabilityError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailDeliverabilityResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Read full detail for one Mail Baby service including SMTP credentials
    /// - GET /mail/{id}
    /// - Returns the full `ViewMail` payload for one Mail Baby service — `serviceInfo`, `serviceType`, and `client_links` (URLs rewritten to API paths, e.g. `view_mail_log` → `log`). Admin fields (`admin_links`, `settings`, `csrf`) stripped. Use to render a service dashboard or retrieve SMTP host/username for MTA configuration. Sibling ops: `getMailList`, `updateMailInfo`, `mailCancel`, `resetMailPassword`, `getMailWelcomeEmail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailSchema`): - `serviceInfo` — `mail_id`, `mail_username` (e.g. `mb1234`), `mail_status`, `mail_invoice`, `mail_custid`, dates, currency. - `serviceType` — plan row (`services_ourcost` stripped). - `client_links` (array) — action URLs (log, alerts, blocks, etc.).  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller.  **Related calls:** - **Send:** `sendMail` / `sendAdvMail`. - **Rotate password:** `resetMailPassword`. - **Reset credentials:** `getMailWelcomeEmail`. - **Cancel:** `mailCancel`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailSchema, Error> 
    open func getMailInfo(id: Int) -> AnyPublisher<MailSchema, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailSchema, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailSchema.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailInvoicesError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailInvoicesError: Unauthorized: \(object)"
            }
        }
    }

    /// List billing invoices linked to this Mail Baby service
    /// - GET /mail/{id}/invoices
    /// - Returns every invoice associated with this `mail_id` via the shared `InvoicesList` workflow. Use to render per-service billing history or find unpaid invoices to pay via `initiatePayment`. Sibling ops: `getBillingInvoice`, `initiatePayment`, `addMail`, `mailCancel`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `ChargeInvoiceRows` — array of `{id, amount, currency, paid, date, due_date, description, module: \"mail\", service}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404 Invalid Service`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<ChargeInvoiceRows, Error> 
    open func getMailInvoices(id: Int) -> AnyPublisher<ChargeInvoiceRows, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/invoices"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ChargeInvoiceRows, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailInvoicesError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ChargeInvoiceRows.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailListError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailListError: Unauthorized: \(object)"
            }
        }
    }

    /// List every Mail Baby SMTP relay service on the account
    /// - GET /mail
    /// - Enumerates every Mail Baby SMTP relay service owned by the authenticated customer. Canonical entry point for finding a `mail_id` to pass to other Mail endpoints. Filtered server-side by `mail_custid`. Sibling ops: `getMailInfo`, `getStats`, `viewMailLog`, `getMailDeliverability`, `getMailBlocks`, `getMailInvoices`, `addMail`.  **Path/Query/Body:** None.  **Returns:** Array of `MailRow`: - `mail_id` (integer) — canonical id. - `mail_username` (string) — SMTP username (e.g. `mb1234`). - `mail_status` (string enum) — `active` / `pending` / `canceled` / `suspended`. - `services_name` (string) — plan label. - `repeat_invoices_cost` (decimal string) — recurring cost.  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Per-service detail:** `getMailInfo`. - **Send mail:** `sendMail` / `sendAdvMail`. - **Reputation:** `getMailDeliverability` / `getMailBlocks` / `getMailDelist`. - **Order a new service:** `getNewMail` → `putMail` → `addMail`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<[MailRow], Error> 
    open func getMailList() -> AnyPublisher<[MailRow], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mail"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[MailRow], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([MailRow].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMailWelcomeEmailError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMailWelcomeEmailError: Unauthorized: \(object)"
            }
        }
    }

    /// Resend the Mail Baby welcome email with SMTP credentials and setup info
    /// - GET /mail/{id}/welcome_email
    /// - Re-runs the `mail_welcome_email` plugin function — composes and sends the standard welcome email (SMTP host `relay.mailbaby.net`, port, username `mb{mail_id}`, current password, configuration tips) to the account-on-file. Use after `resetMailPassword` to redeliver the rotated credential, or when a customer reports losing the original setup email. Idempotent. Sibling ops: `resetMailPassword`, `getMailInfo`. Cross-module welcome-email endpoints: `getVpsWelcomeEmail`, `getWebsitesWelcomeEmail`, `getDomainsWelcomeEmail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `{text: \"Welcome Email has been resent.\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func getMailWelcomeEmail(id: Int) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/welcome_email"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMailWelcomeEmailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetNewMailError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetNewMailError: Unauthorized: \(object)"
            }
        }
    }

    /// Read the Mail Baby order catalog — plans, package costs, service-type metadata
    /// - GET /mail/order
    /// - Step 1 of the Mail Baby order flow. Returns the catalog used to bootstrap an order form: `packageCosts` keyed by `services_id` (only buyable services where `services_buyable=1`) and the full `serviceTypes` map. Read-only. Pricing is normalized to the customer's currency via `getCurrency()`. Sibling ops: `putMail`, `addMail`, `getMailList`.  **Path/Query/Body:** None.  **Returns** (schema `MailOrder`): - `packageCosts` (object) — `{<services_id>: <cost>}` per buyable plan. - `serviceTypes` (object) — full service-types registry (plan metadata).  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Next:** `putMail` (validate + quote — no charge), `addMail` (place order). 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<MailOrder, Error> 
    open func getNewMail() -> AnyPublisher<MailOrder, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mail/order"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailOrder, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetNewMailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailOrder.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetRulesError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // Unauthorized
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetRulesError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "GetRulesError: Unauthorized: \(object)"
            }
        }
    }

    /// List configured deny rules (sender/recipient blocks) for a Mail Baby service
    /// - GET /mail/{id}/rules
    /// - Returns every `mail_spam` row scoped to this service's `mail_username` — local sender/recipient block rules the customer has configured. Sibling ops: `addRule`, `updateRule`, `deleteRule`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** Array of `DenyRuleRecord` — `{id, user, type, data, created}`. `type` values: - `domain` — block by sender domain. - `email` — block by exact sender email. - `startswith` — block when sender local-part starts with a string. - `destination` — block by recipient email.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<[DenyRuleRecord], Error> 
    open func getRules(id: Int) -> AnyPublisher<[DenyRuleRecord], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/rules"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[DenyRuleRecord], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetRulesError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetRulesError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([DenyRuleRecord].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter time
    ///
    public enum GetStatsTime: String, Codable, CaseIterable {
        case all = "all"
        case billing = "billing"
        case month = "month"
        case _7d = "7d"
        case _24h = "24h"
        case _1d = "1d"
        case _1h = "1h"
    }
    public enum GetStatsError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // Unauthorized
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetStatsError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "GetStatsError: Unauthorized: \(object)"
            }
        }
    }

    /// Read Mail Baby usage counts, send volume totals, top destinations, and projected cost
    /// - GET /mail/{id}/stats
    /// - Returns aggregate usage and cost metrics for the SMTP user behind `mail_id` from the ZoneMTA `mail_messagestore` / `mail_senderdelivered` tables. Use to drive an analytics dashboard or to project end-of-cycle cost. Sibling ops: `viewMailLog`, `getMailDeliverability`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Query params:** - `time` (string enum, optional, default `1h`) — window: `all` / `billing` (current invoice cycle) / `month` / `7d` / `24h` / `1d` / `1h`.  **Returns** (schema `MailStatsType`): - `time` (string) — echo of selected window. - `usage` (integer) — full-billing-cycle send count. - `currency`, `currencySymbol` (string). - `cost` (decimal) — projected = base + `$0.20 / 1000 emails`. - `received`, `sent` (integer). - `volume.to`, `volume.from`, `volume.ip` (object) — top-500 destinations / senders / origin IPs by count.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid or missing mail order id`, `401`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter time: (query) The timeframe for the statistics. (optional)
    /// - returns: AnyPublisher<MailStatsType, Error> 
    open func getStats(id: Int, time: GetStatsTime? = nil) -> AnyPublisher<MailStatsType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/stats"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let time = time { queryItems.append(URLQueryItem(name: "time", value: time.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailStatsType, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetStatsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetStatsError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailStatsType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum MailCancelError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "MailCancelError: Unauthorized: \(object)"
            }
        }
    }

    /// Cancel a Mail Baby service and stop the recurring invoice
    /// - DELETE /mail/{id}
    /// - Cancels the Mail Baby service through the shared `Billing\\CancelService::go($id)` flow with `module='mail'`. SMTP credentials are deactivated, the service transitions to canceled, the `repeat_invoice` is stopped, and queued submissions stop being accepted. **Irreversible via API** — re-activation requires placing a new order via `addMail`. Sibling ops: `getMailInfo`, `getMailInvoices`, `addMail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `MailCancelResponse`.  **Side effects:** - Sets `mail_status='canceled'`. - Marks `repeat_invoices` non-renewing. - ZoneMTA-side: stops accepting new submissions for `mb{mail_id}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller.  **Related calls:** - **Sibling cancels:** `VPSCancel`, `CancelDomain`, `webhostingCancel`, etc. - **Re-provision:** `addMail`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<MailCancel200Response, Error> 
    open func mailCancel(id: Int) -> AnyPublisher<MailCancel200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MailCancel200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return MailCancelError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(MailCancel200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PostMailDelistError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PostMailDelistError: Unauthorized: \(object)"
            }
        }
    }

    /// Delist a sender from rspamd / mailchannels / mailbaby block lists
    /// - POST /mail/{id}/delist
    /// - Removes all block rows for one sender email across three reputation stores: `rspamd` (by `fromemail`), `mailchannels` (by `email`), `mailbaby` (by `emailfrom`). Effect is global per-address across all three tables; takes effect immediately for new submissions. Sibling ops: `getMailDelist`, `delistBlock` (alias at `/mail/{id}/blocks/delete`), `getMailBlocks`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailDelistRequest`):** - `unblock` (string, required) — sender email from `getMailDelist`/`getMailBlocks`.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Missing parameter unblock`, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter mailDelistRequest: (body)  
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func postMailDelist(id: Int, mailDelistRequest: MailDelistRequest) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/delist"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(mailDelistRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PostMailDelistError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PutMailError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PutMailError: Unauthorized: \(object)"
            }
        }
    }

    /// Validate Mail Baby order, quote pricing, and verify coupon — no charge
    /// - PUT /mail/order
    /// - Step 2 of the Mail Baby order flow. Dry-runs the order through `validate_buy_mail()` without creating invoices. Returns the cost preview, coupon resolution, and validation errors. The endpoint also auto-generates an SMTP password preview the order will use. Use to surface live pricing in the UI before `addMail`. Sibling ops: `getNewMail`, `addMail`.  **Body fields:** - `serviceType` (integer, required) — plan id from `getNewMail.packageCosts` keys. - `coupon` (string, optional) — coupon code.  **Returns:** - `continue` (bool) — `true` if order can safely be POSTed. - `errors` (array) — validation messages. - `serviceType`, `serviceCost`, `originalCost`, `repeatServiceCost` (numeric). - `password` (string) — auto-generated SMTP password preview. - `introFrequency` (integer). - `coupon`, `couponCode` (string/integer) — resolved coupon.  **Auth:** Session/API key.  **Errors:** - `200` with `continue=false` and `errors[]` — validation problems. - `401` — unauthenticated.  **Related calls:** - **Prerequisite:** `getNewMail` (catalog). - **Place order:** `addMail`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter mailOrderRequest: (body)  
    /// - returns: AnyPublisher<Void, Error> 
    open func putMail(mailOrderRequest: MailOrderRequest) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mail/order"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(mailOrderRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PutMailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ResetMailPasswordError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "ResetMailPasswordError: Unauthorized: \(object)"
            }
        }
    }

    /// Rotate the SMTP password and email the new credential to the account owner
    /// - GET /mail/{id}/reset_password
    /// - Generates a new 20-char SMTP password (lower/upper/digits via `generate_password`), writes it to the ZoneMTA Mongo `users` collection for username `mb{mail_id}`, logs the change to `App::history()`, and emails the result to the account-on-file via `client_email.tpl`. **Any MTA, app, or saved client still using the old password will start failing auth immediately.** The new password is **not** returned in the response — fetch via `getMailWelcomeEmail` or `getMailInfo`. Sibling ops: `getMailWelcomeEmail`, `getMailInfo`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `SuccessTextResponse`.  **Side effects:** - Mongo update on ZoneMTA `users` for `mb{mail_id}`. - `App::history()` audit entry. - Email sent to account owner.  **Auth:** Session/API key. Ownership enforced.  **Errors:** Mongo update modified 0 rows → error text; `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func resetMailPassword(id: Int) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/reset_password"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ResetMailPasswordError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum SendAdvMailError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "SendAdvMailError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "SendAdvMailError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "SendAdvMailError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Send email via Mail Baby SMTP relay with attachments, CC/BCC, and multi-recipient
    /// - POST /mail/{id}/advsend
    /// - Submits an outbound message through `relay.mailbaby.net:25` using the service's SMTP credentials (fetched via `mail_get_password`). Use for multi-recipient sends, named addresses, CC/BCC, ReplyTo, or attachments. For single-recipient plain sends, `sendMail` is the lighter option. Sibling ops: `sendMail`, `viewMailLog` (find queued message), `getMailDeliverability` (analyze bounces).  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (JSON or form-urlencoded, schema `SendMailAdv`):** - `from` (string or `{email, name}`, required). - `to` (array of strings or `{email, name}` objects, required). - `subject` (string, required). - `body` (string, required) — HTML auto-detected when tags are present. - `replyto` (array, optional) — same shape as `to`. - `cc`, `bcc` (array, optional) — same shape as `to`. - `attachments` (array, optional) — each `{filename, data}` where `data` is base64-encoded; added via `addStringAttachment`.  **Returns:** `{status: \"ok\", text: \"Email queued successfully\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `400` with PHPMailer `ErrorInfo` on send failure or missing required field. - `401` — unauthenticated. - `404 Invalid Service Passed`. - `409 Service is not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter sendMailAdv: (body)  
    /// - returns: AnyPublisher<GenericResponse, Error> 
    open func sendAdvMail(id: Int, sendMailAdv: SendMailAdv) -> AnyPublisher<GenericResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/advsend"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(sendMailAdv)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GenericResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendAdvMailError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendAdvMailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendAdvMailError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(GenericResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum SendMailError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "SendMailError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "SendMailError: Unauthorized: \(object)"
            case .code404Error(let object):
                return "SendMailError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Send a simple single-recipient email through the Mail Baby SMTP relay
    /// - POST /mail/{id}/send
    /// - Sends a single-recipient transactional email through `relay.mailbaby.net:25` authenticated as this `mail_id`. Body fields are the minimum needed for a plain send; Reply-To is auto-set to `from`. For multi-recipient sends, CC/BCC, named addresses, or attachments use `sendAdvMail` instead. Sibling ops: `sendAdvMail`, `viewMailLog`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (JSON or form-urlencoded, schema `SendMail`):** - `to` (string, required) — recipient email. - `from` (string, required) — sender email. - `subject` (string, required). - `body` (string, required) — HTML auto-detected when tags are present.  **Returns:** `{status: \"ok\", text: \"Email queued successfully\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `400` with PHPMailer `ErrorInfo` on send failure or missing required field, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter sendMail: (body)  
    /// - returns: AnyPublisher<GenericResponse, Error> 
    open func sendMail(id: Int, sendMail: SendMail) -> AnyPublisher<GenericResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/send"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(sendMail)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GenericResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendMailError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendMailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return SendMailError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(GenericResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdateMailAlertError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "UpdateMailAlertError: Unauthorized: \(object)"
            }
        }
    }

    /// Update an existing Mail Baby alert by alert_id
    /// - PUT /mail/{id}/alerts
    /// - Updates a single alert row by `alert_id`. Handler verifies the alert belongs to this service+module before writing. Sibling ops: `getMailAlerts`, `createMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailAlertUpdateRequest`):** - `alert_id` (integer, required) — from `getMailAlerts`. - `type` (string, required). - `value` (string/numeric, required) — threshold. - `to` (string, required) — notification email; validated via `FILTER_VALIDATE_EMAIL`. - `enabled` (bool, optional).  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid alert!` (alert not owned), field-level errors for missing/invalid body, `401`, `404`, `409 not active`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - parameter mailAlertUpdateRequest: (body)  
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func updateMailAlert(id: Int, mailAlertUpdateRequest: MailAlertUpdateRequest) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}/alerts"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(mailAlertUpdateRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return UpdateMailAlertError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdateMailInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "UpdateMailInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// POST mutation hook for the Mail Baby service detail page
    /// - POST /mail/{id}
    /// - POST mutation hook for the Mail Baby service detail page. Currently delegates to the same `View::go()` handler as `getMailInfo` — placeholder for future field updates. Does NOT rotate credentials (use `resetMailPassword`) and does NOT change billing (use `/billing` endpoints). Sibling ops: `getMailInfo`, `mailCancel`, `resetMailPassword`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body:** Form fields.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller. - `409` — `mail_status != \"active\"`.  **Related calls:** - **Read:** `getMailInfo`. - **Rotate password:** `resetMailPassword`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func updateMailInfo(id: String) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/mail/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: id)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
[...]
