//
// ServersAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ServersAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://my.interserver.net/apiv2")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AddServerError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "AddServerError: Unauthorized: \(object)"
            }
        }
    }

    /// Place a custom dedicated server order, creating a real billable invoice
    /// - POST /servers/order
    /// - Submits a fully custom dedicated server order. Creates a `pending` `servers` row, a `Repeat_Invoice`, and the first invoice, then emails customer + admin. Caveat: real billable order — confirm with the user first. Body (form fields): `cpu` (id from `cpu_li`), `hd[]` (array of drive ids), `memory`, `bandwidth`, `ips`, `os`, `cp`, `raid` (ids from `getNewServer`), `region` (region_id), `servername` (valid hostname), `rootpass`, `tos` (must be true), optional `comment`. `account.server_order_discount` (if set) applies. Returns: `{ text:'Order Completed', invoice, order }`. Errors: 422 'Missing/Invalid <field>'; 401 unauth. Sibling ops: `getNewServer` (options), `placeBuyNowServer` (pre-built path), `getServerInfo` (view new order), `getServerInvoices`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter serverOrderPostRequest: (body)  
    /// - returns: AnyPublisher<AddServer200Response, Error> 
    open func addServer(serverOrderPostRequest: ServerOrderPostRequest) -> AnyPublisher<AddServer200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers/order"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(serverOrderPostRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<AddServer200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddServerError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(AddServer200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum BuyItNowServerOrderError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "BuyItNowServerOrderError: Unauthorized: \(object)"
            }
        }
    }

    /// Get configurable options for a Rapid Deploy / coupon dedicated server
    /// - GET /servers/order/buy_now_server
    /// - Step 1 of the Rapid Deploy / coupon dedicated server order flow. Returns options + pricing for either a marketplace asset (`a=<asset_id>`) or a coupon (`c=<coupon_name>`) so the order form can be rendered before `placeBuyNowServer`. Read-only; no charge. Sibling ops: `placeBuyNowServer` (commit), `getMPServers` (browse marketplace), `addServer` (custom build flow).  **Query (one required):** - `a` (integer) — asset_id from `getMPServers`. - `c` (string) — `server_coupons.name`.  **Returns:** `{ bandwidth[], ips[], os[], cp[], raid[], regions[], a?: {asset + items}, c?: {coupon + region} }`. Each option row is `{ id, short_desc, long_desc, monthly_price }` — feed those ids into `placeBuyNowServer`.  **Auth:** Session/API key.  **Errors:** - `400` — `'No Server Coupon or Market-Place Asset Specified'` when neither `a` nor `c` is passed. - `400` — `'Invalid Asset ID'` / `'No Server Coupon with that name'`. - `409` — `'Server already sold!'` (asset already in-cart) or `'Server Out of stock'` (coupon). - `401` — unauthenticated.  **Related calls:** - **Next:** `placeBuyNowServer` (commit the order). - **Browse:** `getMPServers`. - **Custom build alternative:** `addServer`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<BuyItNowServerOrder200Response, Error> 
    open func buyItNowServerOrder() -> AnyPublisher<BuyItNowServerOrder200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers/order/buy_now_server"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BuyItNowServerOrder200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return BuyItNowServerOrderError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BuyItNowServerOrder200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetMPServersError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetMPServersError: Unauthorized: \(object)"
            }
        }
    }

    /// List Rapid Deploy (Buy-It-Now) marketplace dedicated servers with live pricing
    /// - GET /buy_now_servers_list
    /// - Use to browse pre-built dedicated servers ready for immediate provisioning (Rapid Deploy / marketplace). No params, no body. Pulls live inventory from `mynew.interserver.net/ajax/server_a.php`. Returns: array of `{ server_id, cpu: [model, {img,type,speed,num_cpus,num_cores}], memory, disk, bandwidth, ips, location, price }`. The `server_id` is the marketplace asset id — feed it into `buyItNowServerOrder` (GET options for asset `?a=<id>`) and `placeBuyNowServer` (POST to commit). Errors: 401 if session expired. Sibling ops: `buyItNowServerOrder` (configure asset), `placeBuyNowServer` (purchase), `getNewServer`/`addServer` (custom-spec build, not pre-built), `getServerList` (already-owned servers).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<BuyItNowList, Error> 
    open func getMPServers() -> AnyPublisher<BuyItNowList, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/buy_now_servers_list"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BuyItNowList, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetMPServersError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BuyItNowList.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetNewServerError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetNewServerError: Unauthorized: \(object)"
            }
        }
    }

    /// Get custom dedicated server ordering options, regions, and pricing
    /// - GET /servers/order
    /// - Use before placing a fully custom (non-Rapid-Deploy) dedicated server order to discover available CPUs, drives, memory tiers, OS images, control panels, RAID levels, bandwidth packages, IP blocks, and regions with monthly prices. No params, no body. Returns: object with `config_li` keyed by category (`cpu_li`, `hd_li`, `memory_li`, `bandwidth_li`, `ips_li`, `os_li`, `cp_li`, `raid_li`) plus `regions`. Use returned IDs as POST values for `addServer`. Note `hd_li` and `memory_li` are nested by `cpu` id — the chosen CPU constrains valid drive/memory options. Errors: 401 if not authenticated. Sibling ops: `addServer` (commits the order), `buyItNowServerOrder` (pre-built marketplace alternative), `getMPServers` (browse marketplace).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<ServerOrder, Error> 
    open func getNewServer() -> AnyPublisher<ServerOrder, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers/order"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServerOrder, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetNewServerError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServerOrder.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetServerInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetServerInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Get full hardware, network, and lifecycle details for a dedicated server
    /// - GET /servers/{id}
    /// - Use to fetch complete configuration for one dedicated server — hardware, network/VLAN/IP layout, asset assignments, location, status, billing references, and client action links. Path param: `id` (integer server_id, from `getServerList`). No body. Returns: `ViewServer::getDetails()` shape: `serviceInfo`, `networkInfo` (vlans + assets, with `ipmi_admin_username`/`ipmi_admin_password` and admin lease creds REDACTED for client safety), normalized `client_links`, `serviceType`. `admin_links`/raw `settings`/`csrf` stripped. Errors: 404 not owned; 401 unauth. Sibling ops: `getServerInvoices`, `serverIpmiLiveGet`, `serverIpmiPowerGet` (single — prefer `serverBulkIpmiPowerGet` for many), `getServerReverseDns`, `getServersWelcomeEmail`, `serversCancel`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number. 
    /// - returns: AnyPublisher<Server, Error> 
    open func getServerInfo(id: Int) -> AnyPublisher<Server, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Server, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetServerInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(Server.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetServerInvoicesError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetServerInvoicesError: Unauthorized: \(object)"
            }
        }
    }

    /// List billing invoices (charges + payments) tied to one dedicated server
    /// - GET /servers/{id}/invoices
    /// - Use to retrieve the invoice history for a single dedicated server — e.g. before a cancel, refund, or to show outstanding balances. Path param: `id` (integer server_id from `getServerList`). No body. Inherits from `MyAdmin\\Api\\Billing\\InvoicesList` with module=servers. Returns: `ChargeInvoiceRows` array — invoice rows with id, date, amount, status, currency, line items. Errors: 404 if `id` not owned by the caller; 401 unauth. Sibling ops: `getServerInfo` (current service state), `serversCancel` (cancel), `getBillingInvoice` (single invoice by invoice id), `getVpsInvoices`/`getDomainInvoices` for other modules, `getServersWelcomeEmail` to resend setup info.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<ChargeInvoiceRows, Error> 
    open func getServerInvoices(id: Int) -> AnyPublisher<ChargeInvoiceRows, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/invoices"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ChargeInvoiceRows, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetServerInvoicesError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ChargeInvoiceRows.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetServerListError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetServerListError: Unauthorized: \(object)"
            }
        }
    }

    /// List all dedicated servers owned by the authenticated customer
    /// - GET /servers
    /// - Use to enumerate physical bare-metal dedicated servers on the calling account. No params, no body. Filters `servers` by session `account_id`. Returns: array of `{ server_id, account_lid, server_hostname, server_status }`. Use `server_id` with `getServerInfo` for full hardware/network/IPMI details, `getServerInvoices` for billing, or `serverIpmiPowerGet` for chassis power state. Errors: 401 if not authenticated; empty array if account owns no servers. Sibling ops: `getServerInfo` (details), `getVpsList` (virtual instead of physical hardware), `getMPServers` (purchasable inventory, not owned). For IPMI status across many servers in one call, prefer `serverBulkIpmiPowerGet`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<[ServerRow], Error> 
    open func getServerList() -> AnyPublisher<[ServerRow], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[ServerRow], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetServerListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([ServerRow].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetServerReverseDnsError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetServerReverseDnsError: Unauthorized: \(object)"
            }
        }
    }

    /// List current reverse-DNS (PTR) records for a dedicated server's IPs
    /// - GET /servers/{id}/reverse_dns
    /// - Use to read the existing PTR/rDNS hostnames assigned to each public IP in the server's VLANs — typically before calling `postServerReverseDns` to update them. Path param: `id` (integer server_id). No body. Walks `networkInfo.vlans`, expands each network to usable host IPs (handles /31 and /32 edge cases), and resolves each via `get_hostname()`. Returns: `{ ips: { '<ipv4>': '<ptr_or_empty_string>', ... } }`. Empty string indicates no PTR set. Errors: 404 if `id` not owned by caller; 401 unauth. Sibling ops: `postServerReverseDns` (update PTRs), `getServerInfo` (full network), `getVpsReverseDns` for VPS, `getDomainNameservers` / DNS endpoints for forward records. Note rDNS propagation is delegated to the in-addr.arpa zone — changes are not always instant.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<ReverseDnsEntries, Error> 
    open func getServerReverseDns(id: Int) -> AnyPublisher<ReverseDnsEntries, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/reverse_dns"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ReverseDnsEntries, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetServerReverseDnsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ReverseDnsEntries.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetServersWelcomeEmailError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetServersWelcomeEmailError: Unauthorized: \(object)"
            }
        }
    }

    /// Resend the dedicated server welcome email with setup credentials
    /// - GET /servers/{id}/welcome_email
    /// - Use when the customer asks for the original setup/login info to be re-sent (root password, IPs, control-panel URL). Path param: `id` (integer server_id, must be `active`). No body. Invokes `server_welcome_email($id)` which re-sends the welcome message to the account's email. Returns: `{ text:'Welcome Email has been resent.' }`. Errors: 404 if `id` not owned by caller; 409 if service not active (cancelled/pending/suspended); 401 unauth. Caveat: re-sending is rate-sensitive; do not call repeatedly in a loop. The email may contain root credentials — confirm intent before triggering. Sibling ops: `getServerInfo` (status check), `getServerInvoices`, `getVpsWelcomeEmail` for VPS, `getDomainsWelcomeEmail` for domains.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func getServersWelcomeEmail(id: Int) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/welcome_email"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetServersWelcomeEmailError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PlaceBuyNowServerError: Error, CustomStringConvertible {
        // Order validation failed.
        case code400Error(ServersBuyNowError)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "PlaceBuyNowServerError: Order validation failed.: \(object)"
            case .code401Error(let object):
                return "PlaceBuyNowServerError: Unauthorized: \(object)"
            }
        }
    }

    /// Place a Rapid Deploy / coupon dedicated server order; creates real invoice
    /// - POST /servers/order/buy_now_server
    /// - Step 2 of the Rapid Deploy / coupon order flow. Commits a marketplace asset OR coupon-based dedicated server order. Inserts the `servers` row, creates a `Repeat_Invoice` plus the first `invoices` row, marks the asset `MarketPlace-Incart` (or decrements `server_coupons.in_stock`), then emails customer + admin. **Real billable order — confirm intent first.** Sibling ops: `buyItNowServerOrder` (catalog), `getServerInfo` (poll provisioning), `getServerInvoices` (billing), `addServer` (custom build alternative).  **Query (one required, same as `buyItNowServerOrder`):** - `a` (integer) — asset_id. - `c` (string) — `server_coupons.name`.  **Body fields:** - `hostname` (string, required) — valid FQDN; validated by `valid_hostname`. - `enablepassword` (boolean, optional, default `false`) — when true the client must supply `rootPassword`; otherwise a secure password is generated server-side via `generate_password()`. - `rootPassword` (string, required when `enablepassword=true`) — must be ≥8 chars with at least one uppercase, lowercase, digit, and special character (`valid_password`). - `os`, `bandwidth`, `ips`, `cp`, `raid` (integer, optional) — option ids from `buyItNowServerOrder`; defaults `30` / `10` / `9` / `1` / `0` applied when missing. - `comments` (string, optional) — appended to the order comment.  **Returns:** `201 { success: true, text: 'Server order is placed.', service_id, invoice_id }`.  **Auth:** Session/API key.  **Errors:** - `400` — `'Server Hostname is missing.'` / `'Invalid Hostname!'` / `'Server Password is missing.'` / password complexity message. - `409` — `'Server already sold!'` / `'Server Out of stock.'` - `401` — unauthenticated.  **Side effects:** inserts `servers` row, creates `repeat_invoices` + `invoices` rows, updates `assets.status` or `server_coupons.in_stock`, queues admin + customer welcome emails.  **Related calls:** - **Prerequisite:** `buyItNowServerOrder`. - **Next:** `getBillingInvoice` + `initiatePayment` to pay, then poll `getServerInfo` for provisioning state. - **Custom build alternative:** `addServer`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter placeBuyNowServerRequest: (body)  (optional)
    /// - returns: AnyPublisher<ServersBuyNowResponse, Error> 
    open func placeBuyNowServer(placeBuyNowServerRequest: PlaceBuyNowServerRequest? = nil) -> AnyPublisher<ServersBuyNowResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers/order/buy_now_server"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(placeBuyNowServerRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServersBuyNowResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(ServersBuyNowError.self, from: transportError.data)
                            return PlaceBuyNowServerError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PlaceBuyNowServerError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServersBuyNowResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PostServerReverseDnsError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PostServerReverseDnsError: Unauthorized: \(object)"
            }
        }
    }

    /// Update reverse-DNS (PTR) hostnames on a dedicated server's IPs
    /// - POST /servers/{id}/reverse_dns
    /// - Use to set or remove PTR records for the server's public IPs. Path param: `id` (server_id). Body: `ips` (object mapping `'<ipv4>'` to desired hostname; empty string removes the PTR). Only IPs that already exist on the server's VLANs and whose hostname differs from current are updated; each diff calls `reverse_dns($ip, $host, 'set_reverse'|'remove_reverse')`. Returns: `{ message, success:bool }`. `success:false` with 'No valid IPs were passed or there were no changes' when nothing to update; otherwise reports update count. Errors: 404 invalid id; 401 unauth. Caveats: caller can only set PTRs for IPs they actually own; rDNS propagation is async — do not assume immediate visibility downstream. Sibling ops: `getServerReverseDns` (read first), `getServerInfo`, VPS counterpart `postVpsReverseDns`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - parameter reverseDnsEntries: (body)  
    /// - returns: AnyPublisher<TextResponse, Error> 
    open func postServerReverseDns(id: Int, reverseDnsEntries: ReverseDnsEntries) -> AnyPublisher<TextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/reverse_dns"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(reverseDnsEntries)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<TextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PostServerReverseDnsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(TextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ServerBulkIpmiPowerGetError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ServerBulkIpmiPowerGetError: The specified resource was not found: \(object)"
            case .code401Error(let object):
                return "ServerBulkIpmiPowerGetError: Unauthorized: \(object)"
            }
        }
    }

    /// Read IPMI chassis power status for many dedicated servers in one call
    /// - GET /servers/bulk/ipmi_power
    /// - Use when you need power status for several owned servers at once (dashboards, mass health checks). Each server is queried independently; per-server failures (invalid id, inactive service, no asset, BMC error) are reported in the same response without aborting the batch. Read-only — does NOT change power state. Query: `ids` (required) — comma-separated string `?ids=2313,2314,2315` OR repeated `ids[]` array. Duplicates de-duped; non-positive ints become per-row errors. Returns: `{ results: [ { id, asset?, text|error } ] }`. Errors: 400 'No server IDs provided.' if `ids` empty/missing; 401 unauth. Sibling ops: `serverIpmiPowerGet` (single-server equivalent), `serverIpmiPowerPost` (DESTRUCTIVE — change power; no bulk equivalent — call per server), `getServerList` (discover ids).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter ids: (query) Comma-separated list of Server IDs to query (e.g. &#x60;2313,2314,2315&#x60;). May also be passed as repeated &#x60;ids[]&#x60; query parameters. 
    /// - returns: AnyPublisher<ServerBulkIpmiPowerResponse, Error> 
    open func serverBulkIpmiPowerGet(ids: String) -> AnyPublisher<ServerBulkIpmiPowerResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/servers/bulk/ipmi_power"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "ids", value: ids))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServerBulkIpmiPowerResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerBulkIpmiPowerGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerBulkIpmiPowerGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServerBulkIpmiPowerResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ServerIpmiLiveGetError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code404Error(let object):
                return "ServerIpmiLiveGetError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Read current IPMI Live whitelist + KVM gateway URL for a dedicated server
    /// - GET /servers/{id}/ipmi_live
    /// - Reads the active IPMI Live session for a dedicated server — the temporary whitelisted public IP, the customer-side IPMI gateway URL, and the IPMI client (read-only) credentials so the customer can open the KVM/console. Looks up the asset's IPMI IP, the location's IPMI group, and any active `ipmi_ips` lease (3-hour TTL). Sibling ops: `serverIpmiLivePost` (allocate whitelist slot), `serverIpmiPowerGet` / `serverIpmiPowerPost` (chassis power).  **Path:** `id` (integer, required) — server_id from `getServerList`.  **Body / query:** None. Optionally pass `asset` (asset_id) to target a specific asset; default is first asset.  **Returns:** when an active lease exists `{ text (html), public_ip, allowed_ip, client_username, client_password }`. When no lease yet: `{ text: 'Setup not yet completed' }` — then call `serverIpmiLivePost` to allocate a slot.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text `'No IPMI IP Set'` / `'Invalid IPMI IP'` / `'Live IPMI not Available for this location.'` when the asset/location is not configured for IPMI Live.  **Caveat:** returns `client_password` — never log/echo verbatim.  **Related calls:** - **Allocate:** `serverIpmiLivePost`. - **Chassis power:** `serverIpmiPowerGet`, `serverIpmiPowerPost`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<ServerIpmiLiveInfo, Error> 
    open func serverIpmiLiveGet(id: Int) -> AnyPublisher<ServerIpmiLiveInfo, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/ipmi_live"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServerIpmiLiveInfo, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerIpmiLiveGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServerIpmiLiveInfo.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ServerIpmiLivePostError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code404Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code404Error(let object):
                return "ServerIpmiLivePostError: The specified resource was not found: \(object)"
            }
        }
    }

    /// Whitelist an IP for IPMI Live KVM gateway access (3-hour lease)
    /// - POST /servers/{id}/ipmi_live
    /// - Allocates / refreshes an IPMI Live whitelist slot so the customer's specified IP can reach the BMC's KVM/console for 3 hours. Picks a free `ipmi_ips` row for the location's `ipmi_group`, refreshes the lease if the same IP is already allocated, otherwise pushes the new whitelist via `ipmi_live_setup()`. Sibling ops: `serverIpmiLiveGet` (read current lease), `serverIpmiPowerPost` (DESTRUCTIVE — chassis power).  **Path:** `id` (integer, required) — server_id.  **Body fields:** - `ip` (string, required) — public IPv4 to whitelist. - `asset` (integer, optional) — asset_id; defaults to first asset on the server.  **Returns:** `{ text (html), public_ip, allowed_ip, client_username, client_password }` for KVM login.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text — `'An Invalid IP was passed.'`, `'No Live IPs are currently free for use with the IPMI Gateway. Please wait <duration> for the next IP to free up.'`, `'There was an error communicating with the IPMI Management server'`, `'No IPMI IP Set'` / `'Invalid IPMI IP'` / `'Live IPMI not Available for this location.'`.  **Caveat:** returns IPMI client password — handle securely; whitelist exposes the BMC briefly.  **Related calls:** - **Read current lease:** `serverIpmiLiveGet`. - **Power control:** `serverIpmiPowerPost`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - parameter ip: (form) Your IP Address you wish to connect to the IPMI system from. 
    /// - parameter asset: (form) Asset ID (optional)
    /// - returns: AnyPublisher<ServerIpmiLiveInfo, Error> 
    open func serverIpmiLivePost(id: Int, ip: String, asset: Int? = nil) -> AnyPublisher<ServerIpmiLiveInfo, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/ipmi_live"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				if let asset = asset {
					let assetHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"asset\"\r\n")
					    .appending("\r\n")
					multipartData.append(assetHeader.data(using: .utf8) ?? Data())
					multipartData.append()
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				let ipHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"ip\"\r\n")
				    .appending("\r\n")
				multipartData.append(ipHeader.data(using: .utf8) ?? Data())
				multipartData.append(ip.data(using: .utf8) ?? Data())

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServerIpmiLiveInfo, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerIpmiLivePostError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServerIpmiLiveInfo.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ServerIpmiPowerGetError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "ServerIpmiPowerGetError: Unauthorized: \(object)"
            }
        }
    }

    /// Read IPMI chassis power status for a dedicated server (single)
    /// - GET /servers/{id}/ipmi_power
    /// - Use to check whether a server's chassis is currently `on`/`off` via IPMI before issuing a power action. Path param: `id` (integer server_id). Optional body `asset` (asset_id — defaults to first asset). Issues `ipmitool power status` against the asset's `ipmi_ip` using its location IPMI group/credentials. Returns: `{ text:'Chassis Power is on' }` (or 'off'). Errors: 404 if `id` not owned by caller; 409 if service not active; 'There was an error sending the IPMI command' if BMC unreachable. Caveat: BMCs occasionally rate-limit — back off on repeated errors. Sibling ops: `serverBulkIpmiPowerGet` (preferred when polling many servers — single round-trip), `serverIpmiPowerPost` (DESTRUCTIVE — change power), `getServerInfo` (full state), `serverIpmiLiveGet` (IPMI Live KVM).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<TextResponse, Error> 
    open func serverIpmiPowerGet(id: Int) -> AnyPublisher<TextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/ipmi_power"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<TextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerIpmiPowerGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(TextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter action
    ///
    public enum ServerIpmiPowerPostAction: String, Codable, CaseIterable {
        case cycle = "cycle"
        case reset = "reset"
        case on = "on"
        case off = "off"
        case soft = "soft"
    }
    public enum ServerIpmiPowerPostError: Error, CustomStringConvertible {
        // The specified resource was not found
        case code400Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ServerIpmiPowerPostError: The specified resource was not found: \(object)"
            }
        }
    }

    /// DESTRUCTIVE — change chassis power state on a bare-metal server
    /// - POST /servers/{id}/ipmi_power
    /// - Sends an IPMI chassis power command (`on`, `off`, `cycle`, `reset`, `soft`) to a customer's physical dedicated server. **DESTRUCTIVE on running hardware:** `off` / `cycle` / `reset` are forced power events that can corrupt filesystems, lose un-flushed data, or break in-flight workloads. `soft` requests an ACPI shutdown (safer when the guest OS is responsive). Always confirm intent with the operator. Sibling ops: `serverIpmiPowerGet` (read first), `serverBulkIpmiPowerGet` (status only), `serverIpmiLivePost` (KVM access).  **Path:** `id` (integer, required) — server_id.  **Body fields:** - `action` (string, required) — one of `on` / `off` / `cycle` / `reset` / `soft`. - `asset` (integer, optional) — asset_id; defaults to first asset on the server.  **Returns:** `{ text: 'Power command sent. Response: <ipmi output>' }`.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `422` / inline error text — `Invalid Action` when `action` is not in the allowed set. - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text — `'There was an error sending the IPMI command.'` when BMC is unreachable or rate-limiting.  **Related calls:** - **Status (single / bulk):** `serverIpmiPowerGet`, `serverBulkIpmiPowerGet`. - **KVM console:** `serverIpmiLivePost`. 
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - parameter action: (form) The power action to send to the ipmi controller. 
    /// - parameter asset: (form) The Asset ID (optional)
    /// - returns: AnyPublisher<TextResponse, Error> 
    open func serverIpmiPowerPost(id: Int, action: ServerIpmiPowerPostAction, asset: Int? = nil) -> AnyPublisher<TextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}/ipmi_power"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				if let asset = asset {
					let assetHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"asset\"\r\n")
					    .appending("\r\n")
					multipartData.append(assetHeader.data(using: .utf8) ?? Data())
					multipartData.append()
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				let actionHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"action\"\r\n")
				    .appending("\r\n")
				multipartData.append(actionHeader.data(using: .utf8) ?? Data())
				multipartData.append(action.rawValue.data(using: .utf8) ?? Data())

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<TextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServerIpmiPowerPostError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(TextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ServersCancelError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "ServersCancelError: Unauthorized: \(object)"
            }
        }
    }

    /// Cancel a dedicated server service at the end of the current billing cycle
    /// - DELETE /servers/{id}
    /// - Submits a cancellation request for a dedicated server. The server is deprovisioned and recurring billing stops at the end of the current billing cycle (not an immediate refund). Path param: `id` (integer server_id, from `getServerList`). No body. Caveat: billing-affecting action — always confirm with the user. Hardware-attached data may be wiped on deprovisioning. Returns: `{ success:bool, text:'Servers is canceled.' }`. Errors: 404 if `id` not owned by caller; 409 if already cancelled or non-active; 401 unauth. Sibling ops: `getServerInfo` (current status), `getServerInvoices` (outstanding charges), VPS counterpart `VPSCancel`. To re-order after cancel use `addServer` or `placeBuyNowServer`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number 
    /// - returns: AnyPublisher<ServersCancel200Response, Error> 
    open func serversCancel(id: Int) -> AnyPublisher<ServersCancel200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ServersCancel200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ServersCancelError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ServersCancel200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdateServerInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "UpdateServerInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Update settings on a dedicated server order (shares handler with view)
    /// - POST /servers/{id}
    /// - Use to modify metadata on an existing dedicated server order. Path param: `id` (integer server_id). Currently this method shares the same handler as `getServerInfo` (`View::go()`) — no dedicated update fields are processed; treat it as deprecated/no-op pending field-specific endpoints. For hostname, password, or rDNS changes use the dedicated ops below. Returns: same payload shape as `getServerInfo`. Errors: 404 if `id` not owned by caller; 401 unauth. Sibling ops: prefer `postServerReverseDns` (rDNS), `serverIpmiPowerPost` (power), `serverIpmiLivePost` (IPMI access), `serversCancel` (cancel). For new orders use `addServer` or `placeBuyNowServer`. View-only: `getServerInfo`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Server ID number. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func updateServerInfo(id: String) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/servers/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: id)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return UpdateServerInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
