//
// TicketsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class TicketsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://my.interserver.net/apiv2")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AddNewTicketError: Error, CustomStringConvertible {
        // A successful response after creating a ticket
        case code400Error(TicketNewResponse)
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "AddNewTicketError: A successful response after creating a ticket: \(object)"
            case .code401Error(let object):
                return "AddNewTicketError: Unauthorized: \(object)"
            }
        }
    }

    /// Open a new helpdesk ticket, optionally linked to a service and attachments
    /// - POST /tickets/new
    /// - Use when the customer wants to contact support. Creates the Kayako ticket in the 'New Unassigned' department (id 18). Body (form): subject (string, required), body (string, required), product (string, optional, format '{module}-{service_id}' from getNewTicket), service_id+service_module (alternative to product), attachments[] (optional, each {name, type, content base64}), and optional server-access custom fields ip, root_pass, sudo_user, sudo_pass, port_no, server_access (passwords are AES-encrypted with a generated auth_key). Returns: {success: true, text, ticket: ticketmaskid}. Errors: 400 missing subject or body; 401 unauthorized; 422 ticket creation failure. Sibling: getNewTicket for product list, getTicketInfo to view, ReplyTicket to add replies.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter ticketNew: (body)  
    /// - returns: AnyPublisher<TicketNewResponse, Error> 
    open func addNewTicket(ticketNew: TicketNew) -> AnyPublisher<TicketNewResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/tickets/new"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(ticketNew)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<TicketNewResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(TicketNewResponse.self, from: transportError.data)
                            return AddNewTicketError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddNewTicketError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(TicketNewResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum CloseTicketError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "CloseTicketError: Unauthorized: \(object)"
            }
        }
    }

    /// Close an open support ticket via simple GET request (no body required)
    /// - GET /tickets/{id}/close
    /// - Use to close a ticket from a link or one-click action — closure-only equivalent of deleteTicketInfo with friendlier semantics. Calls Ticket::closeTicket on the resolved ticket and leaves the record fully readable; closed tickets disappear from the active inbox but remain in getTicketsList when view=Closed. Path: id (int ticket ID, e.g. 1511222). Body: none. Returns: {success: true, text: 'Ticket is closed!'} or {success: false, text: 'Unable to close ticket'}. Errors: 401 unauthorized; 404 implied via 'Unable to close ticket' when id is unknown or cross-account. Idempotent on already-closed tickets. Siblings: deleteTicketInfo (DELETE /tickets/{id} — same effect), getTicketInfo to confirm new status.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Ticket ID 
    /// - returns: AnyPublisher<CloseTicketResponseSchema, Error> 
    open func closeTicket(id: String) -> AnyPublisher<CloseTicketResponseSchema, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}/close"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: id)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<CloseTicketResponseSchema, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return CloseTicketError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(CloseTicketResponseSchema.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeleteTicketInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "DeleteTicketInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Close a customer ticket via DELETE verb (closes only, never destroys data)
    /// - DELETE /tickets/{id}
    /// - Use when the customer marks a ticket resolved. IMPORTANT: despite the DELETE verb this only CLOSES the ticket via Ticket::closeTicket — no data is destroyed. Closed tickets remain readable through getTicketInfo and appear in getTicketsList when view=Closed. Path: id (int ticket ID). Body: none. Returns: 'Ticket is closed!' string on success. Errors: 401 unauthorized; 404/422 'Invalid ticket!' when id is unknown or owned by another account. Idempotent on already-closed tickets. Siblings: CloseTicket (GET /tickets/{id}/close — same effect, simpler URL), ReplyTicket to add a final reply before closing, getTicketInfo to verify state.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Ticket ID number. 
    /// - returns: AnyPublisher<ViewTicketResponse, Error> 
    open func deleteTicketInfo(id: Double) -> AnyPublisher<ViewTicketResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ViewTicketResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteTicketInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ViewTicketResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetNewTicketError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetNewTicketError: Unauthorized: \(object)"
            }
        }
    }

    /// Fetch services and product options to populate the new-ticket form
    /// - GET /tickets/new
    /// - Use to populate dropdowns before calling addNewTicket. Returns the customer's services grouped by product type so the user can attach a ticket to a specific resource. Iterates all enabled modules (vps, webhosting, domains, mail, etc.; mailbaby instances see only mail) and filters out services with status canceled, deleted, or fraud. Params: none. Body: none. Returns: object keyed by product TITLE (e.g. 'Vps', 'Webhosting'), each value a map of '{module}-{service_id}' to a description string including title, type/plan, VPS hypervisor name where applicable, and uppercase status tag. Errors: 401 unauthorized. Use the returned product key as the 'product' field on addNewTicket.  Sibling ops: `addNewTicket` (consumes the product key), `getTicketsList`.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<Void, Error> 
    open func getNewTicket() -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/tickets/new"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetNewTicketError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetTicketInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetTicketInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Get full ticket details including subject, status, and the reply thread
    /// - GET /tickets/{id}
    /// - Use to render a ticket page or feed full context to an LLM. Path: id (int, ticket ID, e.g. 1511222). Returns ticket header (subject, status, department, dates), the ordered post/reply history, attachments, and any custom-field values. Resolved via Ticket::getTicket(id, account_lid) so cross-account access returns Invalid ticket. Body: none. Errors: 401 unauthorized; 404/422 'Invalid ticket!' when the id is unknown or owned by another account. Caveats: the same path with POST appends a reply (postTicketInfo) and DELETE closes the ticket (deleteTicketInfo) — it does not destroy data. Siblings: ReplyTicket, updateTicketInfo, CloseTicket, getTicketsList.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Ticket ID number. 
    /// - returns: AnyPublisher<ViewTicketResponse, Error> 
    open func getTicketInfo(id: Double) -> AnyPublisher<ViewTicketResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ViewTicketResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetTicketInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ViewTicketResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter period
    ///
    public enum GetTicketsListPeriod: String, Codable, CaseIterable {
        case _30 = "30"
        case _90 = "90"
        case _365 = "365"
        case _1825 = "1825"
        case all = "all"
    }
    ///
    /// Enum for parameter view
    ///
    public enum GetTicketsListView: String, Codable, CaseIterable {
        case _open = "Open"
        case closed = "Closed"
        case onHold = "On Hold"
        case inProgress = "In Progress"
    }
    public enum GetTicketsListError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetTicketsListError: Unauthorized: \(object)"
            }
        }
    }

    /// List the authenticated account's support tickets with status and date filters
    /// - GET /tickets
    /// - Use to browse the customer's helpdesk tickets, paginated, with optional status and recency filters. Returns tickets where email matches the session account_lid. Query params: page (int, default 1, 50 per page), period (string: '30', '90', '365', '1825', or 'all' days back; default '30'), view (string: 'Open', 'Closed', 'On Hold', 'In Progress'; omit for all). Body: none. Returns: object with tickets[], total, pages, currentPage, st_count[] (counts grouped by status: Open/On Hold/Closed), selected_period, view. Errors: 401 unauthorized session. Note ticketstatusid mapping (Open=4, On Hold=5, Closed=6, In Progress=7). To search by subject/email/mask use postTicketsList. To open a ticket detail use getTicketInfo with the returned id. To create a new ticket see addNewTicket.  Sibling ops: `getTicketInfo` (detail), `postTicketsList` (search), `addNewTicket` (open new).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter page: (query) Page number for paginated results. (optional, default to 1)
    /// - parameter period: (query) How far back to show tickets from. Value is in days. (optional, default to ._30)
    /// - parameter view: (query) The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types. (optional)
    /// - returns: AnyPublisher<Tickets, Error> 
    open func getTicketsList(page: Int? = nil, period: GetTicketsListPeriod? = nil, view: GetTicketsListView? = nil) -> AnyPublisher<Tickets, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/tickets"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let page = page { queryItems.append(URLQueryItem(name: "page", value: "\(page)")) } 
                if let period = period { queryItems.append(URLQueryItem(name: "period", value: period.rawValue)) } 
                if let view = view { queryItems.append(URLQueryItem(name: "view", value: view.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Tickets, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetTicketsListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(Tickets.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PostTicketInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PostTicketInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Append a reply (and optional attachment, server-access fields) to a ticket
    /// - POST /tickets/{id}
    /// - Use to post a customer reply on an existing ticket. Path: id (int ticket ID). Body: body (string reply text; trimmed to first 500 words), file_attachment (multipart upload, optional), and the server-access custom fields ip/root_pass/sudo_user/sudo_pass/port_no/server_access (passwords AES-encrypted with auth_key=7). Either body OR an attachment is required. Notifies any swticketwatchers staff via templated email after posting. Returns: {status: 'success', message: 'Reply posted successfully'}. Errors: 400 'Please enter a message or attach a file'; 401 unauthorized; 404/422 'Invalid ticket!' when id missing or cross-account. Sibling: ReplyTicket (cleaner JSON-only reply at /tickets/{id}/reply), updateTicketInfo, getTicketInfo, deleteTicketInfo.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Ticket ID number. 
    /// - returns: AnyPublisher<ViewTicketResponse, Error> 
    open func postTicketInfo(id: Double) -> AnyPublisher<ViewTicketResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ViewTicketResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PostTicketInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ViewTicketResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PostTicketsListError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PostTicketsListError: Unauthorized: \(object)"
            }
        }
    }

    /// Search the authenticated account's tickets by subject, email, or mask ID
    /// - POST /tickets
    /// - Use when the user supplies a search term (subject keyword, email substring, or full ticket mask ID like 'ABC-123-456'). Scoped to tickets owned by the session account_lid. Body (form): search (string, required). If the term contains exactly two hyphens it is treated as an exact ticketmaskid match; otherwise a LIKE search runs across subject, email, and ticketmaskid. Returns: array of up to 25 matching ticket rows ordered by lastactivity DESC, each enriched with lastactivity_time (human-relative). Errors: 400 if search is empty or missing; 401 unauthorized. Caveat: this is a POST that reads, not a creator. To create see addNewTicket. To paginate full inbox use getTicketsList. To open one use getTicketInfo.  Sibling ops: `getTicketsList` (full inbox), `getTicketInfo` (detail), `addNewTicket` (open new).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<Tickets, Error> 
    open func postTicketsList() -> AnyPublisher<Tickets, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/tickets"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Tickets, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PostTicketsListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(Tickets.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PutTicketInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "PutTicketInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Update a ticket's properties such as subject or status (stub, not implemented)
    /// - PUT /tickets/{id}
    /// - Reserved for future use to update ticket subject/status. The PHP handler is currently an empty stub that returns no body, so callers should not rely on it in production. Path: id (int). Body: would carry subject/status fields when implemented. Returns: undefined behavior today. Errors: 401 unauthorized; expect 404/422 when implemented if id is invalid or not owned. Caveats: prefer updateTicketInfo (POST /tickets/{id}/update) for editing custom-field values today, postTicketInfo to add a reply, CloseTicket or deleteTicketInfo to close. Avoid scripting against this endpoint until the handler ships. Siblings: getTicketInfo, ReplyTicket.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) Ticket ID number. 
    /// - returns: AnyPublisher<ViewTicketResponse, Error> 
    open func putTicketInfo(id: Double) -> AnyPublisher<ViewTicketResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ViewTicketResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return PutTicketInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ViewTicketResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ReplyTicketError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "ReplyTicketError: Unauthorized: \(object)"
            }
        }
    }

    /// Post a simple text reply to an existing ticket thread (no attachments)
    /// - POST /tickets/{id}/reply
    /// - Use this lightweight endpoint to add a reply to an existing ticket without attachments or server-access fields. Cleaner alternative to postTicketInfo when only text is being submitted. Path: id (int ticket ID). Body (form): content (string, required reply body). Returns: {success: true, post_id: int} on success or {success: false, text: 'Reply content cannot be empty!' | 'Unable to reply ticket'}. Errors: 401 unauthorized; 404 implied via 'Unable to reply ticket' when id is invalid or owned by another account. Siblings: postTicketInfo (POST /tickets/{id}, supports attachments + custom fields), updateTicketInfo (custom fields only), CloseTicket, getTicketInfo to verify the new post_id appears in the thread.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The ticket ID number. 
    /// - parameter replyTicketRequest: (body)  (optional)
    /// - returns: AnyPublisher<ReplyTicketResponseSchema, Error> 
    open func replyTicket(id: Double, replyTicketRequest: ReplyTicketRequest? = nil) -> AnyPublisher<ReplyTicketResponseSchema, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}/reply"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(replyTicketRequest)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ReplyTicketResponseSchema, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return ReplyTicketError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ReplyTicketResponseSchema.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdateTicketInfoError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "UpdateTicketInfoError: Unauthorized: \(object)"
            }
        }
    }

    /// Update a ticket's custom field values (server-access details, etc.)
    /// - POST /tickets/{id}/update
    /// - Use to save or change the structured custom-field values attached to a ticket — typically server-access details supplied by the customer. Path: id (int ticket ID). Body (form): one field per custom-field title, lowercased with spaces replaced by underscores (e.g. ip, root_pass, sudo_user, sudo_pass, port_no, server_access). Field id 7 (auth_key) is skipped — never set it directly. Returns: {success: true, text: 'Ticket is updated!'} or {success: false, text: 'Unable to update ticket'}. Errors: 401 unauthorized; 404 invalid or non-owned ticket. Caveats: this updates metadata only — to add a reply use ReplyTicket, to close use CloseTicket, to read current state use getTicketInfo.  Sibling ops: `getTicketInfo` (read), `ReplyTicket` (reply), `CloseTicket` (close).
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The ticket ID number. 
    /// - parameter updateTicket: (body)  (optional)
    /// - returns: AnyPublisher<UpdateTicketResponseSchema, Error> 
    open func updateTicketInfo(id: Double, updateTicket: UpdateTicket? = nil) -> AnyPublisher<UpdateTicketResponseSchema, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/tickets/{id}/update"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(updateTicket)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<UpdateTicketResponseSchema, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return UpdateTicketInfoError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(UpdateTicketResponseSchema.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
