{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "support@interserver.net",
      "name" : "InterServer Support Staff",
      "url" : "https://www.interserver.net/contact-us.html"
    },
    "description" : "# Overview\n\nThe InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.\n\nThe API covers the following service categories:\n- [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management\n- [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting\n- [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers\n- [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html)\n- [Backups](https://www.interserver.net/storage/) — storage and backup services\n- Licenses — control panel and software licenses\n- [Mail](https://www.mail.baby/) — mail delivery services\n- SSL — certificate provisioning\n- Billing — invoices, payment methods, and account management\n\nFor interactive testing, see the [API documentation](/api-docs/).\n\n# Authentication\n\nMost endpoints require authentication. Two methods are supported:\n\n## API Key (Preferred)\n\nGenerate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:\n\n```\nX-API-KEY: your-api-key-here\n```\n\n## Session-Based Authentication\n\nAlternatively, authenticate by creating a session:\n\n1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier.\n2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:\n\n```\nsessionid: your-session-id-here\n```\n\nAPI key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.\n\n",
    "license" : {
      "name" : "MIT License",
      "url" : "https://opensource.org/licenses/MIT"
    },
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "title" : "InterServer Management API",
    "version" : "0.9.0",
    "x-service-info" : {
      "category" : "web-infrastructure",
      "subcategories" : [ "hosting", "cloud-compute", "domains-dns", "email-delivery", "tls-certificates", "storage-backup", "networking" ],
      "supported_currencies" : [ "USD" ],
      "billing_models" : [ "one-time", "recurring" ],
      "marketplace" : {
        "url" : "https://www.interserver.net/",
        "order_endpoint" : "/billing/cart",
        "checkout_endpoint" : "/billing/pay/{method}/{invoices}"
      }
    }
  },
  "externalDocs" : {
    "description" : "Tips",
    "url" : "https://www.interserver.net/tips/"
  },
  "servers" : [ {
    "description" : "Live API Endpoint",
    "url" : "https://my.interserver.net/apiv2"
  } ],
  "security" : [ {
    "apiKeyAuth" : [ ]
  }, {
    "sessionIdHeaderAuth" : [ ]
  }, {
    "sessionIdCookieAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Endpoints that do not require authentication. Use these to check API availability, look up reference data (countries, currencies, timezones), and authenticate.",
    "name" : "Public"
  }, {
    "description" : "Manage your account profile, contact information, security settings, API keys, SSH keys, two-factor authentication, and IP access restrictions.",
    "name" : "Account"
  }, {
    "description" : "Invoices, shopping cart, prepay balances, credit cards, and payment processing. Use `/billing/pay/{method}/{invoices}` to complete payment for outstanding invoices.",
    "name" : "Billing"
  }, {
    "description" : "Cloud backup storage services. Order, view, and manage backup storage quotas and credentials.",
    "name" : "Backups"
  }, {
    "description" : "Manage DNS domains and records hosted on InterServer's nameservers. Create domains, add/update/delete A, AAAA, CNAME, MX, TXT, and other record types.",
    "name" : "DNS"
  }, {
    "description" : "Domain registration, transfers, renewals, WHOIS, nameserver management, and DNSSEC configuration.",
    "name" : "Domains"
  }, {
    "description" : "Floating IP services that provide portable IP addresses which can be reassigned between servers for high availability and failover.",
    "name" : "Floating_IPs"
  }, {
    "description" : "Software license provisioning for control panels (cPanel, Plesk, DirectAdmin) and other licensed software. Order, manage, and change IP assignments.",
    "name" : "Licenses"
  }, {
    "description" : "Mail Baby email delivery services. Order, manage, view logs, configure alerts and deny rules, and monitor deliverability.",
    "name" : "Mail"
  }, {
    "description" : "Rapid Deploy Servers (QuickServers) — pre-configured dedicated servers available for fast provisioning with OS reinstall, backup, and VNC capabilities.",
    "name" : "QuickServers"
  }, {
    "description" : "Dedicated server ordering and management. Configure custom hardware, view IPMI information, and manage server lifecycle.",
    "name" : "Servers"
  }, {
    "description" : "SSL/TLS certificate provisioning and management. Order, renew, and manage certificates for securing your domains.",
    "name" : "SSL-Certificates"
  }, {
    "description" : "Virtual Private Server management. Order, configure, backup, restore, reinstall, and control VPS instances with full root access.",
    "name" : "VPS"
  }, {
    "description" : "Shared and reseller web hosting packages. Order, manage, and access hosting control panels, backups, and reverse DNS.",
    "name" : "Webhosting"
  }, {
    "description" : "Support ticket system. Create new tickets, reply to existing ones, view ticket history, and close resolved issues.",
    "name" : "Tickets"
  }, {
    "description" : "DDoS protection and IP scrubbing services. Manage protected IPs, configure firewall rules, geographic filters, and view traffic logs.",
    "name" : "Scrub Ips"
  } ],
  "paths" : {
    "/account" : {
      "summary" : "User Account Information and Management",
      "description" : "This endpoint allows you to manage various user details, including contact information and account security.\n\n- Use the `GET` method to retrieve your account information.\n- Use the `POST` method to update your stored contact and billing information.\n",
      "get" : {
        "description" : "Use to render the account-settings page or to verify current state before mutating with `updateAccountInfo`. No body, no path params. Returns: full profile (name, company, address1/2, city, state, zip, country, phone, email_invoices, email_abuse, gstin, locale, timezone), masked credit-card list (last-4 digits only — full PAN never returned), OAuth provider config (with secret keys stripped), feature toggles (`disable_reset`, `disable_reinstall`, `disable_*_notifications`), gravatar URL, language, country->currency map, and `enableLocales`/`enableCurrencies` UI flags. Timezone defaults to IP-derived value if unset, falling back to America/New_York. Errors: 401 if session invalid or expired. Sibling ops: `updateAccountInfo`, `getAccountTfaSetup`, `updateAccountFeatures`, `updateAccountIpLimits`.",
        "operationId" : "getAccountInfo",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountInfo"
                }
              }
            },
            "description" : "Your account information.",
            "links" : {
              "UpdateAccountInfo" : {
                "description" : "Use the returned account data to pre-fill an update form and submit changes via POST /account.",
                "operationId" : "updateAccountInfo"
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read full account profile, billing address, and security settings",
        "tags" : [ "Account" ]
      },
      "post" : {
        "description" : "Use to change the customer's name, company, mailing address, phone, GSTIN, locale, timezone, or notification-email overrides (`email_invoices`, `email_abuse`). Submit only fields you want to change — partial updates supported. Required (must be non-empty if sent): `name`, `country`, `address`, `city`, `state`, `zip`, `phone`. Phone is normalized: parens, dashes, underscores stripped. Timezone must be a valid IANA identifier (e.g. `America/New_York`). Side effects: triggers FraudRecord + MaxMind risk re-scoring on first save, updates Kayako helpdesk username when `name` changes. Returns `{success:true}`. Errors: 401 missing-required field; 422 invalid timezone or empty payload. Sibling ops: `getAccountInfo`, `updateAccountFeatures`, `updateAccountPassword`.",
        "operationId" : "updateAccountInfo",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountInfoPost"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountInfoPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "InvalidTimeZone" : {
                    "value" : {
                      "message" : "Invalid Time Zone"
                    }
                  },
                  "MissingRequiredFields" : {
                    "value" : {
                      "message" : "fname, lname cannot be empty!"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Validation error while updating account data."
          }
        },
        "summary" : "Update contact and billing-address fields on the customer profile",
        "tags" : [ "Account" ]
      }
    },
    "/account/2fa" : {
      "get" : {
        "description" : "Use as step 1 of 2FA enrollment. The 160-bit secret is generated on first call and cached in the session until the user completes (or abandons) setup. No body, no path params. Returns `{2fa_google_key, 2fa_google_split}` — render `2fa_google_key` as a QR code (otpauth://totp/My.InterServer:LID?secret=KEY) and display `2fa_google_split` (key chunked into 4-char groups, space-separated) for manual entry. After the user types the 6-digit code from their app, finalize enrollment with `updateAccountTfa`. Calling this multiple times before enrolling reuses the same in-session secret. Errors: 401 if session invalid. Sibling ops: `updateAccountTfa` (verify & enable), `deleteAccountTfa` (disable).",
        "operationId" : "getAccountTfaSetup",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountTfaSetup_200_response"
                }
              }
            },
            "description" : "Two-factor authentication setup data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Fetch TOTP secret to enroll a 2FA authenticator app (Google Authenticator etc.)",
        "tags" : [ "Account" ]
      },
      "post" : {
        "description" : "Use as step 2 of 2FA enrollment, after `getAccountTfaSetup`. Body: `{2fa_google_code:string}` — the 6-digit code currently displayed by the user's authenticator app for the secret returned from `getAccountTfaSetup`. On verify success, the secret is persisted to `account_security` (type `2fa_google_key`, label `default`) and ALL OTHER active sessions for this account are invalidated (server destroys appsessions and sessions rows where session_id != current). The current session remains. Subsequent logins will require both password and a fresh TOTP code. Returns `{success:true, text}`. Errors: 401 unauthenticated; 422 `Invalid Code` if the TOTP doesn't match (clock skew, wrong app entry, or expired). Sibling ops: `getAccountTfaSetup`, `deleteAccountTfa`.",
        "operationId" : "updateAccountTfa",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateAccountTfa_request"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateAccountTfa_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "InvalidCode" : {
                    "value" : {
                      "message" : "Invalid Code"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Provided two-factor verification code was invalid."
          }
        },
        "summary" : "Verify TOTP code and enable two-factor authentication on the account",
        "tags" : [ "Account" ]
      },
      "delete" : {
        "description" : "DESTRUCTIVE: removes the 2FA secret from `account_security` and clears the in-session secret cache. After success, only password authentication is required for future logins — security posture drops materially. No body, no path params. Use when the customer has lost their authenticator device or wants to re-enroll from scratch (call this, then `getAccountTfaSetup` -> `updateAccountTfa`). Returns `{success:true, text:'Google Two Factor Authentication is disabled successfully!'}`. Errors: 401 unauthenticated. Caveat: existing sessions remain valid; rotate `updateAccountPassword` if you suspect credential compromise. Sibling ops: `getAccountTfaSetup`, `updateAccountTfa`, `updateAccountPassword`.",
        "operationId" : "deleteAccountTfa",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Disable two-factor authentication and remove the TOTP secret",
        "tags" : [ "Account" ]
      }
    },
    "/account/apikey" : {
      "post" : {
        "description" : "DESTRUCTIVE: generates a new 128-character random API key and overwrites the existing entry in `account_security` (type `api_key`, label `default`). The OLD key stops working the moment this returns — any scripts, MCP clients, or CI jobs using the previous key will start receiving 401 until updated. No body, no path params. Returns `{success:true, text:NEW_KEY}` — the plaintext key is returned ONCE in this response and is not retrievable later (only stored hashed-equivalent server-side for verification). Store immediately in a secret manager. Use after suspected credential leak, employee offboarding, or routine rotation. Errors: 401 unauthenticated. Sibling ops: `updateAccountPassword`, `updateAccountIpLimits`, `Logout`.",
        "operationId" : "updateAccountApiKey",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Rotate the account's REST/MCP API key — old key is invalidated immediately",
        "tags" : [ "Account" ]
      }
    },
    "/account/countries" : {
      "get" : {
        "description" : "Populates country dropdowns in account registration, billing-address forms, and domain/whois contact forms. Public — no auth required. Disabled countries (e.g. embargoed jurisdictions) are excluded — admins toggle this in `country_t.enabled`. Sibling ops: `getTimezones`, `getAccountLocales`, `getAccountCurrencies`, `updateAccountInfo` (consumes the chosen country).\n\n**Query parameters:**\n- `fetch_by` (string, optional) — one of `iso2` (default; two-letter codes like `US`, `GB`), `iso3` (three-letter like `USA`, `GBR`), or `numcode` (UN M49 numeric like `840`). Any other value silently falls back to `iso2`.\n\n**Body:** None.\n\n**Returns:** JSON object mapping the chosen key format to the country's short name — e.g. `{ \"AF\": \"Afghanistan\", \"US\": \"United States\", \"ZW\": \"Zimbabwe\" }`. Sourced from the `country_t` table, filtered to `enabled=1`, ordered alphabetically by `short_name`.\n\n**Auth:** None.\n\n**Errors:** No documented error path.\n\n**Related calls:**\n- **Apply to account profile:** `updateAccountInfo`.\n- **Other preference catalogs:** `getTimezones`, `getAccountLocales`, `getAccountCurrencies`.\n",
        "operationId" : "getCountries",
        "parameters" : [ {
          "description" : "Get countries by iso2 or iso3 or numcode",
          "explode" : true,
          "in" : "query",
          "name" : "fetch_by",
          "required" : false,
          "schema" : {
            "enum" : [ "iso2", "iso3", "numcode" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "AccountCountriesExample" : {
                    "value" : {
                      "AF" : "Afghanistan",
                      "US" : "United States",
                      "ZW" : "Zimbabwe"
                    }
                  }
                },
                "schema" : {
                  "type" : "object"
                }
              }
            },
            "description" : "The list of countries with both 2 letter abbreviations and the country names."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "security" : [ { } ],
        "summary" : "List enabled countries keyed by ISO-2/ISO-3/numeric code",
        "tags" : [ "Public" ]
      }
    },
    "/account/currencies" : {
      "get" : {
        "description" : "Populates a currency selector on signup, billing-preferences, or invoice-display forms. Public — no auth required. The list changes only when an admin enables/disables a currency — cache client-side. Sibling ops: `getCountries`, `getTimezones`, `getAccountLocales`, plus the billing-preference endpoints under `/account/*` and `/billing/*`.\n\n**Path/Query/Body:** None.\n\n**Returns:** flat JSON array of ISO-4217 currency codes — e.g. `[\"USD\", \"EUR\", \"GBP\", \"INR\"]`. Sourced from rows in the `currencies` table where `currency_enabled=1`, in the natural row order. The endpoint returns codes only — for symbols, decimals, or exchange rates use a separate currency-detail endpoint or a static client-side map.\n\n**Auth:** None.\n\n**Errors:** No documented error path.\n\n**Related calls:**\n- **Apply to account profile:** `updateAccountInfo`.\n- **Other preference catalogs:** `getCountries`, `getTimezones`, `getAccountLocales`.\n",
        "operationId" : "getAccountCurrencies",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "AccountCurrenciesExample" : {
                    "value" : [ "USD", "EUR", "GBP", "INR" ]
                  }
                },
                "schema" : {
                  "items" : {
                    "type" : "string"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "An array of enabled currency codes."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "security" : [ { } ],
        "summary" : "List enabled currency codes accepted for billing and preferences",
        "tags" : [ "Public" ]
      }
    },
    "/account/features" : {
      "post" : {
        "description" : "Updates account-level feature flags that gate destructive service operations across every VPS / dedicated / QuickServer the customer owns. Useful for production accounts that want belt-and-suspenders protection against accidental reinstalls or root-password resets via the panel/API. Changes take effect immediately for all subsequent service operations. Sibling ops: `getAccountInfo`, `updateAccountInfo`, `updateAccountIpLimits`.\n\n**Body fields:**\n- `disable_reset` (bool, optional) — when `true`, blocks server / VPS root-password resets account-wide.\n- `disable_reinstall` (bool, optional) — when `true`, blocks OS reinstalls account-wide.\n\nSubmit either or both. Flags absent from the request default to `0` for the comparison and only persist if their value differs from the current stored value.\n\n**Returns:** `{ success: true, text }`.\n\n**Errors:**\n- `401` — unauthenticated.\n- `400` / `422` — `Nothing to update` when neither flag's value differs from current.\n",
        "operationId" : "updateAccountFeatures",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountFeatures"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountFeatures"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NoChanges" : {
                    "value" : {
                      "message" : "Nothing to update"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Request was valid but did not contain updatable values."
          }
        },
        "summary" : "Toggle account-wide safety locks for password reset and OS reinstall",
        "tags" : [ "Account" ]
      }
    },
    "/account/iplimits" : {
      "post" : {
        "description" : "DESTRUCTIVE / LOCKOUT-RISK: appends an IP range to `accounts.session_limit`. Once ANY range exists, all `/apiv2` and panel access is restricted to matching source IPs. Body: `{start, end, restrict?}` — both IPv4 dotted-quad; `restrict` is `Web & API` (default) or `Only API`. Safety net: server checks the caller's IP against the resulting list and auto-appends a /32 for the caller if not already covered (response text warns about this). The MCP server sets header `X-API-APP: 1` which short-circuits the IP check entirely (see `api_check_auth_limits()`), so MCP tools keep working. Caveats: `192.168.1.0`-`192.168.1.255` is rejected as a placeholder. Returns `{success:true, text}`. Errors: 400/422 `Invalid IP Address`; 401 unauthenticated. Sibling ops: `deleteIpLimit`, `getAccountInfo`.",
        "operationId" : "updateAccountIpLimits",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "examples" : {
                "IpLimitRangeFormExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              }
            },
            "application/json" : {
              "examples" : {
                "IpLimitRangeJsonExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              }
            }
          },
          "description" : "The lower and upper bounds of an ip range.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "InvalidIp" : {
                    "value" : {
                      "message" : "Invalid IP Address"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "IP limit payload contains an invalid address."
          }
        },
        "summary" : "Add an IP CIDR/range to the account's API+web allow-list (lockout-safe)",
        "tags" : [ "Account" ]
      },
      "patch" : {
        "description" : "DESTRUCTIVE: deletes the matching `{start, end}` entry from `accounts.session_limit`. Method is PATCH (not DELETE) because the path collides with `updateAccountIpLimits`. Body: `{start, end}` — must exactly match an existing range (trim-equal on both bounds). Behaviour: if removing this range would leave an empty list, IP limiting is disabled and the account becomes accessible from any IP. If ranges remain but none cover the caller's source IP, the server auto-injects a /32 for the caller to prevent self-lockout (response text warns). MCP callers bypass via `X-API-APP: 1` header. Returns `{success:true, text:'IP Range deleted.'}`. Errors: 400/422 `Invalid IP Address` if `start`/`end` aren't valid IPs; 401 unauthenticated. Sibling ops: `updateAccountIpLimits`, `getAccountInfo`.",
        "operationId" : "deleteIpLimit",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "IP Range removed."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Remove one IP range from the account allow-list (PATCH on /account/iplimits)",
        "tags" : [ "Account" ]
      }
    },
    "/account/locales" : {
      "get" : {
        "description" : "Renders the language-picker for account preferences or login pages. Public — no auth required. Cross-references PHP's Punic locale data with `locale/google_langs.php` so only locales with Google Translate support are returned. Result is essentially static — cache client-side. Sibling ops: `getCountries`, `getTimezones`, `getAccountCurrencies`, `updateAccountInfo` (consumes the chosen locale).\n\n**Path/Query/Body:** None.\n\n**Returns:** JSON object keyed by BCP-47-style locale code, with `{ name, local_name }` per entry — e.g.\n\n    {\n      \"en\": { \"name\": \"English\", \"local_name\": \"English\" },\n      \"es\": { \"name\": \"Spanish\", \"local_name\": \"español\" },\n      \"fr\": { \"name\": \"French\", \"local_name\": \"français\" }\n    }\n\n`name` is the English label; `local_name` is the locale's name in its own language (good for accessibility and avoiding the wrong-script problem).\n\n**Auth:** None.\n\n**Errors:** No documented error path.\n\n**Related calls:**\n- **Apply to account profile:** `updateAccountInfo` (sets `locale`).\n- **Other preference catalogs:** `getCountries`, `getTimezones`, `getAccountCurrencies`.\n",
        "operationId" : "getAccountLocales",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "AccountLocalesExample" : {
                    "value" : {
                      "en" : {
                        "name" : "English",
                        "local_name" : "English"
                      },
                      "es" : {
                        "name" : "Spanish",
                        "local_name" : "español"
                      },
                      "fr" : {
                        "name" : "French",
                        "local_name" : "français"
                      }
                    }
                  }
                },
                "schema" : {
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/getAccountLocales_200_response_value"
                  },
                  "type" : "object"
                }
              }
            },
            "description" : "Map of locale identifiers to display names."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "security" : [ { } ],
        "summary" : "List supported UI locales with English and native display names",
        "tags" : [ "Public" ]
      }
    },
    "/account/oauth/{name}" : {
      "delete" : {
        "description" : "DESTRUCTIVE: removes the linked provider's tokens from `accounts_ext` (rows where `account_key` IN (`{name}_id`,`{name}_url`)). After unlinking, that provider can no longer be used to log in or pre-fill profile data — the user must log in via password (and 2FA if enabled). Path param: `name` (case-insensitive provider key, e.g. `google`, `github`, `facebook`) — must be present in `getOauthConfig().providers`. No request body. Use when the customer wants to revoke a previously authorized social-login. Returns `{success:true, text:'OAuth Provider Unlinked.'}`. Errors: 400 `Invalid Provider Name.` if `name` not configured; 401 unauthenticated. Sibling ops: `logoutAccountOauth`, `getAccountInfo`, `updateAccountPassword`.",
        "operationId" : "deleteAccountOauthName",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Unlink a third-party OAuth/social provider (Google, GitHub, etc.) from the account",
        "tags" : [ "Account" ]
      }
    },
    "/account/oauth/{name}/logout" : {
      "get" : {
        "description" : "Soft de-authorization for a linked OAuth provider — terminates only the upstream provider session/cookie state. The account-level link in `accounts_ext` is preserved, so the user can log back in with that provider without re-linking. Path param: `name` (provider key, e.g. `google`, `github`). No request body. Use when forcing a fresh consent screen on next OAuth login, or after the user reports a stuck/stale provider session. NOT a substitute for `Logout` (which kills the MyAdmin session) and NOT a substitute for `deleteAccountOauthName` (which permanently severs the link). Returns `{success:true, text:'OAuth Provider Logged Out.'}`. Errors: 401 unauthenticated. Sibling ops: `deleteAccountOauthName`, `Logout`, `getAccountInfo`.",
        "operationId" : "logoutAccountOauth",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Sign out of the upstream OAuth provider session (does not unlink the account)",
        "tags" : [ "Account" ]
      }
    },
    "/account/password" : {
      "post" : {
        "description" : "DESTRUCTIVE: changes the account login password and invalidates all OTHER active sessions for this account. The current caller's session is preserved; API keys generated via `updateAccountApiKey` remain valid. Sibling ops: `updateAccountApiKey`, `Logout`, `updateAccountTfa`.\n\n**Body fields:**\n- `currentpassword` (string, required) — verified via `auth::authenticate`.\n- `password` (string, required) — must pass `valid_password()` — 8–50 chars, at least one uppercase, one lowercase, one digit, and one of `_~-!@#$%^&*`.\n- `password2` (string, required) — must equal `password`.\n\n**Returns:** `{ success: bool }` — flash messages on the response capture per-field errors.\n\n**Side effects:**\n- Persists `md5(password)` to `accounts.account_passwd`.\n- Sends `password_change_notify.tpl` email to the account login id.\n- Destroys all other sessions for this account row-by-row.\n\n**Errors:**\n- `401` — unauthenticated.\n- Flash `Current login password is mismatching` — bad `currentpassword`.\n- Flash `Confirm Password is mismatching` — `password` ≠ `password2`.\n- Flash password-policy violation message.\n",
        "operationId" : "updateAccountPassword",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Response with a text message field."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Change the account login password (verifies current, kills other sessions)",
        "tags" : [ "Account" ]
      }
    },
    "/account/sshkey" : {
      "post" : {
        "description" : "Stores or replaces the SSH public key on `account_security` (type `ssh_key`, label `default`). On future VPS, dedicated server, or quickserver orders the activation flow can install this key into `~/.ssh/authorized_keys` for the root/sudo user, eliminating password-based SSH for the initial provisioning. Body: `{sshKey:string}` — full single-line OpenSSH public key (ssh-rsa/ssh-ed25519/ecdsa-sha2-* + base64 + optional comment). Newlines are stripped on save. Existing servers are NOT retroactively updated — only new orders pick this up. Use to set up key-based access ahead of order activation, or to rotate the canonical key. Returns `{success:true, text:'SSH Keys Updated.'}`. Errors: 401 unauthenticated. Sibling ops: `getAccountInfo`, `updateAccountPassword`, `updateAccountApiKey`.",
        "operationId" : "updateAccountSshKey",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountSshKey"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountSshKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Set the account-level SSH public key auto-installed on new VPS/dedicated orders",
        "tags" : [ "Account" ]
      }
    },
    "/account/timezones" : {
      "get" : {
        "description" : "Populates a timezone picker for account preferences or for VPS / QuickServer timezone changes. Public — no auth required. Backed by PHP's `DateTimeZone::listIdentifiers()` so the catalog is large (~400+ zones, including deprecated aliases like `US/Eastern`). Result is fixed for a given PHP build — cache aggressively client-side. Sibling ops: `postVpsChangeTimezone`, `postQsChangeTimezone`, `getCountries`, `getAccountLocales`, `getAccountCurrencies`.\n\n**Path/Query/Body:** None.\n\n**Returns:** flat JSON array of stable IANA tz strings, e.g. `[\"Africa/Abidjan\", \"America/New_York\", \"Asia/Tokyo\", \"Europe/London\", \"UTC\"]`. Values are usable verbatim on the timezone-change endpoints; no translation or country-grouping is performed here.\n\n**Auth:** None.\n\n**Errors:** No documented error path under normal operation.\n\n**Related calls:**\n- **Apply selection to a service:** `postVpsChangeTimezone` (`/vps/{id}/change_timezone`), `postQsChangeTimezone` (`/qs/{id}/change_timezone`).\n- **Apply to account profile:** `updateAccountInfo` (sets `timezone`).\n- **Other preference catalogs:** `getCountries`, `getAccountLocales`, `getAccountCurrencies`.\n",
        "operationId" : "getTimezones",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "TimezonesExample" : {
                    "value" : [ "Africa/Abidjan", "America/New_York", "Asia/Tokyo", "Europe/London", "UTC" ]
                  }
                },
                "schema" : {
                  "items" : {
                    "type" : "string"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "An array of all available timezone identifiers."
          }
        },
        "security" : [ { } ],
        "summary" : "List all PHP timezone identifiers usable on accounts and services",
        "tags" : [ "Public" ]
      }
    },
    "/affiliate/banners" : {
      "get" : {
        "description" : "Returns the catalog of pre-built banner images affiliates can embed on partner sites — same catalog for every account (not per-affiliate). Use to render a creative-asset picker in the affiliate dashboard. Each row carries the image filename and dimensions so the client can build correctly-sized `<img>` tags. Read-only. Sibling ops: `getAffiliateRichReport`, `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateWebTraffic`, `getAffiliateSignups`, `updateAffiliateDockSetup`.\n\n**Path/Query/Body:** None.\n\n**Returns:** Array of `AffiliateBannerRow`:\n- `image` (string) — filename (e.g. `12946798.gif`); served from the affiliate asset bucket.\n- `width` (string) — pixels.\n- `height` (string) — pixels.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateBanners",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "AffiliateBannerExample" : {
                    "value" : [ {
                      "image" : "12946798.gif",
                      "width" : "125",
                      "height" : "125"
                    }, {
                      "image" : "12946800.gif",
                      "width" : "160",
                      "height" : "90"
                    }, {
                      "image" : "12946802.gif",
                      "width" : "160",
                      "height" : "190"
                    }, {
                      "image" : "12946806.gif",
                      "width" : "200",
                      "height" : "200"
                    }, {
                      "image" : "12946808.gif",
                      "width" : "250",
                      "height" : "250"
                    }, {
                      "image" : "12946811.gif",
                      "width" : "300",
                      "height" : "250"
                    } ]
                  }
                },
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/AffiliateBannerRow"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Affiliate Banners Array"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "List affiliate banner image assets with filename and dimensions",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/dock_setup" : {
      "post" : {
        "description" : "Customizes the branded landing-dock page shown to visitors arriving via the affiliate's referral link, and reserves a unique referrer coupon code that's automatically created across all affiliate-eligible modules. Title/description allow a limited HTML allowlist (`<b>`, `<br>`, `<strong>`, `<hr>`); everything else is entity-escaped. Coupon changes propagate to **all** affiliate modules atomically. Sibling ops: `updateAffiliatePaymentSetup`, `getAffiliateSignups`.\n\n**Body fields (multipart or JSON, schema `AffiliateDockSetup`):**\n- `affiliate_dock_title` (string, optional) — landing-page title. HTML allowlist: `<b>`, `<br>`, `<strong>`, `<hr>`.\n- `affiliate_dock_description` (string, optional) — landing-page body. Same allowlist.\n- `referrer_coupon` (string, optional) — coupon code reservation. Requirements:\n  - ≥ 6 chars.\n  - `^[a-zA-Z0-9]+$` (alphanumeric only).\n  - Must NOT contain `facebook`, `test`, or `interserver` (substring check, case-insensitive).\n  - Must NOT exactly match a reserved word.\n  - Must NOT already exist as a coupon in any affiliate module (`webhosting`, `vps`, `quickservers`, `servers`, `backups`).\n\n**Returns:** `{text: \"<status message>\"}`.\n\n**Side effects:**\n- First time setting `referrer_coupon`: inserts a `coupons` row in each affiliate module (`type=3`, `amount=0.01`, `onetime=1`, `customer=-1`, `usable=1`, `applies=-1`).\n- Changing `referrer_coupon`: renames the coupon across all affiliate modules in one transaction.\n- Updates the account's `affiliate_dock_title`, `affiliate_dock_description`, `referrer_coupon` fields.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `422 The name must be at least 6 characters long`.\n- `422 Invalid Characters, use only standard english letters and numbers`.\n- `422 That is a reserved word that cannot be used here`.\n- `422 <position> is a reserved word that cannot be used here` (substring match against `facebook`/`test`/`interserver`).\n- `409 That name is already taken` — coupon exists in another account's module.\n- `401` — unauthenticated.\n",
        "operationId" : "updateAffiliateDockSetup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Response with a text message field."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Configure the affiliate landing dock title, description, and referrer coupon",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/download" : {
      "get" : {
        "description" : "Exports the affiliate signup report as a downloadable file in the requested format. Use for accounting, tax filings, or sharing reports outside the dashboard. **Response is a binary stream, not JSON** — the handler emits the file body with matching `Content-Type` + `Content-Disposition: attachment` headers and `exit()`s the request immediately. Consumers must read the raw response body. Sibling ops: `getAffiliateRichReport`, `getAffiliateSignups`, `getAffiliateSalesGraph`.\n\n**Query params:**\n- `ex` (string, optional, enum `csv`/`xls`/`xlsx`/`pdf`, default `csv`) — export format.\n- `st` (string, optional, default `default`) — status filter (same as `getAffiliateSignups`).\n- `year` (integer, optional, default current year) — report scope.\n\n**Returns:** File download with format-appropriate Content-Type:\n- `csv` → `text/csv`, filename `Interserver_Affiliates.csv`.\n- `xls` / `xlsx` → `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`, filename `Interserver_Affiliates.<ext>`.\n- `pdf` → `application/pdf`, filename `Interserver_Affiliates.pdf`.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateDownload",
        "parameters" : [ {
          "description" : "Filter by status.",
          "explode" : true,
          "in" : "query",
          "name" : "st",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Export format: csv, xls, xlsx, or pdf. Defaults to csv.",
          "explode" : true,
          "in" : "query",
          "name" : "ex",
          "required" : false,
          "schema" : {
            "enum" : [ "csv", "xls", "xlsx", "pdf" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Year to filter the report. Defaults to the current year.",
          "explode" : true,
          "in" : "query",
          "name" : "year",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "description" : "Affiliate report file download. The response Content-Type matches the requested format (text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, or application/pdf)."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Export the affiliate signup report as CSV, XLS, XLSX, or PDF file download",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/payment_setup" : {
      "post" : {
        "description" : "Sets the disbursement preferences for affiliate commission payouts. Choose between PayPal payout (provide an email — validated) or internal prepay credit (auto-applied to future invoices via `method=prepay`). Selecting `not set` suspends payouts. Sibling ops: `updateAffiliateDockSetup`, `getAffiliateRichReport`, `getAffiliateDownload`.\n\n**Body fields (multipart or JSON, schema `AffiliatePaymentSetup`):**\n- `affiliate_payment_method` (string, optional) — one of `paypal` / `prepay` / `not set`.\n- `affiliate_paypal` (string, optional, required when method=`paypal`) — email validated by `valid_email()`.\n\n**Returns:** `{text: \"Ok\"}`.\n\n**Side effects:**\n- Updates the account's `affiliate_payment_method` and/or `affiliate_paypal` fields.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `422 Invalid Email` — `affiliate_paypal` fails `valid_email()`.\n- `422 Invalid Payment Method` — value not in `{paypal, prepay, not set}`.\n- `401` — unauthenticated.\n\n**Related calls:**\n- **Read current commissions:** `getAffiliateRichReport`, `getAffiliateSalesGraph`.\n- **Export commission report:** `getAffiliateDownload`.\n",
        "operationId" : "updateAffiliatePaymentSetup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliatePaymentSetup"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliatePaymentSetup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Response with a text message field."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Configure how affiliate commissions get paid out (PayPal or internal prepay)",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/rich_report" : {
      "get" : {
        "description" : "Returns a server-rendered HTML/text summary report combining commission totals, conversion rates, and traffic in one round-trip — useful for embedding in a dashboard panel. The payload is **not structured JSON** — for chart-friendly data use `getAffiliateSalesGraph` and `getAffiliateTrafficGraph` instead. Backed by `affiliate_summary_report()`. Sibling ops: `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateSignups`, `getAffiliateDownload`, `getAffiliateWebTraffic`.\n\n**Path/Query/Body:** None.\n\n**Returns:** `{text: \"<html-or-plain-text-report>\"}`.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n\n**Related calls:**\n- **Structured time series:** `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`.\n- **Per-signup detail:** `getAffiliateSignups`.\n- **CSV/XLSX export:** `getAffiliateDownload`.\n",
        "operationId" : "getAffiliateRichReport",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            },
            "description" : "Response with a text message field."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read a combined affiliate performance summary (HTML payload)",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/sales_graph" : {
      "get" : {
        "description" : "Returns aggregated sales time-series data — monthly buckets with sale counts/totals — for the requested look-back window. Use to render a sales trend chart in the affiliate dashboard. Bucket granularity is fixed at monthly by `sales_graph_lte_data`; increasing `days` extends the window, it does not change bucket size. Sibling ops: `getAffiliateTrafficGraph` (clicks), `getAffiliateRichReport` (combined summary), `getAffiliateSignups`, `getAffiliateDownload`.\n\n**Query params:**\n- `days` (integer, optional, default `365`) — look-back window in days.\n\n**Returns:** `StatusMonthlyBreakdown` — buckets keyed by month with aggregated sale counts and amounts.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateSalesGraph",
        "parameters" : [ {
          "description" : "Number of days of sales history to include in the graph data. Determines the time window for the returned data points.",
          "explode" : true,
          "in" : "query",
          "name" : "days",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusMonthlyBreakdown"
                }
              }
            },
            "description" : "Affiliate sales graph data broken down by time period."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read aggregated affiliate sales time-series (monthly buckets) for chart rendering",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/signups" : {
      "get" : {
        "description" : "Returns referred-customer signup statistics with optional status filtering — counts, conversion data, and per-customer detail produced by `affiliates_clientside()`. The inner `data` shape varies by status filter; pass `default` for the full dataset. Sibling ops: `getAffiliateRichReport`, `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateDownload`.\n\n**Query params:**\n- `st` (string, optional, default `default`) — status filter. `default` returns all; other values narrow the results to that status.\n\n**Returns:** `{data: <object>}` — signup counts, conversions, per-customer detail (shape depends on `st`).\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateSignups",
        "parameters" : [ {
          "description" : "Filter signups by status. Use `default` to show all or pass a specific status value to narrow results.",
          "explode" : true,
          "in" : "query",
          "name" : "st",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAffiliateSignups_200_response"
                }
              }
            },
            "description" : "Affiliate signup statistics."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read affiliate signup stats and per-customer conversion data",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/traffic_graph" : {
      "get" : {
        "description" : "Returns aggregated click/visit time-series data from the `affiliate_traffic` table — monthly buckets with visit counts — for the requested look-back window. Pair with `getAffiliateSalesGraph` to compute click-to-sale conversion ratios client-side. Sibling ops: `getAffiliateSalesGraph` (sales), `getAffiliateWebTraffic` (raw per-visit log entries), `getAffiliateRichReport`.\n\n**Query params:**\n- `days` (integer, optional, default `180`) — look-back window in days.\n\n**Returns:** `MonthlyCounts` — buckets keyed by month with aggregated visit counts.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateTrafficGraph",
        "parameters" : [ {
          "description" : "Number of days of traffic history to include in the graph data. Determines the time window for the returned data points.",
          "explode" : true,
          "in" : "query",
          "name" : "days",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MonthlyCounts"
                }
              }
            },
            "description" : "Affiliate traffic graph data broken down by time period."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read aggregated affiliate referral click/visit time-series for chart rendering",
        "tags" : [ "Billing" ]
      }
    },
    "/affiliate/web_traffic" : {
      "get" : {
        "description" : "Returns the 20 most recent raw referral visits from the `affiliate_traffic` table — visitor IP, full referral URL, and timestamp per row. Use to audit traffic sources, identify top referrers, or investigate suspicious click patterns. Hard-coded limit 20 (no pagination); for longer-term analysis use `getAffiliateTrafficGraph` or export via `getAffiliateDownload`. Sibling ops: `getAffiliateTrafficGraph`, `getAffiliateSignups`, `getAffiliateRichReport`, `getAffiliateDownload`.\n\n**Path/Query/Body:** None.\n\n**Returns:** Array of `AffiliateTrafficRow`:\n- `traffic_id` (string) — row id (most-recent-first).\n- `traffic_ip` (string) — visitor IP (IPv4 or IPv6).\n- `traffic_url` (string) — referral landing URL.\n- `traffic_affiliate` (string) — affiliate (= session `account_id`).\n- `traffic_referrer` (string) — HTTP Referer (may be empty).\n- `traffic_timestamp` (string) — `YYYY-MM-DD HH:MM:SS` in account timezone.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n",
        "operationId" : "getAffiliateWebTraffic",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "AffiliateWebTrafficResponseExample" : {
                    "value" : [ {
                      "traffic_id" : "91839913",
                      "traffic_ip" : "2a06:98c0:3600::",
                      "traffic_url" : "https://www.interserver.net/webhosting/?id=8",
                      "traffic_affiliate" : "8",
                      "traffic_referrer" : "",
                      "traffic_timestamp" : "2023-09-30 06:30:27"
                    }, {
                      "traffic_id" : "91831932",
                      "traffic_ip" : "2a06:98c0:3600::",
                      "traffic_url" : "https://www.interserver.net/webhosting/?id=8",
                      "traffic_affiliate" : "8",
                      "traffic_referrer" : "",
                      "traffic_timestamp" : "2023-09-30 03:15:13"
                    } ]
                  }
                },
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/AffiliateTrafficRow"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "The recent affiliate web traffic"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "List the 20 most recent affiliate referral visits with IP, referrer, timestamp",
        "tags" : [ "Billing" ]
      }
    },
    "/backups" : {
      "get" : {
        "description" : "Use when enumerating all off-site backup storage services (SFTP-style remote storage subscriptions) on the authenticated customer's account. NOT for VPS/QS/webhosting in-place snapshots — those live under their own tags (`getVpsBackups`, `getQsBackups`, `getWebsitesBackups`). No query params, no body.\nReturns an array of rows; each row carries `backup_id`, `backup_name`, `backup_username`, `backup_status`, `services_name` (plan), and `backup_cost` (recurring price from `repeat_invoices`). Use `backup_id` as the path `{id}` for `getBackupInfo`, `getBackupLogin`, `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`. Errors: HTTP 401 if unauthenticated. Empty array when the customer has no backup services.\nSiblings: `getBackupInfo`, `getNewBackup`, `addBackup`.",
        "operationId" : "getBackupsList",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/BackupRow"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "The listing of backup storage services on your account.",
            "links" : {
              "GetBackupDetails" : {
                "description" : "Use the backup_id from the list to retrieve full service details including connection info and status.",
                "operationId" : "getBackupInfo",
                "parameters" : {
                  "id" : "$response.body#/0/backup_id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "List off-site backup storage subscriptions on the authenticated account",
        "tags" : [ "Backups" ]
      }
    },
    "/backups/order" : {
      "get" : {
        "description" : "Use before placing an off-site backup storage order to fetch the available plans, their service-type IDs, and per-tier pricing needed to render an order form. No params, no body.\nReturns `{ packageCosts, serviceTypes }` — `packageCosts` is a map of `services_id` → recurring cost (from `services` where `services_module='backups'` and `services_buyable=1`); `serviceTypes` is the dispatcher output of `run_event('get_service_types', true, 'backups')` describing each tier. Pass the chosen `services_id` as `serviceType` to `validateBackupOrder` (PUT) for a price preview, then to `addBackup` (POST) to commit. Errors: HTTP 401 if unauthenticated.\nSiblings: `validateBackupOrder`, `addBackup`, `getBackupsList`.",
        "operationId" : "getNewBackup",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupsOrder"
                }
              }
            },
            "description" : "Information needed to generate an order form."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Get backup-storage order form metadata and pricing tiers",
        "tags" : [ "Backups" ]
      },
      "put" : {
        "description" : "Use to dry-run a backup order — runs `validate_buy_storage()` to compute final price, apply any coupon, and surface validation errors before the customer commits. No invoice is created and no service is provisioned.\nBody (JSON or multipart): `serviceType` (services_id from `getNewBackup`), optional `coupon`, `period` (months, default 1), `comment`. Returns `{ continue, errors, serviceType, serviceCost, originalCost, repeatServiceCost, hostname, password, coupon, couponCode }`. Use the response to render a confirmation screen, then call `addBackup` (POST same path) to place the order. Errors: HTTP 401 unauthenticated; HTTP 422 surfaced inside `errors[]` (invalid coupon, ineligible plan, duplicate hostname).\nSiblings: `addBackup`, `getNewBackup`.",
        "operationId" : "validateBackupOrder",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupOrderPutResponse"
                }
              }
            },
            "description" : "Validate Backup Order Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Validate a backup-storage order and preview pricing without charging",
        "tags" : [ "Backups" ]
      },
      "post" : {
        "description" : "Step 3 of the backup-storage order flow. Revalidates via `validate_buy_storage()`, then calls `place_buy_storage()` which creates a `backups` service row, a `repeat_invoices` recurring entry, and the first `invoices` row. **Real billable order — call `validateBackupOrder` first.** Service is provisioned only after the invoice is paid. Sibling ops: `getNewBackup` (catalog), `validateBackupOrder` (quote), `getBackupInvoices` (billing history), `initiatePayment` (settle).\n\n**Body fields** (JSON or multipart):\n- `serviceType` (integer, required) — `services_id` from `getNewBackup`.\n- `coupon` (string, optional) — coupon code.\n- `period` (integer, optional, default `1`) — billing months.\n- `comment` (string, optional) — saved on the order row.\n\n**Returns** (on success): `{ continue: true, total_cost, iid, iids, real_iids, serviceId, invoice_description, cj_params }` — feed `real_iids` into `initiatePayment`. On validation failure: `{ continue: false, errors: [...] }` with HTTP 200.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n- `422` inside `errors[]` — coupon/plan/duplicate-hostname validation.\n- Explicit error text when no backend storage server is available for assignment.\n\n**Side effects:** new rows in `backups`, `repeat_invoices`, `invoices`; queued provisioning kicks off only after payment.\n\n**Related calls:**\n- **Prerequisite:** `validateBackupOrder`.\n- **Pay:** `getBillingInvoice` → `initiatePayment`.\n- **Poll status:** `getBackupInfo` (until `backup_status='active'`).\n",
        "operationId" : "addBackup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupOrderPostResponse"
                }
              }
            },
            "description" : "Response from the backup order call including invoice IDs for payment.",
            "links" : {
              "InitiatePayment" : {
                "description" : "Use the invoice ID from the order response to retrieve invoice details or proceed to payment.",
                "operationId" : "getBillingInvoice",
                "parameters" : {
                  "id" : "$response.body#/invoices_id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "default" : {
            "description" : "Default response"
          }
        },
        "summary" : "Place a new off-site backup storage order and generate the invoice",
        "tags" : [ "Backups" ],
        "x-payment-info" : {
          "intent" : "session",
          "method" : "card",
          "amount" : 0,
          "currency" : "USD",
          "description" : "Order a managed off-site backup storage service. Returns invoice IDs for /billing/pay/{method}/{invoices}.",
          "method_options" : [ "cc", "paypal", "btcpay", "coinbase", "payu", "ccavenue", "cashfree", "payssion", "prepay" ]
        }
      }
    },
    "/backups/{id}" : {
      "get" : {
        "description" : "Use to fetch the full management view for one backup-storage subscription. Path param: `id` (backup service ID from `getBackupsList`). No body.\nReturns `serviceInfo` (with `backup_username`, `backup_ip`, `backup_status`, `backup_quota`, `backup_type`, `backup_invoice`), plus `billingDetails`, `extraInfoTables`, `package`, `custCurrency`, and `client_links` (rewritten to surface the link target rather than the raw queue URL). `admin_links`, internal `settings`, and `csrf` are stripped. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` does not belong to the caller (cross-account access blocked by `get_service`).\nSiblings: `getBackupLogin` (open storage panel session), `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`, `updateBackupInfo`.",
        "operationId" : "getBackupInfo",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Backup"
                }
              }
            },
            "description" : "Full backup service details including serviceInfo, billingDetails, and client_links.",
            "links" : {
              "GetBackupInvoices" : {
                "description" : "Retrieve invoices for this backup service.",
                "operationId" : "getBackupInvoices",
                "parameters" : {
                  "id" : "$request.path.id"
                }
              },
              "GetBackupLogin" : {
                "description" : "Obtain a login session URL for the backup storage panel.",
                "operationId" : "getBackupLogin",
                "parameters" : {
                  "id" : "$request.path.id"
                }
              },
              "CancelBackup" : {
                "description" : "Cancel this backup service.",
                "operationId" : "cancelBackup",
                "parameters" : {
                  "id" : "$request.path.id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Get details of a specific off-site backup storage service",
        "tags" : [ "Backups" ]
      },
      "post" : {
        "description" : "Use to update non-billing metadata (e.g. stored credentials, comment, hostname) on an existing off-site backup storage service. Path param: `id` from `getBackupsList`. Body fields are forwarded to the same `View::go()` handler as the GET; consult the order form for accepted keys.\nReturns the standard `SuccessTextResponse`. Caveats: this endpoint does NOT change the plan, quota, or billing — those require cancel + reorder via `cancelBackup` and `addBackup`. It also does NOT trigger any backend SFTP credential rotation. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 422 on invalid input.\nSiblings: `getBackupInfo`, `cancelBackup`, `getBackupLogin`.",
        "operationId" : "updateBackupInfo",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Update stored metadata for a backup-storage subscription",
        "tags" : [ "Backups" ]
      },
      "delete" : {
        "description" : "DESTRUCTIVE. Use to terminate a backup-storage subscription. Delegates to `CancelService::go($id)` with module `backups`, which marks the service for cancellation and stops future recurring billing; data on the storage backend may become inaccessible at end of cycle. Path param: `id` from `getBackupsList`. No body.\nReturns `BackupsCancelResponse`. Caveats: irreversible — a new order via `addBackup` is required to restore service, with a new IP/username and no migration of prior data. Does NOT delete VPS/QS/webhosting in-place snapshots (those live under their own tags). Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 409 if the service is already cancelled or pending cancellation.\nSiblings: `addBackup`, `getBackupInfo`, `getBackupInvoices`.",
        "operationId" : "cancelBackup",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/cancelBackup_200_response"
                }
              }
            },
            "description" : "Backups Cancel"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Cancel an off-site backup storage subscription",
        "tags" : [ "Backups" ]
      }
    },
    "/backups/{id}/invoices" : {
      "get" : {
        "description" : "Use to retrieve all invoices tied to one off-site backup storage service — useful for confirming billing status, locating an unpaid invoice to pay, or reconciling renewals. Path param: `id` from `getBackupsList`. Delegates to the shared `InvoicesList::go()` handler with module `backups`. No body.\nReturns `ChargeInvoiceRows` (array of invoice rows with `invoices_id`, status, amount, dates). Feed `invoices_id` into `getBillingInvoice` for full detail or `/billing/pay/{method}/{invoices}` to settle an unpaid invoice. For the account-wide invoice list use the Billing tag instead. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller.\nSiblings: `getBackupInfo`, `addBackup`.",
        "operationId" : "getBackupInvoices",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeInvoiceRows"
                }
              }
            },
            "description" : "Get Invoices response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "List invoices for a single backup-storage subscription",
        "tags" : [ "Backups" ]
      }
    },
    "/backups/{id}/login" : {
      "get" : {
        "description" : "Use to drop the customer straight into the off-site backup storage management panel without a separate login prompt. Calls `get_storage_session($id)` to mint a one-shot session URL; treat the URL as short-lived and credentials-equivalent — do not log or share.\nPath param: `id` from `getBackupsList`. No body. Returns `BackupLoginResponse` (`success`, session URL/token, optional connection hints). On `success=false` the handler returns `json_error(text)` (HTTP 400) with the upstream reason. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; backend errors when the storage server is unreachable.\nSiblings: `getBackupInfo` (SFTP `backup_username`/`backup_ip` for direct connections), `getBackupsWelcomeEmail` (resend setup credentials).",
        "operationId" : "getBackupLogin",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLoginResponse"
                }
              }
            },
            "description" : "Login session details for the backup storage service."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Open a single sign-on session URL for the backup storage panel",
        "tags" : [ "Backups" ]
      }
    },
    "/backups/{id}/welcome_email" : {
      "get" : {
        "description" : "Use when the original welcome email was lost or never arrived. Resends connection credentials (SFTP host, username, quota) and setup instructions to the account email by invoking the module's `backup_welcome_email($id)` helper.\nPath param: `id` from `getBackupsList`. No body. Returns `SuccessTextResponse` with `text='Welcome Email has been resent.'`. Caveats: only works while the service is `active`; cancelled/pending services will return 409. Email is sent to the customer-of-record on file — there is no override recipient parameter. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller (`Invalid Service Passed`); HTTP 409 if `backup_status` is not `active` (`Service is not active`).\nSiblings: `getBackupLogin`, `getBackupInfo`.",
        "operationId" : "getBackupsWelcomeEmail",
        "parameters" : [ {
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Resend the welcome email for an off-site backup storage service",
        "tags" : [ "Backups" ]
      }
    },
    "/billing/cart" : {
      "get" : {
        "description" : "Returns the customer's checkout state — every pending/unpaid invoice on the account aggregated as a cart, plus available payment methods, currency totals, and checkout metadata. Use to render a checkout page or, in agent flows, as a pre-payment confirmation step before calling `initiatePayment`. Backed by the `cart` helper module; `modules_json` and `csrf_token` are stripped from the response. Read-only. Sibling ops: `getBillingInvoices` (raw list), `getBillingInvoice` (one invoice in detail), `initiatePayment` (pay), `getBillingPrePays` (check prepay balance first).\n\n**Path/Query/Body:** None.\n\n**Returns:** A cart object with:\n- Line items aggregated from unpaid `invoices` rows for the session account.\n- Currency-normalized subtotal / total.\n- Available payment methods (filtered by feature flags, account country, and which gateways are enabled): `cc`, `paypal`, `btcpay`, `coinbase`, `payu`, `ccavenue`, `cashfree`, `payssion`, `prepay`.\n- Per-invoice description, module, service-id, amount.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `401` — unauthenticated.\n\n**Related calls:**\n- **List unpaid invoices directly:** `getBillingInvoices`.\n- **Drill into one invoice:** `getBillingInvoice`.\n- **Pay:** `initiatePayment` (use the cart's invoice ids or the `SERVICEvpsN` / `INVvpsN` tag forms).\n- **Top up prepay first:** `getBillingPrePays`, `addBillingPrepay`.\n",
        "operationId" : "getBillingCart",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Cart contents and checkout metadata.",
                  "type" : "object"
                }
              }
            },
            "description" : "Current shopping cart contents and available payment methods."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Read the current shopping cart contents, totals, and available payment methods",
        "tags" : [ "Billing" ],
        "x-payment-info" : {
          "intent" : "session",
          "method" : "card",
          "amount" : 0,
          "currency" : "USD",
          "description" : "View shopping cart contents and pick a payment method before checkout.",
          "method_options" : [ "cc", "paypal", "btcpay", "coinbase", "payu", "ccavenue", "cashfree", "payssion", "prepay" ]
        }
      }
    },
    "/billing/creditcards" : {
      "post" : {
        "description" : "Stores a new credit card on the account so it can later be selected via `updateBillingPaymentMethod` or used directly with `initiatePayment` (`method=cc`). The card number has dashes stripped and is sanitized through `FILTER_SANITIZE_NUMBER_INT`; billing address fields are HTML-entity-escaped server-side; the CC number is encrypted at rest via `App::encrypt()`. The flow may return `action='verify'` indicating a two-step micro-charge verification is required before the card is usable — complete it with `patchBillingCreditCardVerify` then `postBillingCreditCardVerify`. Sibling ops: `updateBillingCreditCard`, `deleteBillingCreditCard`, `patchBillingCreditCardVerify`, `postBillingCreditCardVerify`, `updateBillingPaymentMethod`.\n\n**Body fields (JSON or multipart, schema `BillingAddCcRequest`):**\n- `cc` (string, required) — card number; dashes stripped, non-digits filtered.\n- `name` (string, required) — cardholder name.\n- `cc_exp` (string, required) — `MM/YYYY`.\n- `address` (string, required), `city`, `state`, `country`, `zip` (strings) — billing address; HTML-entity-escaped.\n\n**Returns:**\n- **Added directly:** `{success: true, text: \"Card Added Successfully!\"}`.\n- **Verification needed:** `{success: false, text: \"Kindly verify your card by updating the amounts in the fields\", action: \"verify\"}` — proceed to `patchBillingCreditCardVerify`.\n\n**Side effects:**\n- Inserts the encrypted card into the account's `ccs` array (managed via `parse_ccs` / `add_cc`).\n- May trigger a small initial test charge (gateway-dependent).\n- First-card-on-account triggers MaxMind + FraudRecord risk-score recomputation.\n\n**Auth:** Session/API key.\n\n**Errors:**\n- `Card number, Full Name, Expiry date are required!` — required field missing/empty.\n- `401` — unauthenticated.\n- Gateway/AVS error text — declined, mismatch, etc.\n\n**Related calls:**\n- **Verify (if `action='verify'`):** `patchBillingCreditCardVerify` (CVV + initiate micro-charge) → `postBillingCreditCardVerify` (submit amounts).\n- **Make it the default:** `updateBillingPaymentMethod` with `payment_method=cc<idx>`.\n- **Pay an invoice with it:** `initiatePayment` (`method=cc`).\n",
        "operationId" : "addBillingCreditCard",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Store a credit card on the account — may return a verification flow",
        "tags" : [ "Billing" ]
      }
    },
    "/billing/creditcards/{id}" : {
      "post" : {
        "description" : "Updates the expiration date on a stored credit card and re-encrypts the card record. If the updated card matches the account's primary `cc`, the account-level `cc_exp` is also refreshed. If no MaxMind risk score exists yet for the card, `update_maxmind()` is called to compute one. Use to fix an upcoming expiration before recurring charges fail. Sibling ops: `addBillingCreditCard`, `deleteBillingCreditCard`, `getBillingCreditCardVerify`, `postBillingCreditCardVerify`, `updateBillingPaymentMethod`.\n\n**Path param:**\n- `id` (integer, required) — credit card index (the key in the account's `ccs` array, returned by `parse_ccs` and surfaced as `cc<idx>` in `updateBillingPaymentMethod`).\n\n**Body fields:**\n- `cc_exp` (string, required) — new expiration in `MM/YYYY` format.\n\n**Returns:** `Card updated successfully.`.\n\n**Side effects:**\n- Updates the `ccs` array (re-serialized via `myadmin_stringify`) on the account.\n- When the card == primary `cc`, the account-level `cc_exp` is also written.\n- Triggers `update_maxmind($custid, false, $cc_idx)` if no risk score exists.\n\n**Auth:** Session/API key. Card ownership enforced via `parse_ccs`.\n\n**Errors:**\n- `Invalid Credit Card Passed` — `id` not in `parse_ccs`.\n- `Please enter valid card expiry date` — `cc_exp` body field missing.\n- `Invalid expiration date. It must be in the form of MM/YYYY` — wrong format.\n- `401` — unauthenticated.\n\n**Related calls:**\n- **Verify a freshly added card:** `patchBillingCreditCardVerify` → `postBillingCreditCardVerify`.\n- **Remove the card:** `deleteBillingCreditCard`.\n- **Make it default:** `updateBillingPaymentMethod` with `payment_method=cc<idx>`.\n",
        "operationId" : "updateBillingCreditCard",
        "parameters" : [ {
          "description" : "The credit card ID. Use IDs from `GET /billing/creditcards` or the response from `POST /billing/creditcards`.",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            },
            "description" : "A response indicating the operation completed successfully with a text message."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAccountInfo_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Refresh stored card expiration and re-trigger MaxMind fraud scoring",
        "tags" : [ "Billing" ]
      },
      "delete" : {
[...]
