# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterserverApi.Api.Backups do
  @moduledoc """
  API calls for all endpoints tagged `Backups`.
  """

  alias InterserverApi.Connection
  import InterserverApi.RequestBuilder

  @doc """
  Place a new off-site backup storage order and generate the invoice
  Step 3 of the backup-storage order flow. Revalidates via `validate_buy_storage()`, then calls `place_buy_storage()` which creates a `backups` service row, a `repeat_invoices` recurring entry, and the first `invoices` row. **Real billable order — call `validateBackupOrder` first.** Service is provisioned only after the invoice is paid. Sibling ops: `getNewBackup` (catalog), `validateBackupOrder` (quote), `getBackupInvoices` (billing history), `initiatePayment` (settle).  **Body fields** (JSON or multipart): - `serviceType` (integer, required) — `services_id` from `getNewBackup`. - `coupon` (string, optional) — coupon code. - `period` (integer, optional, default `1`) — billing months. - `comment` (string, optional) — saved on the order row.  **Returns** (on success): `{ continue: true, total_cost, iid, iids, real_iids, serviceId, invoice_description, cj_params }` — feed `real_iids` into `initiatePayment`. On validation failure: `{ continue: false, errors: [...] }` with HTTP 200.  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated. - `422` inside `errors[]` — coupon/plan/duplicate-hostname validation. - Explicit error text when no backend storage server is available for assignment.  **Side effects:** new rows in `backups`, `repeat_invoices`, `invoices`; queued provisioning kicks off only after payment.  **Related calls:** - **Prerequisite:** `validateBackupOrder`. - **Pay:** `getBillingInvoice` → `initiatePayment`. - **Poll status:** `getBackupInfo` (until `backup_status='active'`). 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:validateOnly` (boolean()): 
    - `:serviceType` (integer()): 
    - `:coupon` (String.t): 

  ### Returns

  - `{:ok, InterserverApi.Model.BackupOrderPostResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_backup(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.BackupOrderPostResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_backup(connection, opts \\ []) do
    optional_params = %{
      :validateOnly => :form,
      :serviceType => :form,
      :coupon => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/backups/order")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BackupOrderPostResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Cancel an off-site backup storage subscription
  DESTRUCTIVE. Use to terminate a backup-storage subscription. Delegates to `CancelService::go($id)` with module `backups`, which marks the service for cancellation and stops future recurring billing; data on the storage backend may become inaccessible at end of cycle. Path param: `id` from `getBackupsList`. No body. Returns `BackupsCancelResponse`. Caveats: irreversible — a new order via `addBackup` is required to restore service, with a new IP/username and no migration of prior data. Does NOT delete VPS/QS/webhosting in-place snapshots (those live under their own tags). Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 409 if the service is already cancelled or pending cancellation. Siblings: `addBackup`, `getBackupInfo`, `getBackupInvoices`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.CancelBackup200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cancel_backup(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.CancelBackup200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def cancel_backup(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/backups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.CancelBackup200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get details of a specific off-site backup storage service
  Use to fetch the full management view for one backup-storage subscription. Path param: `id` (backup service ID from `getBackupsList`). No body. Returns `serviceInfo` (with `backup_username`, `backup_ip`, `backup_status`, `backup_quota`, `backup_type`, `backup_invoice`), plus `billingDetails`, `extraInfoTables`, `package`, `custCurrency`, and `client_links` (rewritten to surface the link target rather than the raw queue URL). `admin_links`, internal `settings`, and `csrf` are stripped. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` does not belong to the caller (cross-account access blocked by `get_service`). Siblings: `getBackupLogin` (open storage panel session), `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`, `updateBackupInfo`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.Backup.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.Backup.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backup_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.Backup},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List invoices for a single backup-storage subscription
  Use to retrieve all invoices tied to one off-site backup storage service — useful for confirming billing status, locating an unpaid invoice to pay, or reconciling renewals. Path param: `id` from `getBackupsList`. Delegates to the shared `InvoicesList::go()` handler with module `backups`. No body. Returns `ChargeInvoiceRows` (array of invoice rows with `invoices_id`, status, amount, dates). Feed `invoices_id` into `getBillingInvoice` for full detail or `/billing/pay/{method}/{invoices}` to settle an unpaid invoice. For the account-wide invoice list use the Billing tag instead. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller. Siblings: `getBackupInfo`, `addBackup`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ChargeInvoiceRows.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backup_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ChargeInvoiceRows},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Open a single sign-on session URL for the backup storage panel
  Use to drop the customer straight into the off-site backup storage management panel without a separate login prompt. Calls `get_storage_session($id)` to mint a one-shot session URL; treat the URL as short-lived and credentials-equivalent — do not log or share. Path param: `id` from `getBackupsList`. No body. Returns `BackupLoginResponse` (`success`, session URL/token, optional connection hints). On `success=false` the handler returns `json_error(text)` (HTTP 400) with the upstream reason. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; backend errors when the storage server is unreachable. Siblings: `getBackupInfo` (SFTP `backup_username`/`backup_ip` for direct connections), `getBackupsWelcomeEmail` (resend setup credentials).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.BackupLoginResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_login(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.BackupLoginResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backup_login(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/login")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BackupLoginResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List off-site backup storage subscriptions on the authenticated account
  Use when enumerating all off-site backup storage services (SFTP-style remote storage subscriptions) on the authenticated customer's account. NOT for VPS/QS/webhosting in-place snapshots — those live under their own tags (`getVpsBackups`, `getQsBackups`, `getWebsitesBackups`). No query params, no body. Returns an array of rows; each row carries `backup_id`, `backup_name`, `backup_username`, `backup_status`, `services_name` (plan), and `backup_cost` (recurring price from `repeat_invoices`). Use `backup_id` as the path `{id}` for `getBackupInfo`, `getBackupLogin`, `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`. Errors: HTTP 401 if unauthenticated. Empty array when the customer has no backup services. Siblings: `getBackupInfo`, `getNewBackup`, `addBackup`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%BackupRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backups_list(Tesla.Env.client, keyword()) :: {:ok, [InterserverApi.Model.BackupRow.t]} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backups_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BackupRow},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend the welcome email for an off-site backup storage service
  Use when the original welcome email was lost or never arrived. Resends connection credentials (SFTP host, username, quota) and setup instructions to the account email by invoking the module's `backup_welcome_email($id)` helper. Path param: `id` from `getBackupsList`. No body. Returns `SuccessTextResponse` with `text='Welcome Email has been resent.'`. Caveats: only works while the service is `active`; cancelled/pending services will return 409. Email is sent to the customer-of-record on file — there is no override recipient parameter. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller (`Invalid Service Passed`); HTTP 409 if `backup_status` is not `active` (`Service is not active`). Siblings: `getBackupLogin`, `getBackupInfo`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backups_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backups_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get backup-storage order form metadata and pricing tiers
  Use before placing an off-site backup storage order to fetch the available plans, their service-type IDs, and per-tier pricing needed to render an order form. No params, no body. Returns `{ packageCosts, serviceTypes }` — `packageCosts` is a map of `services_id` → recurring cost (from `services` where `services_module='backups'` and `services_buyable=1`); `serviceTypes` is the dispatcher output of `run_event('get_service_types', true, 'backups')` describing each tier. Pass the chosen `services_id` as `serviceType` to `validateBackupOrder` (PUT) for a price preview, then to `addBackup` (POST) to commit. Errors: HTTP 401 if unauthenticated. Siblings: `validateBackupOrder`, `addBackup`, `getBackupsList`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.BackupsOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_backup(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.BackupsOrder.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_backup(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BackupsOrder},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update stored metadata for a backup-storage subscription
  Use to update non-billing metadata (e.g. stored credentials, comment, hostname) on an existing off-site backup storage service. Path param: `id` from `getBackupsList`. Body fields are forwarded to the same `View::go()` handler as the GET; consult the order form for accepted keys. Returns the standard `SuccessTextResponse`. Caveats: this endpoint does NOT change the plan, quota, or billing — those require cancel + reorder via `cancelBackup` and `addBackup`. It also does NOT trigger any backend SFTP credential rotation. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 422 on invalid input. Siblings: `getBackupInfo`, `cancelBackup`, `getBackupLogin`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_backup_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_backup_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/backups/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate a backup-storage order and preview pricing without charging
  Use to dry-run a backup order — runs `validate_buy_storage()` to compute final price, apply any coupon, and surface validation errors before the customer commits. No invoice is created and no service is provisioned. Body (JSON or multipart): `serviceType` (services_id from `getNewBackup`), optional `coupon`, `period` (months, default 1), `comment`. Returns `{ continue, errors, serviceType, serviceCost, originalCost, repeatServiceCost, hostname, password, coupon, couponCode }`. Use the response to render a confirmation screen, then call `addBackup` (POST same path) to place the order. Errors: HTTP 401 unauthenticated; HTTP 422 surfaced inside `errors[]` (invalid coupon, ineligible plan, duplicate hostname). Siblings: `addBackup`, `getNewBackup`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:validateOnly` (boolean()): 
    - `:serviceType` (integer()): 
    - `:coupon` (String.t): 

  ### Returns

  - `{:ok, InterserverApi.Model.BackupOrderPutResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec validate_backup_order(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.BackupOrderPutResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def validate_backup_order(connection, opts \\ []) do
    optional_params = %{
      :validateOnly => :form,
      :serviceType => :form,
      :coupon => :form
    }

    request =
      %{}
      |> method(:put)
      |> url("/backups/order")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BackupOrderPutResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end
end
