# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterserverApi.Api.FloatingIPs do
  @moduledoc """
  API calls for all endpoints tagged `FloatingIPs`.
  """

  alias InterserverApi.Connection
  import InterserverApi.RequestBuilder

  @doc """
  Place a real Floating IP order, create billing records, and provision the service
  Charges the customer and creates a new Floating IP service via `place_buy_floating_ip`. Validate first with `putFloating_ips` to avoid surprise failures. Body (form-encoded): `serviceType` (required, `services_id`), `coupon` (optional), `comment` (optional internal note). On success returns `{ continue:true, errors, total_cost, iid, iids, real_iids, serviceId, invoice_description, cj_params }` — `iid` is the master invoice ID, `serviceId` is the new `floating_ip_id`. On validation failure returns `{ continue:false, errors:[...] }` with no charge. Errors: 401 if unauthenticated; soft errors in `errors[]`. The newly-issued IP starts unassigned — point it at a target with `postFloatingIpsChangeIp` once the service is `active`.  Sibling ops: `getNewFloatingIp` (catalog), `putFloating_ips` (validate), `getFloatingIpInfo` (poll), `postFloatingIpsChangeIp` (route), `getBillingInvoice` + `initiatePayment` (settle invoice), `floating_ipsCancel`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `floating_ip_order_request` (FloatingIpOrderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServiceOrderPostResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_floating_ip(Tesla.Env.client, InterserverApi.Model.FloatingIpOrderRequest.t, keyword()) :: {:ok, InterserverApi.Model.ServiceOrderPostResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_floating_ip(connection, floating_ip_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/floating_ips/order")
      |> add_param(:body, :body, floating_ip_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServiceOrderPostResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel a Floating IP service and release the IP — destructive, billing stops
  Cancels the Floating IP via the shared `Api\\Billing\\CancelService` flow — flips status to canceled, halts recurring billing, and releases the IP back to the pool so it can no longer be re-routed. Not reversible: the customer cannot recover the same IP after release. Path param `id` (`floating_ip_id` from `getFloatingIpsList`). No body. Returns the `FloatingIpsCancelResponse` shape (success text / cancellation outcome). Errors: 401 if unauthenticated; 404 / cross-customer hidden when `id` is not owned by the caller; 409 if already canceled or otherwise non-cancelable. Confirm with the customer before calling — for routing changes use `postFloatingIpsChangeIp` instead of cancel-and-reorder.  Sibling ops: `getFloatingIpInfo` (status), `getFloatingIpInvoices` (outstanding charges), `postFloatingIpsChangeIp` (re-route instead of cancel), `addFloatingIp` (re-order).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.FloatingIpsCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec floating_ips_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.FloatingIpsCancel200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def floating_ips_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/floating_ips/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.FloatingIpsCancel200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Fetch full details for one Floating IP service, including current target IP
  Use for a Floating IP detail screen, or to read `floating_ip_ip` / `floating_ip_target_ip` before calling `postFloatingIpsChangeIp`. Read-only. Path param `id` (integer, `floating_ip_id` from `getFloatingIpsList`). No body. Returns the `ViewFloatingIp.getDetails()` payload — service info, billing/cost summary, status, target IP, and `client_links` (action URLs the UI can render). Internal-only fields (`admin_links`, `settings`, `csrf`) are stripped. Errors: 401 if unauthenticated; effectively 404 / cross-customer hidden when `id` is not owned by the caller (`get_service` filters by custid). Siblings: `postFloatingIpsChangeIp`, `updateFloatingIpInfo`, `getFloatingIpInvoices`, `getFloatingIpsWelcomeEmail`, `floating_ipsCancel`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_floating_ip_info(Tesla.Env.client, integer(), keyword()) :: {:ok, map()} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_floating_ip_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/floating_ips/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List all billing invoices charged against a specific Floating IP service
  Use for a per-service billing history view — pulls the standard `Api\\Billing\\InvoicesList` rows scoped to this Floating IP. Read-only. Path param `id` (`floating_ip_id` from `getFloatingIpsList`). No body. Returns the `ChargeInvoiceRows` schema: array of invoice rows with id, date, amount, status, etc. Use the invoice IDs with the global billing endpoints (`getBillingInvoice`, `initiatePayment`) for line-item detail. Errors: 401 if unauthenticated; effectively 404 / cross-customer hidden when `id` is not owned by the caller. Siblings: `getFloatingIpInfo` (service details), `getFloatingIpsWelcomeEmail`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_floating_ip_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ChargeInvoiceRows.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_floating_ip_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/floating_ips/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ChargeInvoiceRows},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List all Floating IP services on the authenticated customer's account
  Use to enumerate every Floating IP the caller owns before drilling into a specific one. Read-only; safe to call frequently. No params, no body. Returns an array of rows: `floating_ip_id`, `repeat_invoices_cost` (recurring price), `floating_ip_ip` (the portable IP), `floating_ip_target_ip` (the IP it currently routes to), `floating_ip_status` (active/pending/canceled/etc.), `services_name` (package label). Empty array if the account owns no Floating IPs. Errors: 401 if unauthenticated. Use returned IDs with `getFloatingIpInfo`, `postFloatingIpsChangeIp`, `getFloatingIpInvoices`, `getFloatingIpsWelcomeEmail`, or `floating_ipsCancel`. To order a new one see `getNewFloatingIp` / `addFloatingIp`.  Sibling ops: `getFloatingIpInfo`, `getNewFloatingIp` (catalog), `addFloatingIp` (order).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%map(){}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_floating_ips_list(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, [map()]} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_floating_ips_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/floating_ips")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Resend the Floating IP welcome / setup email to the account contact
  Triggers `floating_ip_welcome_email($id)` to re-deliver the original setup email (the IP, routing instructions, etc.) to the customer's on-file address. Useful when the email was lost or the customer needs the IP/setup details again. No body, no params besides path `id` (`floating_ip_id`). Returns `{ text: 'Welcome Email has been resent.' }`. Errors: 401 if unauthenticated; 404 (`Invalid Service Passed`) if `id` is not owned by the caller; 409 (`Service is not active`) if status is not `active`. Side effect: sends an outbound email — avoid in tight loops. Read state first via `getFloatingIpInfo` if unsure of status.  Sibling ops: `getFloatingIpInfo` (status), `addFloatingIp` (new order), `floating_ipsCancel`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_floating_ips_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_floating_ips_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/floating_ips/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get pricing and service-type options for ordering a new Floating IP
  Use before showing a Floating IP order form, or before calling `addFloatingIp`, to discover which service types (`serviceTypes`) and prices (`packageCosts`, keyed by `services_id` in the customer's currency) are currently buyable. Read-only; no side effects. No params, no body. Returns `{ packageCosts: { <services_id>: <cost> }, serviceTypes: [ ... ] } `. Costs are `services.services_cost` filtered to `services_buyable=1` for module `floating_ips`. Errors: 401 if unauthenticated. Next steps: validate the chosen `serviceType` with `putFloating_ips`, then place the order with `addFloatingIp`. Floating IPs are portable IPv4 addresses that route to a target IP on one of the customer's active services.  Sibling ops: `putFloating_ips` (validate), `addFloatingIp` (commit), `getFloatingIpsList` (existing IPs).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_floating_ip(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_floating_ip(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/floating_ips/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Re-point a Floating IP to a different target IP on one of the customer's services
  Reattaches the Floating IP by removing the old static route on the source switch and adding a new one on the destination switch (via `Sshwitch`), then updates `floating_ip_target_ip`. Use to move a portable IP between the customer's VPS / Quickservers / websites / dedicated servers without renumbering apps. Path param `id` (`floating_ip_id`). Body: `{ ip: <new target IP> }` (also accepts multipart form). Returns `{ success:true, text:'IP Changed' }`. Errors (returned via `json_error`): invalid IP format; IP not in our datacenter; IP not in use by an active service of this customer; service not active; another Floating IP already points to that target; switch lookup failures; route still present after removal. 401 if unauthenticated.  Sibling ops: `getFloatingIpInfo` (read current target), `getFloatingIpsList`, `floating_ipsCancel`. Read current target with `getFloatingIpInfo` first.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `ip` (String.t): IP Address
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_floating_ips_change_ip(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_floating_ips_change_ip(connection, id, ip, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/floating_ips/#{id}/change_ip")
      |> add_param(:form, :ip, ip)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate a Floating IP order and price it without charging the customer
  Dry-run for `addFloatingIp` — runs `validate_buy_floating_ip` to apply coupons, compute intro/repeat pricing, and surface errors before committing. No charge, no service created. Body fields (form-encoded): `serviceType` (required, `services_id` from `getNewFloatingIp.packageCosts`), `coupon` (optional code). Returns `{ continue, errors, serviceType, serviceCost, originalCost, repeatServiceCost, password, introFrequency, coupon, couponCode }`. `continue=true` means the order would succeed; `continue=false` plus populated `errors[]` means it would not. Errors: 401 if unauthenticated; 422-style soft errors arrive in the `errors` array. Use the returned `serviceType` and `couponCode` when calling `addFloatingIp`. Sibling ops: `getNewFloatingIp` (catalog), `addFloatingIp` (commit).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `floating_ip_order_request` (FloatingIpOrderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_floating_ips(Tesla.Env.client, InterserverApi.Model.FloatingIpOrderRequest.t, keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_floating_ips(connection, floating_ip_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/floating_ips/order")
      |> add_param(:body, :body, floating_ip_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update a Floating IP service's editable settings (label / metadata)
  Stub edit endpoint that delegates to the same handler as `getFloatingIpInfo` — currently used for label/metadata edits surfaced by `ViewFloatingIp`. To re-route the IP to a different target use the dedicated `postFloatingIpsChangeIp` instead; this op does not change routing. Path param `id` (`floating_ip_id`). Body: form-encoded fields exposed by the Floating IP edit form (label/comment style). Returns the standard success-text response. Errors: 401 if unauthenticated; effectively 404 if `id` not owned by the caller. Read state first with `getFloatingIpInfo`.  Sibling ops: `getFloatingIpInfo` (read), `postFloatingIpsChangeIp` (re-route), `floating_ipsCancel`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (String.t): The Floating IP service ID. Use the ID from `GET /floating_ips`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_floating_ip_info(Tesla.Env.client, String.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_floating_ip_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/floating_ips/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end
end
