# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterserverApi.Api.Mail do
  @moduledoc """
  API calls for all endpoints tagged `Mail`.
  """

  alias InterserverApi.Connection
  import InterserverApi.RequestBuilder

  @doc """
  Place a new Mail Baby order, generate invoice, and queue provisioning
  Step 3 of the Mail Baby order flow. Revalidates via `validate_buy_mail()`, then calls `place_buy_mail()` to create a `Repeat_Invoice` recurring billing row, an initial `invoices` row, and a `mail` service record in pending status. SMTP credentials become active once the activation worker runs the welcome email (after the invoice is paid). **Real money** — call `putMail` first. Sibling ops: `getNewMail`, `putMail`, `getMailInfo`, `initiatePayment`.  **Body fields:** - `serviceType` (integer, required) — plan id from `getNewMail`. - `coupon` (string, optional). - `comment` (string, optional) — saved on the order row.  **Returns** (on success): `{continue: true, total_cost, iid, iids, real_iids, serviceId (new mail_id), invoice_description, cj_params}` — pass `real_iids` to `initiatePayment`. On validation failure: `{continue: false, errors: [...]}` with HTTP 200.  **Side effects:** - Inserts `mail` service row in `pending` status. - Inserts `repeat_invoices` + `invoices` rows.  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Pay:** `initiatePayment` with `real_iids`. - **Confirm activation:** `getMailInfo` (poll until `mail_status=='active'`). - **Resend credentials:** `getMailWelcomeEmail`.  **Full ordering happy path:** ```text GET /mail/order                                    -> catalog (getNewMail) PUT /mail/order { serviceType, coupon? }           -> quote (putMail) POST /mail/order { serviceType, coupon?, comment? } -> { serviceId, real_iids } GET /billing/pay/cc/{real_iids[0]}                 -> pay (initiatePayment) GET /mail/{serviceId}                              -> poll until mail_status=='active' ``` 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `mail_order_request` (MailOrderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServiceOrderPostResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_mail(Tesla.Env.client, InterserverApi.Model.MailOrderRequest.t, keyword()) :: {:ok, InterserverApi.Model.ServiceOrderPostResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_mail(connection, mail_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/order")
      |> add_param(:body, :body, mail_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServiceOrderPostResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Create a new deny rule to auto-block matching submissions
  Inserts a new `mail_spam` row scoped to this service's `mail_username` so the relay drops matching submissions. Sibling ops: `getRules`, `updateRule`, `deleteRule`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `DenyRuleNew`):** - `type` (string, required) — `domain` / `email` / `startswith` / `destination`. - `data` (string, required) — literal value matched; validation: no quotes, valid domain for `type=domain`, valid email for `type=email`, `[A-Z0-9+_.-]+` for `startswith`.  **Returns:** `\"Spam Block Added\"`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** field-level errors on validation failure, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `deny_rule_new` (DenyRuleNew): These are the fields needed to create a new email deny rule.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_rule(Tesla.Env.client, integer(), InterserverApi.Model.DenyRuleNew.t, keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_rule(connection, id, deny_rule_new, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/rules")
      |> add_param(:body, :body, deny_rule_new)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Create a new Mail Baby alert for delivery, bounce, or quota events
  Inserts a new alert row via the `Alert` ORM. The new `alert_id` is retrievable via `getMailAlerts`. Sibling ops: `getMailAlerts`, `updateMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailAlertRequest`):** - `type` (string, required). - `value` (string/numeric, required) — threshold. - `to` (string, required) — notification email; validated via `FILTER_VALIDATE_EMAIL`. - `enabled` (bool, optional).  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** field-level errors for missing/invalid body, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_alert_request` (MailAlertRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_mail_alert(Tesla.Env.client, integer(), InterserverApi.Model.MailAlertRequest.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def create_mail_alert(connection, id, mail_alert_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/alerts")
      |> add_param(:body, :body, mail_alert_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete a Mail Baby alert by alert_id (hard delete — no recovery)
  Hard-deletes a single alert row. Handler verifies the alert belongs to this service+module before deleting. **Irreversible** — no history is preserved; recreate via `createMailAlert` if needed. Sibling ops: `getMailAlerts`, `createMailAlert`, `updateMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields:** - `alert_id` (integer, required) — from `getMailAlerts`.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid alert!` (alert not owned), `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `delete_mail_alert_request` (DeleteMailAlertRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_mail_alert(Tesla.Env.client, integer(), InterserverApi.Model.DeleteMailAlertRequest.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_mail_alert(connection, id, delete_mail_alert_request, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}/alerts")
      |> add_param(:body, :body, delete_mail_alert_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete a Mail Baby deny rule by rule ID (hard delete — no recovery)
  Hard-deletes a single `mail_spam` row scoped to this service's `mail_username`. **Irreversible** — no audit copy preserved. Query filter `id={rule} AND user='{mail_username}'` prevents cross-tenant deletes; passing a `rule` belonging to a different mail order is silently a no-op (still returns success). Sibling ops: `getRules`, `addRule`, `updateRule`.  **Path params:** - `id` (integer, required) — `mail_id` from `getMailList`. - `rule` (string, required) — rule id from `getRules`.  **Returns:** `\"Block deleted successfully.\"`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `rule` (String.t): The ID of the Rules entry.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_rule(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_rule(connection, id, rule, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}/rules/#{rule}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delist a sender email from rspamd / mailchannels / mailbaby block lists
  Removes block rows for the supplied email across the three reputation stores: `rspamd` (by `fromemail`), `mailchannels` (by `email`), `mailbaby` (by `emailfrom`). Functionally equivalent to `postMailDelist` but uses `email` parameter naming and returns 400 (not error JSON) for an invalid address. Sibling ops: `getMailBlocks`, `getMailDelist`, `postMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `EmailAddress`):** - `email` (string, required) — sender address; validated via `FILTER_VALIDATE_EMAIL`.  **Returns:** `{status: \"ok\", text: \"Email '...' removed from block list\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `400` invalid email, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:email` (String.t): an email address

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delist_block(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delist_block(connection, id, opts \\ []) do
    optional_params = %{
      :email => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/blocks/delete")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List configured delivery/bounce/quota alerts for one Mail Baby service
  Returns every alert row from `alerts` matching this service. Each row carries `alert_id` (use with PUT/DELETE), `alert_type`, `alert_value` (threshold), `alert_to` (notification email), `alert_enabled`, and timestamps. Sibling ops: `createMailAlert`, `updateMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailAlertsResponse`): array of alert rows.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailAlertsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_alerts(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailAlertsResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_alerts(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/alerts")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailAlertsResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List recent local-blocklist hits and spam-trap captures for the mail user
  Returns relay-side block events for the SMTP user behind `mail_id` — the last 24 hours of `LOCAL_BL_RCPT` and `MBTRAP` rspamd hits, plus a 3-day window of suspicious-subject hits (credential-leak heuristic firing on subjects containing `@` / `smtp` / `socks5` / `socks4` more than 4 times). Use the `from` value with `delistBlock` or `postMailDelist` to clear a block. Sibling ops: `delistBlock`, `getMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailBlocks`): - `local` (array) — rspamd `LOCAL_BL_RCPT` hits: `{date, from, messageId, subject, to}`. - `mbtrap` (array) — spam-trap captures (`MBTRAP` symbol): same shape. - `subject` (array) — senders flagged by subject-line heuristic: `{from, subject}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller. - `409` — `mail_status != \"active\"`.  **Related calls:** - **Clear a block:** `delistBlock` (POST `/mail/{id}/blocks/delete`). - **Broader delist UI:** `getMailDelist`, `postMailDelist`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailBlocks.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_blocks(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailBlocks.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_blocks(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/blocks")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailBlocks},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read blocklist diagnostics and find senders eligible for delisting
  Returns a richer diagnostic snapshot than `getMailBlocks` — intended for the delist UI. Use any `SMTPFrom`/`from` value as the `unblock` field for `postMailDelist`. Sibling ops: `postMailDelist`, `getMailBlocks`, `delistBlock`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailDelistResponse`): - `id` (integer) — `mail_id` echo. - `local`, `mbtrap` (array) — last 24h rspamd hits with capitalized keys (`Date`, `SMTPFrom`, `MessageId`, `Subject`, `MimeRecipients`). - `subject` (array) — credential-leak-heuristic firings (3-day window). - `manual` (array) — manually added blocks.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailDelistResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_delist(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailDelistResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_delist(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/delist")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailDelistResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read delivered vs bounced totals broken down by sender (or by recipient domain)
  Returns deliverability analytics from `MailDeliveryStats` (Dragonfly cache) for the SMTP user behind `mail_id`. Default pivot is by sender; pass `?filter_domain=1` to pivot by recipient domain for the current year instead. Use to drive analytics dashboards. Sibling ops: `getStats`, `viewMailLog`, `getMailBlocks`, `getMailDelist`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Query params:** - `filter_domain` (string `1`, optional) — pivot by recipient domain instead of sender.  **Returns** (schema `MailDeliverabilityResponse`): - `stat`: `{delivered, bounced, percent}` — totals and bounce ratio. - `header` (string), `col1` (string) — table headers. - `table_data` (array) — rows of `[<sender-or-domain>, bounced, delivered, bouncePercent]`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailDeliverabilityResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_deliverability(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailDeliverabilityResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_deliverability(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/deliverability")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailDeliverabilityResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read full detail for one Mail Baby service including SMTP credentials
  Returns the full `ViewMail` payload for one Mail Baby service — `serviceInfo`, `serviceType`, and `client_links` (URLs rewritten to API paths, e.g. `view_mail_log` → `log`). Admin fields (`admin_links`, `settings`, `csrf`) stripped. Use to render a service dashboard or retrieve SMTP host/username for MTA configuration. Sibling ops: `getMailList`, `updateMailInfo`, `mailCancel`, `resetMailPassword`, `getMailWelcomeEmail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns** (schema `MailSchema`): - `serviceInfo` — `mail_id`, `mail_username` (e.g. `mb1234`), `mail_status`, `mail_invoice`, `mail_custid`, dates, currency. - `serviceType` — plan row (`services_ourcost` stripped). - `client_links` (array) — action URLs (log, alerts, blocks, etc.).  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller.  **Related calls:** - **Send:** `sendMail` / `sendAdvMail`. - **Rotate password:** `resetMailPassword`. - **Reset credentials:** `getMailWelcomeEmail`. - **Cancel:** `mailCancel`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailSchema.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailSchema},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List billing invoices linked to this Mail Baby service
  Returns every invoice associated with this `mail_id` via the shared `InvoicesList` workflow. Use to render per-service billing history or find unpaid invoices to pay via `initiatePayment`. Sibling ops: `getBillingInvoice`, `initiatePayment`, `addMail`, `mailCancel`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `ChargeInvoiceRows` — array of `{id, amount, currency, paid, date, due_date, description, module: \"mail\", service}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404 Invalid Service`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ChargeInvoiceRows.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ChargeInvoiceRows},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List every Mail Baby SMTP relay service on the account
  Enumerates every Mail Baby SMTP relay service owned by the authenticated customer. Canonical entry point for finding a `mail_id` to pass to other Mail endpoints. Filtered server-side by `mail_custid`. Sibling ops: `getMailInfo`, `getStats`, `viewMailLog`, `getMailDeliverability`, `getMailBlocks`, `getMailInvoices`, `addMail`.  **Path/Query/Body:** None.  **Returns:** Array of `MailRow`: - `mail_id` (integer) — canonical id. - `mail_username` (string) — SMTP username (e.g. `mb1234`). - `mail_status` (string enum) — `active` / `pending` / `canceled` / `suspended`. - `services_name` (string) — plan label. - `repeat_invoices_cost` (decimal string) — recurring cost.  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Per-service detail:** `getMailInfo`. - **Send mail:** `sendMail` / `sendAdvMail`. - **Reputation:** `getMailDeliverability` / `getMailBlocks` / `getMailDelist`. - **Order a new service:** `getNewMail` → `putMail` → `addMail`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MailRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_list(Tesla.Env.client, keyword()) :: {:ok, [InterserverApi.Model.MailRow.t]} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailRow},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend the Mail Baby welcome email with SMTP credentials and setup info
  Re-runs the `mail_welcome_email` plugin function — composes and sends the standard welcome email (SMTP host `relay.mailbaby.net`, port, username `mb{mail_id}`, current password, configuration tips) to the account-on-file. Use after `resetMailPassword` to redeliver the rotated credential, or when a customer reports losing the original setup email. Idempotent. Sibling ops: `resetMailPassword`, `getMailInfo`. Cross-module welcome-email endpoints: `getVpsWelcomeEmail`, `getWebsitesWelcomeEmail`, `getDomainsWelcomeEmail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `{text: \"Welcome Email has been resent.\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read the Mail Baby order catalog — plans, package costs, service-type metadata
  Step 1 of the Mail Baby order flow. Returns the catalog used to bootstrap an order form: `packageCosts` keyed by `services_id` (only buyable services where `services_buyable=1`) and the full `serviceTypes` map. Read-only. Pricing is normalized to the customer's currency via `getCurrency()`. Sibling ops: `putMail`, `addMail`, `getMailList`.  **Path/Query/Body:** None.  **Returns** (schema `MailOrder`): - `packageCosts` (object) — `{<services_id>: <cost>}` per buyable plan. - `serviceTypes` (object) — full service-types registry (plan metadata).  **Auth:** Session/API key.  **Errors:** - `401` — unauthenticated.  **Related calls:** - **Next:** `putMail` (validate + quote — no charge), `addMail` (place order). 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_mail(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.MailOrder.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_mail(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailOrder},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List configured deny rules (sender/recipient blocks) for a Mail Baby service
  Returns every `mail_spam` row scoped to this service's `mail_username` — local sender/recipient block rules the customer has configured. Sibling ops: `addRule`, `updateRule`, `deleteRule`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** Array of `DenyRuleRecord` — `{id, user, type, data, created}`. `type` values: - `domain` — block by sender domain. - `email` — block by exact sender email. - `startswith` — block when sender local-part starts with a string. - `destination` — block by recipient email.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%DenyRuleRecord{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_rules(Tesla.Env.client, integer(), keyword()) :: {:ok, [InterserverApi.Model.DenyRuleRecord.t]} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_rules(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/rules")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.DenyRuleRecord},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read Mail Baby usage counts, send volume totals, top destinations, and projected cost
  Returns aggregate usage and cost metrics for the SMTP user behind `mail_id` from the ZoneMTA `mail_messagestore` / `mail_senderdelivered` tables. Use to drive an analytics dashboard or to project end-of-cycle cost. Sibling ops: `viewMailLog`, `getMailDeliverability`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Query params:** - `time` (string enum, optional, default `1h`) — window: `all` / `billing` (current invoice cycle) / `month` / `7d` / `24h` / `1d` / `1h`.  **Returns** (schema `MailStatsType`): - `time` (string) — echo of selected window. - `usage` (integer) — full-billing-cycle send count. - `currency`, `currencySymbol` (string). - `cost` (decimal) — projected = base + `$0.20 / 1000 emails`. - `received`, `sent` (integer). - `volume.to`, `volume.from`, `volume.ip` (object) — top-500 destinations / senders / origin IPs by count.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid or missing mail order id`, `401`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:time` (String.t): The timeframe for the statistics.

  ### Returns

  - `{:ok, InterserverApi.Model.MailStatsType.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_stats(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailStatsType.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_stats(connection, id, opts \\ []) do
    optional_params = %{
      :time => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/stats")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailStatsType},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel a Mail Baby service and stop the recurring invoice
  Cancels the Mail Baby service through the shared `Billing\\CancelService::go($id)` flow with `module='mail'`. SMTP credentials are deactivated, the service transitions to canceled, the `repeat_invoice` is stopped, and queued submissions stop being accepted. **Irreversible via API** — re-activation requires placing a new order via `addMail`. Sibling ops: `getMailInfo`, `getMailInvoices`, `addMail`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `MailCancelResponse`.  **Side effects:** - Sets `mail_status='canceled'`. - Marks `repeat_invoices` non-renewing. - ZoneMTA-side: stops accepting new submissions for `mb{mail_id}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller.  **Related calls:** - **Sibling cancels:** `VPSCancel`, `CancelDomain`, `webhostingCancel`, etc. - **Re-provision:** `addMail`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.MailCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec mail_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.MailCancel200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def mail_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailCancel200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delist a sender from rspamd / mailchannels / mailbaby block lists
  Removes all block rows for one sender email across three reputation stores: `rspamd` (by `fromemail`), `mailchannels` (by `email`), `mailbaby` (by `emailfrom`). Effect is global per-address across all three tables; takes effect immediately for new submissions. Sibling ops: `getMailDelist`, `delistBlock` (alias at `/mail/{id}/blocks/delete`), `getMailBlocks`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailDelistRequest`):** - `unblock` (string, required) — sender email from `getMailDelist`/`getMailBlocks`.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Missing parameter unblock`, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_delist_request` (MailDelistRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_mail_delist(Tesla.Env.client, integer(), InterserverApi.Model.MailDelistRequest.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_mail_delist(connection, id, mail_delist_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/delist")
      |> add_param(:body, :body, mail_delist_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate Mail Baby order, quote pricing, and verify coupon — no charge
  Step 2 of the Mail Baby order flow. Dry-runs the order through `validate_buy_mail()` without creating invoices. Returns the cost preview, coupon resolution, and validation errors. The endpoint also auto-generates an SMTP password preview the order will use. Use to surface live pricing in the UI before `addMail`. Sibling ops: `getNewMail`, `addMail`.  **Body fields:** - `serviceType` (integer, required) — plan id from `getNewMail.packageCosts` keys. - `coupon` (string, optional) — coupon code.  **Returns:** - `continue` (bool) — `true` if order can safely be POSTed. - `errors` (array) — validation messages. - `serviceType`, `serviceCost`, `originalCost`, `repeatServiceCost` (numeric). - `password` (string) — auto-generated SMTP password preview. - `introFrequency` (integer). - `coupon`, `couponCode` (string/integer) — resolved coupon.  **Auth:** Session/API key.  **Errors:** - `200` with `continue=false` and `errors[]` — validation problems. - `401` — unauthenticated.  **Related calls:** - **Prerequisite:** `getNewMail` (catalog). - **Place order:** `addMail`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `mail_order_request` (MailOrderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_mail(Tesla.Env.client, InterserverApi.Model.MailOrderRequest.t, keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_mail(connection, mail_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/mail/order")
      |> add_param(:body, :body, mail_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Rotate the SMTP password and email the new credential to the account owner
  Generates a new 20-char SMTP password (lower/upper/digits via `generate_password`), writes it to the ZoneMTA Mongo `users` collection for username `mb{mail_id}`, logs the change to `App::history()`, and emails the result to the account-on-file via `client_email.tpl`. **Any MTA, app, or saved client still using the old password will start failing auth immediately.** The new password is **not** returned in the response — fetch via `getMailWelcomeEmail` or `getMailInfo`. Sibling ops: `getMailWelcomeEmail`, `getMailInfo`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Returns:** `SuccessTextResponse`.  **Side effects:** - Mongo update on ZoneMTA `users` for `mb{mail_id}`. - `App::history()` audit entry. - Email sent to account owner.  **Auth:** Session/API key. Ownership enforced.  **Errors:** Mongo update modified 0 rows → error text; `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reset_mail_password(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def reset_mail_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/reset_password")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Send email via Mail Baby SMTP relay with attachments, CC/BCC, and multi-recipient
  Submits an outbound message through `relay.mailbaby.net:25` using the service's SMTP credentials (fetched via `mail_get_password`). Use for multi-recipient sends, named addresses, CC/BCC, ReplyTo, or attachments. For single-recipient plain sends, `sendMail` is the lighter option. Sibling ops: `sendMail`, `viewMailLog` (find queued message), `getMailDeliverability` (analyze bounces).  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (JSON or form-urlencoded, schema `SendMailAdv`):** - `from` (string or `{email, name}`, required). - `to` (array of strings or `{email, name}` objects, required). - `subject` (string, required). - `body` (string, required) — HTML auto-detected when tags are present. - `replyto` (array, optional) — same shape as `to`. - `cc`, `bcc` (array, optional) — same shape as `to`. - `attachments` (array, optional) — each `{filename, data}` where `data` is base64-encoded; added via `addStringAttachment`.  **Returns:** `{status: \"ok\", text: \"Email queued successfully\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `400` with PHPMailer `ErrorInfo` on send failure or missing required field. - `401` — unauthenticated. - `404 Invalid Service Passed`. - `409 Service is not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `send_mail_adv` (SendMailAdv): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec send_adv_mail(Tesla.Env.client, integer(), InterserverApi.Model.SendMailAdv.t, keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def send_adv_mail(connection, id, send_mail_adv, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/advsend")
      |> add_param(:body, :body, send_mail_adv)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Send a simple single-recipient email through the Mail Baby SMTP relay
  Sends a single-recipient transactional email through `relay.mailbaby.net:25` authenticated as this `mail_id`. Body fields are the minimum needed for a plain send; Reply-To is auto-set to `from`. For multi-recipient sends, CC/BCC, named addresses, or attachments use `sendAdvMail` instead. Sibling ops: `sendAdvMail`, `viewMailLog`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (JSON or form-urlencoded, schema `SendMail`):** - `to` (string, required) — recipient email. - `from` (string, required) — sender email. - `subject` (string, required). - `body` (string, required) — HTML auto-detected when tags are present.  **Returns:** `{status: \"ok\", text: \"Email queued successfully\"}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `400` with PHPMailer `ErrorInfo` on send failure or missing required field, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `send_mail` (SendMail): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec send_mail(Tesla.Env.client, integer(), InterserverApi.Model.SendMail.t, keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def send_mail(connection, id, send_mail, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/send")
      |> add_param(:body, :body, send_mail)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update an existing Mail Baby alert by alert_id
  Updates a single alert row by `alert_id`. Handler verifies the alert belongs to this service+module before writing. Sibling ops: `getMailAlerts`, `createMailAlert`, `deleteMailAlert`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body fields (schema `MailAlertUpdateRequest`):** - `alert_id` (integer, required) — from `getMailAlerts`. - `type` (string, required). - `value` (string/numeric, required) — threshold. - `to` (string, required) — notification email; validated via `FILTER_VALIDATE_EMAIL`. - `enabled` (bool, optional).  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `Invalid alert!` (alert not owned), field-level errors for missing/invalid body, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_alert_update_request` (MailAlertUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_mail_alert(Tesla.Env.client, integer(), InterserverApi.Model.MailAlertUpdateRequest.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_mail_alert(connection, id, mail_alert_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/mail/#{id}/alerts")
      |> add_param(:body, :body, mail_alert_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  POST mutation hook for the Mail Baby service detail page
  POST mutation hook for the Mail Baby service detail page. Currently delegates to the same `View::go()` handler as `getMailInfo` — placeholder for future field updates. Does NOT rotate credentials (use `resetMailPassword`) and does NOT change billing (use `/billing` endpoints). Sibling ops: `getMailInfo`, `mailCancel`, `resetMailPassword`.  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList`.  **Body:** Form fields.  **Returns:** `SuccessTextResponse`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** - `401` — unauthenticated. - `404` — `id` not owned by caller. - `409` — `mail_status != \"active\"`.  **Related calls:** - **Read:** `getMailInfo`. - **Rotate password:** `resetMailPassword`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (String.t): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_mail_info(Tesla.Env.client, String.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_mail_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update an existing Mail Baby deny rule's type and match data
  Updates `type` and `data` on a single `mail_spam` row. Query is bounded by `id={rule} AND user='{mail_username}'` so cross-tenant updates are impossible. Same validation rules as `addRule`. Sibling ops: `getRules`, `addRule`, `deleteRule`.  **Path params:** - `id` (integer, required) — `mail_id` from `getMailList`. - `rule` (string, required) — rule id from `getRules`.  **Body fields (schema `DenyRuleNew`):** - `type` (string, required) — `domain` / `email` / `startswith` / `destination`. - `data` (string, required) — see `addRule` for type-specific validation.  **Returns:** `\"Record updated successfully.\"`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** field-level errors on validation failure, `401`, `404`, `409 not active`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `rule` (String.t): The ID of the deny rule to update.
  - `deny_rule_new` (DenyRuleNew): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_rule(Tesla.Env.client, integer(), String.t, InterserverApi.Model.DenyRuleNew.t, keyword()) :: {:ok, InterserverApi.Model.GenericResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_rule(connection, id, rule, deny_rule_new, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/mail/#{id}/rules/#{rule}")
      |> add_param(:body, :body, deny_rule_new)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.GenericResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Search and paginate per-message Mail Baby delivery log entries
  Paginated search over ZoneMTA's `mail_messagestore` joined with `mail_senderdelivered` and `mail_queuerelease`. Supports envelope, header, and metadata filters; sortable; choose recipient-level or message-level grouping. Use to investigate delivery issues, find specific messages by Message-ID, audit bounce rates, or feed an analytics dashboard. Sibling ops: `getStats`, `getMailDeliverability`, `delistBlock` (clear a block surfaced by a bounce).  **Path param:** - `id` (integer, required) — `mail_id` from `getMailList` (omit to span all owned mail users — admin-only).  **Query params:** - `from`, `to` (string) — envelope address, exact match. - `headerfrom`, `replyto` (string) — header address, exact match; validated as email. - `subject` (string) — LIKE match on subject. - `mailid` (string, 18–19 chars) — relay id, exact. - `messageId` (string) — Message-ID header, substring match. - `origin` (string) — submitter IP, exact. - `mx` (string) — destination MX hostname, LIKE. - `delivered` (integer 0/1). - `startDate`, `endDate` (Unix timestamp or `strtotime`-parseable string). - `skip` (integer, default 0), `limit` (integer 1–10000, default 100). - `sort` (`time`), `dir` (`asc`/`desc`, default `desc`). - `groupby` (`recipient` default — one row per delivery attempt; `message` — one row per `_id`).  **Returns** (schema `MailLog`): `{total, skip, limit, emails: [{id, _id, from, to, subject, messageId, time, mxHostname, delivered, code, response, recipient, ...}]}`.  **Auth:** Session/API key. Ownership enforced.  **Errors:** `400` bad input, `401`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:id` (integer()): The numeric ID of the mail order to filter by.  When omitted, logs from the first active mail order are returned.  Obtain valid IDs from `GET /mail` or `GET /mail/{id}`.
    - `:origin` (String.t): Filter by the originating IP address from which the message was submitted to the relay.  Must be a valid IPv4 or IPv6 address.
    - `:mx` (String.t): Filter by the MX hostname the relay attempted delivery to.  For example `mx.google.com` would return messages destined for Gmail recipients. Maps to `mxHostname` in the `MailLogEntry` response.
    - `:from` (String.t): Filter by SMTP envelope `MAIL FROM` address (exact match).  This is the address the relay used for bounce handling and may differ from the `From:` message header.  For header-level filtering use `headerfrom`.
    - `:to` (String.t): Filter by SMTP envelope `RCPT TO` address (exact match).  This is the delivery address used by the relay and may differ from the `To:` header when BCC recipients are involved.
    - `:subject` (String.t): Filter by email `Subject` header (exact match).  MIME-encoded subjects are decoded automatically in the response.
    - `:mailid` (String.t): Filter by the relay-assigned mail ID string (exact match).  This corresponds to the `id` field in `MailLogEntry` and to the `text` value returned by the sending endpoints on success.  Format is an 18-19 character hexadecimal string such as `185997065c60008840`.
    - `:messageId` (String.t): Filter by the `Message-ID` email header using a substring (case-insensitive) match. The `Message-ID` is assigned by the sending mail client and is visible in the `messageId` field of `MailLogEntry`.
    - `:replyto` (String.t): Filter by the `Reply-To` message header address (exact match).  Only returns messages where this header was explicitly set.
    - `:headerfrom` (String.t): Filter by the `From` message header address (exact match).  This is the human-visible sender address and may differ from the SMTP envelope `from` parameter when sending on behalf of another address.
    - `:delivered` (integer()): Filter by delivery status.  `1` returns only messages that were successfully delivered to the destination MX.  `0` returns messages that are still queued, deferred, or failed.  Omit to return all messages regardless of delivery status.
    - `:skip` (integer()): Number of records to skip for pagination.  Use in combination with `limit` to page through large result sets.  Defaults to `0` (no skip).
    - `:limit` (integer()): Maximum number of records to return per page.  Defaults to `100`. Maximum allowed value is `10000`.  The response also includes a `total` field with the full matched count so you can calculate the number of pages.
    - `:startDate` (ViewMailLogStartDateParameter): Earliest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by `strtotime()` such as `2024-01-15` or `last monday`.  Messages with a `time` value **greater than or equal to** this value will be included.
    - `:endDate` (ViewMailLogStartDateParameter): Latest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by `strtotime()` such as `2024-01-31` or `yesterday`. Messages with a `time` value **less than or equal to** this value will be included.
    - `:sort` (String.t): Field to sort results by.  Currently only `time` is supported (sorts by internal row ID which corresponds to chronological order).
    - `:dir` (String.t): Sort direction.  `desc` returns newest first (default), `asc` returns oldest first.
    - `:groupby` (String.t): Controls how results are grouped.  `recipient` (default) returns one row per delivery attempt — a message sent to 4 recipients produces 4 rows, each with its own `recipient`, `delivered`, `response`, and delivery metadata.  `message` collapses to one row per unique message ID; delivery-level fields will reflect one arbitrary recipient per message.  The `total` count in the response matches the grouping mode.

  ### Returns

  - `{:ok, InterserverApi.Model.MailLog.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec view_mail_log(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.MailLog.t} | {:error, Tesla.Env.t}
  def view_mail_log(connection, id, opts \\ []) do
    optional_params = %{
      :id => :query,
      :origin => :query,
      :mx => :query,
      :from => :query,
      :to => :query,
      :subject => :query,
      :mailid => :query,
      :messageId => :query,
      :replyto => :query,
      :headerfrom => :query,
      :delivered => :query,
      :skip => :query,
      :limit => :query,
      :startDate => :query,
      :endDate => :query,
      :sort => :query,
      :dir => :query,
      :groupby => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/log")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.MailLog},
      {400, false}
    ])
  end
end
