# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterserverApi.Api.Servers do
  @moduledoc """
  API calls for all endpoints tagged `Servers`.
  """

  alias InterserverApi.Connection
  import InterserverApi.RequestBuilder

  @doc """
  Place a custom dedicated server order, creating a real billable invoice
  Submits a fully custom dedicated server order. Creates a `pending` `servers` row, a `Repeat_Invoice`, and the first invoice, then emails customer + admin. Caveat: real billable order — confirm with the user first. Body (form fields): `cpu` (id from `cpu_li`), `hd[]` (array of drive ids), `memory`, `bandwidth`, `ips`, `os`, `cp`, `raid` (ids from `getNewServer`), `region` (region_id), `servername` (valid hostname), `rootpass`, `tos` (must be true), optional `comment`. `account.server_order_discount` (if set) applies. Returns: `{ text:'Order Completed', invoice, order }`. Errors: 422 'Missing/Invalid <field>'; 401 unauth. Sibling ops: `getNewServer` (options), `placeBuyNowServer` (pre-built path), `getServerInfo` (view new order), `getServerInvoices`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `server_order_post_request` (ServerOrderPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.AddServer200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_server(Tesla.Env.client, InterserverApi.Model.ServerOrderPostRequest.t, keyword()) :: {:ok, InterserverApi.Model.AddServer200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_server(connection, server_order_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/order")
      |> add_param(:body, :body, server_order_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.AddServer200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get configurable options for a Rapid Deploy / coupon dedicated server
  Step 1 of the Rapid Deploy / coupon dedicated server order flow. Returns options + pricing for either a marketplace asset (`a=<asset_id>`) or a coupon (`c=<coupon_name>`) so the order form can be rendered before `placeBuyNowServer`. Read-only; no charge. Sibling ops: `placeBuyNowServer` (commit), `getMPServers` (browse marketplace), `addServer` (custom build flow).  **Query (one required):** - `a` (integer) — asset_id from `getMPServers`. - `c` (string) — `server_coupons.name`.  **Returns:** `{ bandwidth[], ips[], os[], cp[], raid[], regions[], a?: {asset + items}, c?: {coupon + region} }`. Each option row is `{ id, short_desc, long_desc, monthly_price }` — feed those ids into `placeBuyNowServer`.  **Auth:** Session/API key.  **Errors:** - `400` — `'No Server Coupon or Market-Place Asset Specified'` when neither `a` nor `c` is passed. - `400` — `'Invalid Asset ID'` / `'No Server Coupon with that name'`. - `409` — `'Server already sold!'` (asset already in-cart) or `'Server Out of stock'` (coupon). - `401` — unauthenticated.  **Related calls:** - **Next:** `placeBuyNowServer` (commit the order). - **Browse:** `getMPServers`. - **Custom build alternative:** `addServer`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.BuyItNowServerOrder200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec buy_it_now_server_order(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.BuyItNowServerOrder200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def buy_it_now_server_order(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/order/buy_now_server")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BuyItNowServerOrder200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Rapid Deploy (Buy-It-Now) marketplace dedicated servers with live pricing
  Use to browse pre-built dedicated servers ready for immediate provisioning (Rapid Deploy / marketplace). No params, no body. Pulls live inventory from `mynew.interserver.net/ajax/server_a.php`. Returns: array of `{ server_id, cpu: [model, {img,type,speed,num_cpus,num_cores}], memory, disk, bandwidth, ips, location, price }`. The `server_id` is the marketplace asset id — feed it into `buyItNowServerOrder` (GET options for asset `?a=<id>`) and `placeBuyNowServer` (POST to commit). Errors: 401 if session expired. Sibling ops: `buyItNowServerOrder` (configure asset), `placeBuyNowServer` (purchase), `getNewServer`/`addServer` (custom-spec build, not pre-built), `getServerList` (already-owned servers).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.BuyItNowList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mp_servers(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.BuyItNowList.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mp_servers(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/buy_now_servers_list")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.BuyItNowList},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get custom dedicated server ordering options, regions, and pricing
  Use before placing a fully custom (non-Rapid-Deploy) dedicated server order to discover available CPUs, drives, memory tiers, OS images, control panels, RAID levels, bandwidth packages, IP blocks, and regions with monthly prices. No params, no body. Returns: object with `config_li` keyed by category (`cpu_li`, `hd_li`, `memory_li`, `bandwidth_li`, `ips_li`, `os_li`, `cp_li`, `raid_li`) plus `regions`. Use returned IDs as POST values for `addServer`. Note `hd_li` and `memory_li` are nested by `cpu` id — the chosen CPU constrains valid drive/memory options. Errors: 401 if not authenticated. Sibling ops: `addServer` (commits the order), `buyItNowServerOrder` (pre-built marketplace alternative), `getMPServers` (browse marketplace).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServerOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_server(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.ServerOrder.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_server(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServerOrder},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get full hardware, network, and lifecycle details for a dedicated server
  Use to fetch complete configuration for one dedicated server — hardware, network/VLAN/IP layout, asset assignments, location, status, billing references, and client action links. Path param: `id` (integer server_id, from `getServerList`). No body. Returns: `ViewServer::getDetails()` shape: `serviceInfo`, `networkInfo` (vlans + assets, with `ipmi_admin_username`/`ipmi_admin_password` and admin lease creds REDACTED for client safety), normalized `client_links`, `serviceType`. `admin_links`/raw `settings`/`csrf` stripped. Errors: 404 not owned; 401 unauth. Sibling ops: `getServerInvoices`, `serverIpmiLiveGet`, `serverIpmiPowerGet` (single — prefer `serverBulkIpmiPowerGet` for many), `getServerReverseDns`, `getServersWelcomeEmail`, `serversCancel`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.Server.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.Server.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_server_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.Server},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List billing invoices (charges + payments) tied to one dedicated server
  Use to retrieve the invoice history for a single dedicated server — e.g. before a cancel, refund, or to show outstanding balances. Path param: `id` (integer server_id from `getServerList`). No body. Inherits from `MyAdmin\\Api\\Billing\\InvoicesList` with module=servers. Returns: `ChargeInvoiceRows` array — invoice rows with id, date, amount, status, currency, line items. Errors: 404 if `id` not owned by the caller; 401 unauth. Sibling ops: `getServerInfo` (current service state), `serversCancel` (cancel), `getBillingInvoice` (single invoice by invoice id), `getVpsInvoices`/`getDomainInvoices` for other modules, `getServersWelcomeEmail` to resend setup info.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ChargeInvoiceRows.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_server_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ChargeInvoiceRows},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List all dedicated servers owned by the authenticated customer
  Use to enumerate physical bare-metal dedicated servers on the calling account. No params, no body. Filters `servers` by session `account_id`. Returns: array of `{ server_id, account_lid, server_hostname, server_status }`. Use `server_id` with `getServerInfo` for full hardware/network/IPMI details, `getServerInvoices` for billing, or `serverIpmiPowerGet` for chassis power state. Errors: 401 if not authenticated; empty array if account owns no servers. Sibling ops: `getServerInfo` (details), `getVpsList` (virtual instead of physical hardware), `getMPServers` (purchasable inventory, not owned). For IPMI status across many servers in one call, prefer `serverBulkIpmiPowerGet`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%ServerRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_list(Tesla.Env.client, keyword()) :: {:ok, [InterserverApi.Model.ServerRow.t]} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_server_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServerRow},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List current reverse-DNS (PTR) records for a dedicated server's IPs
  Use to read the existing PTR/rDNS hostnames assigned to each public IP in the server's VLANs — typically before calling `postServerReverseDns` to update them. Path param: `id` (integer server_id). No body. Walks `networkInfo.vlans`, expands each network to usable host IPs (handles /31 and /32 edge cases), and resolves each via `get_hostname()`. Returns: `{ ips: { '<ipv4>': '<ptr_or_empty_string>', ... } }`. Empty string indicates no PTR set. Errors: 404 if `id` not owned by caller; 401 unauth. Sibling ops: `postServerReverseDns` (update PTRs), `getServerInfo` (full network), `getVpsReverseDns` for VPS, `getDomainNameservers` / DNS endpoints for forward records. Note rDNS propagation is delegated to the in-addr.arpa zone — changes are not always instant.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ReverseDnsEntries.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_reverse_dns(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:ok, InterserverApi.Model.ReverseDnsEntries.t} | {:error, Tesla.Env.t}
  def get_server_reverse_dns(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/reverse_dns")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ReverseDnsEntries},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend the dedicated server welcome email with setup credentials
  Use when the customer asks for the original setup/login info to be re-sent (root password, IPs, control-panel URL). Path param: `id` (integer server_id, must be `active`). No body. Invokes `server_welcome_email($id)` which re-sends the welcome message to the account's email. Returns: `{ text:'Welcome Email has been resent.' }`. Errors: 404 if `id` not owned by caller; 409 if service not active (cancelled/pending/suspended); 401 unauth. Caveat: re-sending is rate-sensitive; do not call repeatedly in a loop. The email may contain root credentials — confirm intent before triggering. Sibling ops: `getServerInfo` (status check), `getServerInvoices`, `getVpsWelcomeEmail` for VPS, `getDomainsWelcomeEmail` for domains.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_servers_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_servers_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Place a Rapid Deploy / coupon dedicated server order; creates real invoice
  Step 2 of the Rapid Deploy / coupon order flow. Commits a marketplace asset OR coupon-based dedicated server order. Inserts the `servers` row, creates a `Repeat_Invoice` plus the first `invoices` row, marks the asset `MarketPlace-Incart` (or decrements `server_coupons.in_stock`), then emails customer + admin. **Real billable order — confirm intent first.** Sibling ops: `buyItNowServerOrder` (catalog), `getServerInfo` (poll provisioning), `getServerInvoices` (billing), `addServer` (custom build alternative).  **Query (one required, same as `buyItNowServerOrder`):** - `a` (integer) — asset_id. - `c` (string) — `server_coupons.name`.  **Body fields:** - `hostname` (string, required) — valid FQDN; validated by `valid_hostname`. - `enablepassword` (boolean, optional, default `false`) — when true the client must supply `rootPassword`; otherwise a secure password is generated server-side via `generate_password()`. - `rootPassword` (string, required when `enablepassword=true`) — must be ≥8 chars with at least one uppercase, lowercase, digit, and special character (`valid_password`). - `os`, `bandwidth`, `ips`, `cp`, `raid` (integer, optional) — option ids from `buyItNowServerOrder`; defaults `30` / `10` / `9` / `1` / `0` applied when missing. - `comments` (string, optional) — appended to the order comment.  **Returns:** `201 { success: true, text: 'Server order is placed.', service_id, invoice_id }`.  **Auth:** Session/API key.  **Errors:** - `400` — `'Server Hostname is missing.'` / `'Invalid Hostname!'` / `'Server Password is missing.'` / password complexity message. - `409` — `'Server already sold!'` / `'Server Out of stock.'` - `401` — unauthenticated.  **Side effects:** inserts `servers` row, creates `repeat_invoices` + `invoices` rows, updates `assets.status` or `server_coupons.in_stock`, queues admin + customer welcome emails.  **Related calls:** - **Prerequisite:** `buyItNowServerOrder`. - **Next:** `getBillingInvoice` + `initiatePayment` to pay, then poll `getServerInfo` for provisioning state. - **Custom build alternative:** `addServer`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (PlaceBuyNowServerRequest): 

  ### Returns

  - `{:ok, InterserverApi.Model.ServersBuyNowResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec place_buy_now_server(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.ServersBuyNowError.t} | {:ok, InterserverApi.Model.ServersBuyNowResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def place_buy_now_server(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/order/buy_now_server")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServersBuyNowResponse},
      {400, InterserverApi.Model.ServersBuyNowError},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Update reverse-DNS (PTR) hostnames on a dedicated server's IPs
  Use to set or remove PTR records for the server's public IPs. Path param: `id` (server_id). Body: `ips` (object mapping `'<ipv4>'` to desired hostname; empty string removes the PTR). Only IPs that already exist on the server's VLANs and whose hostname differs from current are updated; each diff calls `reverse_dns($ip, $host, 'set_reverse'|'remove_reverse')`. Returns: `{ message, success:bool }`. `success:false` with 'No valid IPs were passed or there were no changes' when nothing to update; otherwise reports update count. Errors: 404 invalid id; 401 unauth. Caveats: caller can only set PTRs for IPs they actually own; rDNS propagation is async — do not assume immediate visibility downstream. Sibling ops: `getServerReverseDns` (read first), `getServerInfo`, VPS counterpart `postVpsReverseDns`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `reverse_dns_entries` (ReverseDnsEntries): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_server_reverse_dns(Tesla.Env.client, integer(), InterserverApi.Model.ReverseDnsEntries.t, keyword()) :: {:ok, InterserverApi.Model.TextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_server_reverse_dns(connection, id, reverse_dns_entries, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/reverse_dns")
      |> add_param(:body, :body, reverse_dns_entries)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.TextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read IPMI chassis power status for many dedicated servers in one call
  Use when you need power status for several owned servers at once (dashboards, mass health checks). Each server is queried independently; per-server failures (invalid id, inactive service, no asset, BMC error) are reported in the same response without aborting the batch. Read-only — does NOT change power state. Query: `ids` (required) — comma-separated string `?ids=2313,2314,2315` OR repeated `ids[]` array. Duplicates de-duped; non-positive ints become per-row errors. Returns: `{ results: [ { id, asset?, text|error } ] }`. Errors: 400 'No server IDs provided.' if `ids` empty/missing; 401 unauth. Sibling ops: `serverIpmiPowerGet` (single-server equivalent), `serverIpmiPowerPost` (DESTRUCTIVE — change power; no bulk equivalent — call per server), `getServerList` (discover ids).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `ids` (String.t): Comma-separated list of Server IDs to query (e.g. `2313,2314,2315`). May also be passed as repeated `ids[]` query parameters.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServerBulkIpmiPowerResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_bulk_ipmi_power_get(Tesla.Env.client, String.t, keyword()) :: {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:ok, InterserverApi.Model.ServerBulkIpmiPowerResponse.t} | {:error, Tesla.Env.t}
  def server_bulk_ipmi_power_get(connection, ids, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/bulk/ipmi_power")
      |> add_param(:query, :ids, ids)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServerBulkIpmiPowerResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read current IPMI Live whitelist + KVM gateway URL for a dedicated server
  Reads the active IPMI Live session for a dedicated server — the temporary whitelisted public IP, the customer-side IPMI gateway URL, and the IPMI client (read-only) credentials so the customer can open the KVM/console. Looks up the asset's IPMI IP, the location's IPMI group, and any active `ipmi_ips` lease (3-hour TTL). Sibling ops: `serverIpmiLivePost` (allocate whitelist slot), `serverIpmiPowerGet` / `serverIpmiPowerPost` (chassis power).  **Path:** `id` (integer, required) — server_id from `getServerList`.  **Body / query:** None. Optionally pass `asset` (asset_id) to target a specific asset; default is first asset.  **Returns:** when an active lease exists `{ text (html), public_ip, allowed_ip, client_username, client_password }`. When no lease yet: `{ text: 'Setup not yet completed' }` — then call `serverIpmiLivePost` to allocate a slot.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text `'No IPMI IP Set'` / `'Invalid IPMI IP'` / `'Live IPMI not Available for this location.'` when the asset/location is not configured for IPMI Live.  **Caveat:** returns `client_password` — never log/echo verbatim.  **Related calls:** - **Allocate:** `serverIpmiLivePost`. - **Chassis power:** `serverIpmiPowerGet`, `serverIpmiPowerPost`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServerIpmiLiveInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_live_get(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ServerIpmiLiveInfo.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_live_get(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/ipmi_live")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServerIpmiLiveInfo},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Whitelist an IP for IPMI Live KVM gateway access (3-hour lease)
  Allocates / refreshes an IPMI Live whitelist slot so the customer's specified IP can reach the BMC's KVM/console for 3 hours. Picks a free `ipmi_ips` row for the location's `ipmi_group`, refreshes the lease if the same IP is already allocated, otherwise pushes the new whitelist via `ipmi_live_setup()`. Sibling ops: `serverIpmiLiveGet` (read current lease), `serverIpmiPowerPost` (DESTRUCTIVE — chassis power).  **Path:** `id` (integer, required) — server_id.  **Body fields:** - `ip` (string, required) — public IPv4 to whitelist. - `asset` (integer, optional) — asset_id; defaults to first asset on the server.  **Returns:** `{ text (html), public_ip, allowed_ip, client_username, client_password }` for KVM login.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text — `'An Invalid IP was passed.'`, `'No Live IPs are currently free for use with the IPMI Gateway. Please wait <duration> for the next IP to free up.'`, `'There was an error communicating with the IPMI Management server'`, `'No IPMI IP Set'` / `'Invalid IPMI IP'` / `'Live IPMI not Available for this location.'`.  **Caveat:** returns IPMI client password — handle securely; whitelist exposes the BMC briefly.  **Related calls:** - **Read current lease:** `serverIpmiLiveGet`. - **Power control:** `serverIpmiPowerPost`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `ip` (String.t): Your IP Address you wish to connect to the IPMI system from.
  - `opts` (keyword): Optional parameters
    - `:asset` (integer()): Asset ID

  ### Returns

  - `{:ok, InterserverApi.Model.ServerIpmiLiveInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_live_post(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterserverApi.Model.ServerIpmiLiveInfo.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_live_post(connection, id, ip, opts \\ []) do
    optional_params = %{
      :asset => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/ipmi_live")
      |> add_param(:form, :ip, ip)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServerIpmiLiveInfo},
      {404, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Read IPMI chassis power status for a dedicated server (single)
  Use to check whether a server's chassis is currently `on`/`off` via IPMI before issuing a power action. Path param: `id` (integer server_id). Optional body `asset` (asset_id — defaults to first asset). Issues `ipmitool power status` against the asset's `ipmi_ip` using its location IPMI group/credentials. Returns: `{ text:'Chassis Power is on' }` (or 'off'). Errors: 404 if `id` not owned by caller; 409 if service not active; 'There was an error sending the IPMI command' if BMC unreachable. Caveat: BMCs occasionally rate-limit — back off on repeated errors. Sibling ops: `serverBulkIpmiPowerGet` (preferred when polling many servers — single round-trip), `serverIpmiPowerPost` (DESTRUCTIVE — change power), `getServerInfo` (full state), `serverIpmiLiveGet` (IPMI Live KVM).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_power_get(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.TextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_power_get(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/ipmi_power")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.TextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  DESTRUCTIVE — change chassis power state on a bare-metal server
  Sends an IPMI chassis power command (`on`, `off`, `cycle`, `reset`, `soft`) to a customer's physical dedicated server. **DESTRUCTIVE on running hardware:** `off` / `cycle` / `reset` are forced power events that can corrupt filesystems, lose un-flushed data, or break in-flight workloads. `soft` requests an ACPI shutdown (safer when the guest OS is responsive). Always confirm intent with the operator. Sibling ops: `serverIpmiPowerGet` (read first), `serverBulkIpmiPowerGet` (status only), `serverIpmiLivePost` (KVM access).  **Path:** `id` (integer, required) — server_id.  **Body fields:** - `action` (string, required) — one of `on` / `off` / `cycle` / `reset` / `soft`. - `asset` (integer, optional) — asset_id; defaults to first asset on the server.  **Returns:** `{ text: 'Power command sent. Response: <ipmi output>' }`.  **Auth:** Session/API key. Ownership enforced via `server_custid`.  **Errors:** - `422` / inline error text — `Invalid Action` when `action` is not in the allowed set. - `404` — `id` not owned, or `asset` not on this server. - `409` — service not `active`. - `200` with error text — `'There was an error sending the IPMI command.'` when BMC is unreachable or rate-limiting.  **Related calls:** - **Status (single / bulk):** `serverIpmiPowerGet`, `serverBulkIpmiPowerGet`. - **KVM console:** `serverIpmiLivePost`. 

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `action` (String.t): The power action to send to the ipmi controller.
  - `opts` (keyword): Optional parameters
    - `:asset` (integer()): The Asset ID

  ### Returns

  - `{:ok, InterserverApi.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_power_post(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterserverApi.Model.TextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_power_post(connection, id, action, opts \\ []) do
    optional_params = %{
      :asset => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/ipmi_power")
      |> add_param(:form, :action, action)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.TextResponse},
      {400, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel a dedicated server service at the end of the current billing cycle
  Submits a cancellation request for a dedicated server. The server is deprovisioned and recurring billing stops at the end of the current billing cycle (not an immediate refund). Path param: `id` (integer server_id, from `getServerList`). No body. Caveat: billing-affecting action — always confirm with the user. Hardware-attached data may be wiped on deprovisioning. Returns: `{ success:bool, text:'Servers is canceled.' }`. Errors: 404 if `id` not owned by caller; 409 if already cancelled or non-active; 401 unauth. Sibling ops: `getServerInfo` (current status), `getServerInvoices` (outstanding charges), VPS counterpart `VPSCancel`. To re-order after cancel use `addServer` or `placeBuyNowServer`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ServersCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec servers_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterserverApi.Model.ServersCancel200Response.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def servers_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/servers/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ServersCancel200Response},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update settings on a dedicated server order (shares handler with view)
  Use to modify metadata on an existing dedicated server order. Path param: `id` (integer server_id). Currently this method shares the same handler as `getServerInfo` (`View::go()`) — no dedicated update fields are processed; treat it as deprecated/no-op pending field-specific endpoints. For hostname, password, or rDNS changes use the dedicated ops below. Returns: same payload shape as `getServerInfo`. Errors: 404 if `id` not owned by caller; 401 unauth. Sibling ops: prefer `postServerReverseDns` (rDNS), `serverIpmiPowerPost` (power), `serverIpmiLivePost` (IPMI access), `serversCancel` (cancel). For new orders use `addServer` or `placeBuyNowServer`. View-only: `getServerInfo`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (String.t): Server ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_server_info(Tesla.Env.client, String.t, keyword()) :: {:ok, InterserverApi.Model.SuccessTextResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_server_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.SuccessTextResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end
end
