# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterserverApi.Api.Tickets do
  @moduledoc """
  API calls for all endpoints tagged `Tickets`.
  """

  alias InterserverApi.Connection
  import InterserverApi.RequestBuilder

  @doc """
  Open a new helpdesk ticket, optionally linked to a service and attachments
  Use when the customer wants to contact support. Creates the Kayako ticket in the 'New Unassigned' department (id 18). Body (form): subject (string, required), body (string, required), product (string, optional, format '{module}-{service_id}' from getNewTicket), service_id+service_module (alternative to product), attachments[] (optional, each {name, type, content base64}), and optional server-access custom fields ip, root_pass, sudo_user, sudo_pass, port_no, server_access (passwords are AES-encrypted with a generated auth_key). Returns: {success: true, text, ticket: ticketmaskid}. Errors: 400 missing subject or body; 401 unauthorized; 422 ticket creation failure. Sibling: getNewTicket for product list, getTicketInfo to view, ReplyTicket to add replies.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `ticket_new` (TicketNew): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.TicketNewResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_new_ticket(Tesla.Env.client, InterserverApi.Model.TicketNew.t, keyword()) :: {:ok, InterserverApi.Model.TicketNewResponse.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_new_ticket(connection, ticket_new, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets/new")
      |> add_param(:body, :body, ticket_new)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.TicketNewResponse},
      {400, InterserverApi.Model.TicketNewResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Close an open support ticket via simple GET request (no body required)
  Use to close a ticket from a link or one-click action — closure-only equivalent of deleteTicketInfo with friendlier semantics. Calls Ticket::closeTicket on the resolved ticket and leaves the record fully readable; closed tickets disappear from the active inbox but remain in getTicketsList when view=Closed. Path: id (int ticket ID, e.g. 1511222). Body: none. Returns: {success: true, text: 'Ticket is closed!'} or {success: false, text: 'Unable to close ticket'}. Errors: 401 unauthorized; 404 implied via 'Unable to close ticket' when id is unknown or cross-account. Idempotent on already-closed tickets. Siblings: deleteTicketInfo (DELETE /tickets/{id} — same effect), getTicketInfo to confirm new status.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (String.t): Ticket ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.CloseTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec close_ticket(Tesla.Env.client, String.t, keyword()) :: {:ok, InterserverApi.Model.CloseTicketResponseSchema.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def close_ticket(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/#{id}/close")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.CloseTicketResponseSchema},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Close a customer ticket via DELETE verb (closes only, never destroys data)
  Use when the customer marks a ticket resolved. IMPORTANT: despite the DELETE verb this only CLOSES the ticket via Ticket::closeTicket — no data is destroyed. Closed tickets remain readable through getTicketInfo and appear in getTicketsList when view=Closed. Path: id (int ticket ID). Body: none. Returns: 'Ticket is closed!' string on success. Errors: 401 unauthorized; 404/422 'Invalid ticket!' when id is unknown or owned by another account. Idempotent on already-closed tickets. Siblings: CloseTicket (GET /tickets/{id}/close — same effect, simpler URL), ReplyTicket to add a final reply before closing, getTicketInfo to verify state.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, InterserverApi.Model.ViewTicketResponse.t} | {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/tickets/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ViewTicketResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Fetch services and product options to populate the new-ticket form
  Use to populate dropdowns before calling addNewTicket. Returns the customer's services grouped by product type so the user can attach a ticket to a specific resource. Iterates all enabled modules (vps, webhosting, domains, mail, etc.; mailbaby instances see only mail) and filters out services with status canceled, deleted, or fraud. Params: none. Body: none. Returns: object keyed by product TITLE (e.g. 'Vps', 'Webhosting'), each value a map of '{module}-{service_id}' to a description string including title, type/plan, VPS hypervisor name where applicable, and uppercase status tag. Errors: 401 unauthorized. Use the returned product key as the 'product' field on addNewTicket.  Sibling ops: `addNewTicket` (consumes the product key), `getTicketsList`.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_ticket(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_ticket(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/new")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get full ticket details including subject, status, and the reply thread
  Use to render a ticket page or feed full context to an LLM. Path: id (int, ticket ID, e.g. 1511222). Returns ticket header (subject, status, department, dates), the ordered post/reply history, attachments, and any custom-field values. Resolved via Ticket::getTicket(id, account_lid) so cross-account access returns Invalid ticket. Body: none. Errors: 401 unauthorized; 404/422 'Invalid ticket!' when the id is unknown or owned by another account. Caveats: the same path with POST appends a reply (postTicketInfo) and DELETE closes the ticket (deleteTicketInfo) — it does not destroy data. Siblings: ReplyTicket, updateTicketInfo, CloseTicket, getTicketsList.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, InterserverApi.Model.ViewTicketResponse.t} | {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ViewTicketResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  List the authenticated account's support tickets with status and date filters
  Use to browse the customer's helpdesk tickets, paginated, with optional status and recency filters. Returns tickets where email matches the session account_lid. Query params: page (int, default 1, 50 per page), period (string: '30', '90', '365', '1825', or 'all' days back; default '30'), view (string: 'Open', 'Closed', 'On Hold', 'In Progress'; omit for all). Body: none. Returns: object with tickets[], total, pages, currentPage, st_count[] (counts grouped by status: Open/On Hold/Closed), selected_period, view. Errors: 401 unauthorized session. Note ticketstatusid mapping (Open=4, On Hold=5, Closed=6, In Progress=7). To search by subject/email/mask use postTicketsList. To open a ticket detail use getTicketInfo with the returned id. To create a new ticket see addNewTicket.  Sibling ops: `getTicketInfo` (detail), `postTicketsList` (search), `addNewTicket` (open new).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page number for paginated results.
    - `:period` (String.t): How far back to show tickets from. Value is in days.
    - `:view` (String.t): The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types.

  ### Returns

  - `{:ok, InterserverApi.Model.Tickets.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_tickets_list(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.Tickets.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_tickets_list(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :period => :query,
      :view => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/tickets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.Tickets},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Append a reply (and optional attachment, server-access fields) to a ticket
  Use to post a customer reply on an existing ticket. Path: id (int ticket ID). Body: body (string reply text; trimmed to first 500 words), file_attachment (multipart upload, optional), and the server-access custom fields ip/root_pass/sudo_user/sudo_pass/port_no/server_access (passwords AES-encrypted with auth_key=7). Either body OR an attachment is required. Notifies any swticketwatchers staff via templated email after posting. Returns: {status: 'success', message: 'Reply posted successfully'}. Errors: 400 'Please enter a message or attach a file'; 401 unauthorized; 404/422 'Invalid ticket!' when id missing or cross-account. Sibling: ReplyTicket (cleaner JSON-only reply at /tickets/{id}/reply), updateTicketInfo, getTicketInfo, deleteTicketInfo.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, InterserverApi.Model.ViewTicketResponse.t} | {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ViewTicketResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Search the authenticated account's tickets by subject, email, or mask ID
  Use when the user supplies a search term (subject keyword, email substring, or full ticket mask ID like 'ABC-123-456'). Scoped to tickets owned by the session account_lid. Body (form): search (string, required). If the term contains exactly two hyphens it is treated as an exact ticketmaskid match; otherwise a LIKE search runs across subject, email, and ticketmaskid. Returns: array of up to 25 matching ticket rows ordered by lastactivity DESC, each enriched with lastactivity_time (human-relative). Errors: 400 if search is empty or missing; 401 unauthorized. Caveat: this is a POST that reads, not a creator. To create see addNewTicket. To paginate full inbox use getTicketsList. To open one use getTicketInfo.  Sibling ops: `getTicketsList` (full inbox), `getTicketInfo` (detail), `addNewTicket` (open new).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.Tickets.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_tickets_list(Tesla.Env.client, keyword()) :: {:ok, InterserverApi.Model.Tickets.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_tickets_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.Tickets},
      {401, InterserverApi.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update a ticket's properties such as subject or status (stub, not implemented)
  Reserved for future use to update ticket subject/status. The PHP handler is currently an empty stub that returns no body, so callers should not rely on it in production. Path: id (int). Body: would carry subject/status fields when implemented. Returns: undefined behavior today. Errors: 401 unauthorized; expect 404/422 when implemented if id is invalid or not owned. Caveats: prefer updateTicketInfo (POST /tickets/{id}/update) for editing custom-field values today, postTicketInfo to add a reply, CloseTicket or deleteTicketInfo to close. Avoid scripting against this endpoint until the handler ships. Siblings: getTicketInfo, ReplyTicket.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterserverApi.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, InterserverApi.Model.ViewTicketResponse.t} | {:ok, nil} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/tickets/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ViewTicketResponse},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Post a simple text reply to an existing ticket thread (no attachments)
  Use this lightweight endpoint to add a reply to an existing ticket without attachments or server-access fields. Cleaner alternative to postTicketInfo when only text is being submitted. Path: id (int ticket ID). Body (form): content (string, required reply body). Returns: {success: true, post_id: int} on success or {success: false, text: 'Reply content cannot be empty!' | 'Unable to reply ticket'}. Errors: 401 unauthorized; 404 implied via 'Unable to reply ticket' when id is invalid or owned by another account. Siblings: postTicketInfo (POST /tickets/{id}, supports attachments + custom fields), updateTicketInfo (custom fields only), CloseTicket, getTicketInfo to verify the new post_id appears in the thread.

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): The ticket ID number.
  - `opts` (keyword): Optional parameters
    - `:body` (ReplyTicketRequest): 

  ### Returns

  - `{:ok, InterserverApi.Model.ReplyTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reply_ticket(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.ReplyTicketResponseSchema.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def reply_ticket(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}/reply")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.ReplyTicketResponseSchema},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Update a ticket's custom field values (server-access details, etc.)
  Use to save or change the structured custom-field values attached to a ticket — typically server-access details supplied by the customer. Path: id (int ticket ID). Body (form): one field per custom-field title, lowercased with spaces replaced by underscores (e.g. ip, root_pass, sudo_user, sudo_pass, port_no, server_access). Field id 7 (auth_key) is skipped — never set it directly. Returns: {success: true, text: 'Ticket is updated!'} or {success: false, text: 'Unable to update ticket'}. Errors: 401 unauthorized; 404 invalid or non-owned ticket. Caveats: this updates metadata only — to add a reply use ReplyTicket, to close use CloseTicket, to read current state use getTicketInfo.  Sibling ops: `getTicketInfo` (read), `ReplyTicket` (reply), `CloseTicket` (close).

  ### Parameters

  - `connection` (InterserverApi.Connection): Connection to server
  - `id` (number()): The ticket ID number.
  - `opts` (keyword): Optional parameters
    - `:body` (UpdateTicket): 

  ### Returns

  - `{:ok, InterserverApi.Model.UpdateTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterserverApi.Model.UpdateTicketResponseSchema.t} | {:ok, InterserverApi.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_ticket_info(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}/update")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterserverApi.Model.UpdateTicketResponseSchema},
      {401, InterserverApi.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
