/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.FloatingIpOrderRequest
import org.openapitools.client.model.FloatingIpsCancel200Response
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FloatingIPsApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new FloatingIPsApi(baseUrl)
}

class FloatingIPsApi(baseUrl: String) {

  /**
   * Charges the customer and creates a new Floating IP service via `place_buy_floating_ip`. Validate first with `putFloating_ips` to avoid surprise failures. Body (form-encoded): `serviceType` (required, `services_id`), `coupon` (optional), `comment` (optional internal note). On success returns `{ continue:true, errors, total_cost, iid, iids, real_iids, serviceId, invoice_description, cj_params }` — `iid` is the master invoice ID, `serviceId` is the new `floating_ip_id`. On validation failure returns `{ continue:false, errors:[...] }` with no charge. Errors: 401 if unauthenticated; soft errors in `errors[]`. The newly-issued IP starts unassigned — point it at a target with `postFloatingIpsChangeIp` once the service is `active`.  Sibling ops: `getNewFloatingIp` (catalog), `putFloating_ips` (validate), `getFloatingIpInfo` (poll), `postFloatingIpsChangeIp` (route), `getBillingInvoice` + `initiatePayment` (settle invoice), `floating_ipsCancel`.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/billing/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param floatingIpOrderRequest 
   */
  def addFloatingIp(floatingIpOrderRequest: FloatingIpOrderRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ServiceOrderPostResponse] =
    ApiRequest[ServiceOrderPostResponse](ApiMethods.POST, baseUrl, "/floating_ips/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(floatingIpOrderRequest)
      .withSuccessResponse[ServiceOrderPostResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Cancels the Floating IP via the shared `Api\\Billing\\CancelService` flow — flips status to canceled, halts recurring billing, and releases the IP back to the pool so it can no longer be re-routed. Not reversible: the customer cannot recover the same IP after release. Path param `id` (`floating_ip_id` from `getFloatingIpsList`). No body. Returns the `FloatingIpsCancelResponse` shape (success text / cancellation outcome). Errors: 401 if unauthenticated; 404 / cross-customer hidden when `id` is not owned by the caller; 409 if already canceled or otherwise non-cancelable. Confirm with the customer before calling — for routing changes use `postFloatingIpsChangeIp` instead of cancel-and-reorder.  Sibling ops: `getFloatingIpInfo` (status), `getFloatingIpInvoices` (outstanding charges), `postFloatingIpsChangeIp` (re-route instead of cancel), `addFloatingIp` (re-order).
   * 
   * Expected answers:
   *   code 200 : FloatingIpsCancel200Response (Floating Ip Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   */
  def floatingIpsCancel(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[FloatingIpsCancel200Response] =
    ApiRequest[FloatingIpsCancel200Response](ApiMethods.DELETE, baseUrl, "/floating_ips/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[FloatingIpsCancel200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Use for a Floating IP detail screen, or to read `floating_ip_ip` / `floating_ip_target_ip` before calling `postFloatingIpsChangeIp`. Read-only. Path param `id` (integer, `floating_ip_id` from `getFloatingIpsList`). No body. Returns the `ViewFloatingIp.getDetails()` payload — service info, billing/cost summary, status, target IP, and `client_links` (action URLs the UI can render). Internal-only fields (`admin_links`, `settings`, `csrf`) are stripped. Errors: 401 if unauthenticated; effectively 404 / cross-customer hidden when `id` is not owned by the caller (`get_service` filters by custid). Siblings: `postFloatingIpsChangeIp`, `updateFloatingIpInfo`, `getFloatingIpInvoices`, `getFloatingIpsWelcomeEmail`, `floating_ipsCancel`.
   * 
   * Expected answers:
   *   code 200 : Any (Detailed Floating IP service information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   */
  def getFloatingIpInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, baseUrl, "/floating_ips/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Any](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Use for a per-service billing history view — pulls the standard `Api\\Billing\\InvoicesList` rows scoped to this Floating IP. Read-only. Path param `id` (`floating_ip_id` from `getFloatingIpsList`). No body. Returns the `ChargeInvoiceRows` schema: array of invoice rows with id, date, amount, status, etc. Use the invoice IDs with the global billing endpoints (`getBillingInvoice`, `initiatePayment`) for line-item detail. Errors: 401 if unauthenticated; effectively 404 / cross-customer hidden when `id` is not owned by the caller. Siblings: `getFloatingIpInfo` (service details), `getFloatingIpsWelcomeEmail`.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   */
  def getFloatingIpInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/floating_ips/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Use to enumerate every Floating IP the caller owns before drilling into a specific one. Read-only; safe to call frequently. No params, no body. Returns an array of rows: `floating_ip_id`, `repeat_invoices_cost` (recurring price), `floating_ip_ip` (the portable IP), `floating_ip_target_ip` (the IP it currently routes to), `floating_ip_status` (active/pending/canceled/etc.), `services_name` (package label). Empty array if the account owns no Floating IPs. Errors: 401 if unauthenticated. Use returned IDs with `getFloatingIpInfo`, `postFloatingIpsChangeIp`, `getFloatingIpInvoices`, `getFloatingIpsWelcomeEmail`, or `floating_ipsCancel`. To order a new one see `getNewFloatingIp` / `addFloatingIp`.  Sibling ops: `getFloatingIpInfo`, `getNewFloatingIp` (catalog), `addFloatingIp` (order).
   * 
   * Expected answers:
   *   code 200 : Seq[Any] (The listing of `Floating IPs` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getFloatingIpsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[Any]] =
    ApiRequest[Seq[Any]](ApiMethods.GET, baseUrl, "/floating_ips", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[Any]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Triggers `floating_ip_welcome_email($id)` to re-deliver the original setup email (the IP, routing instructions, etc.) to the customer's on-file address. Useful when the email was lost or the customer needs the IP/setup details again. No body, no params besides path `id` (`floating_ip_id`). Returns `{ text: 'Welcome Email has been resent.' }`. Errors: 401 if unauthenticated; 404 (`Invalid Service Passed`) if `id` is not owned by the caller; 409 (`Service is not active`) if status is not `active`. Side effect: sends an outbound email — avoid in tight loops. Read state first via `getFloatingIpInfo` if unsure of status.  Sibling ops: `getFloatingIpInfo` (status), `addFloatingIp` (new order), `floating_ipsCancel`.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   */
  def getFloatingIpsWelcomeEmail(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/floating_ips/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Use before showing a Floating IP order form, or before calling `addFloatingIp`, to discover which service types (`serviceTypes`) and prices (`packageCosts`, keyed by `services_id` in the customer's currency) are currently buyable. Read-only; no side effects. No params, no body. Returns `{ packageCosts: { <services_id>: <cost> }, serviceTypes: [ ... ] } `. Costs are `services.services_cost` filtered to `services_buyable=1` for module `floating_ips`. Errors: 401 if unauthenticated. Next steps: validate the chosen `serviceType` with `putFloating_ips`, then place the order with `addFloatingIp`. Floating IPs are portable IPv4 addresses that route to a target IP on one of the customer's active services.  Sibling ops: `putFloating_ips` (validate), `addFloatingIp` (commit), `getFloatingIpsList` (existing IPs).
   * 
   * Expected answers:
   *   code 200 : Any (Available options and pricing for ordering a Floating IP.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewFloatingIp()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, baseUrl, "/floating_ips/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Any](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Reattaches the Floating IP by removing the old static route on the source switch and adding a new one on the destination switch (via `Sshwitch`), then updates `floating_ip_target_ip`. Use to move a portable IP between the customer's VPS / Quickservers / websites / dedicated servers without renumbering apps. Path param `id` (`floating_ip_id`). Body: `{ ip: <new target IP> }` (also accepts multipart form). Returns `{ success:true, text:'IP Changed' }`. Errors (returned via `json_error`): invalid IP format; IP not in our datacenter; IP not in use by an active service of this customer; service not active; another Floating IP already points to that target; switch lookup failures; route still present after removal. 401 if unauthenticated.  Sibling ops: `getFloatingIpInfo` (read current target), `getFloatingIpsList`, `floating_ipsCancel`. Read current target with `getFloatingIpInfo` first.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   * @param ip IP Address
   */
  def postFloatingIpsChangeIp(id: Int, ip: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/floating_ips/{id}/change_ip", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("ip", ip)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Dry-run for `addFloatingIp` — runs `validate_buy_floating_ip` to apply coupons, compute intro/repeat pricing, and surface errors before committing. No charge, no service created. Body fields (form-encoded): `serviceType` (required, `services_id` from `getNewFloatingIp.packageCosts`), `coupon` (optional code). Returns `{ continue, errors, serviceType, serviceCost, originalCost, repeatServiceCost, password, introFrequency, coupon, couponCode }`. `continue=true` means the order would succeed; `continue=false` plus populated `errors[]` means it would not. Errors: 401 if unauthenticated; 422-style soft errors arrive in the `errors` array. Use the returned `serviceType` and `couponCode` when calling `addFloatingIp`. Sibling ops: `getNewFloatingIp` (catalog), `addFloatingIp` (commit).
   * 
   * Expected answers:
   *   code 200 :  (Validate Floating IPs order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param floatingIpOrderRequest 
   */
  def putFloatingIps(floatingIpOrderRequest: FloatingIpOrderRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/floating_ips/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(floatingIpOrderRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Stub edit endpoint that delegates to the same handler as `getFloatingIpInfo` — currently used for label/metadata edits surfaced by `ViewFloatingIp`. To re-route the IP to a different target use the dedicated `postFloatingIpsChangeIp` instead; this op does not change routing. Path param `id` (`floating_ip_id`). Body: form-encoded fields exposed by the Floating IP edit form (label/comment style). Returns the standard success-text response. Errors: 401 if unauthenticated; effectively 404 if `id` not owned by the caller. Read state first with `getFloatingIpInfo`.  Sibling ops: `getFloatingIpInfo` (read), `postFloatingIpsChangeIp` (re-route), `floating_ipsCancel`.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The Floating IP service ID. Use the ID from `GET /floating_ips`.
   */
  def updateFloatingIpInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/floating_ips/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      



}

