openapi: 3.0.3
info:
  contact:
    email: support@interserver.net
    name: InterServer Support Staff
    url: https://www.interserver.net/contact-us.html
  description: |+
    # Overview

    The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.

    The API covers the following service categories:
    - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management
    - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting
    - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers
    - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html)
    - [Backups](https://www.interserver.net/storage/) — storage and backup services
    - Licenses — control panel and software licenses
    - [Mail](https://www.mail.baby/) — mail delivery services
    - SSL — certificate provisioning
    - Billing — invoices, payment methods, and account management

    For interactive testing, see the [API documentation](/api-docs/).

    # Authentication

    Most endpoints require authentication. Two methods are supported:

    ## API Key (Preferred)

    Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:

    ```
    X-API-KEY: your-api-key-here
    ```

    ## Session-Based Authentication

    Alternatively, authenticate by creating a session:

    1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier.
    2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:

    ```
    sessionid: your-session-id-here
    ```

    API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.

  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.interserver.net/terms-of-service.html
  title: InterServer Management API
  version: 0.9.0
  x-service-info:
    category: web-infrastructure
    subcategories:
    - hosting
    - cloud-compute
    - domains-dns
    - email-delivery
    - tls-certificates
    - storage-backup
    - networking
    supported_currencies:
    - USD
    billing_models:
    - one-time
    - recurring
    marketplace:
      url: https://www.interserver.net/
      order_endpoint: /billing/cart
      checkout_endpoint: "/billing/pay/{method}/{invoices}"
externalDocs:
  description: Tips
  url: https://www.interserver.net/tips/
servers:
- description: Live API Endpoint
  url: https://my.interserver.net/apiv2
security:
- apiKeyAuth: []
- sessionIdHeaderAuth: []
- sessionIdCookieAuth: []
tags:
- description: "Endpoints that do not require authentication. Use these to check API\
    \ availability, look up reference data (countries, currencies, timezones), and\
    \ authenticate."
  name: Public
- description: "Manage your account profile, contact information, security settings,\
    \ API keys, SSH keys, two-factor authentication, and IP access restrictions."
  name: Account
- description: "Invoices, shopping cart, prepay balances, credit cards, and payment\
    \ processing. Use `/billing/pay/{method}/{invoices}` to complete payment for outstanding\
    \ invoices."
  name: Billing
- description: "Cloud backup storage services. Order, view, and manage backup storage\
    \ quotas and credentials."
  name: Backups
- description: "Manage DNS domains and records hosted on InterServer's nameservers.\
    \ Create domains, add/update/delete A, AAAA, CNAME, MX, TXT, and other record\
    \ types."
  name: DNS
- description: "Domain registration, transfers, renewals, WHOIS, nameserver management,\
    \ and DNSSEC configuration."
  name: Domains
- description: Floating IP services that provide portable IP addresses which can be
    reassigned between servers for high availability and failover.
  name: Floating_IPs
- description: "Software license provisioning for control panels (cPanel, Plesk, DirectAdmin)\
    \ and other licensed software. Order, manage, and change IP assignments."
  name: Licenses
- description: "Mail Baby email delivery services. Order, manage, view logs, configure\
    \ alerts and deny rules, and monitor deliverability."
  name: Mail
- description: "Rapid Deploy Servers (QuickServers) — pre-configured dedicated servers\
    \ available for fast provisioning with OS reinstall, backup, and VNC capabilities."
  name: QuickServers
- description: "Dedicated server ordering and management. Configure custom hardware,\
    \ view IPMI information, and manage server lifecycle."
  name: Servers
- description: "SSL/TLS certificate provisioning and management. Order, renew, and\
    \ manage certificates for securing your domains."
  name: SSL-Certificates
- description: "Virtual Private Server management. Order, configure, backup, restore,\
    \ reinstall, and control VPS instances with full root access."
  name: VPS
- description: "Shared and reseller web hosting packages. Order, manage, and access\
    \ hosting control panels, backups, and reverse DNS."
  name: Webhosting
- description: "Support ticket system. Create new tickets, reply to existing ones,\
    \ view ticket history, and close resolved issues."
  name: Tickets
- description: "DDoS protection and IP scrubbing services. Manage protected IPs, configure\
    \ firewall rules, geographic filters, and view traffic logs."
  name: Scrub Ips
paths:
  /account:
    description: |
      This endpoint allows you to manage various user details, including contact information and account security.

      - Use the `GET` method to retrieve your account information.
      - Use the `POST` method to update your stored contact and billing information.
    get:
      description: "Use to render the account-settings page or to verify current state\
        \ before mutating with `updateAccountInfo`. No body, no path params. Returns:\
        \ full profile (name, company, address1/2, city, state, zip, country, phone,\
        \ email_invoices, email_abuse, gstin, locale, timezone), masked credit-card\
        \ list (last-4 digits only — full PAN never returned), OAuth provider config\
        \ (with secret keys stripped), feature toggles (`disable_reset`, `disable_reinstall`,\
        \ `disable_*_notifications`), gravatar URL, language, country->currency map,\
        \ and `enableLocales`/`enableCurrencies` UI flags. Timezone defaults to IP-derived\
        \ value if unset, falling back to America/New_York. Errors: 401 if session\
        \ invalid or expired. Sibling ops: `updateAccountInfo`, `getAccountTfaSetup`,\
        \ `updateAccountFeatures`, `updateAccountIpLimits`."
      operationId: getAccountInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
          description: Your account information.
          links:
            UpdateAccountInfo:
              description: Use the returned account data to pre-fill an update form
                and submit changes via POST /account.
              operationId: updateAccountInfo
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Read full account profile, billing address, and security settings"
      tags:
      - Account
    post:
      description: "Use to change the customer's name, company, mailing address, phone,\
        \ GSTIN, locale, timezone, or notification-email overrides (`email_invoices`,\
        \ `email_abuse`). Submit only fields you want to change — partial updates\
        \ supported. Required (must be non-empty if sent): `name`, `country`, `address`,\
        \ `city`, `state`, `zip`, `phone`. Phone is normalized: parens, dashes, underscores\
        \ stripped. Timezone must be a valid IANA identifier (e.g. `America/New_York`).\
        \ Side effects: triggers FraudRecord + MaxMind risk re-scoring on first save,\
        \ updates Kayako helpdesk username when `name` changes. Returns `{success:true}`.\
        \ Errors: 401 missing-required field; 422 invalid timezone or empty payload.\
        \ Sibling ops: `getAccountInfo`, `updateAccountFeatures`, `updateAccountPassword`."
      operationId: updateAccountInfo
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountInfoPost"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInfoPost"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidTimeZone:
                  value:
                    message: Invalid Time Zone
                MissingRequiredFields:
                  value:
                    message: "fname, lname cannot be empty!"
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Validation error while updating account data.
      summary: Update contact and billing-address fields on the customer profile
      tags:
      - Account
    summary: User Account Information and Management
  /account/2fa:
    delete:
      description: "DESTRUCTIVE: removes the 2FA secret from `account_security` and\
        \ clears the in-session secret cache. After success, only password authentication\
        \ is required for future logins — security posture drops materially. No body,\
        \ no path params. Use when the customer has lost their authenticator device\
        \ or wants to re-enroll from scratch (call this, then `getAccountTfaSetup`\
        \ -> `updateAccountTfa`). Returns `{success:true, text:'Google Two Factor\
        \ Authentication is disabled successfully!'}`. Errors: 401 unauthenticated.\
        \ Caveat: existing sessions remain valid; rotate `updateAccountPassword` if\
        \ you suspect credential compromise. Sibling ops: `getAccountTfaSetup`, `updateAccountTfa`,\
        \ `updateAccountPassword`."
      operationId: deleteAccountTfa
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Disable two-factor authentication and remove the TOTP secret
      tags:
      - Account
    get:
      description: "Use as step 1 of 2FA enrollment. The 160-bit secret is generated\
        \ on first call and cached in the session until the user completes (or abandons)\
        \ setup. No body, no path params. Returns `{2fa_google_key, 2fa_google_split}`\
        \ — render `2fa_google_key` as a QR code (otpauth://totp/My.InterServer:LID?secret=KEY)\
        \ and display `2fa_google_split` (key chunked into 4-char groups, space-separated)\
        \ for manual entry. After the user types the 6-digit code from their app,\
        \ finalize enrollment with `updateAccountTfa`. Calling this multiple times\
        \ before enrolling reuses the same in-session secret. Errors: 401 if session\
        \ invalid. Sibling ops: `updateAccountTfa` (verify & enable), `deleteAccountTfa`\
        \ (disable)."
      operationId: getAccountTfaSetup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountTfaSetup_200_response"
          description: Two-factor authentication setup data.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Fetch TOTP secret to enroll a 2FA authenticator app (Google Authenticator
        etc.)
      tags:
      - Account
    post:
      description: "Use as step 2 of 2FA enrollment, after `getAccountTfaSetup`. Body:\
        \ `{2fa_google_code:string}` — the 6-digit code currently displayed by the\
        \ user's authenticator app for the secret returned from `getAccountTfaSetup`.\
        \ On verify success, the secret is persisted to `account_security` (type `2fa_google_key`,\
        \ label `default`) and ALL OTHER active sessions for this account are invalidated\
        \ (server destroys appsessions and sessions rows where session_id != current).\
        \ The current session remains. Subsequent logins will require both password\
        \ and a fresh TOTP code. Returns `{success:true, text}`. Errors: 401 unauthenticated;\
        \ 422 `Invalid Code` if the TOTP doesn't match (clock skew, wrong app entry,\
        \ or expired). Sibling ops: `getAccountTfaSetup`, `deleteAccountTfa`."
      operationId: updateAccountTfa
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/updateAccountTfa_request"
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountTfa_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidCode:
                  value:
                    message: Invalid Code
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Provided two-factor verification code was invalid.
      summary: Verify TOTP code and enable two-factor authentication on the account
      tags:
      - Account
  /account/apikey:
    post:
      description: "DESTRUCTIVE: generates a new 128-character random API key and\
        \ overwrites the existing entry in `account_security` (type `api_key`, label\
        \ `default`). The OLD key stops working the moment this returns — any scripts,\
        \ MCP clients, or CI jobs using the previous key will start receiving 401\
        \ until updated. No body, no path params. Returns `{success:true, text:NEW_KEY}`\
        \ — the plaintext key is returned ONCE in this response and is not retrievable\
        \ later (only stored hashed-equivalent server-side for verification). Store\
        \ immediately in a secret manager. Use after suspected credential leak, employee\
        \ offboarding, or routine rotation. Errors: 401 unauthenticated. Sibling ops:\
        \ `updateAccountPassword`, `updateAccountIpLimits`, `Logout`."
      operationId: updateAccountApiKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Rotate the account's REST/MCP API key — old key is invalidated immediately
      tags:
      - Account
  /account/features:
    post:
      description: |
        Updates account-level feature flags that gate destructive service operations across every VPS / dedicated / QuickServer the customer owns. Useful for production accounts that want belt-and-suspenders protection against accidental reinstalls or root-password resets via the panel/API. Changes take effect immediately for all subsequent service operations. Sibling ops: `getAccountInfo`, `updateAccountInfo`, `updateAccountIpLimits`.

        **Body fields:**
        - `disable_reset` (bool, optional) — when `true`, blocks server / VPS root-password resets account-wide.
        - `disable_reinstall` (bool, optional) — when `true`, blocks OS reinstalls account-wide.

        Submit either or both. Flags absent from the request default to `0` for the comparison and only persist if their value differs from the current stored value.

        **Returns:** `{ success: true, text }`.

        **Errors:**
        - `401` — unauthenticated.
        - `400` / `422` — `Nothing to update` when neither flag's value differs from current.
      operationId: updateAccountFeatures
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountFeatures"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountFeatures"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                NoChanges:
                  value:
                    message: Nothing to update
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Request was valid but did not contain updatable values.
      summary: Toggle account-wide safety locks for password reset and OS reinstall
      tags:
      - Account
  /account/iplimits:
    patch:
      description: "DESTRUCTIVE: deletes the matching `{start, end}` entry from `accounts.session_limit`.\
        \ Method is PATCH (not DELETE) because the path collides with `updateAccountIpLimits`.\
        \ Body: `{start, end}` — must exactly match an existing range (trim-equal\
        \ on both bounds). Behaviour: if removing this range would leave an empty\
        \ list, IP limiting is disabled and the account becomes accessible from any\
        \ IP. If ranges remain but none cover the caller's source IP, the server auto-injects\
        \ a /32 for the caller to prevent self-lockout (response text warns). MCP\
        \ callers bypass via `X-API-APP: 1` header. Returns `{success:true, text:'IP\
        \ Range deleted.'}`. Errors: 400/422 `Invalid IP Address` if `start`/`end`\
        \ aren't valid IPs; 401 unauthenticated. Sibling ops: `updateAccountIpLimits`,\
        \ `getAccountInfo`."
      operationId: deleteIpLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpLimitRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: IP Range removed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Remove one IP range from the account allow-list (PATCH on /account/iplimits)
      tags:
      - Account
    post:
      description: "DESTRUCTIVE / LOCKOUT-RISK: appends an IP range to `accounts.session_limit`.\
        \ Once ANY range exists, all `/apiv2` and panel access is restricted to matching\
        \ source IPs. Body: `{start, end, restrict?}` — both IPv4 dotted-quad; `restrict`\
        \ is `Web & API` (default) or `Only API`. Safety net: server checks the caller's\
        \ IP against the resulting list and auto-appends a /32 for the caller if not\
        \ already covered (response text warns about this). The MCP server sets header\
        \ `X-API-APP: 1` which short-circuits the IP check entirely (see `api_check_auth_limits()`),\
        \ so MCP tools keep working. Caveats: `192.168.1.0`-`192.168.1.255` is rejected\
        \ as a placeholder. Returns `{success:true, text}`. Errors: 400/422 `Invalid\
        \ IP Address`; 401 unauthenticated. Sibling ops: `deleteIpLimit`, `getAccountInfo`."
      operationId: updateAccountIpLimits
      requestBody:
        content:
          multipart/form-data:
            examples:
              IpLimitRangeFormExample:
                value:
                  start: 1.2.3.0
                  end: 1.2.3.255
            schema:
              $ref: "#/components/schemas/IpLimitRange"
          application/json:
            examples:
              IpLimitRangeJsonExample:
                value:
                  start: 1.2.3.0
                  end: 1.2.3.255
            schema:
              $ref: "#/components/schemas/IpLimitRange"
        description: The lower and upper bounds of an ip range.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidIp:
                  value:
                    message: Invalid IP Address
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: IP limit payload contains an invalid address.
      summary: Add an IP CIDR/range to the account's API+web allow-list (lockout-safe)
      tags:
      - Account
  /account/oauth/{name}:
    delete:
      description: "DESTRUCTIVE: removes the linked provider's tokens from `accounts_ext`\
        \ (rows where `account_key` IN (`{name}_id`,`{name}_url`)). After unlinking,\
        \ that provider can no longer be used to log in or pre-fill profile data —\
        \ the user must log in via password (and 2FA if enabled). Path param: `name`\
        \ (case-insensitive provider key, e.g. `google`, `github`, `facebook`) — must\
        \ be present in `getOauthConfig().providers`. No request body. Use when the\
        \ customer wants to revoke a previously authorized social-login. Returns `{success:true,\
        \ text:'OAuth Provider Unlinked.'}`. Errors: 400 `Invalid Provider Name.`\
        \ if `name` not configured; 401 unauthenticated. Sibling ops: `logoutAccountOauth`,\
        \ `getAccountInfo`, `updateAccountPassword`."
      operationId: deleteAccountOauthName
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Unlink a third-party OAuth/social provider (Google, GitHub, etc.)\
        \ from the account"
      tags:
      - Account
  /account/oauth/{name}/logout:
    get:
      description: "Soft de-authorization for a linked OAuth provider — terminates\
        \ only the upstream provider session/cookie state. The account-level link\
        \ in `accounts_ext` is preserved, so the user can log back in with that provider\
        \ without re-linking. Path param: `name` (provider key, e.g. `google`, `github`).\
        \ No request body. Use when forcing a fresh consent screen on next OAuth login,\
        \ or after the user reports a stuck/stale provider session. NOT a substitute\
        \ for `Logout` (which kills the MyAdmin session) and NOT a substitute for\
        \ `deleteAccountOauthName` (which permanently severs the link). Returns `{success:true,\
        \ text:'OAuth Provider Logged Out.'}`. Errors: 401 unauthenticated. Sibling\
        \ ops: `deleteAccountOauthName`, `Logout`, `getAccountInfo`."
      operationId: logoutAccountOauth
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Sign out of the upstream OAuth provider session (does not unlink the
        account)
      tags:
      - Account
  /account/password:
    post:
      description: |
        DESTRUCTIVE: changes the account login password and invalidates all OTHER active sessions for this account. The current caller's session is preserved; API keys generated via `updateAccountApiKey` remain valid. Sibling ops: `updateAccountApiKey`, `Logout`, `updateAccountTfa`.

        **Body fields:**
        - `currentpassword` (string, required) — verified via `auth::authenticate`.
        - `password` (string, required) — must pass `valid_password()` — 8–50 chars, at least one uppercase, one lowercase, one digit, and one of `_~-!@#$%^&*`.
        - `password2` (string, required) — must equal `password`.

        **Returns:** `{ success: bool }` — flash messages on the response capture per-field errors.

        **Side effects:**
        - Persists `md5(password)` to `accounts.account_passwd`.
        - Sends `password_change_notify.tpl` email to the account login id.
        - Destroys all other sessions for this account row-by-row.

        **Errors:**
        - `401` — unauthenticated.
        - Flash `Current login password is mismatching` — bad `currentpassword`.
        - Flash `Confirm Password is mismatching` — `password` ≠ `password2`.
        - Flash password-policy violation message.
      operationId: updateAccountPassword
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PasswordRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Change the account login password (verifies current, kills other sessions)"
      tags:
      - Account
  /account/sshkey:
    post:
      description: "Stores or replaces the SSH public key on `account_security` (type\
        \ `ssh_key`, label `default`). On future VPS, dedicated server, or quickserver\
        \ orders the activation flow can install this key into `~/.ssh/authorized_keys`\
        \ for the root/sudo user, eliminating password-based SSH for the initial provisioning.\
        \ Body: `{sshKey:string}` — full single-line OpenSSH public key (ssh-rsa/ssh-ed25519/ecdsa-sha2-*\
        \ + base64 + optional comment). Newlines are stripped on save. Existing servers\
        \ are NOT retroactively updated — only new orders pick this up. Use to set\
        \ up key-based access ahead of order activation, or to rotate the canonical\
        \ key. Returns `{success:true, text:'SSH Keys Updated.'}`. Errors: 401 unauthenticated.\
        \ Sibling ops: `getAccountInfo`, `updateAccountPassword`, `updateAccountApiKey`."
      operationId: updateAccountSshKey
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountSshKey"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountSshKey"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Set the account-level SSH public key auto-installed on new VPS/dedicated
        orders
      tags:
      - Account
  /affiliate/banners:
    get:
      description: |
        Returns the catalog of pre-built banner images affiliates can embed on partner sites — same catalog for every account (not per-affiliate). Use to render a creative-asset picker in the affiliate dashboard. Each row carries the image filename and dimensions so the client can build correctly-sized `<img>` tags. Read-only. Sibling ops: `getAffiliateRichReport`, `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateWebTraffic`, `getAffiliateSignups`, `updateAffiliateDockSetup`.

        **Path/Query/Body:** None.

        **Returns:** Array of `AffiliateBannerRow`:
        - `image` (string) — filename (e.g. `12946798.gif`); served from the affiliate asset bucket.
        - `width` (string) — pixels.
        - `height` (string) — pixels.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateBanners
      responses:
        "200":
          content:
            application/json:
              examples:
                AffiliateBannerExample:
                  value:
                  - image: 12946798.gif
                    width: "125"
                    height: "125"
                  - image: 12946800.gif
                    width: "160"
                    height: "90"
                  - image: 12946802.gif
                    width: "160"
                    height: "190"
                  - image: 12946806.gif
                    width: "200"
                    height: "200"
                  - image: 12946808.gif
                    width: "250"
                    height: "250"
                  - image: 12946811.gif
                    width: "300"
                    height: "250"
              schema:
                items:
                  $ref: "#/components/schemas/AffiliateBannerRow"
                type: array
          description: Affiliate Banners Array
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List affiliate banner image assets with filename and dimensions
      tags:
      - Billing
  /affiliate/dock_setup:
    post:
      description: |
        Customizes the branded landing-dock page shown to visitors arriving via the affiliate's referral link, and reserves a unique referrer coupon code that's automatically created across all affiliate-eligible modules. Title/description allow a limited HTML allowlist (`<b>`, `<br>`, `<strong>`, `<hr>`); everything else is entity-escaped. Coupon changes propagate to **all** affiliate modules atomically. Sibling ops: `updateAffiliatePaymentSetup`, `getAffiliateSignups`.

        **Body fields (multipart or JSON, schema `AffiliateDockSetup`):**
        - `affiliate_dock_title` (string, optional) — landing-page title. HTML allowlist: `<b>`, `<br>`, `<strong>`, `<hr>`.
        - `affiliate_dock_description` (string, optional) — landing-page body. Same allowlist.
        - `referrer_coupon` (string, optional) — coupon code reservation. Requirements:
          - ≥ 6 chars.
          - `^[a-zA-Z0-9]+$` (alphanumeric only).
          - Must NOT contain `facebook`, `test`, or `interserver` (substring check, case-insensitive).
          - Must NOT exactly match a reserved word.
          - Must NOT already exist as a coupon in any affiliate module (`webhosting`, `vps`, `quickservers`, `servers`, `backups`).

        **Returns:** `{text: "<status message>"}`.

        **Side effects:**
        - First time setting `referrer_coupon`: inserts a `coupons` row in each affiliate module (`type=3`, `amount=0.01`, `onetime=1`, `customer=-1`, `usable=1`, `applies=-1`).
        - Changing `referrer_coupon`: renames the coupon across all affiliate modules in one transaction.
        - Updates the account's `affiliate_dock_title`, `affiliate_dock_description`, `referrer_coupon` fields.

        **Auth:** Session/API key.

        **Errors:**
        - `422 The name must be at least 6 characters long`.
        - `422 Invalid Characters, use only standard english letters and numbers`.
        - `422 That is a reserved word that cannot be used here`.
        - `422 <position> is a reserved word that cannot be used here` (substring match against `facebook`/`test`/`interserver`).
        - `409 That name is already taken` — coupon exists in another account's module.
        - `401` — unauthenticated.
      operationId: updateAffiliateDockSetup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Configure the affiliate landing dock title, description, and referrer\
        \ coupon"
      tags:
      - Billing
  /affiliate/payment_setup:
    post:
      description: |
        Sets the disbursement preferences for affiliate commission payouts. Choose between PayPal payout (provide an email — validated) or internal prepay credit (auto-applied to future invoices via `method=prepay`). Selecting `not set` suspends payouts. Sibling ops: `updateAffiliateDockSetup`, `getAffiliateRichReport`, `getAffiliateDownload`.

        **Body fields (multipart or JSON, schema `AffiliatePaymentSetup`):**
        - `affiliate_payment_method` (string, optional) — one of `paypal` / `prepay` / `not set`.
        - `affiliate_paypal` (string, optional, required when method=`paypal`) — email validated by `valid_email()`.

        **Returns:** `{text: "Ok"}`.

        **Side effects:**
        - Updates the account's `affiliate_payment_method` and/or `affiliate_paypal` fields.

        **Auth:** Session/API key.

        **Errors:**
        - `422 Invalid Email` — `affiliate_paypal` fails `valid_email()`.
        - `422 Invalid Payment Method` — value not in `{paypal, prepay, not set}`.
        - `401` — unauthenticated.

        **Related calls:**
        - **Read current commissions:** `getAffiliateRichReport`, `getAffiliateSalesGraph`.
        - **Export commission report:** `getAffiliateDownload`.
      operationId: updateAffiliatePaymentSetup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AffiliatePaymentSetup"
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliatePaymentSetup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Configure how affiliate commissions get paid out (PayPal or internal
        prepay)
      tags:
      - Billing
  /affiliate/rich_report:
    get:
      description: |
        Returns a server-rendered HTML/text summary report combining commission totals, conversion rates, and traffic in one round-trip — useful for embedding in a dashboard panel. The payload is **not structured JSON** — for chart-friendly data use `getAffiliateSalesGraph` and `getAffiliateTrafficGraph` instead. Backed by `affiliate_summary_report()`. Sibling ops: `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateSignups`, `getAffiliateDownload`, `getAffiliateWebTraffic`.

        **Path/Query/Body:** None.

        **Returns:** `{text: "<html-or-plain-text-report>"}`.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.

        **Related calls:**
        - **Structured time series:** `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`.
        - **Per-signup detail:** `getAffiliateSignups`.
        - **CSV/XLSX export:** `getAffiliateDownload`.
      operationId: getAffiliateRichReport
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Read a combined affiliate performance summary (HTML payload)
      tags:
      - Billing
  /affiliate/sales_graph:
    get:
      description: |
        Returns aggregated sales time-series data — monthly buckets with sale counts/totals — for the requested look-back window. Use to render a sales trend chart in the affiliate dashboard. Bucket granularity is fixed at monthly by `sales_graph_lte_data`; increasing `days` extends the window, it does not change bucket size. Sibling ops: `getAffiliateTrafficGraph` (clicks), `getAffiliateRichReport` (combined summary), `getAffiliateSignups`, `getAffiliateDownload`.

        **Query params:**
        - `days` (integer, optional, default `365`) — look-back window in days.

        **Returns:** `StatusMonthlyBreakdown` — buckets keyed by month with aggregated sale counts and amounts.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateSalesGraph
      parameters:
      - description: Number of days of sales history to include in the graph data.
          Determines the time window for the returned data points.
        explode: true
        in: query
        name: days
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMonthlyBreakdown"
          description: Affiliate sales graph data broken down by time period.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Read aggregated affiliate sales time-series (monthly buckets) for chart
        rendering
      tags:
      - Billing
  /affiliate/traffic_graph:
    get:
      description: |
        Returns aggregated click/visit time-series data from the `affiliate_traffic` table — monthly buckets with visit counts — for the requested look-back window. Pair with `getAffiliateSalesGraph` to compute click-to-sale conversion ratios client-side. Sibling ops: `getAffiliateSalesGraph` (sales), `getAffiliateWebTraffic` (raw per-visit log entries), `getAffiliateRichReport`.

        **Query params:**
        - `days` (integer, optional, default `180`) — look-back window in days.

        **Returns:** `MonthlyCounts` — buckets keyed by month with aggregated visit counts.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateTrafficGraph
      parameters:
      - description: Number of days of traffic history to include in the graph data.
          Determines the time window for the returned data points.
        explode: true
        in: query
        name: days
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonthlyCounts"
          description: Affiliate traffic graph data broken down by time period.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Read aggregated affiliate referral click/visit time-series for chart
        rendering
      tags:
      - Billing
  /affiliate/web_traffic:
    get:
      description: |
        Returns the 20 most recent raw referral visits from the `affiliate_traffic` table — visitor IP, full referral URL, and timestamp per row. Use to audit traffic sources, identify top referrers, or investigate suspicious click patterns. Hard-coded limit 20 (no pagination); for longer-term analysis use `getAffiliateTrafficGraph` or export via `getAffiliateDownload`. Sibling ops: `getAffiliateTrafficGraph`, `getAffiliateSignups`, `getAffiliateRichReport`, `getAffiliateDownload`.

        **Path/Query/Body:** None.

        **Returns:** Array of `AffiliateTrafficRow`:
        - `traffic_id` (string) — row id (most-recent-first).
        - `traffic_ip` (string) — visitor IP (IPv4 or IPv6).
        - `traffic_url` (string) — referral landing URL.
        - `traffic_affiliate` (string) — affiliate (= session `account_id`).
        - `traffic_referrer` (string) — HTTP Referer (may be empty).
        - `traffic_timestamp` (string) — `YYYY-MM-DD HH:MM:SS` in account timezone.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateWebTraffic
      responses:
        "200":
          content:
            application/json:
              examples:
                AffiliateWebTrafficResponseExample:
                  value:
                  - traffic_id: "91839913"
                    traffic_ip: "2a06:98c0:3600::"
                    traffic_url: https://www.interserver.net/webhosting/?id=8
                    traffic_affiliate: "8"
                    traffic_referrer: ""
                    traffic_timestamp: 2023-09-30 06:30:27
                  - traffic_id: "91831932"
                    traffic_ip: "2a06:98c0:3600::"
                    traffic_url: https://www.interserver.net/webhosting/?id=8
                    traffic_affiliate: "8"
                    traffic_referrer: ""
                    traffic_timestamp: 2023-09-30 03:15:13
              schema:
                items:
                  $ref: "#/components/schemas/AffiliateTrafficRow"
                type: array
          description: The recent affiliate web traffic
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "List the 20 most recent affiliate referral visits with IP, referrer,\
        \ timestamp"
      tags:
      - Billing
  /affiliate/signups:
    get:
      description: |
        Returns referred-customer signup statistics with optional status filtering — counts, conversion data, and per-customer detail produced by `affiliates_clientside()`. The inner `data` shape varies by status filter; pass `default` for the full dataset. Sibling ops: `getAffiliateRichReport`, `getAffiliateSalesGraph`, `getAffiliateTrafficGraph`, `getAffiliateDownload`.

        **Query params:**
        - `st` (string, optional, default `default`) — status filter. `default` returns all; other values narrow the results to that status.

        **Returns:** `{data: <object>}` — signup counts, conversions, per-customer detail (shape depends on `st`).

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateSignups
      parameters:
      - description: Filter signups by status. Use `default` to show all or pass a
          specific status value to narrow results.
        explode: true
        in: query
        name: st
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAffiliateSignups_200_response"
          description: Affiliate signup statistics.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Read affiliate signup stats and per-customer conversion data
      tags:
      - Billing
  /affiliate/download:
    get:
      description: |
        Exports the affiliate signup report as a downloadable file in the requested format. Use for accounting, tax filings, or sharing reports outside the dashboard. **Response is a binary stream, not JSON** — the handler emits the file body with matching `Content-Type` + `Content-Disposition: attachment` headers and `exit()`s the request immediately. Consumers must read the raw response body. Sibling ops: `getAffiliateRichReport`, `getAffiliateSignups`, `getAffiliateSalesGraph`.

        **Query params:**
        - `ex` (string, optional, enum `csv`/`xls`/`xlsx`/`pdf`, default `csv`) — export format.
        - `st` (string, optional, default `default`) — status filter (same as `getAffiliateSignups`).
        - `year` (integer, optional, default current year) — report scope.

        **Returns:** File download with format-appropriate Content-Type:
        - `csv` → `text/csv`, filename `Interserver_Affiliates.csv`.
        - `xls` / `xlsx` → `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`, filename `Interserver_Affiliates.<ext>`.
        - `pdf` → `application/pdf`, filename `Interserver_Affiliates.pdf`.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
      operationId: getAffiliateDownload
      parameters:
      - description: Filter by status.
        explode: true
        in: query
        name: st
        required: false
        schema:
          type: string
        style: form
      - description: "Export format: csv, xls, xlsx, or pdf. Defaults to csv."
        explode: true
        in: query
        name: ex
        required: false
        schema:
          enum:
          - csv
          - xls
          - xlsx
          - pdf
          type: string
        style: form
      - description: Year to filter the report. Defaults to the current year.
        explode: true
        in: query
        name: year
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: "Affiliate report file download. The response Content-Type\
            \ matches the requested format (text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,\
            \ or application/pdf)."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Export the affiliate signup report as CSV, XLS, XLSX, or PDF file\
        \ download"
      tags:
      - Billing
  /backups:
    get:
      description: |-
        Use when enumerating all off-site backup storage services (SFTP-style remote storage subscriptions) on the authenticated customer's account. NOT for VPS/QS/webhosting in-place snapshots — those live under their own tags (`getVpsBackups`, `getQsBackups`, `getWebsitesBackups`). No query params, no body.
        Returns an array of rows; each row carries `backup_id`, `backup_name`, `backup_username`, `backup_status`, `services_name` (plan), and `backup_cost` (recurring price from `repeat_invoices`). Use `backup_id` as the path `{id}` for `getBackupInfo`, `getBackupLogin`, `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`. Errors: HTTP 401 if unauthenticated. Empty array when the customer has no backup services.
        Siblings: `getBackupInfo`, `getNewBackup`, `addBackup`.
      operationId: getBackupsList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BackupRow"
                type: array
          description: The listing of backup storage services on your account.
          links:
            GetBackupDetails:
              description: Use the backup_id from the list to retrieve full service
                details including connection info and status.
              operationId: getBackupInfo
              parameters:
                id: $response.body#/0/backup_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List off-site backup storage subscriptions on the authenticated account
      tags:
      - Backups
  /backups/order:
    get:
      description: |-
        Use before placing an off-site backup storage order to fetch the available plans, their service-type IDs, and per-tier pricing needed to render an order form. No params, no body.
        Returns `{ packageCosts, serviceTypes }` — `packageCosts` is a map of `services_id` → recurring cost (from `services` where `services_module='backups'` and `services_buyable=1`); `serviceTypes` is the dispatcher output of `run_event('get_service_types', true, 'backups')` describing each tier. Pass the chosen `services_id` as `serviceType` to `validateBackupOrder` (PUT) for a price preview, then to `addBackup` (POST) to commit. Errors: HTTP 401 if unauthenticated.
        Siblings: `validateBackupOrder`, `addBackup`, `getBackupsList`.
      operationId: getNewBackup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupsOrder"
          description: Information needed to generate an order form.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get backup-storage order form metadata and pricing tiers
      tags:
      - Backups
    post:
      description: |
        Step 3 of the backup-storage order flow. Revalidates via `validate_buy_storage()`, then calls `place_buy_storage()` which creates a `backups` service row, a `repeat_invoices` recurring entry, and the first `invoices` row. **Real billable order — call `validateBackupOrder` first.** Service is provisioned only after the invoice is paid. Sibling ops: `getNewBackup` (catalog), `validateBackupOrder` (quote), `getBackupInvoices` (billing history), `initiatePayment` (settle).

        **Body fields** (JSON or multipart):
        - `serviceType` (integer, required) — `services_id` from `getNewBackup`.
        - `coupon` (string, optional) — coupon code.
        - `period` (integer, optional, default `1`) — billing months.
        - `comment` (string, optional) — saved on the order row.

        **Returns** (on success): `{ continue: true, total_cost, iid, iids, real_iids, serviceId, invoice_description, cj_params }` — feed `real_iids` into `initiatePayment`. On validation failure: `{ continue: false, errors: [...] }` with HTTP 200.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.
        - `422` inside `errors[]` — coupon/plan/duplicate-hostname validation.
        - Explicit error text when no backend storage server is available for assignment.

        **Side effects:** new rows in `backups`, `repeat_invoices`, `invoices`; queued provisioning kicks off only after payment.

        **Related calls:**
        - **Prerequisite:** `validateBackupOrder`.
        - **Pay:** `getBillingInvoice` → `initiatePayment`.
        - **Poll status:** `getBackupInfo` (until `backup_status='active'`).
      operationId: addBackup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupOrderPostResponse"
          description: Response from the backup order call including invoice IDs for
            payment.
          links:
            InitiatePayment:
              description: Use the invoice ID from the order response to retrieve
                invoice details or proceed to payment.
              operationId: getBillingInvoice
              parameters:
                id: $response.body#/invoices_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        default:
          description: Default response
      summary: Place a new off-site backup storage order and generate the invoice
      tags:
      - Backups
      x-payment-info:
        intent: session
        method: card
        amount: 0
        currency: USD
        description: "Order a managed off-site backup storage service. Returns invoice\
          \ IDs for /billing/pay/{method}/{invoices}."
        method_options:
        - cc
        - paypal
        - btcpay
        - coinbase
        - payu
        - ccavenue
        - cashfree
        - payssion
        - prepay
    put:
      description: |-
        Use to dry-run a backup order — runs `validate_buy_storage()` to compute final price, apply any coupon, and surface validation errors before the customer commits. No invoice is created and no service is provisioned.
        Body (JSON or multipart): `serviceType` (services_id from `getNewBackup`), optional `coupon`, `period` (months, default 1), `comment`. Returns `{ continue, errors, serviceType, serviceCost, originalCost, repeatServiceCost, hostname, password, coupon, couponCode }`. Use the response to render a confirmation screen, then call `addBackup` (POST same path) to place the order. Errors: HTTP 401 unauthenticated; HTTP 422 surfaced inside `errors[]` (invalid coupon, ineligible plan, duplicate hostname).
        Siblings: `addBackup`, `getNewBackup`.
      operationId: validateBackupOrder
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupOrderPutResponse"
          description: Validate Backup Order Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Validate a backup-storage order and preview pricing without charging
      tags:
      - Backups
  /backups/{id}:
    delete:
      description: |-
        DESTRUCTIVE. Use to terminate a backup-storage subscription. Delegates to `CancelService::go($id)` with module `backups`, which marks the service for cancellation and stops future recurring billing; data on the storage backend may become inaccessible at end of cycle. Path param: `id` from `getBackupsList`. No body.
        Returns `BackupsCancelResponse`. Caveats: irreversible — a new order via `addBackup` is required to restore service, with a new IP/username and no migration of prior data. Does NOT delete VPS/QS/webhosting in-place snapshots (those live under their own tags). Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 409 if the service is already cancelled or pending cancellation.
        Siblings: `addBackup`, `getBackupInfo`, `getBackupInvoices`.
      operationId: cancelBackup
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cancelBackup_200_response"
          description: Backups Cancel
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Cancel an off-site backup storage subscription
      tags:
      - Backups
    get:
      description: |-
        Use to fetch the full management view for one backup-storage subscription. Path param: `id` (backup service ID from `getBackupsList`). No body.
        Returns `serviceInfo` (with `backup_username`, `backup_ip`, `backup_status`, `backup_quota`, `backup_type`, `backup_invoice`), plus `billingDetails`, `extraInfoTables`, `package`, `custCurrency`, and `client_links` (rewritten to surface the link target rather than the raw queue URL). `admin_links`, internal `settings`, and `csrf` are stripped. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` does not belong to the caller (cross-account access blocked by `get_service`).
        Siblings: `getBackupLogin` (open storage panel session), `getBackupInvoices`, `getBackupsWelcomeEmail`, `cancelBackup`, `updateBackupInfo`.
      operationId: getBackupInfo
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backup"
          description: "Full backup service details including serviceInfo, billingDetails,\
            \ and client_links."
          links:
            GetBackupInvoices:
              description: Retrieve invoices for this backup service.
              operationId: getBackupInvoices
              parameters:
                id: $request.path.id
            GetBackupLogin:
              description: Obtain a login session URL for the backup storage panel.
              operationId: getBackupLogin
              parameters:
                id: $request.path.id
            CancelBackup:
              description: Cancel this backup service.
              operationId: cancelBackup
              parameters:
                id: $request.path.id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get details of a specific off-site backup storage service
      tags:
      - Backups
    post:
      description: |-
        Use to update non-billing metadata (e.g. stored credentials, comment, hostname) on an existing off-site backup storage service. Path param: `id` from `getBackupsList`. Body fields are forwarded to the same `View::go()` handler as the GET; consult the order form for accepted keys.
        Returns the standard `SuccessTextResponse`. Caveats: this endpoint does NOT change the plan, quota, or billing — those require cancel + reorder via `cancelBackup` and `addBackup`. It also does NOT trigger any backend SFTP credential rotation. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; HTTP 422 on invalid input.
        Siblings: `getBackupInfo`, `cancelBackup`, `getBackupLogin`.
      operationId: updateBackupInfo
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update stored metadata for a backup-storage subscription
      tags:
      - Backups
  /backups/{id}/invoices:
    get:
      description: |-
        Use to retrieve all invoices tied to one off-site backup storage service — useful for confirming billing status, locating an unpaid invoice to pay, or reconciling renewals. Path param: `id` from `getBackupsList`. Delegates to the shared `InvoicesList::go()` handler with module `backups`. No body.
        Returns `ChargeInvoiceRows` (array of invoice rows with `invoices_id`, status, amount, dates). Feed `invoices_id` into `getBillingInvoice` for full detail or `/billing/pay/{method}/{invoices}` to settle an unpaid invoice. For the account-wide invoice list use the Billing tag instead. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller.
        Siblings: `getBackupInfo`, `addBackup`.
      operationId: getBackupInvoices
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeInvoiceRows"
          description: Get Invoices response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List invoices for a single backup-storage subscription
      tags:
      - Backups
  /backups/{id}/login:
    get:
      description: |-
        Use to drop the customer straight into the off-site backup storage management panel without a separate login prompt. Calls `get_storage_session($id)` to mint a one-shot session URL; treat the URL as short-lived and credentials-equivalent — do not log or share.
        Path param: `id` from `getBackupsList`. No body. Returns `BackupLoginResponse` (`success`, session URL/token, optional connection hints). On `success=false` the handler returns `json_error(text)` (HTTP 400) with the upstream reason. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller; backend errors when the storage server is unreachable.
        Siblings: `getBackupInfo` (SFTP `backup_username`/`backup_ip` for direct connections), `getBackupsWelcomeEmail` (resend setup credentials).
      operationId: getBackupLogin
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupLoginResponse"
          description: Login session details for the backup storage service.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Open a single sign-on session URL for the backup storage panel
      tags:
      - Backups
  /backups/{id}/welcome_email:
    get:
      description: |-
        Use when the original welcome email was lost or never arrived. Resends connection credentials (SFTP host, username, quota) and setup instructions to the account email by invoking the module's `backup_welcome_email($id)` helper.
        Path param: `id` from `getBackupsList`. No body. Returns `SuccessTextResponse` with `text='Welcome Email has been resent.'`. Caveats: only works while the service is `active`; cancelled/pending services will return 409. Email is sent to the customer-of-record on file — there is no override recipient parameter. Errors: HTTP 401 unauthenticated; HTTP 404 if `id` is not owned by the caller (`Invalid Service Passed`); HTTP 409 if `backup_status` is not `active` (`Service is not active`).
        Siblings: `getBackupLogin`, `getBackupInfo`.
      operationId: getBackupsWelcomeEmail
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Resend the welcome email for an off-site backup storage service
      tags:
      - Backups
  /billing/cart:
    get:
      description: |
        Returns the customer's checkout state — every pending/unpaid invoice on the account aggregated as a cart, plus available payment methods, currency totals, and checkout metadata. Use to render a checkout page or, in agent flows, as a pre-payment confirmation step before calling `initiatePayment`. Backed by the `cart` helper module; `modules_json` and `csrf_token` are stripped from the response. Read-only. Sibling ops: `getBillingInvoices` (raw list), `getBillingInvoice` (one invoice in detail), `initiatePayment` (pay), `getBillingPrePays` (check prepay balance first).

        **Path/Query/Body:** None.

        **Returns:** A cart object with:
        - Line items aggregated from unpaid `invoices` rows for the session account.
        - Currency-normalized subtotal / total.
        - Available payment methods (filtered by feature flags, account country, and which gateways are enabled): `cc`, `paypal`, `btcpay`, `coinbase`, `payu`, `ccavenue`, `cashfree`, `payssion`, `prepay`.
        - Per-invoice description, module, service-id, amount.

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.

        **Related calls:**
        - **List unpaid invoices directly:** `getBillingInvoices`.
        - **Drill into one invoice:** `getBillingInvoice`.
        - **Pay:** `initiatePayment` (use the cart's invoice ids or the `SERVICEvpsN` / `INVvpsN` tag forms).
        - **Top up prepay first:** `getBillingPrePays`, `addBillingPrepay`.
      operationId: getBillingCart
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Cart contents and checkout metadata.
                type: object
          description: Current shopping cart contents and available payment methods.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Read the current shopping cart contents, totals, and available payment\
        \ methods"
      tags:
      - Billing
      x-payment-info:
        intent: session
        method: card
        amount: 0
        currency: USD
        description: View shopping cart contents and pick a payment method before
          checkout.
        method_options:
        - cc
        - paypal
        - btcpay
        - coinbase
        - payu
        - ccavenue
        - cashfree
        - payssion
        - prepay
  /billing/prepays:
    get:
      description: |
        Returns every prepay deposit on the account — funded or pending — with remaining balances, modules they're scoped to, and the `automatic_use` flag controlling whether the balance auto-applies to future invoices. Use to gate `method=prepay` at checkout (a prepay must be funded to count toward payment) or to render a prepays management page. Read-only. `csrf_token` is stripped from the helper output. Sibling ops: `addBillingPrepay` (top up), `deleteBillingPrepay` (remove), `initiatePayment` (`method=prepay`), `getBillingCart`.

        **Path/Query/Body:** None.

        **Returns:** Object with per-prepay rows:
        - `prepay_id` (integer).
        - `prepay_module` (string) — service module the prepay is scoped to (or `default` for any).
        - `prepay_amount` (decimal) — original deposit amount.
        - `prepay_remaining` (decimal) — funds left.
        - `prepay_automatic_use` (bool) — auto-apply to invoices.
        - `prepay_paid` (bool) — whether the funding invoice has been paid (unpaid prepays are listed but unusable).

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.

        **Related calls:**
        - **Top up:** `addBillingPrepay` (returns an invoice id you then pay via `initiatePayment`).
        - **Pay with prepay:** `initiatePayment` with `method=prepay`.
        - **Remove an unfunded prepay:** `deleteBillingPrepay`.
        - **Cart view:** `getBillingCart` (includes prepay summary).
      operationId: getBillingPrePays
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Prepay balance data.
                type: object
          description: Prepay balances and metadata.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List prepay deposits on the account — remaining balance and auto-use
        flags
      tags:
      - Billing
    post:
      description: |
        Creates a prepay row (`prepays` table) at the requested amount and inserts a matching `invoices` row (`Prepay ID {pid} Invoice`) that the customer must pay through `initiatePayment` before the balance becomes usable. The prepay is added with `PREPAY_TYPE_ANY` / `PREPAY_SERVICE_ANY` defaults via `add_prepay()`. Use to seed an account balance the customer can later spend via `method=prepay` at checkout. **Real money** — funding the returned invoice charges a real payment method. Sibling ops: `getBillingPrePays`, `deleteBillingPrepay`, `getBillingInvoice`, `initiatePayment`.

        **Body fields (JSON or multipart, schema `BillingPrepayRequest`):**
        - `amount` (number, required) — deposit size in account currency. **Minimum $10**; smaller values are rejected.
        - `module` (string, required) — service module scope (`default` for any service, or specific like `vps`, `webhosting`).
        - `automatic_use` (bool, required) — when `true`, the balance auto-applies to future invoices in the scoped module.

        **Returns:** `{text: "Thank you! Prepay created! Kindly pay the invoice to activate the prepay fund.", invoice: <integer>}` — pass `invoice` to `initiatePayment` (use a real `method` like `cc` / `paypal`, not `prepay` — you can't fund a prepay with a prepay).

        **Side effects:**
        - Inserts `prepays` row.
        - Inserts `invoices` row (`invoices_description = "Prepay ID {pid} Invoice"`, `invoices_paid=0`, `invoices_module='default'`).

        **Auth:** Session/API key.

        **Errors:**
        - `Sorry! Minimum prepay amount is $10.00` — amount below floor.
        - `Something went wrong! Try again or contact our support team!` — invoice insert failed.
        - `401` — unauthenticated.

        **Related calls:**
        - **Confirm invoice:** `getBillingInvoice` with the returned `invoice` id.
        - **Pay it:** `initiatePayment` (`method=cc|paypal|...`, not `prepay`).
        - **Verify it's now usable:** `getBillingPrePays` (look for `prepay_remaining > 0`).
        - **Cancel before paying:** `deleteBillingPrepay`.

        **Example happy path:**
        ```text
        POST /apiv2/billing/prepays { "amount": 100, "module": "default", "automatic_use": true }
        -> { "text": "...", "invoice": 25296701 }
        GET /apiv2/billing/pay/cc/25296701
        -> { "type": "single", "text": "Payment processed." }
        GET /apiv2/billing/prepays
        -> [{ "prepay_id": 99, "prepay_remaining": 100, ... }]
        ```
      operationId: addBillingPrepay
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingPrepayRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingPrepayRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Create a prepay deposit and return an invoice id to fund it
      tags:
      - Billing
      x-payment-info:
        intent: session
        method: card
        amount: 0
        currency: USD
        description: "Top up prepay balance — creates an invoice you then pay via\
          \ /billing/pay/{method}/{invoices}."
        method_options:
        - cc
        - paypal
        - btcpay
        - coinbase
        - payu
        - ccavenue
        - cashfree
        - payssion
        - prepay
  /billing/prepays/{id}:
    delete:
      description: |
        Removes a prepay from the account, with one safety rule: a prepay that still has usable credit (`prepay_remaining > $0.01`) cannot be deleted *unless* it also has unpaid funding invoices we can clean up — in which case those unpaid `invoices` rows are deleted and the prepay row stays. Use to back out a never-funded prepay, or to surface stuck unpaid funding invoices. **Irreversible** — funded credit is unrecoverable through this endpoint. Sibling ops: `getBillingPrePays`, `addBillingPrepay`, `deleteBillingInvoice`.

        **Path param:**
        - `id` (integer, required) — prepay id from `getBillingPrePays.prepay_id`.

        **Body:** None.

        **Returns:**
        - When unpaid funding invoices were stripped but prepay still has funds: `"PrePay {id} Unpaid Invoices Deleted"`.
        - When the prepay row was deleted: `"PrePay {id} deleted."`.

        **Side effects:**
        - Deletes any unpaid `invoices` rows matching `invoices_description = "Prepay ID {id} Invoice"` and `invoices_paid=0`.
        - Deletes the `prepays` row when remaining balance ≤ $0.01.

        **Auth:** Session/API key.

        **Errors:**
        - `Invalid Prepay` — `id` not found.
        - `That prepay still hands funds available on it` — funds remain AND no unpaid invoices to clean up.
        - `There was an error deleting the prepay, please contact support` — delete affected 0 rows.
        - `401` — unauthenticated.

        **Related calls:**
        - **List first:** `getBillingPrePays`.
        - **Re-add later:** `addBillingPrepay`.
        - **Cancel a specific funding invoice:** `deleteBillingInvoice` (routes prepay invoices here automatically).
      operationId: deleteBillingPrepay
      parameters:
      - description: The prepay balance ID to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete an unfunded prepay or strip its unpaid funding invoices
      tags:
      - Billing
  /billing/invoices:
    get:
      description: |
        Returns the customer's complete invoice ledger — every charge, paid or unpaid, across every service module. Use to render a billing-history page, find an unpaid invoice id to pass to `initiatePayment`, or audit recent activity. Server-side strips the first synthetic header row from `get_view_invoices()` and reindexes the array. Read-only. The response includes a Link to `getBillingInvoice` for drilling into any row. Sibling ops: `getBillingInvoice`, `deleteBillingInvoice`, `initiatePayment`, `getBillingCart`, `getBillingPrePays`.

        **Path/Query/Body:** None.

        **Returns:** `BillingInvoiceList` — object containing:
        - `rows` (array) — per-invoice summaries: `id`, `amount`, `paid`, `description`, `date`, `due_date`, `module`, `service` (service-id within the module), `currency`.
        - Aggregate totals across the array (totals object: `total`, `paid_total`, `unpaid_total`).

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.

        **Related calls:**
        - **Drill into one invoice:** `getBillingInvoice`.
        - **Pay an unpaid invoice:** `initiatePayment`.
        - **Cancel an unpaid pending-service invoice:** `deleteBillingInvoice` (only works on pending services / unpaid prepays).
        - **Per-service invoices instead:** `getVpsInvoices`, `getDomainInvoices`, `getMailInvoices`, `getBackupInvoices`, etc.
      operationId: getBillingInvoices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInvoiceList"
          description: Invoice listing and summary for the account.
          links:
            GetInvoiceDetails:
              description: Use an invoice ID from the list to retrieve the full invoice
                details for payment or review.
              operationId: getBillingInvoice
              parameters:
                id: $response.body#/invoices/0/id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List every invoice on the account with summary totals and paid/unpaid
        status
      tags:
      - Billing
  /billing/invoices/{id}:
    delete:
      description: |
        Cancels an unpaid invoice and cleans up the records it represents. Behavior depends on what the invoice funds: a **prepay** invoice is routed to `deleteBillingPrepay`; an **initial service charge** (where `repeat_invoices_id` matches the service's `_invoice` field) deletes the `repeat_invoices` row, all child `invoices`, AND the pending service row from the module's table; an **addon/recurring** invoice just deletes that one `invoices` row plus its `repeat_invoices` row. **Only invoices for services in `pending` status can be deleted** — once provisioned, the service must be cancelled via the per-service Cancel endpoint instead. **Irreversible**. Sibling ops: `getBillingInvoice`, `deleteBillingPrepay`, `VPSCancel` / `CancelDomain` / `mailCancel` / `webhostingCancel` / etc.

        **Path param:**
        - `id` (integer, required) — invoice id (`invoices_type=1`, ownership enforced via `invoices_custid`).

        **Body:** None.

        **Returns:** `Invoice Deleted` text.

        **Side effects:** (depends on invoice type)
        - **Prepay invoice** (description matches `Prepay ID N Invoice`) — delegates to `deleteBillingPrepay($pid)`.
        - **Initial service invoice** (`repeat_invoices_id == service._invoice`) — deletes:
          - the `repeat_invoices` row,
          - every `invoices` row for that service,
          - the service row in `{settings['TABLE']}`.
        - **Addon/recurring invoice** — deletes only the matching `repeat_invoices` row and the single `invoices` row.

        **Auth:** Session/API key. Ownership enforced.

        **Errors:**
        - `Invalid invoice` — `id` not found or wrong owner.
        - `Invalid service` — invoice references a service that no longer exists.
        - `Can only delete invoices for pending services or prepays` — service is `active`/`suspended`/`cancelled`.
        - `401` — unauthenticated.

        **Related calls:**
        - **List candidates:** `getBillingInvoices`.
        - **Detail first:** `getBillingInvoice`.
        - **For active services:** `VPSCancel`, `CancelDomain`, `mailCancel`, `webhostingCancel`, `licensesCancel`, `sslCancel`, `cancelScrubIp`, `floating_ipsCancel`, `cancelBackup`, `quickserversCancel`, `serversCancel` — these use `Billing\CancelService::go()`.
        - **For prepay invoices:** `deleteBillingPrepay` (delegated automatically).
      operationId: deleteBillingInvoice
      parameters:
      - description: The invoice ID to delete. Only unpaid invoices can be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Cancel a pending unpaid invoice — and its pending service or repeat
        invoice
      tags:
      - Billing
    get:
      description: |
        Returns the full rendered invoice payload for a single invoice — backed by `get_invoice_data()`, the same helper that builds the email-style invoice document. Use to confirm the exact balance due and the invoice description before calling `initiatePayment`, or to render an invoice viewer page. Read-only. The response is an email-style/HTML payload (not a structured line-item array) — for a structured cart-style summary use `getBillingCart`. The response includes a Link to `deleteBillingInvoice` for unpaid pending-service invoices. Sibling ops: `getBillingInvoices`, `deleteBillingInvoice`, `initiatePayment`, `getBillingCart`, per-service `getVpsInvoices` / `getMailInvoices` / etc.

        **Path param:**
        - `id` (integer, required) — invoice id from `getBillingInvoices.rows[].id`, from an order endpoint's response (e.g. `addVps.iid`), or from a per-service invoice list.

        **Body:** None.

        **Returns:** `BillingInvoiceDetail` — full rendered invoice payload (email body) with line items, totals, customer/billing info, and paid status. The exact shape mirrors what gets sent to the customer.

        **Auth:** Session/API key. Ownership enforced through the invoice's `invoices_custid`.

        **Errors:**
        - `Invalid Invoice` — `id` not found or owned by another account.
        - `401` — unauthenticated.

        **Related calls:**
        - **Pay it:** `initiatePayment` (`/billing/pay/{method}/{id}`).
        - **Delete if pending/unpaid:** `deleteBillingInvoice`.
        - **List all:** `getBillingInvoices`.
        - **Cart-style summary across all unpaid:** `getBillingCart`.
      operationId: getBillingInvoice
      parameters:
      - description: The invoice ID. Use IDs from `GET /billing/invoices` or from
          order responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInvoiceDetail"
          description: Detailed invoice payload for the requested invoice.
          links:
            DeleteInvoice:
              description: Delete this invoice if it is still unpaid.
              operationId: deleteBillingInvoice
              parameters:
                id: $request.path.id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: "Read full invoice detail — line items, totals, paid status, customer\
        \ info"
      tags:
      - Billing
  /billing/creditcards:
    post:
      description: |
        Stores a new credit card on the account so it can later be selected via `updateBillingPaymentMethod` or used directly with `initiatePayment` (`method=cc`). The card number has dashes stripped and is sanitized through `FILTER_SANITIZE_NUMBER_INT`; billing address fields are HTML-entity-escaped server-side; the CC number is encrypted at rest via `App::encrypt()`. The flow may return `action='verify'` indicating a two-step micro-charge verification is required before the card is usable — complete it with `patchBillingCreditCardVerify` then `postBillingCreditCardVerify`. Sibling ops: `updateBillingCreditCard`, `deleteBillingCreditCard`, `patchBillingCreditCardVerify`, `postBillingCreditCardVerify`, `updateBillingPaymentMethod`.

        **Body fields (JSON or multipart, schema `BillingAddCcRequest`):**
        - `cc` (string, required) — card number; dashes stripped, non-digits filtered.
        - `name` (string, required) — cardholder name.
        - `cc_exp` (string, required) — `MM/YYYY`.
        - `address` (string, required), `city`, `state`, `country`, `zip` (strings) — billing address; HTML-entity-escaped.

        **Returns:**
        - **Added directly:** `{success: true, text: "Card Added Successfully!"}`.
        - **Verification needed:** `{success: false, text: "Kindly verify your card by updating the amounts in the fields", action: "verify"}` — proceed to `patchBillingCreditCardVerify`.

        **Side effects:**
        - Inserts the encrypted card into the account's `ccs` array (managed via `parse_ccs` / `add_cc`).
        - May trigger a small initial test charge (gateway-dependent).
        - First-card-on-account triggers MaxMind + FraudRecord risk-score recomputation.

        **Auth:** Session/API key.

        **Errors:**
        - `Card number, Full Name, Expiry date are required!` — required field missing/empty.
        - `401` — unauthenticated.
        - Gateway/AVS error text — declined, mismatch, etc.

        **Related calls:**
        - **Verify (if `action='verify'`):** `patchBillingCreditCardVerify` (CVV + initiate micro-charge) → `postBillingCreditCardVerify` (submit amounts).
        - **Make it the default:** `updateBillingPaymentMethod` with `payment_method=cc<idx>`.
        - **Pay an invoice with it:** `initiatePayment` (`method=cc`).
      operationId: addBillingCreditCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Store a credit card on the account — may return a verification flow
      tags:
      - Billing
  /billing/creditcards/{id}:
    delete:
      description: |
        Removes the indexed credit card from the account's `ccs` collection. If the deleted card was also the account's primary `cc`, the primary field is cleared — `initiatePayment` (`method=cc`) will then return an error until a new default is designated via `updateBillingPaymentMethod`. **Irreversible** — to re-store the same card, re-run `addBillingCreditCard`. Sibling ops: `addBillingCreditCard`, `updateBillingCreditCard`, `updateBillingPaymentMethod`, `getBillingCreditCardVerify`.

        **Path param:**
        - `id` (integer, required) — credit card index from `parse_ccs`.

        **Body:** None.

        **Returns:** `Card removed successfully.`.

        **Side effects:**
        - Removes the entry from the `ccs` array; re-serialized via `myadmin_stringify`.
        - When the deleted card was primary: clears account-level `cc`.

        **Auth:** Session/API key. Card ownership enforced.

        **Errors:**
        - `Invalid Credit Card Passed` — `id` not in `parse_ccs`.
        - `401` — unauthenticated.

        **Related calls:**
        - **Set a new default:** `updateBillingPaymentMethod`.
        - **Add a replacement:** `addBillingCreditCard`.
      operationId: deleteBillingCreditCard
      parameters:
      - description: The credit card ID to remove. Use IDs from `GET /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Remove a stored credit card from the account
      tags:
      - Billing
    post:
      description: |
        Updates the expiration date on a stored credit card and re-encrypts the card record. If the updated card matches the account's primary `cc`, the account-level `cc_exp` is also refreshed. If no MaxMind risk score exists yet for the card, `update_maxmind()` is called to compute one. Use to fix an upcoming expiration before recurring charges fail. Sibling ops: `addBillingCreditCard`, `deleteBillingCreditCard`, `getBillingCreditCardVerify`, `postBillingCreditCardVerify`, `updateBillingPaymentMethod`.

        **Path param:**
        - `id` (integer, required) — credit card index (the key in the account's `ccs` array, returned by `parse_ccs` and surfaced as `cc<idx>` in `updateBillingPaymentMethod`).

        **Body fields:**
        - `cc_exp` (string, required) — new expiration in `MM/YYYY` format.

        **Returns:** `Card updated successfully.`.

        **Side effects:**
        - Updates the `ccs` array (re-serialized via `myadmin_stringify`) on the account.
        - When the card == primary `cc`, the account-level `cc_exp` is also written.
        - Triggers `update_maxmind($custid, false, $cc_idx)` if no risk score exists.

        **Auth:** Session/API key. Card ownership enforced via `parse_ccs`.

        **Errors:**
        - `Invalid Credit Card Passed` — `id` not in `parse_ccs`.
        - `Please enter valid card expiry date` — `cc_exp` body field missing.
        - `Invalid expiration date. It must be in the form of MM/YYYY` — wrong format.
        - `401` — unauthenticated.

        **Related calls:**
        - **Verify a freshly added card:** `patchBillingCreditCardVerify` → `postBillingCreditCardVerify`.
        - **Remove the card:** `deleteBillingCreditCard`.
        - **Make it default:** `updateBillingPaymentMethod` with `payment_method=cc<idx>`.
      operationId: updateBillingCreditCard
      parameters:
      - description: The credit card ID. Use IDs from `GET /billing/creditcards` or
          the response from `POST /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Refresh stored card expiration and re-trigger MaxMind fraud scoring
      tags:
      - Billing
  /billing/creditcards/{id}/verify:
    get:
      description: |
        Status probe for the credit-card verification flow. Read-only — current implementation returns a placeholder string indicating verification is pending; the actual two-step verification happens via `patchBillingCreditCardVerify` (initiate dual micro-charge with CVV) followed by `postBillingCreditCardVerify` (submit the charged amounts). Use to drive the UI's "verify card" form rendering. Sibling ops: `patchBillingCreditCardVerify`, `postBillingCreditCardVerify`, `addBillingCreditCard`, `updateBillingPaymentMethod`.

        **Path param:**
        - `id` (integer, required) — credit card index from `parse_ccs`.

        **Body:** None.

        **Returns:** `Verification requirements` (placeholder text — reserved for future structured response with `requires_cvv` / `requires_amounts` flags).

        **Auth:** Session/API key.

        **Errors:**
        - `401` — unauthenticated.

        **Related calls:**
        - **Step 1 of verify flow:** `patchBillingCreditCardVerify`.
        - **Step 2 of verify flow:** `postBillingCreditCardVerify`.
        - **Add a new card:** `addBillingCreditCard`.
      operationId: getBillingCreditCardVerify
      parameters:
      - description: The credit card ID to verify. Use the ID returned from `POST
          /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Probe whether a stored card still needs micro-charge verification
      tags:
      - Billing
    patch:
      description: |
        Step 1 of the two-step card-verification flow. After `addBillingCreditCard` returns `action='verify'`, call this with the card's CVV to place two small charges (cents-scale) on the card. The customer must then look up the exact amounts in their bank statement and submit them via `postBillingCreditCardVerify` to finalize verification. **After 3 failed CVV attempts** (`cc_fails_<cc>` counter on the account) the card is locked from further verification attempts — contact support. Sibling ops: `getBillingCreditCardVerify`, `postBillingCreditCardVerify`, `addBillingCreditCard`, `updateBillingPaymentMethod`.

        **Path param:**
        - `id` (integer, required) — credit card index from `parse_ccs`.

        **Body fields:**
        - `cc_ccv2` (string, required) — the 3- or 4-digit CVV/CVC code from the back (or front, for Amex) of the card.

        **Returns:** `Your card is charged. Please enter the amounts charged up!` — surface to the UI to prompt for the two amounts.

        **Side effects:**
        - Places two test charges via `verify_cc_charge()` (gateway-side).
        - On failure: increments `cc_fails_<cc>` on the account.

        **Auth:** Session/API key. Card ownership enforced.

        **Errors:**
[...]
