/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SslCancel200Response
import org.openapitools.client.model.SslOrderRequest
import org.openapitools.client.model.SuccessTextResponse
import com.github.plokhotnyuk.jsoniter_scala.circe.JsoniterScalaCodec.*
import org.openapitools.client.core.JsonSupport.{*, given}
import org.openapitools.client.core.FormSerializable
import org.openapitools.client.core.FormStyleFormat
import org.openapitools.client.core.HeaderSerializable
import org.openapitools.client.core.ApiKeyLocation
import org.openapitools.client.core.PathStyleFormat
import org.openapitools.client.core.PathSerializable
import org.openapitools.client.core.CookieSerializable
import org.openapitools.client.core.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object SSLCertificatesApi:
  def apply(baseUrl: String = "https://my.interserver.net/apiv2"): SSLCertificatesApi[org.openapitools.client.core.Authorization.NoAuthorization.type] = SSLCertificatesApi(baseUrl, org.openapitools.client.core.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.BasicAuth] =
    SSLCertificatesApi(baseUrl, org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.ApiKey] =
    SSLCertificatesApi(baseUrl, org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.BearerToken] =
    SSLCertificatesApi(baseUrl, org.openapitools.client.core.Authorization.BearerToken(token))

case class SSLCertificatesApi[Auth <: org.openapitools.client.core.Authorization] private (baseUrl: String, authConfig: org.openapitools.client.core.Authorization):
  def withBasicAuth(username: String, password: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.BasicAuth] =
    copy(authConfig = org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.ApiKey] =
    copy(authConfig = org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withNoAuth: SSLCertificatesApi[org.openapitools.client.core.Authorization.NoAuthorization.type] =
    copy(authConfig = org.openapitools.client.core.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): SSLCertificatesApi[org.openapitools.client.core.Authorization.BearerToken] =
    copy(authConfig = org.openapitools.client.core.Authorization.BearerToken(token))

  /**
   * [DESTRUCTIVE] Use after putSsl returns continue=true to commit the SSL order. Body (form): frequency (default 12 months), service_type, hostname, csr, coupon_code, plus per-type vars/extra. Re-runs validate_buy_ssl then calls place_buy_ssl which creates the service row, generates invoice (iid/iids/real_iids), and returns serviceId, serviceCost, invoice_description. CA validation is async - issuance takes minutes to hours and may require DNS or email validation post-order. If validation fails, returns continue=false with errors and no charge. Returns 401 unauthenticated, 422 invalid input. Caveat: cert is not active until invoice paid AND CA validation completes. Poll status via getSslInfo; resend instructions via getSslWelcomeEmail.  Sibling ops: `getNewSsl` (catalog), `putSsl` (validate), `getSslInfo` (poll), `getSslInvoices`, `initiatePayment` (settle invoice), `getSslWelcomeEmail`, `sslCancel`.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/billing/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param sslOrderRequest 
   */
  def addSsl(sslOrderRequest: SslOrderRequest)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], ServiceOrderPostResponse]] =
    val requestURL =
      uri"$baseUrl/ssl/order"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(sslOrderRequest))
      .response(asJson[ServiceOrderPostResponse])

  /**
   * Use before addSsl to discover which DV/OV/EV certificate types and validation tiers are buyable, plus their costs. Returns object with packageCosts (services_id keyed map of float costs) and serviceTypes (full list of SSL product offerings from the get_service_types event). No parameters required - prices are in the customer's currency. Returns 401 if unauthenticated. Show these to the customer to pick a service_type, then call putSsl to dry-run validation (hostname, CSR, coupon) without charging, then addSsl to commit. Costs do not include taxes or applied coupons — putSsl returns the actual computed price with discounts.  Sibling ops: `putSsl` (validate), `addSsl` (commit), `getSslList` (existing certs), `getSslInfo` (per-cert).
   * 
   * Expected answers:
   *   code 200 : io.circe.Json (Available SSL certificate types and pricing for ordering.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewSsl(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], io.circe.Json]] =
    val requestURL =
      uri"$baseUrl/ssl/order"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[io.circe.Json])

  /**
   * Use to inspect a single SSL cert after locating its id via getSslList. Path param id (integer, required) is the ssl_id; cross-account ids return 404 (get_service enforces ownership). Returns the ViewSSL detail payload: hostname, service_type, status, expiration, company, plus client_links (rewrite/reissue/install actions available to the customer). admin_links, settings, csrf are stripped from client responses. Returns 401 unauthenticated, 404 if id not owned by the session customer. Reissue/rekey/install actions surfaced in client_links are time-sensitive and may require fresh DNS validation. Pair with getSslInvoices for billing history, getSslWelcomeEmail to resend, sslCancel to terminate, updateSslInfo to modify settings.  Sibling ops: `updateSslInfo`, `getSslInvoices`, `getSslWelcomeEmail`, `sslCancel`, `getSslList`.
   * 
   * Expected answers:
   *   code 200 : io.circe.Json (Detailed SSL certificate information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id SSL certificate ID number.
   */
  def getSslInfo(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], io.circe.Json]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/ssl/${idPathParam}"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[io.circe.Json])

  /**
   * Use to retrieve the full invoice history for a single SSL cert - initial order, renewals, and any addon charges. Path param id (integer, required) is the ssl_id; ownership is enforced via get_service so cross-account ids return an Invalid Service error. Returns ChargeInvoiceRows: success bool plus invoices array of charge/invoice rows with iid, date, cost, status (paid/unpaid/refunded), and description. Returns 401 unauthenticated, 400 if the id resolves to no service. Useful for auditing renewals before sslCancel, reconciling payment failures, or showing the customer their billing history.  Sibling ops: `getSslInfo`, `sslCancel`, `getSslWelcomeEmail`, `getBillingInvoice` (per-invoice detail), `initiatePayment` (settle unpaid).
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id SSL Cert ID number
   */
  def getSslInvoices(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], ChargeInvoiceRows]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/ssl/${idPathParam}/invoices"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[ChargeInvoiceRows])

  /**
   * Use to enumerate every SSL certificate (DV/OV/EV) the current customer owns before drilling into a specific cert. Returns an array of SslRow objects with id, hostname, services_name (package), status (pending/active/expired/canceled), and company. No query parameters - results are auto-scoped to the session account_id. Empty array if customer has no certs. Returns 401 if unauthenticated. Pair the returned id with getSslInfo for full details, getSslInvoices for billing, getSslWelcomeEmail to resend credentials, sslCancel to terminate, or addSsl to order a new cert. Status values may be stale relative to CA - issuance/validation can take minutes to hours after order.  Sibling ops: `getSslInfo`, `getNewSsl` (catalog), `addSsl` (order new cert).
   * 
   * Expected answers:
   *   code 200 :  (The listing of `SSL` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getSslList(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val requestURL =
      uri"$baseUrl/ssl"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Use when a customer lost the original welcome email containing CSR submission steps, validation links, or installation guidance for an active SSL cert. Path param id (integer, required) is the ssl_id. Triggers the module's ssl_welcome_email function to re-send to the account's email on file. Returns SuccessTextResponse: text='Welcome Email has been resent.' Returns 401 unauthenticated, 404 if id not found or not owned by session customer ('Invalid Service Passed'), 409 if cert status is not 'active' (pending/canceled/expired certs do not have a welcome email to resend). Caveat: cannot change the destination email - update the account profile first if the customer's address has changed.  Sibling ops: `getSslInfo` (verify status), `sslCancel` (terminate), `updateAccountInfo` (change email first).
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id SSL Cert ID number
   */
  def getSslWelcomeEmail(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/ssl/${idPathParam}/welcome_email"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SuccessTextResponse])

  /**
   * Use after getNewSsl and before addSsl to verify hostname, CSR, service_type, frequency, and coupon_code are acceptable without creating an invoice or charging the customer. Body params (form): frequency (months, default 12), service_type, hostname, csr, coupon_code, plus extra/vars per cert type. Returns continue (bool), errors (array), serviceType, serviceCost (after coupon), originalCost, hostname, couponCode. If continue=false the errors array explains what to fix - typical issues are invalid hostname/CSR mismatch, expired coupon, or unsupported service_type. Returns 401 if unauthenticated, 422 on validation failure semantics. No state is mutated. Always run this before addSsl to prevent failed charges. Sibling ops: `getNewSsl` (catalog), `addSsl` (commit).
   * 
   * Expected answers:
   *   code 200 :  (Validate SSL Order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param sslOrderRequest 
   */
  def putSsl(sslOrderRequest: SslOrderRequest)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val requestURL =
      uri"$baseUrl/ssl/order"

    basicRequest
      .method(Method.PUT, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(sslOrderRequest))
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * [DESTRUCTIVE] Use to cancel a customer-owned SSL cert. Path param id (integer, required) is the ssl_id. Cancellation marks the service for non-renewal - the cert stays valid until its current paid period ends, after which auto-billing stops. The CA-issued certificate itself is NOT revoked by this call (file a separate revocation request if needed). Returns SSLCancelResponse with success bool and text. Returns 401 unauthenticated, 404 if id not owned by session customer, error if the cancel_service hook fails. Caveat: irreversible at the billing level - re-enabling requires a new addSsl order. Verify the right cert with getSslInfo and confirm no unpaid charges via getSslInvoices first.  Sibling ops: `getSslInfo` (verify cert), `getSslInvoices` (check unpaid), `addSsl` (re-order).
   * 
   * Expected answers:
   *   code 200 : SslCancel200Response (SSL Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id SSL Cert ID number
   */
  def sslCancel(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SslCancel200Response]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/ssl/${idPathParam}"

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SslCancel200Response])

  /**
   * Use to modify mutable fields on a customer-owned SSL cert (e.g. contact info, renewal preferences, hostname or CSR data depending on cert state and CA rules). Path param id (string/int, required) is the ssl_id. Body params depend on the cert package and which fields the underlying service supports - inspect getSslInfo client_links first to see which actions are exposed. Returns SuccessTextResponse on success. Returns 401 unauthenticated, 404 if id not owned, 409 if cert state forbids the change (e.g. canceled or pending CA validation), 422 on invalid field values. Caveat: changes that affect the certificate identity (hostname, CSR) typically trigger a reissue with the CA which is time-sensitive and may require new DNS or email validation.  Sibling ops: `getSslInfo` (read), `sslCancel` (terminate), `getSslWelcomeEmail`.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id SSL certificate ID number.
   */
  def updateSslInfo(id: String)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/ssl/${idPathParam}"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SuccessTextResponse])

end SSLCertificatesApi